.affiliate-bar {
  display: block;

  &[disabled] {
    display: none;
  }

  .affiliate-bar__inner {
    padding: 11px 40px 9px;
    text-align: center;
    position: relative;
    background-color: var(--affiliate-bg-color, #383838);
    color: var(--affiliate-color, #fff);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .affiliate-bar__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 1;
    color: inherit;
  }
}
