@import "../scss/helpers/mixins";

.header-section {
  z-index: 10;
  position: relative;

  @include mq($medium-max) {
    z-index: 12;
  }

  &.shopify-section-header-sticky {
    position: sticky;
    top: 0;


    .header__professional .header__logo {
      padding: 20px 0 19px;
    }
  }

  &:not(.shopify-section-header-sticky):not(.menu-opened):not(.search-opened) .header--transparent {
    color: var(--transparent-text-color);
    background: transparent;
    width: 100%;
    border-bottom: 1px solid transparent;

    .header__logo-img--transparent {
      display: block;
    }

    .header__logo-img {
      display: none;
    }
  }
}

body.search-opened .header-section {
  z-index: 12;
}

.header--transparent {
  margin-bottom: calc(var(--header-height) * -1);
}

.header__hp-professional {
  min-height: 90px;

  .header__container {
    min-height: 90px;
  }

  .header-mobile-menu__opener {
    @include mq($medium-max) {
      margin-top: 25px;
    }
  }

  .list-professional {
    padding-right: 5px;
  }

  .header__logo {
    padding: 20px 0 19px;

    @include mq($small-max) {
      padding: 20px 0 19px;
    }
  }

  .header__container {
    align-items: flex-start;
  }

  .header-icons__item .header__icon,
  .header-menu__item .header-menu__link {
    padding-top: 25px;

    @include mq($medium-max) {
      padding-top: 22px;
    }
  }
}

.header__landing-professional {

  .header-menu__list-professional,
  .mobile-menu-opener {
    display: none;
  }

  .header-menu__list.medium-up-hide .header-menu__item:not(:first-child) {
    display: none;
  }
}

.header-menu__list.header-menu__list-professional {
  justify-content: flex-start;
}

.shopify-section-header-hidden {
  transform: translateY(-100%);
}

.header-section.animate {
  transition: transform 0.15s ease-out;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  min-height: 65px;

  @include mq($small-max) {
    padding: 0 20px;
  }
}

.header-wrapper {
  position: relative;
}

.header {
  color: var(--text-color);
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--color-border);
  z-index: 10;

  a {
    color: inherit;
  }
}

.header-menu {
  width: 100%;
  max-width: calc(50% - var(--logo-width) / 2);

  .search-modal__close {
    margin: 0;
  }
}

.header-right-menu {
  display: flex;
  justify-content: flex-end;
  width: calc(50% - var(--logo-width) / 2);

  .header-menu__list {
    padding-right: 0;
    margin-left: 0;
    justify-content: flex-end;
  }

  .header-menu {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.header-menu__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: -1px;

  &.header-menu__list--secondary {
    justify-content: flex-start;
  }

  &.header-menu__list--primary {
    .header-menu__link,
    #extole_zone_global_header {
      position: relative;
      &:hover {
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          transform: translateY(25%);
          background-color: var(--color-link-text-hover);
          z-index: 2;
        }
      }
    }
  }
}

.header-menu__item {
  .header-menu__link,
  #extole_zone_global_header {
    display: block;
    padding: 10px 15px;
    line-height: 1;
    color: inherit;

    &[aria-expanded="true"] {
      color: var(--color-link-text-hover);
    }
  }

  #extole_zone_global_header {
    a {
      padding: 0;
    }
    img {
      display: none;
    }
  }
}

a.header__logo {
  width: var(--logo-width);
  margin-right: auto;
  padding: 10px 0;
  flex-shrink: 0;

  &:hover {
    color: inherit;
  }

  img {
    width: 100%;
  }

  .header__logo-img--transparent {
    display: none;
  }
}

.header__heading {
  margin: 0;
  padding: 0;
  text-align: center;
}

.header-icons {
  display: flex;
  align-items: center;
  margin-right: -10px;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.header-icons__item {

  .header__icon {
    padding: 23px 10px 18px;
    display: block;
    line-height: 1;
    min-height: 64px;
  }
}

.header__icon--cart {
  color: inherit;
}

.cart-count-bubble {
  position: absolute;
  top: 18px;
  right: 3px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: var(--color-accent-primary);

  &.cart-count-bubble--anim {
    box-shadow: 0 0 0 rgba(0, 143, 224, 0.4);
    animation: pulse 2s infinite;
    -moz-animation: pulse 2s infinite;
  }

  &:hover {
    animation: none;
  }

  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 143, 224, 0.4);
    }
    70% {
      -webkit-box-shadow: 0 0 0 10px rgba(0, 143, 224, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 143, 224, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(0, 143, 224, 0.4);
      box-shadow: 0 0 0 0 rgba(0, 143, 224, 0.4);
    }
    70% {
      -moz-box-shadow: 0 0 0 10px rgba(0, 143, 224, 0);
      box-shadow: 0 0 0 10px rgba(0, 143, 224, 0);
    }
    100% {
      -moz-box-shadow: 0 0 0 0 rgba(0, 143, 224, 0);
      box-shadow: 0 0 0 0 rgba(0, 143, 224, 0);
    }
  }
}

.header-submenu__wrapper {
  display: block;
}

.header-submenu {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: all var(--duration-default) ease;
  background-color: var(--bg-color);
  position: fixed;
  top: calc(var(--header-height, 0px) + var(--announcement-bar-height, 0px));
  left: 0;
  width: 100%;
  padding: 24px 6.3vw 35px;
  max-height: calc(100vh - var(--header-height, 0px) - var(--announcement-bar-height, 0px));
  border-bottom: 1px solid var(--color-border);
  overflow: auto;

  &[aria-hidden="false"] {
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }
}

.header-submenu__inner {
  display: flex;
  justify-content: space-between;
  max-height: calc(100vh - var(--header-height, 0px) - var(--announcement-bar-height, 0px) - 48px);
  margin: 0 auto;
  width: fit-content;

  &.header-submenu--without-links .header-product-banners {
    justify-content: flex-start;
  }
}

.header-submenu__list {
  display: flex;
  gap: 20px;
  flex-shrink: 0;
}

.header-submenu__item {
  width: calc(25% - 20px);
  min-width: 12vw;
  padding-top: 10px;
}

.header-submenu__link {
  display: block;
  margin-bottom: 5px;

  &[disabled] {
    &:hover {
      color: inherit;
    }
  }
}

.header-subsubmenu--grandchildlink {
  padding-left: 15px;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: inherit;
}

.header-subsubmenu__item {

  a {
    display: block;
    padding: 5px 0;
  }
}

.header-overlay {
  position: fixed;
  top: calc(var(--header-height) + var(--announcement-bar-height, 0px));
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  transform: matrix(1, 0, 0, -1, 0, 0);
  opacity: 0;
  visibility: hidden;
  transition: opacity, visibility var(--duration-default, .3s);
  z-index: -1;

  &[aria-hidden="false"] {
    opacity: 0.5;
    visibility: visible;
  }
}

.header-product-banners {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.header-banner__content {
  margin-top: 10px;

  *:not(:last-child) {
    margin-bottom: 10px;
  }
}

.header-banner__rating {
  line-height: 1;
  margin-top: 10px;
  margin-bottom: 10px;

  [data-bv-show=inline_rating] {
    .bv_averageRating_component_container,
    .bv_numReviews_component_container {
      display: none!important;
    }
  }
}

a.header-banner__label,
div.header-banner__label {
  display: block;
  margin-bottom: 0;
  color: var(--header-label-color, 'inherit');
  font-size: var(--header-label-size);
}

a.header-banner__btn.btn--primary-alt {
  color: var(--color-btn-primary-alt-text);
}

a.header-banner__btn.btn--link {
  color: inherit;
  text-decoration: underline;
  font-size: var(--font-size-body-4);
  padding: 0;
  text-align: left;

  &:hover {
    color: var(--color-link-text-hover);
  }
}

.header-banner__title {
  display: inline-block;
}

.header-banner__link {
  margin-top: 10px;
  display: inline-block;
}

.header-banner__collections {
  display: inline-block;
  margin-right: 5px;
  font-weight: 400;

  &:last-child span {
    display: none;
  }
}

.header-banner__item {
  width: 15.7vw;
}

.header-image-banner__item {
  margin-bottom: 20px;

  .image-abs-wrapper {
    padding-bottom: 132%;
  }
}

.hamburger-icon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 14px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 40px;
    height: 34px;
    left: -10px;
    top: -10px;
  }

  span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: currentColor;
    transition: var(--duration-default, .3s);
  }

  &[aria-expanded="true"] {
    span {
      position: absolute;
      top: 50%;
      left: 50%;

      &:first-child {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:last-child {
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }
    }
  }
}

.menu-drawer {
  padding: 5px 20px 10px;
}

.menu-drawer__link {
  display: flex;
  align-items: center;
  width: 100%;

  svg {
    margin-right: 10px;
    margin-top: 3px;
    flex-shrink: 0;
  }

  &:not(.body3) {
    line-height: 1.33;
    font-size: var(--font-size-body-1);
    padding: 20px 0;
    border-bottom: 1px solid var(--color-border);
    justify-content: space-between;
  }

  &.body3 {
    padding: 10px 0;
  }
}

.menu-drawer__list {
  margin-bottom: 10px;
}

.submenu-drawer {
  .menu-drawer__list {
    overflow-y: auto;
    height: 100%;
  }
  .menu-drawer__link {
    justify-content: flex-start;
    border-bottom: none;
    padding-bottom: 10px;

    svg {
      margin-top: 3px;
    }

    &.body3 {
      padding-left: 20px;
    }
  }
}

.menu-drawer__inner {
  overflow-y: auto;
  height: 100%;
}
