@import '../scss/helpers/mixins';


.hero-slider {
  min-height: var(--desktop-section-height);
  height: 100%;

  @include mq($small-max) {
    min-height: var(--mobile-section-height);
  }

  .swiper-slide {
    height: auto;
    min-height: inherit;
  }

  .hero-pagination {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    bottom: 20px;
    left: auto;
    right: 80px;
    transform: translateX(0);
    width: fit-content;

    .swiper-pagination-bullet {
      background: var(--color-text-secondary);
      opacity: 1;

      @include mq($small-min) {
        &:hover {
          background: var(--color-link-text-hover);
        }
      }
    }

    .swiper-pagination-bullet-active {
      background: var(--color-accent-primary);
    }

    @include mq($small-max) {
      bottom: 20px;
      left: 50%;
      right: auto;
      transform: translateX(-50%);
    }
  }
}

.hero-item__container {
  position: absolute;
  width: calc(100% - 160px);
  height: calc(100% - 160px);
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: var(--content-horizontal-position);
  align-items: var(--content-vertical-position);

  @include mq($small-max) {
    width: calc(100% - 40px);
    height: calc(100% - 120px);
    justify-content: var(--mobile-horizontal-content-position);
    align-items: var(--mobile-vertical-content-position);
  }
}

.hero-item__wrapper {
  min-height: var(--desktop-section-height);
  height: 100%;

  @include mq($small-max) {
    min-height: var(--mobile-section-height);
  }
}

.hero-item__content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: var(--desktop-text-align);

  @include mq($small-max) {
    align-items: var(--mobile-text-align);
  }
}

.hero-item__heading {
  margin-bottom: 0;
}

.hero-item__subcopy {
  margin-bottom: 20px;

  @include mq($small-max) {
    margin-bottom: 25px;
  }
}

.hero-item__heading, .hero-item__subcopy {
  text-align: var(--desktop-text-align);
  color: var(--desktop-color);

  @include mq($small-max) {
    text-align: var(--mobile-text-align);
    color: var(--mobile-color);
  }
}

.hero-item__btn {
  margin-top: 40px;

  @include mq($small-max) {
    margin-top: 25px;
  }
}

.hero-item__image {
  height: 100%;
}

img.hero__half-image {
  width: 50%;
}

img[data-second-image] {
  left: 50%;
}

.hero-item__image.placeholder {
  text-align: center;
  background-color: #b7b7b7;

  svg {
    height: var(--desktop-section-height);
    margin: 0 auto;

    @include mq($small-max) {
      height: var(--mobile-section-height);
    }
  }
}

.hero-slider .swiper:not(.swiper-initialized) {
  .swiper-slide {
    opacity: 0;

    &:first-child {
      width: 100%;
      opacity: 0.4;
      flex-shrink: 0;
      z-index: 5;
    }
  }
}

.hero-item__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
