@import "../scss/helpers/mixins";

.scrolling-text {
  background-color: var(--bg-color);
  color: var(--color);
}

.scrolling-text__content {
  overflow: hidden;
}

.scrolling-text__content,
.scrolling-text__list {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s linear;
}

.scrolling-text__list {
  animation: move var(--animation-speed) linear infinite;
}

.scrolling-text__item {
  text-transform: uppercase;
  padding: 20px 40px;
  white-space: nowrap;
  transition: all .2s linear;
  letter-spacing: 0.1em;

  &:before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    background-color: var(--divider-color);
  }
}

@keyframes move {
  0% {transform: translate(0, 0)}
  100% {transform: translate(-100%, 0)}
}
