/* ============================================================================
  #Colors
  --STATIC vars are uppercased
  --dynamic vars are lowercased

  A static var is set in theme settings and doesn't change in any context
  A dynamic var is context dependent and can be overwritten by its wrapper

  This file is primarily concerned with setting the values of dynamic color
  variables depending on which container the text or background is inside.
============================================================================== */

:root {
  --bg: var(--COLOR-BG);
  --bg-alpha-25: var(--COLOR-BG-ALPHA-25);
  --bg-alpha-35: var(--COLOR-BG-ALPHA-35);
  --bg-alpha-60: var(--COLOR-BG-ALPHA-60);
  --bg-darken: var(--COLOR-BG-DARKEN);
  --bg-lighten-darken: var(--COLOR-BG-LIGHTEN-DARKEN);
  --bg-lighten-darken-shimmer-bg: var(--COLOR-BG-LIGHTEN-DARKEN-SHIMMER-BG);
  --bg-lighten-darken-shimmer-effect: var(--COLOR-BG-LIGHTEN-DARKEN-SHIMMER-EFFECT);
  --bg-lighten-darken-foreground: var(--COLOR-BG-LIGHTEN-DARKEN-FOREGROUND);
  --bg-lighten-darken-search-loader: var(--COLOR-BG-LIGHTEN-DARKEN-SEARCH-LOADER);
  --bg-lighten-darken-search-loader-line: var(--COLOR-BG-LIGHTEN-DARKEN-SEARCH-LOADER-LINE);
  --bg-lighten-darken-contrast: var(--COLOR-BG-LIGHTEN-DARKEN-CONTRAST);
  --bg-overlay: var(--COLOR-BG-OVERLAY);

  --bg-secondary: var(--COLOR-BG-SECONDARY);
  --bg-secondary-lighten-darken: var(--COLOR-BG-SECONDARY-LIGHTEN-DARKEN);
  --bg-secondary-lighten-darken-contrast: var(--COLOR-BG-SECONDARY-LIGHTEN-DARKEN-CONTRAST);

  --text: var(--COLOR-TEXT);
  --text-darken: var(--COLOR-TEXT-DARKEN);
  --text-lighten: var(--COLOR-TEXT-LIGHTEN);
  --text-alpha-5: var(--COLOR-TEXT-ALPHA-5);
  --text-alpha-8: var(--COLOR-TEXT-ALPHA-8);
  --text-alpha-10: var(--COLOR-TEXT-ALPHA-10);
  --text-alpha-15: var(--COLOR-TEXT-ALPHA-15);
  --text-alpha-25: var(--COLOR-TEXT-ALPHA-25);
  --text-alpha-50: var(--COLOR-TEXT-ALPHA-50);
  --text-alpha-60: var(--COLOR-TEXT-ALPHA-60);
  --text-alpha-85: var(--COLOR-TEXT-ALPHA-85);

  --heading: var(--COLOR-HEADING);
  --accent: var(--COLOR-ACCENT);
  --accent-text: var(--COLOR-ACCENT-TEXT);

  --sale-bg: var(--COLOR-SALE-BG);
  --sale-text: var(--COLOR-SALE-TEXT);
  --custom-bg: var(--COLOR-CUSTOM-BG);
  --custom-text: var(--COLOR-CUSTOM-TEXT);
  --sold-bg: var(--COLOR-SOLD-BG);
  --sold-text: var(--COLOR-SOLD-TEXT);
  --saving-bg: var(--COLOR-SAVING-BG);
  --saving-text: var(--COLOR-SAVING-TEXT);

  --input-bg: var(--COLOR-INPUT-BG);

  --border: var(--COLOR-BORDER);
  --border-alpha-15: var(--COLOR-BORDER-ALPHA-15);
  --border-alpha-30: var(--COLOR-BORDER-ALPHA-30);
  --border-alpha-50: var(--COLOR-BORDER-ALPHA-50);
  --border-alpha-65: var(--COLOR-BORDER-ALPHA-65);
  --border-lighten-darken: var(--COLOR-BORDER-LIGHTEN-DARKEN);
  --hairline: var(--COLOR-BORDER-HAIRLINE);

  --error: var(--COLOR-ERROR);
  --error-bg: var(--COLOR-ERROR-BG);
  --success: var(--COLOR-SUCCESS);
  --success-bg: var(--COLOR-SUCCESS-BG);
  --disabled-grey: var(--COLOR-DISABLED-GREY);
  --disabled-grey-darken: var(--COLOR-DISABLED-GREY-DARKEN);
  --white: var(--COLOR-WHITE);
  --white-darken: var(--COLOR-WHITE-DARKEN);
  --white-alpha-10: var(--COLOR-WHITE-ALPHA-10);
  --white-alpha-25: var(--COLOR-WHITE-ALPHA-25);
  --white-alpha-50: var(--COLOR-WHITE-ALPHA-50);
  --white-alpha-60: var(--COLOR-WHITE-ALPHA-60);
  --black: var(--COLOR-BLACK);
  --black-lighten: var(--COLOR-BLACK-LIGHTEN);
  --black-alpha-10: var(--COLOR-BLACK-ALPHA-10);
  --black-alpha-20: var(--COLOR-BLACK-ALPHA-20);
  --black-alpha-25: var(--COLOR-BLACK-ALPHA-25);
  --black-alpha-50: var(--COLOR-BLACK-ALPHA-50);
  --black-alpha-60: var(--COLOR-BLACK-ALPHA-60);

  --upsells-bg: var(--COLOR-UPSELLS-BG);
  --upsells-text: var(--COLOR-UPSELLS-TEXT);
  --upsells-text-lighten: var(--COLOR-UPSELLS-TEXT-LIGHTEN);
  --upsells-disabled-grey-darken: var(--COLOR-UPSELLS-DISABLED-GREY-DARKEN);
}
