{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "requireConfigFile": false
  },
  "extends": [
    "plugin:cypress/recommended",
    "plugin:@shopify/esnext",
    "plugin:prettier/recommended",
    "plugin:compat/recommended"
  ],
  "plugins": [
    "cypress",
    "only-warn",
    "prettier"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "babel/no-invalid-this": 0,
    "babel/new-cap": 0,
    "shopify/prefer-early-return": 0,
    "shopify/binary-assignment-parens": 0,
    "import/no-anonymous-default-export": 0,
    "space-before-function-paren": ["warn", {
      "anonymous": "ignore",
      "named": "ignore",
      "asyncArrow": "ignore"
    }],
    "promise/always-return": 0,
    "promise/catch-or-return": 0,
    "no-alert": 0,
    "no-console": 0,
    "no-var": 0,
    "radix": 0,
    "prefer-const": 0,
    "prefer-let": 0,
    "prefer-template": 0,
    "line-comment-position": 0,
    "babel/object-curly-spacing": 0,
    "object-shorthand": 0,
    "no-shorthand": 0,
    "no-negated-condition": 0,
    "no-loop-func": 0,
    "no-shadow": 0,
    "no-inner-declarations": 0,
    "arrow-parens": 0,
    "id-length": 0,
    "camelcase": 0,
    "one-var": 0,
    "no-undefined": 0,
    "prefer-arrow-callback": 0,
    "func-style": 0,
    "no-use-before-define": 0,
    "consistent-this": 0,
    "newline-per-chained-call": 0,
    "no-useless-call": 0,
    "eqeqeq": 0,
    "no-new": 0,
    "no-warning-comments": 0,
    "node/shebang": 0
  },
  "globals": {
    "document": true,
    "window": true,
    "location": true,
    "confirm": true,
    "DocumentTouch": true,
    "console": true,
    "setTimeout": true,
    "clearTimeout": true,
    "Shopify": true,
    "QRCode": true,
    "URL": true,
    "XMLHttpRequest": true,
    "__dirname": true,
    "process": true,
    "module": true,
    "theme": true
  }
}
