{
  "defaultSeverity": "warning",
  "extends": ["stylelint-config-standard-scss"],
  "rules": {
    "indentation": 2,
    "no-duplicate-selectors": true,
    "color-hex-case": "upper",
    "color-hex-length": "short",
    "rule-empty-line-before": null,
    "at-rule-empty-line-before": null,
    "at-rule-no-unknown": null,
    "declaration-empty-line-before": null,
    "comment-whitespace-inside": null,
    "comment-empty-line-before": null,
    "selector-combinator-space-after": "always",
    "selector-attribute-quotes": "always",
    "selector-attribute-operator-space-before": "never",
    "selector-attribute-operator-space-after": "never",
    "selector-attribute-brackets-space-inside": "never",
    "declaration-block-trailing-semicolon": "always",
    "declaration-colon-space-before": "never",
    "declaration-colon-space-after": "always",
    "block-opening-brace-space-before": "always-multi-line",
    "number-leading-zero": "always",
    "selector-pseudo-class-parentheses-space-inside": "never",
    "media-feature-range-operator-space-before": "always",
    "media-feature-colon-space-before": "never",
    "media-feature-colon-space-after": "always"
  }
}
