[environments.production]
theme = 000000000
store = "store.myshopify.com"
password  = "shptka_0000"
ignore = [
    "config/settings_data.json",
    "sections/*.json",
    "templates/*.json",
    "templates/*.*.json",
    "templates/customers/.*.json"
]
#live = true
#allow-live = true