[environments.development]
  theme = 123456789
  store = "pa-qa-chaos.myshopify.com"
  ignore = [
    "config/settings_data.json",
    "sections/*.json",
    "templates/*.json",
    "templates/*.*.json",
    "templates/customers/.*.json"
  ]

[environments.templates]
  theme = 123456789
  store = "pa-qa-chaos.myshopify.com"
  ignore = ["config/settings_data.json"]

[environments.bulldoze]
  theme = 123456789
  store = "pa-qa-chaos.myshopify.com"

[environments.e2e]
  store = "pa-qa-spec.myshopify.com"