@import "../helpers/mixins";

afterpay-placement {
  --logo-badge-width: 107px;
  font-family: var(--font-primary);
  margin-bottom: 30px !important;
  display: flex;
  align-items: center;

  @include mq($small-max) {
    margin-bottom: 20px !important;
    text-align: center;
  }
}
