@import '../helpers/_mixins';

.pdp-details {
  [data-bv-show="rating_summary"] .bv_main_container {
    padding: 0 !important;
    margin: 0 0 10px 0 !important;

    .bv_stars_component_container {
      padding: 0 10px 0 0 !important;
    }

    .bv_numReviews_component_container,
    .bv_avgRating_component_container {
      font-weight: 400 !important;
      line-height: 20px !important;
    }
  }
}

section.shopify-section {
  .bv-cv2-cleanslate .bv-content-search .bv-masthead {
    padding: 40px 0 !important;
    border-color: var(--color-border) !important;

    @include mq($small-max) {
      padding: 20px 0 !important;
    }
  }

  .bv-cv2-cleanslate .bv-content-search .bv-masthead .bv-masthead-product,
  .bv-cv2-cleanslate .bv-generic-submission .bv-masthead .bv-masthead-product {
    padding: 0 !important;
    margin: 0 0 20px 0 !important;
    border: none !important;
  }

  .bv-cv2-cleanslate .bv-content-search .bv-masthead .bv-masthead-product .bv-stars-container {
    padding: 0 !important;
    margin: 0 0 12px 0 !important;
  }

  .bv-cv2-cleanslate  .bv-rating-stars-container {
    zoom: 1.4 !important;
  }

  .bv-cv2-cleanslate .bv-content-search .bv-masthead .bv-masthead-product .bv-rating-label,
  .bv-cv2-cleanslate .bv-generic-submission .bv-masthead .bv-masthead-product .bv-rating-label,
  .bv-cv2-cleanslate .bv-content-search .bv-masthead .bv-masthead-product .bv-rating-ratio-number,
  .bv-cv2-cleanslate .bv-generic-submission .bv-masthead .bv-masthead-product .bv-rating-ratio-number {
    margin: 0 0 5px 0 !important;
  }

  .bv-cv2-cleanslate .bv-summary-bar .bv-rating-ratio-number .bv-rating {
    border-right-color: var(--color-text-primary) !important;
    margin: 0 !important;
    line-height: 1 !important;
  }

  .bv-cv2-cleanslate .bv-content-search .bv-masthead-search .bv-fieldsets,
  .bv-cv2-cleanslate .bv-generic-submission .bv-masthead-search .bv-fieldsets,
  .bv-cv2-cleanslate .bv-content-search .bv-generic-submission .bv-fieldsets,
  .bv-cv2-cleanslate .bv-generic-submission .bv-generic-submission .bv-fieldsets {
    padding: 0 !important;
  }

  .bv-cv2-cleanslate .bv-content-search .bv-masthead-search .bv-fieldsets {
    background-color: #FFFFFF !important;
    border: 1px solid var(--color-border) !important;
    border-radius: 5px !important;
  }

  .bv-cv2-cleanslate .bv-content-search .bv-masthead-search .bv-content-search-btn {
    background-color: #FFFFFF !important;
    color: var(--color-border) !important;
    padding: 8px 20px 8px 0!important;
  }

  .bv-cv2-cleanslate .bv-content-search .bv-masthead-search .bv-fieldsets input.bv-text,
  .bv-cv2-cleanslate .bv-content-search .bv-masthead-search .bv-content-search-btn {
    margin: 0 !important;
    background-color: #FFFFFF !important;
    border: none !important;
    font-family: var(--font-primary) !important;
    outline: none !important;
    color: var(--color-text-secondary) !important;
  }

  .bv-cv2-cleanslate  .bv-content-search .bv-masthead .bv-searchbar {
    width: 100% !important;
    max-width: 550px !important;

    .bv-expand-filter-button-offset-off {
      display: flex !important;
      overflow: hidden !important;

      &:focus,&:focus-within, &:focus-visible {
        .bv-search-control-icon:after {
          display: none !important;
        }

        .bv-search-control-icon:before {
          display: block !important;
        }

      }

      @media screen and (max-width: 736px){
        position: relative !important;
      }
    }
  }

  .bv-cv2-cleanslate .bv-content-search .bv-masthead-search .bv-search-clear-icon {
    display: none !important;
  }

  .bv-cv2-cleanslate .bv-content-search .bv-masthead-search .bv-content-search-btn {
    width: auto !important;
    height: auto !important;

    &:hover {
      background-color: transparent !important;
      border: none !important;
      box-shadow: none !important;
    }
  }

  .bv-cv2-cleanslate .bv-content-search .bv-masthead-search .bv-content-search-btn .bv-search-control-icon,
  .bv-cv2-cleanslate .bv-content-search .bv-masthead .bv-masthead-search .bv-search-control-icon {
    position: relative !important;
    color: transparent !important;
    top: 6px !important;
    margin-top: 0 !important;

    &:after {
      content: var(--search-icon-url);
      position: absolute;
      width: 20px;
      height: 20px;
      top: -3px;
      left: 50%;
      transform: translate(-50%, 0);
    }

    &:before {
      content: var(--search-icon-black-url);
      display: none;
      position: absolute;
      width: 20px;
      height: 20px;
      top: -3px;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  .bv-cv2-cleanslate .bv-content-search .bv-masthead .bv-masthead-search .bv-search-control-icon {
    @media screen and (max-width: 736px) {
      position: absolute!important;
      top: 14px !important;
      right: 15px !important;
      left: unset !important;
      width: 20px !important;
    }
  }

  .bv-cv2-cleanslate .bv-content-search .bv-masthead-search .bv-fieldsets input.bv-text {
    flex-grow: 1;
    border-radius: 10px !important;
    padding: 10px 10px !important;
    line-height: 1 !important;
    color: var(--color-text-primary) !important;

    &::placeholder {
      color: var(--color-text-secondary) !important;
    }
  }

  .bv-cv2-cleanslate .bv-content-search .bv-searchbar .bv-masthead-search .bv-fieldsets input.bv-text {
    @media screen and (max-width: 736px) {
      padding: 10px 30px 10px 15px !important;
      border-radius: 10px !important;
    }
  }

  .bv-cv2-cleanslate .bv-header {
    position: relative !important;
    display: flex !important;
    flex-direction: column !important;
    margin: 0 0 40px !important;

    @media screen and (max-width: 736px) {
      margin: 0 0 20px !important;
    }
  }

  .bv-cv2-cleanslate .bv-action-bar {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    order: 2 !important;
  }

  .bv-cv2-cleanslate .bv-section-summary {
    margin: 40px 0 20px !important;
    order: 1 !important;

    @include mq($medium-max) {
      margin: 30px 0 !important;
    }

    @media screen and (max-width: 736px) {
      margin: 20px 0 0 !important;
    }
  }

  .bv-cv2-cleanslate .bv-control-bar {
    order: 3 !important;
    margin: 0 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    color: var(--color-text-primary) !important;
  }

  .bv-cv2-cleanslate .bv-control-bar-count {
    padding: 0 !important;

    @media screen and (max-width: 736px) {
      width: 100% !important;
    }
  }

  .bv-cv2-cleanslate .bv-control-bar .bv-control-bar-count {
    @media screen and (max-width: 736px) {
      text-align: left !important;
      margin-bottom: 10px !important;
    }

    @media screen and (max-width: 379px) {
      text-align: left !important;
      margin-bottom: 10px !important;
    }
  }

  .bv-cv2-cleanslate .bv-filters .bv-content-filter-select {
    @media screen and (max-width: 1025px) {
      margin: 5px 5px 5px 0 !important;
    }
  }

  .bv-cv2-cleanslate .bv-dropdown-target {
    padding: 0 25px 0 0 !important;

    &:hover {
      color: var(--color-link-text-hover) !important;

      button .bv-dropdown-arrow:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        border: solid var(--color-link-text-hover);
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg) translate(-50%, -50%);
      }
    }
  }

  .bv-cv2-cleanslate .bv-filters .bv-content-filter-select .bv-dropdown-target {
    &:hover {
      .bv-dropdown-arrow {
        &:before {
          transform: rotate(45deg) translate(-80%, -40%);
        }
      }
    }
  }

  .bv-cv2-cleanslate .bv-dropdown-target button {
    outline: none !important;

    .bv-dropdown-arrow {
      color: transparent !important;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        border: solid var(--color-text-primary);
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg) translate(-50%, -50%);
      }
    }

    .bv-dropdown-title {
      font-style: normal !important;
      font-size: 14px !important;
    }

    &:hover {
      box-shadow: none !important;
      outline: none !important;
    }
  }

  .bv-cv2-cleanslate .bv-filters .bv-content-filter-select .bv-dropdown-target {
    .bv-dropdown-arrow {
      &:before {
        transform: rotate(45deg) translate(-80%, -40%);
      }
    }
  }

  .bv-cv2-cleanslate .bv-content-search .bv-masthead .bv-masthead-search .bv-fieldsets .bv-content-search-btn {
    @media screen and (max-width: 736px) {
      display: block !important;
      padding: 8px 40px 8px 0!important;
    }
  }

  .bv-cv2-cleanslate .bv-control-bar .bv-expand-filter-button {
    background-color: transparent !important;
    box-shadow: none !important;
    position: relative !important;
    margin: 0 0 0 40px !important;
    width: 20px !important;
    height: 22px !important;
    outline: none !important;

    .bv-filter-control-icon {
      display: none !important;
    }

    &:before {
      content: var(--filter-icon-url);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -30%);
      display: block;
    }

    &:after {
      content: var(--filter-icon-active-url);
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -30%);
    }

    &:hover {
      box-shadow: none !important;
      outline: none !important;

      &:before {
        display: none;
      }

      &:after {
        display: block;
      }
    }
  }

  .bv-cv2-cleanslate .bv-content-item .bv-feedback-container div.bv-content-feedback-voted-inappropriate {
    display: none !important;
  }

  .bv-cv2-cleanslate .bv-content-item .bv-content-feedback-voted-negative .bv-content-btn-feedback-no,
  .bv-cv2-cleanslate .bv-content-item:hover .bv-content-feedback-voted-negative .bv-content-btn-feedback-no,
  .bv-cv2-cleanslate .bv-content-item .bv-content-feedback-voted-positive .bv-content-btn-feedback-yes,
  .bv-cv2-cleanslate .bv-content-item:hover .bv-content-feedback-voted-positive .bv-content-btn-feedback-yes,
  .bv-cv2-cleanslate .bv-content-item .bv-content-feedback-voted-negative .bv-content-btn-feedback-yes,
  .bv-cv2-cleanslate .bv-content-item:hover .bv-content-feedback-voted-negative .bv-content-btn-feedback-yes,
  .bv-cv2-cleanslate .bv-content-item .bv-content-feedback-voted-positive .bv-content-btn-feedback-no,
  .bv-cv2-cleanslate .bv-content-item:hover .bv-content-feedback-voted-positive .bv-content-btn-feedback-no {
    border: 1px solid var(--color-text-secondary) !important;
  }

  .bv-cv2-cleanslate .bv-filters {
    padding: 30px 0!important;
    margin: 0!important;

    @media screen and (max-width: 736px) {
      padding: 20px 0!important;
    }
  }

  .bv-cv2-cleanslate .bv-content-filter.bv-filter-controls-visible.bv-active-filters-visible .bv-active-filters {
    font-size: 14px !important;
    line-height: 20px !important;
    color: var(--color-text-primary) !important;
    padding: 0!important;
    margin: 0!important;
  }

  .bv-cv2-cleanslate .bv-content-filter.bv-filter-controls-visible.bv-active-filters-visible .bv-filter-controls .bv-filters {
    font-size: 14px !important;
    line-height: 20px !important;
    color: var(--color-text-primary) !important;
    padding: 30px 0!important;
    margin: 0!important;
  }

  .bv-cv2-cleanslate .bv-relevancy-link-target-visible {
    display: none !important;
  }

  .bv-cv2-cleanslate .bv-action-bar-header {
    display: none !important;
  }

  .bv-cv2-cleanslate .bv-write-review-container {
    width: 100%!important;
    margin: 0 !important;

    @media screen and (max-width: 1179px) {
      margin: 0 0 40px !important;
    }

    @media screen and (max-width: 736px) {
      margin: 0 0 20px !important;
    }
  }

  .bv-cv2-cleanslate .bv-content-item .bv-content-header-meta {
    @media screen and (max-width: 736px) {
      display: flex !important;
      flex-direction: column-reverse !important;
    }
  }

  .bv-cv2-cleanslate .bv-action-bar button,
  .bv-cv2-cleanslate button.bv-first-to-review {
    display: block !important;
    background: var(--color-btn-secondary-bg) !important;
    color: var(--color-btn-secondary-text) !important;
    border: 1px solid var(--color-btn-secondary-border) !important;
    padding: 8px 20px 10px !important;
    font-family: var(--font-primary) !important;
    font-weight: 400 !important;
    font-size: var(--button-font-size) !important;
    line-height: 1.429 !important;
    text-align: center !important;
    text-decoration: none !important;
    border-radius: 20px !important;
    cursor: pointer !important;
    transition: all var(--duration-short, .3s) ease-in-out !important;
    background: transparent !important;
    outline: none !important;

    &:not([disabled]):not(.disabled) {
      &:hover {
        background: var(--color-btn-secondary-bg-hover) !important;
        color: var(--color-btn-secondary-text-hover) !important;
        border-color: var(--color-btn-secondary-border-hover) !important;
        line-height: 1.429 !important;
        border: 1px solid var(--color-btn-secondary-border) !important;
        font-weight: 400 !important;
      }

      &:focus, &:focus-visible, &:focus-within {
        background: var(--color-btn-secondary-bg) !important;
        color: var(--color-btn-secondary-text) !important;
        border: 1px solid var(--color-btn-secondary-border) !important;
        line-height: 1.429 !important;
        font-weight: 400 !important;
      }
    }

    &[disabled], &.disabled {
      opacity: 1;
      background: var(--color-btn-secondary-bg-inactive) !important;
      color: var(--color-btn-secondary-text-inactive) !important;
      border-color: var(--color-btn-secondary-border-inactive) !important;
    }
  }

  .bv-cv2-cleanslate .bv-action-bar button {
    position: absolute !important;
    top: 40px !important;
    right: 0 !important;
    width: 24% !important;
    max-width: 265px !important;

    @media screen and (max-width: 1179px) {
      position: static !important;
      top: unset !important;
      right: unset !important;
      width: 100% !important;
    }
  }

  .bv-cv2-cleanslate .bv-section-summary-table .bv-section-summary-inline.bv-flex-container-responsive {
    gap: 115px;
  }

  .bv-cv2-cleanslate .bv-inline-histogram,
  .bv-cv2-cleanslate .bv-section-summary-inline .bv-secondary-rating-summary {
    width: calc((100% - 24% - 20px) / 2) !important;
    max-width: 360px !important;

    @media screen and (max-width: 736px) {
      max-width: 100% !important;
    }
  }

  .bv-cv2-cleanslate .bv-flex-container-column {
    width: 100% !important;
    margin: 0 !important;
  }

  .bv-cv2-cleanslate .bv-section-summary .bv-content-title {
    font-family: var(--font-primary) !important;
    border: none !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    color: var(--color-text-primary) !important;
    padding: 0 0 20px !important;
  }

  .bv-cv2-cleanslate .bv-section-summary .bv-section-summary-inline .bv-inline-histogram-ratings .bv-histogram-filter-helper {
    margin: 0 !important;
    padding: 0 0 20px !important;
  }

  .bv-cv2-cleanslate .bv-inline-histogram-ratings .bv-inline-histogram-ratings-star .bv-glyph {
    color: var(--color-accent-secondary) !important;
    font-size: 25px !important;
    padding-left: 1px !important;
  }

  .bv-cv2-cleanslate .bv-flex-container-column .bv-flex-container div:first-child {
    display: flex !important;
    align-items: center !important;
    padding-left: 0 !important;
  }

  .bv-cv2-cleanslate .bv-flex-container-column .bv-flex-container div:last-child {
    width: 10%!important;
    text-align: right !important;
    padding: 0 !important;

    @media screen and (max-width: 736px) {
      width: 5%!important;
    }
  }

  .bv-cv2-cleanslate .bv-inline-histogram-ratings .bv-inline-histogram-ratings-bar {
    padding: 0 5px 0 !important;
  }

  .bv-cv2-cleanslate .bv-content-secondary-ratings-value,
  .bv-cv2-cleanslate .bv-content-secondary-ratings-container {
    height: 12px !important;
    border-radius: 10px !important;
  }

  .bv-cv2-cleanslate .bv-section-summary-inline .bv-secondary-rating-summary .bv-secondary-rating-summary-container .bv-secondary-rating-summary-bars,
  .bv-cv2-cleanslate .bv-section-summary-inline .bv-secondary-rating-summary .bv-secondary-rating-summary-bars .bv-secondary-rating-summary-bar,
  .bv-cv2-cleanslate .bv-section-summary-inline .bv-secondary-rating-summary .bv-secondary-rating-summary-value {
    height: 12px !important;
    border-radius: 10px !important;
    box-shadow: none !important;
  }

  .bv-cv2-cleanslate .bv-flex-container-column .bv-flex-container {
    margin: 0 0 20px 0 !important;
  }

  .bv-cv2-cleanslate .bv-section-summary-inline .bv-secondary-rating-summary .bv-secondary-rating-summary-list {
    margin: 40px 0 0!important;
    width: 100% !important;

    @media screen and (max-width: 736px) {
      margin: 0!important;
    }
  }

  .bv-cv2-cleanslate .bv-section-summary-inline .bv-secondary-rating-summary .bv-table .bv-table-row .bv-table-cell {
    padding: 0 0 20px 0 !important;
  }

  .bv-cv2-cleanslate .bv-section-summary-inline .bv-secondary-rating-summary .bv-table .bv-table-row span.bv-table-cell:first-of-type {
    width: 230px!important;
    padding-left: 10px!important;

    @media screen and (max-width: 736px) {
      width: 100%!important;
    }
  }

  .bv-cv2-cleanslate .bv-section-summary-inline .bv-secondary-rating-summary .bv-table .bv-table-row span.bv-table-cell:nth-of-type(2) {
    padding: 0 0 20px 10px !important;
  }

  .bv-cv2-cleanslate .bv-content-item.bv-content-review {
    margin: 0 !important;
    border-top: 1px solid var(--color-border) !important;
  }

  .bv-cv2-cleanslate .bv-content-item.bv-content-review .bv-author-profile {
    width: 25%!important;
    padding: 40px 0!important;

    @media screen and (max-width: 736px) {
      display: none!important;
    }
  }

  .bv-cv2-cleanslate .bv-content-item-author-profile-offset-on {
    width: 75%!important;
    margin: 40px 0!important;
    padding-left: 10px!important;
    border: none !important;

    @media screen and (max-width: 736px) {
      width: 100%!important;
      margin: 20px 0!important;
      padding: 0!important;
    }
  }

  .bv-cv2-cleanslate .bv-content-item-author-profile-offset-on .bv-content-header {
    padding: 0 !important;
    margin: 0 0 10px 0!important;
    border: none !important;
  }

  .bv-cv2-cleanslate .bv-content-title,
  .bv-cv2-cleanslate .bv-content-item.bv-content-review .bv-author-profile .bv-inline-profile .bv-author-userstats,
  .bv-cv2-cleanslate .bv-author-profile .bv-author-userinfo,
  .bv-cv2-cleanslate .bv-content-product-questions,
  .bv-cv2-cleanslate .bv-content-tag-dimensions,
  .bv-cv2-cleanslate .bv-content-item .bv-content-feedback-vote .bv-content-feedback-btn-container,
  .bv-cv2-cleanslate .bv-content-item:hover .bv-content-feedback-vote .bv-content-feedback-btn-container {
    margin: 0!important;
  }

  .bv-cv2-cleanslate .bv-content-item.bv-content-review .bv-author-profile .bv-inline-profile .bv-author.bv-fullprofile-popup-target h3,
  .bv-cv2-cleanslate .bv-author-profile .bv-author-userstats .bv-author-userstats-value,
  .bv-cv2-cleanslate .bv-author-profile .bv-author-cdv .bv-author-userinfo-value,
  .bv-cv2-cleanslate .bv-author-profile .bv-author-cdv .bv-author-userinfo-value,
  .bv-cv2-cleanslate .bv-content-title,
  .bv-cv2-cleanslate .bv-content-item .bv-content-feedback-vote .bv-content-feedback-vote-request  {
    font-weight: 500 !important;
  }

  .bv-cv2-cleanslate .bv-content-item.bv-content-review .bv-author-profile .bv-inline-profile .bv-author-avatar,
  .bv-cv2-cleanslate .bv-content-item.bv-content-review .bv-author-profile .bv-inline-profile .bv-author-location,
  .bv-cv2-cleanslate .bv-content-item.bv-content-review .bv-author-profile .bv-inline-profile .bv-author-userstats .bv-author-userstats-reviews,
  .bv-cv2-cleanslate .bv-author-profile .bv-author-cdv,
  .bv-cv2-cleanslate .bv-content-item.bv-content-review .bv-author-profile .bv-inline-profile .bv-author-userstats .bv-author-userstats-votes,
  .bv-cv2-cleanslate .bv-content-data,
  .bv-cv2-cleanslate .bv-content-actions-container {
    padding: 0 !important;
    margin: 0 0 10px !important;
    font-size: 14px !important;
    line-height: 20px !important;
  }

  .bv-cv2-cleanslate .bv-content-details-offset-on {
    width: 100% !important;
  }

  .bv-cv2-cleanslate .bv-content-data .bv-content-data-recommend-yes .bv-content-data-label-container {
    font-weight: 400 !important;
  }

  .bv-cv2-cleanslate .bv-content-details-container,
  .bv-cv2-cleanslate .bv-content-data-summary .bv-content-meta .bv-content-datetime-dot {
    display: none !important;
  }

  .bv-cv2-cleanslate .bv-content-summary {
    padding: 0 !important;
  }

  .bv-cv2-cleanslate .bv-content-data-summary .bv-content-meta .bv-content-datetime-stamp {
    font-size: 14px !important;
    line-height: 20px !important;
  }

  .bv-cv2-cleanslate .bv-content-item .bv-content-feedback-vote .bv-content-feedback-vote-request {
    padding: 0 10px 0 0 !important;
  }

  .bv-cv2-cleanslate .bv-content-btn:not(.bv-expand-filter-button),
  .bv-cv2-cleanslate .bv-masthead-search .bv-content-btn:not(.bv-content-search-btn),
  .bv-cv2-cleanslate .bv-content-feedback-btn-container .bv-content-btn,
  .bv-cv2-cleanslate .bv-secondary-content-actions-container .bv-content-btn,
  .bv-cv2-cleanslate .bv-content-feedback-vote-active .bv-content-report-btn,
  .bv-cv2-cleanslate .bv-content-item .bv-content-feedback-voted-positive .bv-content-btn-feedback-yes,
  .bv-cv2-cleanslate .bv-content-item .bv-content-feedback-voted-negative .bv-content-btn-feedback-yes,
  .bv-cv2-cleanslate .bv-content-item .bv-content-feedback-voted-positive .bv-content-btn-feedback-no,
  .bv-cv2-cleanslate .bv-content-item .bv-content-feedback-voted-negative .bv-content-btn-feedback-no {
    padding: 5px 10px !important;
    border: 1px solid var(--color-text-secondary) !important;
    border-radius: 3px !important;
    margin: 0 10px 0 0 !important;
    background-color: transparent !important;

    &:hover, &:focus, &:focus-visible, &:focus-within {
      background: var(--color-btn-secondary-bg-hover) !important;
      color: var(--color-btn-secondary-text-hover) !important;
      border-color: var(--color-btn-secondary-border-hover) !important;
      line-height: 1.429 !important;
      border: 1px solid var(--color-btn-secondary-border) !important;
      box-shadow: none !important;
    }
  }

  .bv-cv2-cleanslate .bv-content-item .bv-content-btn:first-child {
    margin: 0 10px 0 0 !important;
  }

  .bv-cv2-cleanslate .bv-content-item .bv-feedback-container {
    width: 100% !important;
  }

  .bv-cv2-cleanslate .bv-content-item {

    &:hover {
      .bv-content-feedback-vote {
        display: flex !important;
        align-items: center !important;
        flex-wrap: wrap !important;

        .bv-content-feedback-btn-container button {
          margin: 0 5px 0 0!important;
        }
      }

    }

  }

  .bv-cv2-cleanslate .bv-content-item .bv-content-feedback-vote,
  .bv-cv2-cleanslate .bv-content-item:hover .bv-content-feedback-vote {
    display: flex !important;
    align-items: center !important;
    flex-wrap: wrap !important;
  }

  .bv-cv2-cleanslate .bv-content-item .bv-content-feedback-vote {
    display: flex !important;
    align-items: center !important;
    flex-wrap: wrap !important;

    @media screen and (max-width: 450px) {
      display: flex !important;
      align-items: center !important;
      flex-wrap: wrap !important;
    }
  }

  .bv-cv2-cleanslate .bv-content-item .bv-content-feedback-vote .bv-content-feedback-vote-request,
  .bv-cv2-cleanslate .bv-content-item:hover .bv-content-feedback-vote .bv-content-feedback-vote-request {
    margin: 8px 10px 8px 0!important;
  }

  .bv-cv2-cleanslate .bv-content-item .bv-content-feedback-vote .bv-content-feedback-btn-container button {
    margin: 0 5px 0 0!important;
  }

  .bv-cv2-cleanslate .bv-dropdown-target .bv-dropdown-label {
    text-transform: capitalize !important;
  }

  .bv-cv2-cleanslate .bv-filters .bv-content-filter-select .bv-dropdown:first-child {
    background-color: transparent!important;
    color: var(--color-btn-secondary-text) !important;
    border: 1px solid var(--color-btn-secondary-border) !important;
  }

  .bv-cv2-cleanslate .bv-filters .bv-content-filter-select .bv-dropdown-target .bv-dropdown-title {
    font-style: normal!important;
    font-weight: 400!important;
  }

}
