@import '../helpers/_mixins';

.breadcrumbs {
  margin: 0 auto;
  padding: 20px 30px 0;
  max-width: 1280px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  @include mq($small-max) {
    padding: 20px 20px 0;
  }

  li {
    display: inline;
  }

  li:not(:last-child):after {
    content: '/';
    display: inline-block;
    padding: 0 8px 0 10px;
  }
}
