@import '../helpers/_mixins';

.checkmark {
  display: flex;
  align-items: center;
  color: var(--color-accent-primary);

  svg {
    margin: 0 20px 0 0;
    width: 40px;
    height: 40px;
  }

  .checkmark-title {
    color: currentColor;
  }
}
