@import "../helpers/mixins";

custom-select {
  position: relative;
  display: block;
  min-width: 155px;
  padding-right: 20px;

  span, button {
    transition: all var(--duration-default) linear;

    @include mq($small-min) {
      &:hover {
        color: inherit;
      }
    }
  }

  .form-select__btn {
    display: block;
    margin: 0 0 0 auto;

    .icon {
      position: absolute;
      top: 12px;
      right: 0;
      width: 10px;
      height: 10px;
      transform: translateY(-50%);
      transition: all var(--duration-default) linear;
      z-index: 1;
    }
  }

  &.form-select--open .form-select__btn .icon {
    transform: translateY(-50%) rotate(180deg);
  }

  .form-select__dropdown {
    position: absolute;
    padding: 10px;
    top: -10px;
    left: -10px;
    right: -10px;
    background-color: var(--color-bg-primary, white);
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
    z-index: 3;
  }

  .form-select__dropdown-inner {
    display: flex;
    flex-direction: column;
  }

  .form-select__dropdown-option:not(:last-child) {
    padding-bottom: 10px;
  }

  &.form-select-alternative {
    background-color: var(--color-bg-primary);
    padding: 10px;
    width: 100%;
    min-width: unset;

    .form-select__dropdown {
      position: static;
      box-shadow: none;
      max-height: 160px;
      overflow-y: auto;
      padding: 10px 0;
    }

    .form-select__dropdown-button {
      width: 100%;
    }

    .form-select__btn {
      width: 100%;

      &:not([aria-selected="true"]) {
        color: var(--color-btn-secondary-text-inactive);
      }

      &[aria-expanded="true"] {
        font-weight: 500;
        color: var(--color-text-primary);
      }

      svg {
        top: 20px;
        right: 10px;
        color: var(--color-text-primary);
      }
    }
  }
}
