@import "../helpers/mixins";

.price {
  .price__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .price-item {
    display: block;
    padding: 5px 5px 0 ;
  }

  .price__sale {
    display: flex;

    .price-item--regular {
      color: var(--color-text-secondary, grey);
    }
  }

  .price__badge-sale {
    width: fit-content;
    width: -moz-fit-content;
    margin: 5px auto 0;
    padding: 1px 5px;
    border-radius: 3px;
    color: var(--color-text-light, white);
    background: var(--color-accent-primary, blue);
  }
}
