@import "../helpers/mixins";

.rte {
  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px;
  }

  h1, h2 {
    @extend .h3;
  }

  h3, h4, h5 {
    @extend .h5;
    text-transform: none;

    @include mq($small-max) {
      font-size: 20px;
    }
  }

  &:after {
    clear: both;
    content: '';
    display: block;
  }

  p, ul, ol {
    margin: 0 0 20px;
  }

  p:first-child, ul:first-child, ol:first-child {
    margin-top: 0;
  }

  p:last-child, ul:last-child, ol:last-child {
    margin-bottom: 0;
  }

  table {
    table-layout: fixed;
  }

  table td {
    padding: 0 10px 10px 0;
  }

  img {
    height: auto;
    max-width: 100%;
    border: 1px solid var(--color-border);
    margin-bottom: 20px;
  }

  ul, ol {
    padding-left: 2rem;
  }

  li {
    list-style: inherit;
  }

  li:last-child {
    margin-bottom: 0;
  }

  a {
    transition: text-decoration-thickness var(--duration-short) ease;
    text-decoration: underline;
    color: var(--color-link-text-hover);
  }

  blockquote {
    display: inline-flex;
  }

  blockquote > * {
    margin: -0.5rem 0 -0.5rem 0;
  }

  hr {
    margin: 40px 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--color-border);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  strong {
    font-weight: 500;
  }
}
