.bis {
  &__main-container {
    input[type="email"], input[type="tel"] {
      border-radius: 0.5em;
      font-family: var(--font-family-teritary);
      font-size: 16px;
      color: var(--white);
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      letter-spacing: 1.28px;
      background-color: var(--c-gray-400);

      &::placeholder {
        font-family: var(--font-family-teritary);
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 1.28px;
        @apply text-text-secondary;
        color: var(--white);
      }
    }

    .ra-select__arrow svg {
      width: 20px;
    }

    .ra-tab__button {
      padding-top: 0;
      padding-bottom: 0;
    }

    .ra-input__wrapper .ra-input__control,
    .ra-input__wrapper .ra-icon {
      color: var(--white);
      background-color: var(--c-gray-400);
    }

    .ra-input__wrapper .ra-select__arrow {
      background-color: transparent;
    }

    .ra-choice .ra-choice__label {
      font-size: 12px;
    }
  }
  &__form {
    background: rgba(0, 0, 0, 0.75);
    background-blend-mode: luminosity;
    backdrop-filter: blur(10px);
    transition: all 0.25 linear;
    border-radius: 12px;
  }
}

.bis__main-container--modal-description *{
  color: rgb(236, 234, 229);
  font-size: 1.4rem;
  font-family: var(--font-family-primary);
  letter-spacing: 1px;
  line-height: 100%;
}

/* attentive popup design */
.bis__error-message {
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(255, 170, 155);
  border: 1px solid rgb(182, 0, 0);
  border-radius: 2px;
  display: flex;
  font-size: 0.875rem;
  font-family: sans-serif;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  padding: 0.75rem;
  text-transform: none;
  font-weight: 400;
}

.ra-button--disabled {
  border-color: #7D7D7A;
  background: #7D7D7A;
  color: #28282A;

  &:hover,
  &:focus,
  &:active {
    border-color: #7D7D7A;
    background: #7D7D7A;
    color: #28282A;
    cursor: default;
  }
}
