@import "../helpers/mixins";

.main-blogs__article-wrapper--banner {
  min-height: 300px;

  @include mq($medium-max) {
    min-height: 485px;
  }
}

.promo-banner {
  position: relative;
  height: 100%;
  padding: 20px 95px;
  display: flex;
  align-items: center;
  justify-content: var(--position);

  @include mq($medium-max) {
    padding: 10px 15px;
  }

  @include mq($small-max) {
    justify-content: var(--position-mobile);
  }

  .promo-banner__content-wrapper {
    max-width: 265px;
    text-align: center;
    z-index: 2;
  }

  .promo-banner__heading,
  .promo-banner__subheading,
  .promo-banner__tc {
    margin-bottom: 20px;
    text-transform: unset;

    a {
      text-decoration: underline;
      color: inherit;
    }
  }

  .promo-banner__heading {
    color: var(--heading-pb-color);
    font-size: var(--heading-pb-font-size);
  }

  .promo-banner__subheading {
    color: var(--subheading-pb-color);
    font-size: var(--subheading-pb-font-size);
  }

  .promo-banner__tc {
    display: block;
    color: var(--tc-pb-color);
    font-size: var(--tc-pb-font-size);
  }

  .promo-banner__link,
  a.promo-banner__tc, {
    text-decoration: underline;
  }
}
