/* Cart Stylings */

/*

ra-sidecart__container is a class that ONLY applies to the sidecart.
ra-cartpage__container is a class that ONLY applies to the cart page.

ra-cart__container applies to BOTH the cart page and the sidecart

*/

/* colors */

.ra-sidecart__container {
  a,
  span,
  input,
  div {
    color: var(--white);
  }

  .ra-progress-bar__background {
    background: var(--white);
  }

  .ra-input__wrapper .ra-input__control {
    color: var(--white);
  }
  .ra-cart-product-tile__options {
    flex-direction: column;
    gap: 5px;
  }

  .ra-progress-bar__title {
    /*max-width: 180px;*/
    font-size: 12px;
  }
}

.ra-cartpage__container {
  a,
  span,
  input,
  div,
  .ra-icon {
    color: var(--black);
  }

  .ra-progress-bar__background {
    background: var(--black);
  }

  .ra-input__wrapper .ra-input__control {
    color: var(--black);
  }

  .ra-progress-bar__title {
    /*max-width: 155px;*/
    @media breakpoint(md) {
      max-width: 100%;
    }
  }

  .ra-progress-bar__title span {
    font-size: 16px;
  }
}

cart-page .animate-skeleton {
  justify-content: space-evenly !important;
}

/* css for both inline and sidecart */

.ra-cart__container {
  --qty-selector-height: 32px;
  --qty-selector-width: 104px;
  /* .ra-quantity-selector{
        height: 32px;
        width: 104px;
    } */

  .ra-quantity-selector__input {
    height: 32px !important;
    width: 32px !important;
    margin: auto 8px !important;
  }
  .ra-input__wrapper .ra-input__control {
    background: transparent;
  }
  .ra-quantity-selector__button {
    border-radius: 100%;
    height: 32px;
    width: 32px;
    background: var(--bg-transparent);
  }
  .ra-button--secondary {
    background: var(
      --surfaces-dark,
      linear-gradient(0deg, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.08) 100%),
      rgba(214, 214, 214, 0.45)
    );
    background-blend-mode: luminosity, color-burn;
    backdrop-filter: blur(50px);
    color: #FFFFFF;

    &:hover,
    &.hover {
      background: var(
        --surfaces-dark-hover,
        linear-gradient(0deg, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0.04) 100%),
        rgba(214, 214, 214, 0.22)
      );
      background-blend-mode: luminosity, color-burn;
      backdrop-filter: blur(50px);
      @apply text-text-inverse-primary;
    }

    &:focus,
    &.focus {
      @apply outline-none;
    }

    &:disabled,
    &.disabled {
      @apply opacity-30 pointer-events-none;
    }
  }
  .ra-button:hover {
    background: var(--surfaces-dark);
  }

  .ra-quantity-selector__button:hover {
    background: var(--color-grey-300);
  }

  .ra-quantity-selector__button svg path {
    fill: var(--text-grey-900);
  }

  .ra-input__wrapper .ra-select__control {
    font-size: 14px;
    background: var(--surfaces-light);
  }
  .ra-input__wrapper .ra-input__control--text {
    font-size: 12px;
    font-weight: 300;
  }

  .ra-input__control--text {
    @apply font-primary text-grey-900;
    color: var(--text-grey-900);
  }

  .ra-select .ra-select__arrow svg {
    width: 14px;
  }

  .ra-sidecart__bg-image {
    background-image: var(--inline-cart-background-image);
    background-size: cover;
  }

  .ra-cart__cta {
    background-color: var(--cart-cta-bg-color);
    --button-padding: 20px;
    line-height: 100%;
  }
}
