.ctl {
  &__product-image {
    aspect-ratio: 4 / 5;
  }

  .ra-button--secondary {
    color: var(--white);
    background: var(--color-primary-800);
    width: 100%;
    max-width: 100%;
    min-width: unset;
    white-space: normal;

    @media (max-width: 29.9375rem) {
      font-size: var(--font-size-sm);
    }
  }

  .ra-input__wrapper .ra-input__control {
    background: white;
    border-color: var(--stroke-inverse-primary);

    @media (max-width: 29.9375rem) {
      font-size: var(--font-size-sm);
    }
  }
}
