@import "../helpers/mixins";

.account-favorites__inner {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 30px);
  margin-left: -15px;

  @include mq($medium-max) {
    width: calc(100% + 20px);
    margin-left: -10px;
  }

  .product-card {
    width: calc(100% / 3);
    max-width: 400px;
    padding: 15px;

    @include mq($medium-max) {
      width: 50%;
      padding: 15px 10px;
    }
  }
}

.account-favorites__empty-message {
  .btn {
    margin-top: 20px;
  }
}
