.footer {
  background-color: var(--background-color);
  color: var(--link-color);
  border-top: 2px solid #f4f4f9;

  .footer__container {

    padding-left: 0;
    padding-right: 0;

  }

  a:link,
  a:visited {
    color: var(--link-color);

    &:hover,
    &:focus {
      color: var(--link-hover-color);
    }
  }

  .footer__form-title,
  .footer__form-title * {
    line-height: 100%;
    color: var(--link-color);
    text-align: left;
  }

  /* tabbed last word effect - applies to lists */
  .footer__form-title ul {
    margin-left: 2.8em;
    padding: 0;
  }

  .footer__form-title li {
    list-style-type: none;
  }

  /* end tabbled last word effect */

  .footer__menu {
    ul, li {
      font-weight: 300;
      padding: 0;
    }
  }

  .footer_form-title p {
    text-align: left;
  }

  .footer_util {

    @media breakpoint(md) {
      li {
        margin-left: 24px;
        margin-bottom: 10px;
      }
    }
  }
  .footer__logo {
    margin-bottom: 48px;
    @media breakpoint(md){
      margin-bottom: 24px;
    }
  }

  .ra-accordion-item {
    padding-left: 24px;
    padding-right: 24px;
  }

}

ra-accordion {
  --accordion-border-color: var(--color-tertiary-400);

  .ra-accordion-item__header {
  font-family: var(--font-family-primary), monospace;
  letter-spacing: 0;
  }

}

.footer_util-container {
  @media breakpoint(md){
    padding-left: 0px;
    padding-right: 0px;
  }
}

.locale-selectors__content {
  padding: 0 !important;
  margin-left: 56px;
  margin-right: 56px;

  @media breakpoint(md) {
    margin-left: 96px!important;
    margin-right: 96px!important;
  }

}
