#FreeShippingBanner {
  @apply top-0 left-0 w-full z-50 fixed px-7 md:px-7 flex items-center justify-start uppercase font-primary !important;
  font-size: 12px !important;
  height: 46px !important;
  letter-spacing: 1.2px !important;
  overflow-y: hidden !important;
}

.recommendation-modal {
  &__container {
    select {
      option {
        color: var(--text-primary)
      }
    }
  }
}
