body {
  .locale-selectors {
    &__container {
      padding-bottom: 96px !important;

      @media breakpoint(md) {
        padding-bottom: 3rem !important;
      }


      .locale-selectors__selector {
        @apply bg-bg-inverse-secondary text-stroke-primary rounded-lg border border-solid !important;
        background: #f5f5f2 !important;
        border-color: #dfdfdf !important;
        font-family: var(--font-family-primary) !important;
        color: var(--text-primary) !important;
        font-size: 14px !important;
        font-style: normal !important;
        font-weight: 700 !important;
        line-height: 100% !important;
        letter-spacing: 1.12px !important;
        text-align: left;
        min-height: 44px !important;
        transition-property: background-color, border-color, color !important;
        transition-duration: var(--transition-duration-default) !important;
        transition-timing-function: var(--transition-function-default) !important;

        &:hover {
          @apply border-stroke-inverse-primary !important;
        }
      }
    }

    &__content {
      position: relative !important;
      @apply max-md:w-[351px] max-md:mx-auto !important;

      &::after {
        @apply absolute right-5 top-[32%] w-[11px] h-[11px] z-50 rotate-45 border-2 border-t-transparent border-l-transparent border-r-text-primary border-b-text-primary ;
        content: ""
      }
    }
  }
}
