.hidden-okendo-rating {
  display: none;
}

.product-form__okendo-div-duplicate {
  margin-bottom: 48px;
}

.product-form__okendo-div-duplicate .oke-sr-count:hover {
  cursor: pointer !important;
  text-decoration: underline;
}

.product-form__okendo-div-duplicate .oke-sr-count {
  text-transform: uppercase;
  color: #eceae5;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 1px;
  text-align: left;
  margin-left: 8px;
  margin-bottom: -2px;
}

.product-buy-box {
  @media breakpoint(lg) {
    height: 100% !important;
  }

  transition-property: all;
  transition-timing-function: linear;
  transition-duration: 200ms;
}

.product-buy-box-blur {
  background: inherit;
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}

.product-buy-box-blur:before {
  content: "";
  width: 100%;
  min-height: 100vh;
  background: inherit;
  position: absolute;
  left: -25px;
  right: 0;
  top: -25px;
  bottom: 0;
  box-shadow: inset 0 0 0 200px var(--surfaces-glass);
  filter: blur(50px);
}

.pdp-giftcard .product-main__container {
  background: rgba(17, 15, 15, 0.5);
}

.product-main__container {
  background-size: cover;
  background-position: center;

  @media breakpoint(lg) {
    background: var(--surfaces-glass);
    background-blend-mode: luminosity;
    backdrop-filter: blur(50px);
    background-image: none !important;
  }

  .ra-picker__label {
    display: none;
  }

  .ra-option {
    display: flex;
    /*width: 44px;*/
    /*height: 44px;*/
    min-width: 44px;
    min-height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: var(
      --surfaces-light,
      linear-gradient(
        0deg,
        rgba(94, 94, 94, 0.18) 0%,
        rgba(94, 94, 94, 0.18) 100%
      ),
      rgba(255, 255, 255, 0.06)
    );
    background-blend-mode: color-dodge, lighten;
    color: var(--stroke-primary);

    /*@media breakpoint(sm-max) {*/
    /*  width: calc(100% / 5 - 12px) !important;*/
    /*}*/
  }

  [data-gift-card="true"] .ra-option {
    min-width: auto;
    padding: 10px 23px;
    background-color: rgba(0, 0, 0, 0.2);
    width: fit-content;
    padding-inline: 2px;
  }

  [data-gift-card="true"] .ra-option span.ra-option__label {
    position: relative;
  }

  [data-gift-card="true"] .ra-option--selected {
    background-color: var(--white);
    color: var(--text-inverse-primary);
  }

  .gift-card-form-expanded {
    height: 285px;
    transition: height 0.3s ease-out;
    overflow: hidden;
  }

  .gift-card-form-collapsed {
    height: 0px;
    transition: height 0.1s;
    overflow: hidden;
  }

  .gift-card-form textarea,
  .gift-card-form input {
    border-radius: 8px;
    border: 1px solid var(--stroke-secondary);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 11px 16px;
    color: var(--white);
    font-family: var(--font-family-secondary);
    letter-spacing: 1.3px;
    font-size: var(--font-size);
  }

  .gift-card-form textarea::placeholder,
  .gift-card-form input::placeholder {
    color: var(--white);
    font-family: var(--font-family-secondary);
    font-size: var(--font-size);
    letter-spacing: 1.3px;
  }

  .gift-card-form input.input-error {
    border: 1px solid var(--color-util-red);
  }

  .gift-card-form .error-bubble {
    font-family: var(--font-family-secondary);
    background-color: #fdf5f1;
    border: 1px solid #cc0926;
    position: absolute;
    z-index: 1;
    padding: 7px 8px 4px 8px;
    border-radius: 8px;
    right: 0;
    bottom: -45px;

    &:after {
      content: "";
      position: absolute;
      top: -6px;
      left: 15px;
      height: 10px;
      width: 10px;
      background-color: #fdf5f1;
      transform: rotate(45deg);
      border-top: inherit;
      border-left: inherit;
      box-shadow: inherit;
    }
  }

  .gift-card-form .form-control {
    display: grid;
    grid-template-columns: 24px auto;
    gap: 10px;
    align-items: center;
    cursor: pointer;
  }

  .gift-card-form input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* Not removed via appearance */
    margin: 0;
    cursor: pointer;

    font: inherit;
    color: currentColor;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    background-color: transparent;
    border: 1px solid var(--white);
    display: grid;
    place-content: center;
    padding: 0;
  }

  .gift-card-form input[type="checkbox"]::before {
    content: "";
    width: 16px;
    height: 14px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxNCAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTUuNTkxOCAxMi4yMUM1LjIwMjE1IDEyLjIxIDQuOTA4MiAxMi4wNjY0IDQuNjQxNiAxMS43NDUxTDEuMTA3NDIgNy40MDQzQzAuODk1NTA4IDcuMTU4MiAwLjgxMzQ3NyA2LjkyNTc4IDAuODEzNDc3IDYuNjc5NjlDMC44MTM0NzcgNi4xMTIzIDEuMjMwNDcgNS43MDIxNSAxLjgxMTUyIDUuNzAyMTVDMi4xNTMzMiA1LjcwMjE1IDIuMzkyNTggNS44MzIwMyAyLjYyNSA2LjExMjNMNS41NjQ0NSA5LjgxNzM4TDExLjMyMDMgMC43MTE5MTRDMTEuNTU5NiAwLjMyOTEwMiAxMS43OTg4IDAuMTkyMzgzIDEyLjE5NTMgMC4xOTIzODNDMTIuNzY5NSAwLjE5MjM4MyAxMy4xNzk3IDAuNTk1NzAzIDEzLjE3OTcgMS4xNTYyNUMxMy4xNzk3IDEuMzY4MTYgMTMuMTExMyAxLjU5Mzc1IDEyLjk0NzMgMS44Mzk4NEw2LjU0ODgzIDExLjcxMDlDNi4zMjMyNCAxMi4wNDU5IDYuMDAxOTUgMTIuMjEgNS41OTE4IDEyLjIxWiIgZmlsbD0iIzI4MjgyQSIvPgo8L3N2Zz4K);
    background-repeat: no-repeat;
    transform: scale(0);
    position: relative;
    left: 2px;
    top: 1px;
  }

  .gift-card-form input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

  .gift-card-form input[type="checkbox"]:checked {
    background-color: var(--white);
  }

  .ra-option--disabled {
    border: 1px solid var(--stroke-primary);
    opacity: 0.3;
    background: transparent;
  }

  .ra-option--disabled.ra-option--selected {
    opacity: 1;
    color: var(--stroke-primary);
    background: transparent;
  }

  .ra-option--disabled:before {
    content: "";
    position: absolute;
    left: -4px;
    width: 50px;
    height: 1px;
    background: var(--stroke-primary);
    transform: rotate(-45deg);
    box-shadow: none;
    padding: 0;
    border-radius: 0;
  }

  .ra-option__label {
    font-family: var(--font-family-secondary);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 1.12px;
    padding: 0;
    position: relative;
    width: 100%;

    @media breakpoint(sm-max) {
      font-size: 12px;
    }
  }

  .ra-option--selected,
  .ra-option:hover:not(.ra-option--selected):not(.ra-option--disabled) {
    background: var(--stroke-primary);
    color: var(--text-inverse-primary);
  }

  .ra-option--selected:before {
    box-shadow: none;
  }

  .ra-grid {
    display: flex;
    flex-wrap: wrap;
  }

  .ra-swatch:disabled {
    opacity: 0.5;
  }

  .ra-swatch__disabled-icon {
    background-color: var(--stroke-primary);
    height: 1px;
    width: 24px;
  }

  .ra-swatch--sm {
    width: 24px;
    height: 24px;
  }

  .ra-swatch-picker__colors .ra-swatch--selected:before {
    padding-bottom: 16px;
    width: 16px;
    margin: 0 auto;
  }
  .ra-swatch-picker__colors .ra-swatch--selected:after {
    box-shadow: inset 0 0 0
      var(--swatch-selected-border-width, var(--swatch-border-width, 0.0625rem))
      #fff;
  }

  .ra-swatch:before {
    padding-bottom: 24px;
  }
}

.product-buy-box--open {
  overflow-y: auto;
  overflow-x: hidden;
}

.product-buy-box--open .ra-product-main__inner {
  padding-bottom: 3rem;
}

.product-main__description {
  .metafield-rich_text_field,
  .metafield-rich_text_field * {
    font-family: var(--font-family-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: 1.12px;
    text-transform: uppercase;
    color: var(--white);

    @media breakpoint(lg) {
      color: #000000;
    }
  }

  ul {
    list-style-type: "- ";
    padding-left: 30px;

    li {
      margin-bottom: 10px;
      padding-left: 10px;

      @media breakpoint(lg-max) {
        margin-bottom: 0;
      }
    }
  }
}

.product-main__description-title {
  min-width: 119px;
}

@media breakpoint(lg) {
  .product-main__description-title {
    min-width: 160px;
  }
}

.product-main__description .product-main__how-it-fits {
  display: flex;
  flex-direction: column;
}

.product-main__description .product-main__how-it-fits-metafield * {
  font-family: var(--font-family-primary);
  font-size:16px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 1.12px;
  text-transform: uppercase;
  color: var(--white);

  @media breakpoint(lg) {
    color: #000000;
  }
}

.product-main__description .product-main__how-it-fits .ra-link {
  color: var(--white);
  background-color: transparent;

  @media breakpoint(lg) {
    color: #000000;
  }
}

.product-additional-info-details {
  top: 2.5rem;
}

.size-guide-modal .ra-modal__content .ra-modal__close:hover {
  background: none;
  cursor: pointer;
}

.product-main__size-guide {
  .ra-accordion-item__header,
  .ra-accordion-item__content {
    color: var(--white);

    @media breakpoint(lg) {
      color: var(--text-inverse-primary);
    }
  }

  .ra-accordion-item__header .ra-icon {
    fill: var(--white);

    @media breakpoint(lg) {
      fill: var(--text-inverse-primary);
    }
  }

  .ra-accordion-item {
    border-top-color: var(--white);
    border-bottom-color: var(--white);

    @media breakpoint(lg) {
      border-top-color: var(--text-inverse-primary);
      border-bottom-color: var(--text-inverse-primary);
    }
  }

  .ra-accordion-item {
    padding: 24px;

    @media breakpoint(lg) {
      padding: 24px 0;
    }
  }

  .ra-accordion-item.open {
    @media breakpoint(lg) {
      padding-top: 48px;
    }
  }

  .ra-tab__content-inner.rte {
    padding-top: 32px;

    @media breakpoint(lg) {
      padding-top: 48px;
    }
  }

  .ra-accordion-item p {
    padding-bottom: 24px;
  }

  .ra-accordion-item table {
    margin-top: 24px;
    margin-bottom: 24px;
    width: 100%;
  }

  .ra-accordion-item table td {
    border: 1px solid var(--white);
    height: 48px;
    padding: 0 16px;

    @media breakpoint(lg) {
      border: 1px solid var(--text-inverse-secondary);
    }
  }

  .ra-accordion-item table tr td:first-child {
    background: var(--color-grey-300);
  }

  .ra-accordion-item p,
  .ra-accordion-item thead td,
  .ra-accordion-item table tr td:first-child {
    font-family: var(--font-family-primary);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }
}

#backInStockForm {
  .ra-input__wrapper .ra-input__control {
    border: 1px solid var(--stroke-secondary);
    background: var(--surfaces-light);
    color: var(--white);
  }

  ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: var(--text-secondary);
  }
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: var(--text-secondary);
    opacity: 1;
  }
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: var(--text-secondary);
    opacity: 1;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--text-secondary);
  }
  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--text-secondary);
  }

  ::placeholder {
    /* Most modern browsers support this now. */
    color: var(--text-secondary);
  }
}

.ra-product-form {
  .ra-modal__content {
    background-image: url("https://cdn.shopify.com/s/files/1/0781/1314/5147/files/Blurred_Image_1.jpg?v=1691695681");
    background-position: center;
    background-size: cover;
    padding: 24px;
  }

  .ra-modal__content p {
    color: var(--white);
  }
}

/*.product-buy-box .ra-carousel__details p,*/
/*.product-buy-box .ra-product-tile__details a,*/
/*.product-buy-box .ra-carousel .ra-product-tile__price span {*/
/*  color: var(--white);*/
/*}*/

.size-guide-modal {
  border-radius: 16px;
}

.size-guide-modal .ra-modal__content {
  width: fit-content;
  background-color: #fafaf9;
  padding: 24px;
  border: none;
  color: var(--black);
  max-width: 995px;
  scroll-snap-stop: normal;

  @media breakpoint(lg) {
    padding: 48px;
  }
}

.size-guide-modal .ra-modal__content .ra-modal__close {
  color: #C3C1BE;
  background-color: transparent;
  background-blend-mode: none;
  padding: 0;
  top: 7px;
  right: 7px;

  @media breakpoint(lg) {
    padding-right: 20px;
    padding-top: 20px;
  }
}

.size-guide-modal .ra-modal__content .ra-modal__close:hover {
  color: #000000;
}

.size-guide-modal .ra-modal__background-image {
  background-image: none;
}

.content-main__sizes button:first-of-type {
  margin-left: 0;

  @media breakpoint(lg) {
    margin-left: 16px;
  }
}

.content-main__images_and_infos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;

  @media breakpoint(lg) {
    grid-template-columns: 1fr 1fr;
  }
}

.content-main__images {
  @media breakpoint(lg) {
    max-width: 434px;
  }
}

.content-main__images img {
  width: 100%;
  height: auto;
  object-fit: contain;
  @media breakpoint(lg) {
    max-width: 434px;
  }
}

.content-main__infos {
  padding-left: 0;
  max-width: 434px;
  @media breakpoint(lg) {
    padding-left: 18px;
    max-width: 434px;
  }
}

.content-main__size-guide {
  color: var(--black);
  font-weight: 400;
}

.content-main__product-title.mono-24 {
  font-size: 20px;
  font-weight: 400;
}

@media breakpoint(lg-max) {
  .content-main__product-title.mono-24 {
    margin-top: 36px;
    margin-bottom: 16px;
  }
}

.ra-modal__content p.content-main__view-model {
  font-weight: 400;
  color: #28282a;
  display: block;
}

.ra-modal__content p.content-main__model-info__content,
.ra-modal__content p.content-main__how-it-fits__content {
  color: #28282a;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

@media breakpoint(lg) {
  .ra-modal__content p.content-main__view-model {
    display: inline;
  }

  .ra-modal__content p.content-main__model-info__content,
  .ra-modal__content p.content-main__how-it-fits__content {
    color: #28282a;
    font-size: 16px;
    line-height: 19px;
  }
}

.content-main__infos button.size-button {
  font-size: 14px;
  font-weight: 700;
  font-family: "ABCMonumentGrotesk-Bold-Licensed";
  background-color: #c0beba;
  border-color: #c0beba;
  color: #eceae5;
  letter-spacing: -0.75px;
  line-height: 2rem;
}

.size-guide-modal ra-button .ra-icon {
  --icon-size: 24px !important;
}

.ra-modal__content p.content-main__size-guide-color-title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 16px;
  letter-spacing: 8%;
  margin-top: 0;
  color: var(--black);
}

.content-main__model-info,
.content-main__how-it-fits {
  display: grid;
  grid-template-columns: 89px 1fr;
  margin-bottom: 48px;
  @media breakpoint(lg) {
    grid-template-columns: 157px 1fr;
  }
}

.content-main__model-info {
  @media breakpoint(lg) {
    padding-top: 48px;
  }
}

.content-main__model-info--color-title {
  font-size: 12px;
  font-weight: 400;
  color: var(--black);
  text-transform: uppercase;
}

.content-main__model-info {
  @media breakpoint(lg-max) {
    margin-top: 20px;
  }
}

.content-main__model-info__title,
.content-main__how-it-fits__title {
  font-size: 12px;
  padding-right: 40px;
  @media breakpoint(lg) {
    font-size: 16px;
    padding-right: 0;
    line-height: 100%;
  }
}

.content-main__contact-us * {
  color: var(--black) !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  letter-spacing: 7%;
}

.content-main__contact-us a {
  color: var(--black) !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  letter-spacing: 7%;
  text-decoration: underline;
}

.content-main__contact-us a:hover,
.content-main__contact-us a:active,
.content-main__contact-us a:focus-visible {
  text-decoration: none;
}

hr.ra-modal__content-divider {
  background-color: var(--stroke-secondary);
  height: 1px;
  width: 100%;
  margin: 48px 0;
  opacity: 0.25;
}

.size-guide-modal table {
  width: 100% !important;
}


/* first column of the table */
.size-guide-modal table:last-of-type * {
  text-transform: uppercase;
  vertical-align: top;
  color: #28282a;
  font-weight: 400;
  font-size: 16px;

  @media breakpoint(md-max) {
    font-size: 11px;
  }
}

.size-guide-modal .sizeChartWrapper {
  .sizeChartNew, .sizeChartInfo {
    width: 100%;
  }

  .sizeChartNew {
    width: 100%;
    border-collapse: collapse;

    td, th {
      width: auto !important;
      border: 1px solid #28282a;
      text-align: center !important;
      padding: 16px;

      @media breakpoint(md-max) {
        padding: 5px;
      }

      * {
        margin: 0;
      }
    }
  }

  .sizeChartNew td:nth-child(-n+3) {
    background-color: gray;
  }
}

.size-guide-modal .sizeChartInfo {
  text-transform: uppercase;
  vertical-align: top;
  color: #28282a;
  font-weight: 400;
  font-size: 16px;

  tr, td {
    border: none;
    background-color: inherit;
    margin: 0;
    padding-right: 16px;
    padding-bottom: 16px;
  }
}

.ra-modal__content .ra-modal__content-table p.text-black {
  color: var(--black);
  font-weight: 400;
  margin-bottom: 26px;
  margin-top: 15px;
}

.ra-modal__content .rounded-full:hover,
.ra-modal__content .ra-product-tile__swatch:hover {
  cursor: default;
}

.content-main__infos--colors {
  margin-bottom: 36px;
}

@media breakpoint(lg) {
  .content-main__infos--colors {
    margin-bottom: 48px;
  }
}

.oke-reviewsTab {
  display: none;
}

.desktop-okendo-review {
  display: none;

  @media breakpoint(lg) {
    display: block;
    background-color: #fafaf9;
    border-top: 1px solid #d9d9d9;
    padding-top: 37px;
  }
}

.mobile-okendo-review {
  display: block;
  background-color: #fafaf9;

  @media breakpoint(lg) {
    display: none;
  }
}

.desktop-okendo-review[data-review-count='0'],
.mobile-okendo-review[data-review-count='0'] {
  display: none;
}

@media (max-width: 640px) {
  .oke-w-header::before {
    content: "REVIEWS";
    display: flex;
    justify-content: center;
    font-size: 24px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 33px;
    font-family: "Monument Grotesk Mono", monospace;
    font-weight: 300;
  }

  .oke-w-breakdownModule.oke-w-breakdownModule--contain {
    display: none !important;
  }

  .oke-w-ratingAverageModule.oke-w-ratingAverageModule--oneLine.oke-w-ratingAverageModule--left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .okeReviews.oke-w {
    padding-top: 48px !important;
    margin-inline: 44px;
  }

  .okeReviews.oke-w * {
    font-family: "Monument Grotesk Mono";
    font-weight: 300;
  }

  .oke-w-review-side {
    padding-top: 12px;
  }

  .oke-w-review-main {
    padding-top: 12px !important;
  }

  .oke-reviewContent-date {
    display: none;
  }

  .oke-w-ratingAverageModule-count {
    color: #28282a !important;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: left;
    margin-top: 18px;
  }

  .oke-w-recommendsModule {
    display: none;
  }

  button#filter-toggle {
    background: #d6d6d673;
    min-height: 56px;
    border-radius: 12px;
  }

  .oke-w-controls {
    display: none;
  }

  .oke-w-header-content-block {
    margin-bottom: 48px;
    width: 365px !important;
  }

  .oke-w-reviewer-avatar {
    display: none;
  }

  button#filter-toggle {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 8px;
    font-weight: 700;
  }

  span.oke-button-text {
    font-family: "Monument Grotesk Bold" !important;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.08em;
    text-align: center;
  }

  span.oke-icon::after {
    content: " " !important;
    /*background-image: url("https://cdn.shopify.com/s/files/1/0781/1314/5147/files/carret-down.png?v=1709324905");*/
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.08em;
    text-align: center;
    background-position: center;
  }

  span.oke-icon::before {
    /* display: none; */
    height: 0;
    width: 0;
  }

  .okeReviews[data-oke-container] .oke-w-reviews-filterToggle .oke-icon:before,
  div.okeReviews .oke-w-reviews-filterToggle .oke-icon:before {
    display: none !important;
  }

  label.oke-w-filterOption-label {
    background-color: #fafaf9 !important;
  }

  .oke-w-filter-title {
    font-family: "Monument Grotesk Mono", monospace;
    font-size: 12px;
    font-weight: 400 !important;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 16px !important;
  }

  .oke-w-filters {
    margin-top: 28px;
  }

  .oke-w-review-side {
    background: none !important;
  }

  .oke-w-reviews-controls {
    display: none !important;
  }

  strong.oke-w-reviewer-name {
    font-family: "Monument Grotesk Bold" !important;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.08em;
    text-align: left;
  }

  .oke-w-review-recommendation {
    display: none;
  }

  .okeReviews[data-oke-container] .oke-w-review-footer,
  div.okeReviews .oke-w-review-footer {
    justify-content: flex-end !important;
  }

  li.oke-w-reviews-list-item {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 36px !important;
  }

  .oke-attrBar-title {
    display: none;
  }

  /* sizing */
  .oke-barDefault-background,
  .oke-barDefault-background-shading {
    background-color: #d9d9d9 !important;
  }
  .okeReviews[data-oke-container] .oke-barDefault-marker .oke-barDefault-dot,
  div.okeReviews .oke-barDefault-marker .oke-barDefault-dot {
    background-color: #28282a !important;
    width: 8px !important;
    height: 8px !important;
  }
  .oke-barDefault-dot {
    background-color: #d9d9d9 !important;
    width: 5px !important;
    height: 5px !important;
  }
  .oke-barDefault-dot.oke-barDefault-dot--center {
    width: 5px !important;
    height: 5px !important;
    display: block !important;
    border-radius: 50% !important;
    z-index: 2 !important;
    top: unset !important;
    border: none !important;
  }

  span.oke-attrBar-labels-label {
    font-size: 10px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
    letter-spacing: 0.1em !important;
    color: #28282a !important;
  }

  .oke-reviewsTab.oke-reviewsTab--small-top-left {
    display: none;
  }

  .oke-reviewContent-title.oke-title {
    margin-top: 17px !important;
  }

  .oke-product-details {
    display: none;
  }

  a.oke-product-thumbnail {
    display: none;
  }

  .oke-w-reviews-footer .okeReviews[data-oke-container] .oke-button,
  .oke-w-reviews-footer div.okeReviews .oke-button {
    background-color: #eceae5;
    min-height: 56px;
    min-width: 212px;
    border-radius: 12px;
  }

  .oke-w-reviews-footer span.oke-showMore-button-text.oke-button-text::after {
    content: "";
    margin-left: 8px;
    position: absolute;
    background-image: url(https://cdn.shopify.com/s/files/1/0781/1314/5147/files/7bcd5b5468a2b33ad42739e942081da0.svg?v=1709819955);
    height: 8px;
    width: 17px;
    background-repeat: no-repeat;
    right: 24px;
  }

  .oke-w-reviews-footer .oke-button-text:hover {
    cursor: pointer;
  }

  .oke-w-header::before {
    content: "REVIEWS";
    display: flex;
    justify-content: center;
    font-size: 24px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 33px;
    font-family: "Monument Grotesk Mono", monospace;
    font-weight: 300;
  }

  .oke-w-breakdownModule.oke-w-breakdownModule--contain {
    display: none !important;
  }

  .oke-w-ratingAverageModule.oke-w-ratingAverageModule--oneLine.oke-w-ratingAverageModule--left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .okeReviews.oke-w {
    padding-top: 48px !important;
    margin-inline: 44px;
  }

  .okeReviews.oke-w * {
    font-family: "Monument Grotesk Mono";
    font-weight: 300;
  }

  .oke-w-review-side {
    padding-top: 12px;
  }

  .oke-w-review-main {
    padding-top: 12px !important;
  }

  .oke-reviewContent-date {
    display: none;
  }

  .oke-w-ratingAverageModule-count {
    color: #28282a !important;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: left;
    margin-top: 18px;
  }

  .oke-w-recommendsModule {
    display: none;
  }

  button#filter-toggle {
    background: #d6d6d673;
    min-height: 56px;
    border-radius: 12px;
  }

  .oke-w-controls {
    display: none;
  }

  .oke-w-header-content-block {
    margin-bottom: 48px;
  }

  .oke-w-reviewer-avatar {
    display: none;
  }

  button.oke-helpful-vote-button.oke-helpful-vote-button--positive {
    color: #b4b4b4 !important;
  }

  .oke-mediaGallery-slider {
    border-radius: 16px !important;
    padding: 36px 20px;
    background-color: white !important;
  }

  button#filter-toggle {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 8px;
    font-weight: 700;
  }

  span.oke-button-text {
    font-family: "Monument Grotesk Bold" !important;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.08em;
    text-align: center;
  }

  span.oke-icon::after {
    content: " " !important;
    /*background-image: url("https://cdn.shopify.com/s/files/1/0781/1314/5147/files/carret-down.png?v=1709324905");*/
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.08em;
    text-align: center;
    background-position: center;
  }

  span.oke-icon::before {
    /* display: none; */
    height: 0;
    width: 0;
  }

  .okeReviews[data-oke-container] .oke-w-reviews-filterToggle .oke-icon:before,
  div.okeReviews .oke-w-reviews-filterToggle .oke-icon:before {
    display: none !important;
  }

  label.oke-w-filterOption-label {
    background-color: #fafaf9 !important;
  }

  .oke-w-filter-title {
    font-family: "Monument Grotesk Mono", monospace;
    font-size: 12px;
    font-weight: 400 !important;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 16px !important;
  }

  .oke-w-filters {
    margin-top: 28px;
  }

  .oke-w-review-side {
    background: none !important;
  }

  .oke-w-reviews-controls {
    display: none !important;
  }

  strong.oke-w-reviewer-name {
    font-family: "Monument Grotesk Bold" !important;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.08em;
    text-align: left;
  }

  .oke-w-review-recommendation {
    display: none;
  }

  .okeReviews[data-oke-container] .oke-w-review-footer,
  div.okeReviews .oke-w-review-footer {
    justify-content: flex-end !important;
  }

  li.oke-w-reviews-list-item {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 36px !important;
  }

  .oke-attrBar-title {
    display: none;
  }

  /* sizing */
  .oke-barDefault-background,
  .oke-barDefault-background-shading {
    background-color: #d9d9d9 !important;
  }
  .okeReviews[data-oke-container] .oke-barDefault-marker .oke-barDefault-dot,
  div.okeReviews .oke-barDefault-marker .oke-barDefault-dot {
    background-color: #28282a !important;
    width: 8px !important;
    height: 8px !important;
  }
  .oke-barDefault-dot {
    background-color: #d9d9d9 !important;
    width: 5px !important;
    height: 5px !important;
  }
  .oke-barDefault-dot.oke-barDefault-dot--center {
    width: 5px !important;
    height: 5px !important;
    display: block !important;
    border-radius: 50% !important;
    z-index: 2 !important;
    top: unset !important;
    border: none !important;
  }

  span.oke-attrBar-labels-label {
    font-size: 10px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
    letter-spacing: 0.1em !important;
    color: #28282a !important;
  }

  .oke-reviewsTab.oke-reviewsTab--small-top-left {
    display: none;
  }

  .oke-reviewContent-title.oke-title {
    margin-top: 17px !important;
  }

  .oke-product-details {
    display: none;
  }

  a.oke-product-thumbnail {
    display: none;
  }

  .oke-w-reviews-footer .okeReviews[data-oke-container] .oke-button,
  .oke-w-reviews-footer div.okeReviews .oke-button {
    background-color: #eceae5;
    min-height: 56px;
    min-width: 212px;
    border-radius: 12px;
  }

  .oke-w-reviews-footer span.oke-showMore-button-text.oke-button-text::after {
    content: "";
    margin-left: 8px;
    position: absolute;
    background-image: url(https://cdn.shopify.com/s/files/1/0781/1314/5147/files/7bcd5b5468a2b33ad42739e942081da0.svg?v=1709819955);
    height: 8px;
    width: 17px;
    background-repeat: no-repeat;
    top: calc(50% - 4px);
    right: 24px;
  }

  .oke-w-reviews-footer .oke-button-text:hover {
    cursor: pointer;
  }
  .oke-is-small .oke-w-header-content-module {
    justify-content: flex-start !important;
    text-align: left;
  }
  .oke-w-header-content-block.oke-w-header-content-block--oneThird.oke-w-header-content-block--left {
    margin-bottom: 8px;
  }
  .oke-w-header-content-block.oke-w-header-content-block--oneThird.oke-w-header-content-block--left:has(
      .oke-w-mediaCarouselModule
    ) {
    margin-bottom: 48px;
  }

  .okeReviews[data-oke-container].oke-w,
  div.okeReviews.oke-w {
    margin-inline: 24px !important;
  }

  .okeReviews[data-oke-container] .oke-is-large .oke-w-review,
  .okeReviews[data-oke-container] .oke-is-medium .oke-w-review,
  div.okeReviews .oke-is-large .oke-w-review,
  div.okeReviews .oke-is-medium .oke-w-review {
    flex-flow: column nowrap !important;
  }

  .oke-w-header-content.oke-w-header-content--verticalAlignTop.oke-w-header-content--spaceBetween {
    flex-direction: column;
  }
  .oke-w-filterOption {
    margin-right: 16px !important;
  }
}

/* ooo Okendo Small to Desktop */
/* from 641 to 1024px */
@media (min-width: 641px) and (max-width: 1024px) {
  .oke-w-header::before {
    content: "REVIEWS";
    display: flex;
    justify-content: center;
    font-size: 24px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 33px;
    font-family: "Monument Grotesk Mono", monospace;
    font-weight: 300;
  }

  .oke-w-breakdownModule.oke-w-breakdownModule--contain {
    display: none !important;
  }

  .oke-w-ratingAverageModule.oke-w-ratingAverageModule--oneLine.oke-w-ratingAverageModule--left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .okeReviews.oke-w {
    padding-top: 48px !important;
    margin-inline: 44px;
  }

  .okeReviews.oke-w * {
    font-family: "Monument Grotesk Mono";
    font-weight: 300;
  }

  .oke-w-review-side {
    padding-top: 12px;
  }

  .oke-w-review-main {
    padding-top: 12px !important;
  }

  .oke-reviewContent-date {
    display: none;
  }

  .oke-w-ratingAverageModule-count {
    color: #28282a !important;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: left;
    margin-top: 18px;
  }

  .oke-w-recommendsModule {
    display: none;
  }

  button#filter-toggle {
    background: #d6d6d673;
    min-height: 56px;
    border-radius: 12px;
  }

  .oke-w-controls {
    display: none;
  }

  .oke-w-header-content-block {
    margin-bottom: 48px;
  }

  .oke-w-reviewer-avatar {
    display: none;
  }

  span.oke-helpful-label {
    color: #b4b4b4;
  }

  button.oke-helpful-vote-button.oke-helpful-vote-button--positive {
    color: #b4b4b4 !important;
  }

  button#filter-toggle {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 8px;
    font-weight: 700;
  }

  span.oke-button-text {
    font-family: "Monument Grotesk Bold" !important;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.08em;
    text-align: center;
  }

  span.oke-icon::after {
    content: " " !important;
    /*background-image: url("https://cdn.shopify.com/s/files/1/0781/1314/5147/files/carret-down.png?v=1709324905");*/
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.08em;
    text-align: center;
    background-position: center;
  }

  span.oke-icon::before {
    /* display: none; */
    height: 0;
    width: 0;
  }

  .okeReviews[data-oke-container] .oke-w-reviews-filterToggle .oke-icon:before,
  div.okeReviews .oke-w-reviews-filterToggle .oke-icon:before {
    display: none !important;
  }

  label.oke-w-filterOption-label {
    background-color: #fafaf9 !important;
  }

  .oke-w-filter-title {
    font-family: "Monument Grotesk Mono", monospace;
    font-size: 12px;
    font-weight: 400 !important;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 16px !important;
  }

  .oke-w-filters {
    margin-top: 28px;
  }

  .oke-w-review-side {
    background: none !important;
  }

  .oke-w-reviews-controls {
    display: none !important;
  }

  strong.oke-w-reviewer-name {
    font-family: "Monument Grotesk Bold" !important;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.08em;
    text-align: left;
  }

  .oke-w-review-recommendation {
    display: none;
  }

  .okeReviews[data-oke-container] .oke-w-review-footer,
  div.okeReviews .oke-w-review-footer {
    justify-content: flex-end !important;
  }

  li.oke-w-reviews-list-item {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 36px !important;
  }

  .oke-attrBar-title {
    display: none;
  }

  /* sizing */
  .oke-barDefault-background,
  .oke-barDefault-background-shading {
    background-color: #d9d9d9 !important;
  }
  .okeReviews[data-oke-container] .oke-barDefault-marker .oke-barDefault-dot,
  div.okeReviews .oke-barDefault-marker .oke-barDefault-dot {
    background-color: #28282a !important;
    width: 8px !important;
    height: 8px !important;
  }
  .oke-barDefault-dot {
    background-color: #d9d9d9 !important;
    width: 5px !important;
    height: 5px !important;
  }
  .oke-barDefault-dot.oke-barDefault-dot--center {
    width: 5px !important;
    height: 5px !important;
    display: block !important;
    border-radius: 50% !important;
    z-index: 2 !important;
    top: unset !important;
    border: none !important;
  }

  span.oke-attrBar-labels-label {
    font-size: 10px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
    letter-spacing: 0.1em !important;
    color: #28282a !important;
  }

  .oke-reviewsTab.oke-reviewsTab--small-top-left {
    display: none;
  }

  .oke-reviewContent-title.oke-title {
    margin-top: 17px !important;
  }

  .oke-product-details {
    display: none;
  }

  a.oke-product-thumbnail {
    display: none;
  }

  .oke-w-reviews-footer .okeReviews[data-oke-container] .oke-button,
  .oke-w-reviews-footer div.okeReviews .oke-button {
    background-color: #eceae5;
    min-height: 56px;
    min-width: 212px;
    border-radius: 12px;
  }

  span.oke-showMore-button-text.oke-button-text::after {
    content: "";
    margin-left: 8px;
    position: absolute;
    background-image: url(https://cdn.shopify.com/s/files/1/0781/1314/5147/files/7bcd5b5468a2b33ad42739e942081da0.svg?v=1709819955);
    height: 8px;
    width: 17px;
    background-repeat: no-repeat;
    top: calc(50% - 4px);
    right: 24px;
  }

  .oke-button-text:hover {
    cursor: pointer;
  }

  .okeReviews[data-oke-container].oke-w,
  div.okeReviews.oke-w {
    margin-inline: 48px !important;
    max-width: unset !important;
  }

  .oke-w-header::before {
    content: "REVIEWS";
    display: flex;
    justify-content: center;
    font-size: 24px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 33px;
    font-family: "Monument Grotesk Mono", monospace;
    font-weight: 300;
  }

  .oke-w-breakdownModule.oke-w-breakdownModule--contain {
    display: none !important;
  }

  .oke-w-ratingAverageModule.oke-w-ratingAverageModule--oneLine.oke-w-ratingAverageModule--left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .okeReviews.oke-w {
    padding-top: 48px !important;
    margin-inline: 44px;
  }

  .okeReviews.oke-w * {
    font-family: "Monument Grotesk Mono";
    font-weight: 300;
  }

  .oke-w-review-side {
    padding-top: 12px;
  }

  .oke-w-review-main {
    padding-top: 12px !important;
  }

  .oke-reviewContent-date {
    display: none;
  }

  .oke-w-ratingAverageModule-count {
    color: #28282a !important;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: left;
    margin-top: 18px;
  }

  .oke-w-recommendsModule {
    display: none;
  }

  button#filter-toggle {
    background: #d6d6d673;
    min-height: 56px;
    border-radius: 12px;
  }

  .oke-w-controls {
    display: none;
  }

  .oke-w-header-content-block {
    margin-bottom: 48px;
  }

  .oke-w-reviewer-avatar {
    display: none;
  }

  span.oke-helpful-label {
    color: #b4b4b4;
  }

  button.oke-helpful-vote-button.oke-helpful-vote-button--positive {
    color: #b4b4b4 !important;
  }

  button#filter-toggle {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 8px;
    font-weight: 700;
  }

  span.oke-button-text {
    font-family: "Monument Grotesk Bold" !important;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.08em;
    text-align: center;
  }

  span.oke-icon::after {
    content: " " !important;
    /*background-image: url("https://cdn.shopify.com/s/files/1/0781/1314/5147/files/carret-down.png?v=1709324905");*/
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.08em;
    text-align: center;
    background-position: center;
  }

  span.oke-icon::before {
    /* display: none; */
    height: 0;
    width: 0;
  }

  .okeReviews[data-oke-container] .oke-w-reviews-filterToggle .oke-icon:before,
  div.okeReviews .oke-w-reviews-filterToggle .oke-icon:before {
    display: none !important;
  }

  label.oke-w-filterOption-label {
    background-color: #fafaf9 !important;
  }

  .oke-w-filter-title {
    font-family: "Monument Grotesk Mono", monospace;
    font-size: 12px;
    font-weight: 400 !important;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 16px !important;
  }

  .oke-w-filters {
    margin-top: 28px;
  }

  .oke-w-review-side {
    background: none !important;
  }

  .oke-w-reviews-controls {
    display: none !important;
  }

  strong.oke-w-reviewer-name {
    font-family: "Monument Grotesk Bold" !important;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.08em;
    text-align: left;
  }

  .oke-w-review-recommendation {
    display: none;
  }

  .okeReviews[data-oke-container] .oke-w-review-footer,
  div.okeReviews .oke-w-review-footer {
    justify-content: flex-end !important;
  }

  li.oke-w-reviews-list-item {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 36px !important;
  }

  .oke-attrBar-title {
    display: none;
  }

  /* sizing */
  .oke-barDefault-background,
  .oke-barDefault-background-shading {
    background-color: #d9d9d9 !important;
  }
  .okeReviews[data-oke-container] .oke-barDefault-marker .oke-barDefault-dot,
  div.okeReviews .oke-barDefault-marker .oke-barDefault-dot {
    background-color: #28282a !important;
    width: 8px !important;
    height: 8px !important;
  }
  .oke-barDefault-dot {
    background-color: #d9d9d9 !important;
    width: 5px !important;
    height: 5px !important;
  }
  .oke-barDefault-dot.oke-barDefault-dot--center {
    width: 5px !important;
    height: 5px !important;
    display: block !important;
    border-radius: 50% !important;
    z-index: 2 !important;
    top: unset !important;
    border: none !important;
  }

  span.oke-attrBar-labels-label {
    font-size: 10px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
    letter-spacing: 0.1em !important;
    color: #28282a !important;
  }

  .oke-reviewsTab.oke-reviewsTab--small-top-left {
    display: none;
  }

  .oke-reviewContent-title.oke-title {
    margin-top: 17px !important;
  }

  .oke-product-details {
    display: none;
  }

  a.oke-product-thumbnail {
    display: none;
  }

  .oke-w-reviews-footer .okeReviews[data-oke-container] .oke-button,
  .oke-w-reviews-footer div.okeReviews .oke-button {
    background-color: #eceae5;
    min-height: 56px;
    min-width: 212px;
    border-radius: 12px;
  }

  .oke-w-reviews-footer span.oke-showMore-button-text.oke-button-text::after {
    content: "";
    margin-left: 8px;
    position: absolute;
    background-image: url(https://cdn.shopify.com/s/files/1/0781/1314/5147/files/7bcd5b5468a2b33ad42739e942081da0.svg?v=1709819955);
    height: 8px;
    width: 17px;
    background-repeat: no-repeat;
    top: calc(50% - 4px);
    right: 24px;
  }

  .oke-w-reviews-footer .oke-button-text:hover {
    cursor: pointer;
  }
  .oke-w-filterOption {
    margin-right: 16px !important;
  }
}

/* ooo Okendo Desktop */
@media (min-width: 1025px) {
  .oke-w-header::before {
    content: "REVIEWS";
    display: flex;
    justify-content: center;
    font-size: 24px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 33px;
    font-family: "Monument Grotesk Mono", monospace;
    font-weight: 300;
  }

  .oke-w-breakdownModule.oke-w-breakdownModule--contain {
    display: none !important;
  }

  .oke-w-ratingAverageModule.oke-w-ratingAverageModule--oneLine.oke-w-ratingAverageModule--left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .okeReviews.oke-w {
    padding-top: 48px !important;
    margin-inline: 44px;
  }

  .okeReviews.oke-w * {
    font-family: "Monument Grotesk Mono";
    font-weight: 300;
  }

  .oke-w-review-side {
    padding-top: 12px;
  }

  .oke-w-review-main {
    padding-top: 12px !important;
  }

  .oke-reviewContent-date {
    display: none;
  }

  .oke-w-ratingAverageModule-count {
    color: #28282a !important;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: left;
    margin-top: 18px;
  }

  .oke-w-recommendsModule {
    display: none;
  }

  button#filter-toggle {
    background: #d6d6d673;
    min-height: 56px;
    border-radius: 12px;
  }

  .oke-w-controls {
    display: none;
  }

  .oke-w-header-content-block {
    margin-bottom: 48px;
  }

  .oke-w-reviewer-avatar {
    display: none;
  }

  span.oke-helpful-label {
    color: #b4b4b4;
  }

  button.oke-helpful-vote-button.oke-helpful-vote-button--positive {
    color: #b4b4b4 !important;
  }

  button#filter-toggle {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 8px;
    font-weight: 700;
  }

  span.oke-button-text {
    font-family: "Monument Grotesk Bold" !important;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.08em;
    text-align: center;
  }

  span.oke-icon::after {
    content: " " !important;
    /*background-image: url("https://cdn.shopify.com/s/files/1/0781/1314/5147/files/carret-down.png?v=1709324905");*/
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.08em;
    text-align: center;
    background-position: center;
  }

  span.oke-icon::before {
    /* display: none; */
    height: 0;
    width: 0;
  }

  .okeReviews[data-oke-container] .oke-w-reviews-filterToggle .oke-icon:before,
  div.okeReviews .oke-w-reviews-filterToggle .oke-icon:before {
    display: none !important;
  }

  label.oke-w-filterOption-label {
    background-color: #fafaf9 !important;
  }

  .oke-w-filter-title {
    font-family: "Monument Grotesk Mono", monospace;
    font-size: 12px;
    font-weight: 400 !important;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 16px !important;
  }

  .oke-w-filters {
    margin-top: 28px;
  }

  .oke-w-review-side {
    background: none !important;
  }

  .oke-w-reviews-controls {
    display: none !important;
  }

  strong.oke-w-reviewer-name {
    font-family: "Monument Grotesk Bold" !important;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.08em;
    text-align: left;
  }

  .oke-w-review-recommendation {
    display: none;
  }

  .okeReviews[data-oke-container] .oke-w-review-footer,
  div.okeReviews .oke-w-review-footer {
    justify-content: flex-end !important;
  }

  li.oke-w-reviews-list-item {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 36px !important;
  }

  .oke-attrBar-title {
    display: none;
  }

  /* sizing */
  .oke-barDefault-background,
  .oke-barDefault-background-shading {
    background-color: #d9d9d9 !important;
  }
  .okeReviews[data-oke-container] .oke-barDefault-marker .oke-barDefault-dot,
  div.okeReviews .oke-barDefault-marker .oke-barDefault-dot {
    background-color: #28282a !important;
    width: 8px !important;
    height: 8px !important;
  }
  .oke-barDefault-dot {
    background-color: #d9d9d9 !important;
    width: 5px !important;
    height: 5px !important;
  }
  .oke-barDefault-dot.oke-barDefault-dot--center {
    width: 5px !important;
    height: 5px !important;
    display: block !important;
    border-radius: 50% !important;
    z-index: 2 !important;
    top: unset !important;
    border: none !important;
  }

  span.oke-attrBar-labels-label {
    font-size: 10px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
    letter-spacing: 0.1em !important;
    color: #28282a !important;
  }

  .oke-reviewsTab.oke-reviewsTab--small-top-left {
    display: none;
  }

  .oke-reviewContent-title.oke-title {
    margin-top: 17px !important;
  }

  .oke-product-details {
    display: none;
  }

  a.oke-product-thumbnail {
    display: none;
  }

  .oke-w-reviews-footer .okeReviews[data-oke-container] .oke-button,
  .oke-w-reviews-footer div.okeReviews .oke-button {
    background-color: #eceae5;
    min-height: 56px;
    min-width: 212px;
    border-radius: 12px;
  }

  .oke-w-reviews-footer span.oke-showMore-button-text.oke-button-text::after {
    content: "";
    margin-left: 8px;
    position: absolute;
    background-image: url(https://cdn.shopify.com/s/files/1/0781/1314/5147/files/7bcd5b5468a2b33ad42739e942081da0.svg?v=1709819955);
    height: 8px;
    width: 17px;
    background-repeat: no-repeat;
    top: calc(50% - 4px);
    right: 24px;
  }

  .oke-w-reviews-footer .oke-button-text:hover {
    cursor: pointer;
  }

  .okeReviews[data-oke-container].oke-w,
  div.okeReviews.oke-w {
    margin-inline: 48px !important;
    max-width: unset !important;
  }

  .oke-w-header::before {
    content: "REVIEWS";
    display: flex;
    justify-content: center;
    font-size: 24px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 33px;
    font-family: "Monument Grotesk Mono", monospace;
    font-weight: 300;
  }

  .oke-w-breakdownModule.oke-w-breakdownModule--contain {
    display: none !important;
  }

  .oke-w-ratingAverageModule.oke-w-ratingAverageModule--oneLine.oke-w-ratingAverageModule--left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .okeReviews.oke-w {
    padding-top: 48px !important;
    margin-inline: 44px;
  }

  .okeReviews.oke-w * {
    font-family: "Monument Grotesk Mono";
    font-weight: 300;
  }

  .oke-w-review-side {
    padding-top: 12px;
  }

  .oke-w-review-main {
    padding-top: 12px !important;
  }

  .oke-reviewContent-date {
    display: none;
  }

  .oke-w-ratingAverageModule-count {
    color: #28282a !important;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: left;
    margin-top: 18px;
  }

  .oke-w-recommendsModule {
    display: none;
  }

  button#filter-toggle {
    background: #d6d6d673;
    min-height: 56px;
    border-radius: 12px;
  }

  .oke-w-controls {
    display: none;
  }

  .oke-w-header-content-block {
    margin-bottom: 48px;
  }

  .oke-w-reviewer-avatar {
    display: none;
  }

  span.oke-helpful-label {
    color: #b4b4b4;
  }

  button.oke-helpful-vote-button.oke-helpful-vote-button--positive {
    color: #b4b4b4 !important;
  }

  button#filter-toggle {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 8px;
    font-weight: 700;
  }

  span.oke-button-text {
    font-family: "Monument Grotesk Bold" !important;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.08em;
    text-align: center;
  }

  span.oke-icon::after {
    content: " " !important;
    /*background-image: url("https://cdn.shopify.com/s/files/1/0781/1314/5147/files/carret-down.png?v=1709324905");*/
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.08em;
    text-align: center;
    background-position: center;
  }

  span.oke-icon::before {
    /* display: none; */
    height: 0;
    width: 0;
  }

  .okeReviews[data-oke-container] .oke-w-reviews-filterToggle .oke-icon:before,
  div.okeReviews .oke-w-reviews-filterToggle .oke-icon:before {
    display: none !important;
  }

  label.oke-w-filterOption-label {
    background-color: #fafaf9 !important;
  }

  .oke-w-filter-title {
    font-family: "Monument Grotesk Mono", monospace;
    font-size: 12px;
    font-weight: 400 !important;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 16px !important;
  }

  .oke-w-filters {
    margin-top: 28px;
  }

  .oke-w-review-side {
    background: none !important;
  }

  .oke-w-reviews-controls {
    display: none !important;
  }

  strong.oke-w-reviewer-name {
    font-family: "Monument Grotesk Bold" !important;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.08em;
    text-align: left;
  }

  .oke-w-review-recommendation {
    display: none;
  }

  .okeReviews[data-oke-container] .oke-w-review-footer,
  div.okeReviews .oke-w-review-footer {
    justify-content: flex-end !important;
  }

  li.oke-w-reviews-list-item {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 36px !important;
  }

  .oke-attrBar-title {
    display: none;
  }

  /* sizing */
  .oke-barDefault-background,
  .oke-barDefault-background-shading {
    background-color: #d9d9d9 !important;
  }
  .okeReviews[data-oke-container] .oke-barDefault-marker .oke-barDefault-dot,
  div.okeReviews .oke-barDefault-marker .oke-barDefault-dot {
    background-color: #28282a !important;
    width: 8px !important;
    height: 8px !important;
  }
  .oke-barDefault-dot {
    background-color: #d9d9d9 !important;
    width: 5px !important;
    height: 5px !important;
  }
  .oke-barDefault-dot.oke-barDefault-dot--center {
    width: 5px !important;
    height: 5px !important;
    display: block !important;
    border-radius: 50% !important;
    z-index: 2 !important;
    top: unset !important;
    border: none !important;
  }

  span.oke-attrBar-labels-label {
    font-size: 10px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
    letter-spacing: 0.1em !important;
    color: #28282a !important;
  }

  .oke-reviewsTab.oke-reviewsTab--small-top-left {
    display: none;
  }

  .oke-reviewContent-title.oke-title {
    margin-top: 17px !important;
  }

  .oke-product-details {
    display: none;
  }

  a.oke-product-thumbnail {
    display: none;
  }

  .oke-w-reviews-footer .okeReviews[data-oke-container] .oke-button,
  .oke-w-reviews-footer div.okeReviews .oke-button {
    background-color: #eceae5;
    min-height: 56px;
    min-width: 212px;
    border-radius: 12px;
  }

  .oke-w-reviews-footer span.oke-showMore-button-text.oke-button-text::after {
    content: "";
    margin-left: 8px;
    position: absolute;
    background-image: url(https://cdn.shopify.com/s/files/1/0781/1314/5147/files/7bcd5b5468a2b33ad42739e942081da0.svg?v=1709819955);
    height: 8px;
    width: 17px;
    background-repeat: no-repeat;
    top: calc(50% - 4px);
    right: 24px;
    display: none;
  }

  .oke-w-reviews-footer .oke-button-text:hover {
    cursor: pointer;
  }

  .okeReviews[data-oke-container] .oke-is-large .oke-w-review-side,
  .okeReviews[data-oke-container] .oke-is-medium .oke-w-review-side,
  div.okeReviews .oke-is-large .oke-w-review-side,
  div.okeReviews .oke-is-medium .oke-w-review-side {
    flex-basis: 388px;
  }
  .oke-w-filterOption {
    margin-right: 16px !important;
  }
}

button.oke-showMore-button.oke-button {
  background-color: #eceae5 !important;
  min-height: 56px !important;
  min-width: 212px !important;
  border-radius: 12px !important;
}

label.oke-w-filterOption-label {
  background-color: transparent !important;
  border: 1px solid #b4b4b4;
  min-height: 44px;
  min-width: 44px;
  border-radius: 12px;
}

.okeReviews[data-oke-container] .oke-w-filterOption-label,
div.okeReviews .oke-w-filterOption-label {
  border-radius: 12px !important;
}

.okeReviews[data-oke-container] .oke-w-filter,
div.okeReviews .oke-w-filter {
  margin-top: 23px;
}

.oke-w-header-content-block.oke-w-header-content-block--oneThird.oke-w-header-content-block--left:first-of-type {
  max-width: 160px;
}

.oke-w-header .oke-attrBar-title {
  display: block;
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 18px !important;
  letter-spacing: 1px !important;
  text-align: left;
}

button.oke-w-filter-clear {
  color: #28282a !important;
}

.okeReviews[data-oke-container] .oke-w-filter-clear:before,
div.okeReviews .oke-w-filter-clear:before,
.okeReviews[data-oke-container]
  .oke-w-filterOption-checkbox:checked
  ~ .oke-w-filterOption-label,
div.okeReviews .oke-w-filterOption-checkbox:checked ~ .oke-w-filterOption-label,
.okeReviews[data-oke-container]
  .oke-w-filterOption-checkbox:checked
  ~ .oke-w-filterOption-label
  .oke-w-filterOption-label-star:before,
div.okeReviews
  .oke-w-filterOption-checkbox:checked
  ~ .oke-w-filterOption-label
  .oke-w-filterOption-label-star:before {
  color: #28282a !important;
}

.okeReviews[data-oke-container] .oke-w-selectAttr-item,
div.okeReviews .oke-w-selectAttr-item {
  justify-content: flex-start !important;
}

strong.oke-w-selectAttr-item-title {
  min-width: 132px !important;
}

.oke-helpful-label {
  text-transform: uppercase !important;
}

.oke-helpful-vote {
  transform: translateY(-3px) !important;
}

@media (max-width: 768px) {
  .okeReviews[data-oke-container] .oke-w-review-footer,
  div.okeReviews .oke-w-review-footer {
    justify-content: flex-start !important;
  }
}

.oke-helpful {
  text-align: left !important;
}

.okeReviews[data-oke-container] .oke-modal-close,
div.okeReviews .oke-modal-close {
  top: 7px !important;
  right: 5px !important;
  filter: invert(1) !important;
}

.oke-modal-content {
  border-radius: 16px !important;
}

.oke-mediaGallery-slider {
  border-top-left-radius: 16px !important;
  border-bottom-left-radius: 16px !important;
}
@media (max-width: 64rem) {
  .oke-w-header-content.oke-w-header-content--verticalAlignTop.oke-w-header-content--spaceBetween
    * {
    max-width: 330px;
  }
}

span.oke-helpful-label {
  color: #000000 !important;
}

button.oke-helpful-vote-button.oke-is-voted * {
  color: #000000 !important;
}

button.oke-helpful-vote-button * {
  color: #000000 !important;
}

.okeReviews[data-oke-container] .oke-helpful-vote-button,
div.okeReviews .oke-helpful-vote-button * {
  color: #000000 !important;
}

.oke-mediaGallery-slider {
  background: white !important;
}

img.oke-media-image {
  background-color: #ffffff !important;
}

.okeReviews[data-oke-container] .oke-helpful-vote-button--positive:before,
div.okeReviews .oke-helpful-vote-button--negative:before,
.okeReviews[data-oke-container] .oke-helpful-vote-button--positive:before,
div.okeReviews .oke-helpful-vote-button--positive:before {
  color: inherit !important;
}

.okeReviews[data-oke-container] .oke-modal .oke-mediaGallery-nav,
div.okeReviews .oke-modal .oke-mediaGallery-nav {
  background-color: #fff !important;
}

.okeReviews[data-oke-container] .oke-modal .oke-mediaGallery-nav-button,
div.okeReviews .oke-modal .oke-mediaGallery-nav-button {
  background-color: #ffffff !important;
}

.okeReviews[data-oke-container] .oke-w-filter,
div.okeReviews .oke-w-filter {
  margin-top: 40px !important;
}

.ra-product-main__inner {
  @media breakpoint(lg) {
    padding-top: 13rem;
    padding-bottom: 6rem;
  }
}

.ra-product-bundle__items {
  &::-webkit-scrollbar {
    display: none;
    width: 0;
  }

  /*&::-webkit-scrollbar-track {*/
  /*  background: transparent;*/
  /*}*/
  /*&::-webkit-scrollbar-thumb {*/
  /*  border-radius: 10px;*/
  /*  background: var(--surfaces-dark, linear-gradient(0deg, rgba(0, 0, 0, .08) 0%, rgba(0, 0, 0, .08) 100%), rgba(214, 214, 214, .45));*/
  /*}*/

  .ra-input__wrapper .ra-input__control,
  .ra-input__wrapper .ra-icon {
    color: var(--white);
  }
}
