.ra-main-product {
  .product-media-gallery {
    .ra-gallery-carousel-badge {
      position: absolute;
      z-index: 10;
      top: var(--pdp-badge-top-position, 211px);
      bottom: unset;
      left: 20px;
      font-family: var(--font-family-primary);
      letter-spacing: 1.2px;
      font-size:var(--font-size-xs) ;
      background: var(--color-primary-800);
      display: flex;
      align-items: center;
      padding-top: 0.3rem!important;
      text-transform: uppercase;
    }
  }
}

.ra-main-product--first-color .ra-product-form__options-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 48rem) {
  .ra-main-product {
    .product-media-gallery {
      .ra-gallery-carousel-badge {
        top: unset;
        bottom: 40px;
      }
    }
  }
}

@media (min-width: 64rem) {
  .ra-main-product {
    .product-media-gallery {
      .ra-gallery-carousel-badge {
        top: unset;
        bottom: 20px;
      }
    }
  }
}

@media (max-width: 63.9375rem) {
  .ra-main-product .ra-product-form__compare_price {
    color: var(--stroke-primary);
  }
}
