.ra-gallery-carousel .ra-carousel__pagination {
  position: absolute;
  z-index: 1;
  right: 25px;
  top: 50%;
  left: auto;
  bottom: auto;
  transform: translateY(-50%);
  width: auto;
  display: flex;
  flex-direction: column;

  @media breakpoint(lg) {
    left: 25%;
    right: auto;
    bottom: 36px;
    top: auto;
    transform: translateX(-75%);
    display: block;
  }
}

.ra-gallery-carousel .ra-carousel__pagination .swiper-pagination-bullet {
  background: var(--slide-nav-color);
  width: 6px;
  height: 6px;
  margin: 5px 0;

  @media breakpoint(lg) {
    margin: 0 5px;
  }
}

.ra-gallery-carousel .ra-iframe--vimeo {
  height: 100%;
  background: var(--black);
}

.ra-gallery-carousel-badge {
  z-index: 10;
  bottom: 20px;
  padding-top: 0.3rem !important;
  left:20px;
  letter-spacing: 1.2px;
  font-size:var(--font-size-xs) ;
  background: var(--color-primary-800);

  @media breakpoint(sm-max) {
    bottom:100px
  }
}

.product-media-gallery__primary:not(.swiper-initialized) {
  display: none;
}

.product-media-gallery__primary.swiper-initialized + .ra-gallery-carousel-preloader {
  display: none;
}
