.ra-badge--notification {
  height: auto;

  &.ra-badge--xs,
  &.ra-badge--sm {
    height: auto;
  }

  &.ra-badge--lg {
    height: auto;
  }
}

.ra-badge--standard {
  height: auto;

  &.ra-badge--xs,
  &.ra-badge--sm {
    height: auto;
  }

  &.ra-badge--lg {
    height: auto;
  }
}
