/*
  inherits style from @bva/ui-shared/styles/components.css
  overriding CSS var for colors only
*/

.ra-button {
  border-radius: 12px;
  transition: all 0.2s linear;
  outline-offset: 2px;
  outline-width: 1px;
  outline-style: solid;
  outline-color: transparent;
  --button-display: inline-flex;
  border: none;
  font-family: var(--font-family-secondary);
  font-size: 16px;
  font-style: normal;

  &--lg {
    height: 56px;
    padding: 0 24px;
  }
}

.ra-button--primary {
  /*@apply text-text-inverse-primary;*/
  /*border-radius: var(--corner-radii-corner-s, 12px);*/
  /*background: var(--background-inverse-primary, #eceae5);*/
  --button-background: var(--btn-primary-bg-default);
  --button-background-interact: var(--btn-primary-bg-hover);
  --button-border-color: var(--btn-primary-border-default);
  --button-border-color-interact: var(--btn-primary-border-hover);
  --button-color: var(--btn-primary-text-default);

  color: var(--btn-primary-text-default);
  background-color: var(--btn-primary-bg-default);
  border: 1px solid var(--btn-primary-border-default);

  &:hover {
    --button-color: var(--btn-primary-text-hover);

    color: var(--btn-primary-text-hover);
    background-color: var(--btn-primary-bg-hover);
    border: 1px solid var(--btn-primary-border-hover);
  }

  &.hover {
    --button-color: var(--btn-primary-text-hover);
    --button-background: var(--btn-primary-bg-hover);
    --button-border-color: var(--btn-primary-border-hover);
  }

  &:focus,
  &.focus {
    outline-color: var(--btn-primary-outline-color);
  }

  /*&:hover,*/
  /*&.hover,*/
  /*&:focus,*/
  /*&.focus {*/
  /*  @apply text-text-inverse-primary outline-none;*/
  /*  background: var(--background-inverse-secondary, rgba(236, 234, 229, 0.75));*/
  /*}*/

  /*&:disabled,*/
  /*&.disabled {*/
  /*  @apply opacity-50 pointer-events-none;*/
  /*}*/
}

.ra-button--secondary {
  /*background: var(*/
  /*  --surfaces-dark,*/
  /*  linear-gradient(0deg, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.08) 100%),*/
  /*  rgba(214, 214, 214, 0.45)*/
  /*);*/
  /*background-blend-mode: luminosity, color-burn;*/
  /*backdrop-filter: blur(50px);*/
  /*@apply text-text-inverse-primary;*/

  /*&:hover,*/
  /*&.hover {*/
  /*  background: var(*/
  /*    --surfaces-dark-hover,*/
  /*    linear-gradient(0deg, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0.04) 100%),*/
  /*    rgba(214, 214, 214, 0.22)*/
  /*  );*/
  /*  background-blend-mode: luminosity, color-burn;*/
  /*  backdrop-filter: blur(50px);*/
  /*  @apply text-text-inverse-primary;*/
  /*}*/

  /*&:focus,*/
  /*&.focus {*/
  /*  @apply outline-none;*/
  /*}*/

  /*&:disabled,*/
  /*&.disabled {*/
  /*  @apply opacity-30 pointer-events-none;*/
  /*}*/
  --button-background: var(--btn-secondary-bg-default);
  --button-background-interact: var(--btn-secondary-bg-hover);
  --button-border-color: var(--btn-secondary-border-default);
  --button-border-color-interact: var(--btn-secondary-border-hover);
  --button-color: var(--btn-secondary-text-default);

  color: var(--btn-secondary-text-default);
  background-color: var(--btn-secondary-bg-default);
  border: 1px solid var(--btn-secondary-border-default);

  &:hover {
    --button-color: var(--btn-secondary-text-hover);

    color: var(--btn-secondary-text-hover);
    background-color: var(--btn-secondary-bg-hover);
    border: 1px solid var(--btn-secondary-border-hover);
  }

  &.hover {
    --button-color: var(--btn-secondary-text-hover);
    --button-background: var(--btn-secondary-bg-hover);
    --button-border-color: var(--btn-secondary-border-hover);
  }

  &:focus,
  &.focus {
    outline-color: var(--btn-secondary-outline-color);
  }
}

.ra-button--tertiary {
  text-decoration: underline;
  --button-background: var(--btn-tertiary-bg-default);
  --button-background-interact: var(--btn-tertiary-bg-hover);
  --button-border-color: var(--btn-tertiary-border-default);
  --button-border-color-interact: var(--btn-tertiary-border-hover);
  --button-color: var(--btn-tertiary-text-default);

  color: var(--btn-tertiary-text-default);
  background-color: var(--btn-tertiary-bg-default);
  border: 1px solid var(--btn-tertiary-border-default);

  &:hover {
    --button-color: var(--btn-tertiary-text-hover);

    color: var(--btn-tertiary-text-hover);
    background-color: var(--btn-tertiary-bg-hover);
    border: 1px solid var(--btn-tertiary-border-hover);
  }

  &.hover {
    --button-color: var(--btn-tertiary-text-hover);
    --button-background: var(--btn-tertiary-bg-hover);
    --button-border-color: var(--btn-tertiary-border-hover);
  }

  &:focus,
  &.focus {
    outline-color: var(--btn-tertiary-outline-color);
  }
}

.ra-split-button__alt-action {
  svg {
    width: 11px;
  }
}

/* Link Buttons fixes */
.ra-link {
  text-decoration: underline;
  color: inherit;

  &:visited,
  &:active {
    color: inherit;
  }

  &.ra-button--lg {
    @apply text-[20px] p-0 underline-offset-2;

    .ra-icon {
      @apply w-[7px] h-[12px] !important;
    }
  }
  &.ra-button--md {
    @apply text-lg p-0;

    .ra-icon {
      @apply w-[7px] h-[12px] !important;
    }
  }
  &.ra-button--sm {
    @apply text-base p-0;

    .ra-icon {
      @apply w-[5px] h-[9px] !important;
    }
  }
  &.ra-button--xs {
    @apply text-xs p-0;

    .ra-icon {
      @apply w-[5px] h-[9px] !important;
    }
  }

  &.ra-button--primary {
    @apply text-grey-900;

    &:hover,
    &.hover {
      @apply text-primary-800;
    }

    &:focus,
    &.focus {
      @apply text-tertiary-300;
    }
  }

  &.ra-button--secondary {
    @apply text-white;

    &:hover,
    &.hover {
      @apply text-tertiary-600;
    }

    &:focus,
    &.focus {
      @apply text-secondary-800;
    }
  }

  &.ra-button--primary,
  &.ra-button--secondary {
    &[disabled],
    &[disabled]:hover {
      @apply text-grey-300;
    }
  }

  &--arrow {
    @apply no-underline;

    &.ra-button--primary {
      &:focus,
      &.focus {
        @apply text-primary-800 border-t-0 border-r-0 border-l-0 border-b-2 border-solid border-primary-800;
      }
    }

    &.ra-button--secondary {
      &:focus,
      &.focus {
        @apply border-t-0 border-r-0 border-l-0 border-b-2 border-solid border-secondary-800;
      }
    }

    .ra-icon {
      @apply ml-5 mr-1;
    }
  }
}

[data-vue-root="CartPage"] {
  .ra-quantity-selector__button--plus:disabled {
    opacity: 0.4;
  }
}
