.ra-carousel {


  &__details {
    p {
      color: var(--text-primary);
      text-transform: capitalize;

      @media breakpoint(lg) {
        color: var(--text-primary);
      }
    }
  }

  .ra-product-tile__price span,
  .ra-product-tile__name {
    color: var(--text-primary);

    @media breakpoint(lg) {
      color: var(--text-primary);
    }
  }

  .swiper-pagination-bullet {
    width: 4px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.75);;
    margin: 0 !important;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--black);
  }

  .ra-content-tile__details {
    @apply p-4 md:p-6;
  }
  .ra-content-tile__copy {
    position: unset;
  }
  .ra-content-tile__title {
    @apply absolute top-0 left-0 w-full h-full flex-col justify-center items-center;

    p, li {
      font-family: var(--font-family-primary);
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: 100%;
      letter-spacing: 1.68px;
      text-transform: uppercase;

      @media breakpoint(md) {
        font-size: 32px;
      }
    }

    ul,
    ol {
      list-style: none;
      padding-left: 40px;
    }
  }

  .ra-content-tile__description {
    font-family: var(--font-family-primary);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin: 0;

    @media breakpoint(md) {
      font-size: 16px;
    }
  }

  .ra-button {
    background: none;
    color: var(--component-fg-color);

    &:hover {
      color: var(--component-fg-color)
    }
  }
}