.ra-pagination {
  &__item {
    color: var(--text-inverse-primary, #28282a);
    text-align: center;
    font-family: var(--font-family-secondary);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 16px */
    letter-spacing: 1.28px;
  }
  &__item--number {
    border-radius: 12px;
    background: var(
      --surfaces-light,
      linear-gradient(
        0deg,
        rgba(94, 94, 94, 0.18) 0%,
        rgba(94, 94, 94, 0.18) 100%
      ),
      rgba(255, 255, 255, 0.06)
    );
    background-blend-mode: color-dodge, lighten;
    backdrop-filter: blur(50px);

    &:hover {
      background-color: var(--background-inverse-primary, #eceae5);
      color: var(--text-inverse-primary, #28282a);
    }
  }

  &__item--current {
    background-color: var(--background-inverse-primary, #eceae5);
  }

  span.ra-pagination__item {
    background: none;
  }
}
