.ra-tag {
  @apply relative p-md bg-grey text-text-inverse-primary rounded-[9px] inline-flex align-middle justify-between gap-x-sm uppercase text-xs leading-3 font-normal tracking-[1px];
  background-blend-mode: luminosity, color-burn;
  backdrop-filter: blur(50px);

  span {
    @apply flex align-middle flex-col justify-center;
  }

  &__icon svg {
    @apply h-[14px];
  }

  &::after {
    @apply absolute w-3 h-3 bottom-[-6px] left-1/2 -ml-[3px] rotate-45 border-r-[6px] border-b-[6px] border-t-[6px] border-l-[6px] border-grey border-l-transparent border-t-transparent;
    content: ' ';
    border-left-color: transparent;
    border-top-color: transparent;
    background-blend-mode: luminosity, color-burn;
    backdrop-filter: blur(50px);
  }
}
