.ra-wysiwyg {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1.4rem;
  }

  p {
    margin-bottom: 64px;
  }

  img,
  figure {
    width: 100%;
  }

  a {
    text-decoration: underline;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 22px;
  }
}
