body div .recommendation-modal {
  &__container {
    border-radius: 42px;
    background-color: unset !important;
    border: 1px solid var(--stroke-secondary, rgba(236, 234, 229, 0.25));
    background: var(--surfaces-glass, rgba(26, 26, 26, 0.3));
    background-blend-mode: luminosity;
    backdrop-filter: blur(50px);
  }

  &__message {
    @apply text-stroke-primary font-primary uppercase !important;
  }

  &__message--align-start {
    @apply text-stroke-primary font-primary uppercase !important;
  }

  &__selector-wrapper--flag {
    position: relative !important;
    background-color: unset !important;


    &::after {
      @apply absolute right-5 top-[32%] w-[11px] h-[11px] z-50 rotate-45 border-2 border-t-transparent border-l-transparent border-r-stroke-primary border-b-stroke-primary ;
      content: ""
    }
  }

  &__selector--flag {
    @apply bg-bg-inverse-secondary text-stroke-primary rounded-lg border border-transparent border-solid relative !important;
    background: var(
      --surfaces-light,
      linear-gradient(
        0deg,
        rgba(94, 94, 94, 0.18) 0%,
        rgba(94, 94, 94, 0.18) 100%
      ),
      rgba(255, 255, 255, 0.06)
    ) !important;
    background-blend-mode: color-dodge, lighten !important;
    -webkit-backdrop-filter: blur(50px) !important;
    backdrop-filter: blur(50px) !important;
    font-family: var(--font-family-secondary) !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 100% !important;
    letter-spacing: 1.12px !important;
    min-height: 44px !important;
    transition-property: background-color, border-color, color !important;
    transition-duration: var(--transition-duration-default) !important;
    transition-timing-function: var(--transition-function-default) !important;

    &:hover {
      @apply border-stroke-inverse-primary !important;
    }

    &:focus-visible {
      outline: none !important;
    }
  }

  &__benefits {
    li {
      @apply text-stroke-primary font-primary list-none !important;
    }
  }

  &__button {
    border-radius: 12px !important;
    transition: all 0.2s ease-in-out !important;
    outline-offset: 2px !important;
    outline-width: 1px !important;
    outline-style: solid !important;
    outline-color: transparent !important;
    --button-display: inline-flex !important;
    border: none !important;
    font-family: var(--font-family-secondary) !important;
    font-size: 16px !important;
    font-style: normal !important;
    color: var(--text-inverse-primary) !important;
    background: var(--background-inverse-primary, #ECEAE5) !important;
    height: 56px !important;
    padding: 0 24px !important;
    letter-spacing: 1.28px !important;
    text-transform: lowercase !important;

    &:focus {
      outline: none !important;
    }

    &:hover,
    &:active {
      color: var(--text-inverse-primary) !important;
      outline: 2px solid transparent !important;
      outline-offset: 2px !important;
      border-radius: var(--corner-radii-corner-s, 12px) !important;
      background: var(--background-inverse-secondary, rgba(236, 234, 229, .75)) !important;
    }
  }

  &__button--minimal {
    font-family: var(--font-family-secondary) !important;
    letter-spacing: 1.2px !important;
    color: var(--text-secondary) !important;
    text-transform: lowercase !important;

    &:focus {
      outline: none !important;
    }
  }

  &__close-button {
    @apply mt-5 mr-5 w-11 h-11 flex items-center justify-center !important;
    border-radius: var(--full, 360px) !important;
    background: var(
      --surfaces-light,
      linear-gradient(
        0deg,
        rgba(94, 94, 94, 0.18) 0%,
        rgba(94, 94, 94, 0.18) 100%
      ),
      rgba(255, 255, 255, 0.06)
    ) !important;
    background-blend-mode: color-dodge, lighten !important;
    backdrop-filter: blur(50px) !important;

    &:hover,
    &:active {
      @apply w-11 h-11 !important;
      background: var(--surfaces-light-hover, rgba(70, 70, 70, .3)) !important;
    }

    &:focus {
      @apply w-11 h-11 !important;
      background: var(--surfaces-light-hover, rgba(70, 70, 70, .3)) !important;
      outline: none !important;
    }

    svg {
      path {
        fill: var(--stroke-primary) !important;
      }
    }
  }
}
