@import "../helpers/_mixins";

.business-banners {
  background-color: var(--bg-color);
  padding: 0 0 60px;
  overflow: hidden;

  @include mq($small-max) {
    padding: 0 0 40px;
  }

  .swiper-slide {
    height: auto;
  }

  .page-width {
    max-width: 1010px;
  }
}

.business-banners__header-heading {
  margin: 0 0 20px;
}

.business-banners__card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 40px 33px 40px 40px;
  border: 1px solid var(--color-border);
  border-radius: 10px;

  @include mq($small-max) {
    padding: 30px 29px 27px 27px;
  }
}

.business-banners__card-image {
  width: 100%;
  padding-top: 78%;
  margin: 0 0 20px;

  @include mq($small-max) {
    padding-top: 76%;
  }

  &:empty {
    display: block;
  }
}

.business-banners__card-title {
  margin: 0 0 20px;
}

.business-banners__card-description {
  font-weight: 300;
  margin: 0 0 20px;

  @include mq($small-max) {
    font-size: 20px;
    line-height: 26px;
  }
}

.business-banners__card-link {
  margin: auto 0 0;
  width: 40px;
  height: 40px;
  border: 2px solid var(--color-heading);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: var(--color-link-text-hover);
    border: 2px solid var(--color-link-text-hover);
  }

  @include mq($small-max) {
    width: 30px;
    height: 30px;

    svg {
      width: 15px;
    }
  }
}

.business-banners__slider {
  &.page-width {
    overflow: visible;
  }
  .swiper {
    overflow: visible;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: relative;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
  }

  .swiper-button-prev {
    margin: 0 5px 0 0;
  }

  .swiper-button-next {
    margin: 0 0 0 5px;
  }
}
