.custom-apps {
  background-color: var(--section-apps-bg-color);
  color: var(--section-apps-color);
}

.custom-apps__wrapper {
  margin: 0 auto;
  padding-top: var(--section-apps-mobile-padding-top);
  padding-bottom: var(--section-apps-mobile-padding-bottom);
  padding-left: var(--section-apps-mobile-padding-left);
  padding-right: var(--section-apps-mobile-padding-right);

  @media (min-width: 30rem) {
    padding-top: var(--section-apps-desktop-padding-top);
    padding-bottom: var(--section-apps-desktop-padding-bottom);
    padding-left: var(--section-apps-desktop-padding-left);
    padding-right: var(--section-apps-desktop-padding-right);
  }
}