@import "../../scss-inline/hero";

.hero {
  padding: 80px 130px;
  text-align: var(--text-position, unset);
  min-height: var(--desktop-section-height, 600px);

  @include mq($small-max) {
    justify-content: center;
    padding: 50px;
    align-items: center;
    text-align: center;
    min-height: var(--mobile-section-height, 600px);
  }

  .hero__content-block {
    text-transform: unset;
  }
}
