@import "../helpers/_mixins";

.compare-products {
  padding: 80px 0;
  background-color: var(--bg-color);
  overflow: hidden;

  @include mq($medium-min) {
    .page-width {
      width: 90%;
      max-width: 1980px;
    }
  }

  @include mq($medium-max) {
    .page-width {
      padding: 0;
    }
  }

  @include mq($small-max) {
    padding: 40px 0;
  }
}

.compare-products__heading {
  margin: 0 0 40px;

  @include mq($medium-max) {
    padding: 0 80px;
  }

  @include mq($small-max) {
    padding: 0 20px;
  }
}

.compare-products__wrapper {
  @include mq($medium-max) {
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }
}

.compare-products__list-heading {
  padding: 0 0 10px;
  width: calc(25% - 15px);
  border-bottom: 1px solid var(--color-heading);
  text-align: center;

  @include mq($medium-max) {
    width: calc(45vw - 20px);
  }

  @include mq($small-max) {
    width: calc(71vw - 20px);
  }
}

.compare-products__list {
  @include mq($medium-max) {
    width: fit-content;
    padding: 0 80px;
  }

  @include mq($small-max) {
    padding: 0 20px;
  }
}

.compare-products__list-item {
  position: relative;
  padding: 0 0 40px;
  border-bottom: 1px solid var(--color-border);

  &:last-of-type {
    border: none;
    padding: 0;
  }

  @include mq($small-max) {
    padding: 0 0 20px;

    &:first-of-type {
      border: none;
    }
  }
}

.compare-products__list-item-heading {
  padding: 20px 0;
  margin: 0;
}

.compare-products__list-item-heading--concern {
  padding: 20px 0 10px;
  margin: 0;
}

.compare-products__list-item-heading--type {
  padding: 0 0 10px;
  margin: 0;
}

.compare-products__list-cards,
.compare-products__list-descriptions,
.compare-products__list-concerns,
.compare-products__list-types {
  display: flex;
  margin: 0 -10px;
}

.compare-products__list-cards .product-card,
.compare-products__description,
.compare-products__skin-concerns,
.compare-products__skin-types {
  height: auto;
  width: 25%;
  padding: 0 10px;
  flex-shrink: 0;

  @include mq($medium-max) {
    width: 45vw;
  }

  @include mq($small-max) {
    width: 71vw;
  }
}

.compare-products__list-cards {
  .product-card {
    padding: 10px 10px 0 10px;
  }
}

.compare-products__skin-concern {
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
}

.compare-products__skin-concern-color {
  width: 20px;
  height: 20px;
  margin: 0 20px 0 0;
  background-color: var(--concern-color);
}

.compare-products__skin-types {
  display: flex;
  flex-direction: column;

  a, span {
    margin: 0 0 10px;
  }

  a {
    text-decoration: underline;
  }
}
