@import "../helpers/mixins";

.contact-form__inner {
  display: flex;
  justify-content: space-between;

  @include mq($small-max) {
    flex-direction: column;
  }

  .form-error,
  .form-success {
    margin-bottom: 20px;
  }

  .form-input,
  .form-textarea {
    padding: 10px 15px;
  }

  .form__select {
    padding: 9px 30px 9px 15px;
  }

  custom-select {
    padding: 10px 15px;

    &.error {
      border: 1px solid var(--color-error);
      border-radius: 5px;
    }

    .form-select__btn svg {
      right: 20px;

      &:hover {
        color: var(--color-accent-primary);
      }
    }
  }

  .form-select-alternative .form-select__dropdown {
    position: absolute;
    padding: 0 15px 10px;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 210px;
  }
}

.contact-form {
  display: block;
  padding: 60px 0;

  @include mq($small-max) {
    padding: 20px 0 0;
  }
}

.contact-form__info {
  width: 40%;
  max-width: 360px;

  @include mq($small-max) {
    width: 100%;
    max-width: 100%;
  }
}

.contact-form__wrapper {
  width: 55%;
  max-width: 455px;

  @include mq($small-max) {
    width: 100%;
    max-width: 100%;
    padding-bottom: 40px;
  }
}

.contact-form__info-label {
  margin-bottom: 20px;
  display: block;
}

.contact-form__info-item {
  margin-bottom: 40px;

  @include mq($small-max) {
    margin-bottom: 0;
    padding: 40px 0;
    border-top: 1px solid var(--color-border);
  }
}

.contact-form__heading {
  margin-bottom: 20px;
}

.custom-form__block--group {
  display: flex;
}

.contact-form__bottom-text {
  padding-bottom: 0;
}

.popup-contact {
  max-height: none;
  height: auto;
  max-width: 1000px;

  @include mq($small-max) {
    height: 100%;
  }

  .contact-form__inner {
    padding: 0 80px;

    @include mq($medium-max) {
      padding: 0 20px;
      justify-content: flex-start;
    }
  }

  .contact-form__heading {
    text-transform: unset;
  }

  .contact-form-popup {
    max-height: 100%;
    overflow-y: auto;
    position: relative;

    @include mq($small-max) {
      padding: 50px 0;
    }
  }

  .form-field__required-label {
    display: none;
  }

  .modal-close {
    position: absolute;
    right: 20px;
    top: 20px;

    @include mq($small-max) {
      right: 10px;
      top: 10px;
    }
  }

  .contact-form__wrapper {
    width: 100%;
    max-width: 100%;

    @include mq($small-max) {
      padding-bottom: 0;
    }
  }

  .contact-form__form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form-field {
    width: 48%;

    @include mq($small-max) {
      width: 100%;
    }
  }

  .form-field__submit,
  .form-field__checkbox {
    width: 100%;
    position: relative;

    a {
      text-decoration: underline;
    }
  }
}
