@import "../helpers/_mixins";

.icon-with-text {
  background-color: var(--bg-color);
  color: var(--color);
  padding: 80px 0;

  @include mq($small-max) {
    padding: 40px 0;
  }
}

.icon-with-text__header {
  margin: 0 auto 40px;
}

.icon-with-text__header-wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  @include mq($medium-max) {
    margin: 0 0 20px;
    flex-direction: column;
    align-items: flex-start;
  }
}

.icon-with-text__header-heading {
  margin: 0 0 40px;

  @include mq($small-max) {
    margin: 0 0 15px;
  }
}

.icon-with-text__header-subheading {
  margin: 0;
  flex-grow: 1;
  text-transform: none;
  font-weight: 300;

  @include mq($medium-max) {
    max-width: 90%;
  }
}

.icon-with-text__header-btn {
  margin: 25px 0 0;

  @include mq($medium-max) {
    margin: 20px 0 0;
  }
}

.icon-with-text__block {
  padding: 40px 35px;
  height: 100%;
  border: 1px solid var(--color-btn-primary-border-inactive);
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq($small-max) {
    padding: 25px 35px;
  }
}

.icon-with-text__block-icon-empty {
  margin: 0 auto 25px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--color-accent-secondary);

  &:empty {
    display: block;
  }
}

.icon-with-text__block-icon {
  margin: 0 auto 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: var(--svg-size);
    height: 100%;
  }
}

.icon-with-text__block-description {
  text-align: center;
}

.icon-with-text__slider {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 80px;

  @include mq($medium-max) {
    padding: 0;
  }

  .swiper,
  .swiper-navigation-wrapper {
    @include mq($medium-max) {
      padding: 0 80px;
    }
    @include mq($small-max) {
      padding: 0 20px;
    }
  }

  .swiper-slide {
    height: auto;
    padding-bottom: 1px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: relative;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
  }

  .swiper-button-prev {
    margin: 0 5px 0 0;
  }

  .swiper-button-next {
    margin: 0 0 0 5px;
  }
}
