@import "../helpers/mixins";

.intro__inner {
  padding-bottom: var(--padding-bottom-desktop);
  padding-top: var(--padding-top-desktop);

  @include mq($small-max) {
    padding-bottom: var(--padding-bottom-mobile);
    padding-top: var(--padding-top-mobile);
  }
}

.intro--border {
  border-bottom: 1px solid var(--color-border);
}

.intro__heading {
  margin-bottom: 0;
}

.intro__text {
  max-width: 550px;
  margin: 20px 0 0;
}

.intro__btn {
  margin-top: var(--btn-padding-top-desk);

  @include mq($small-max) {
    margin-top: var(--btn-padding-top-mob);
  }
}
