@import "../helpers/mixins";

.landing-header {
  .landing-header__content {
    padding-bottom: var(--padding-bottom-desktop);
    padding-top: var(--padding-top-desktop);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include mq($small-max) {
      padding-bottom: var(--padding-bottom-mobile);
      padding-top: var(--padding-top-mobile);
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .landing-header__text {
    margin-right: 20px;
  }

  .landing-header__heading {
    margin-bottom: 20px;

    @include mq($small-max) {
      margin-bottom: 15px;
    }
  }

  .landing-header__subheading {
    @include mq($small-max) {
      margin-bottom: 15px;
    }
  }
}
