@import "../helpers/mixins";

link-list {
  display: block;
}

.link-list {
  padding: 20px 0 0;
  overflow: scroll;
}

.link-list__content {
  display: flex;
}

.link-list__item {
  margin-right: 40px;
  white-space: nowrap;

  @include mq($small-max) {
    margin-right: 20px;
  }

  &.active {
    a {
      color: var(--color-link-text-hover);
    }
  }
}

