@import "../helpers/mixins";

.authorized-retail {
  padding-bottom: var(--padding-bottom-desktop);
  padding-top: var(--padding-top-desktop);

  @include mq($small-max) {
    padding-bottom: var(--padding-bottom-mobile);
    padding-top: var(--padding-top-mobile);
  }
}

.authorized-retail__heading-wrapper {
  max-width: 380px;
}

.authorized-retail__heading {
  margin-bottom: 20px;
  text-transform: unset;
}

.authorized-retail__description {
  margin-bottom: 60px;

  @include mq($small-max) {
    margin-bottom: 40px;
  }
}

.authorized-retail__body {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  @include mq($small-max) {
    gap: 10px;
  }

  ul,ol {
    display: flex;
    flex-direction: column;
    flex: 0 1 calc(25% - 15px);
    padding-left: 17px;
    gap: 15px;
    color: var(--color-error);

    @include mq($medium-max) {
      flex: 0 1 calc(50% - 20px);
      gap: 10px;
    }

    @include mq($mobile-max) {
      flex: 0 1 100%;
    }

    a {
      color: inherit;
      text-decoration: underline;
    }

    li {
      list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cg clip-path='url(%23clip0_7028_194423)'%3E%3Cline x1='1.46443' y1='1.46428' x2='8.5355' y2='8.53535' stroke='%23D43434' stroke-width='2'/%3E%3Cline x1='1.46452' y1='8.53557' x2='8.53559' y2='1.4645' stroke='%23D43434' stroke-width='2'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_7028_194423'%3E%3Crect width='10' height='10' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      padding-left: 5px;
      word-break: break-word;

      &::marker {
        line-height: 0.5;
        font-size: 10px;
      }
    }
  }
}

/*

.our-services__item {
  display: flex;
  justify-content: space-between;
  min-height: calc(450px + 120px);
  padding: 60px 0;

  @include mq($small-max) {
    flex-direction: column;
    padding: 40px 0 0;
    border-bottom: unset;
  }

  &.our-services__item--horizontal {
    @include mq($small-min) {
      flex-direction: column;

      .our-services__item-image-wrapper {
        width: 100%;
        padding-top: 40%;
        margin-bottom: 50px;
      }

      .our-services__item-text-wrapper {
        width: 100%;
        padding-bottom: 0;
      }

      .our-services__item-text-heading,
      .our-services__item-text-description {
        margin-bottom: 20px;
        max-width: 550px;
      }
    }

    &:last-child .our-services__item-text-wrapper {
      @include mq($small-max) {
        border-bottom: 1px solid var(--color-border);
      }
    }
  }

  &:last-child {
    //border-bottom: unset;

    .our-services__item-text-wrapper {
      @include mq($small-max) {
        border-bottom: unset;
      }
    }
  }

  .our-services__item-image-wrapper {
    width: 50%;
    position: relative;

    @include mq($small-max) {
      margin: 0 -20px;
      padding-top: 94%;
      width: calc(100% + 40px);
    }
  }

  .our-services__item-image-badge {
    position: absolute;
    width: auto;
    height: 75px;
    right: 20px;
    top: 20px;

    @include mq($small-max) {
      height: 35px;
    }
  }

  .our-services__item-image-text, .our-services__item-image-logo {
    position: absolute;
    max-width: calc(100% - 40px);
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;
    color: var(--color);
    text-align: center;
  }

  .our-services__item-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 10px 20px 40px;
    text-align: center;

    @include mq($small-max) {
      width: 100%;
      padding: 40px 5px 40px;
      border-bottom: 1px solid var(--color-border);
    }
  }

  .our-services__item-text-heading,
  .our-services__item-text-description {
    margin-bottom: 20px;
    max-width: 360px;
  }
}
*/
