@import "../helpers/mixins";

.main-careers {
  padding: 60px 0;

  @include mq($small-max) {
    padding: 40px 0;
  }
}

.main-careers__heading {
  margin-bottom: 0;
}

.main-careers__item {
  padding: 40px 0;
  border-bottom: 1px solid var(--color-border);

  @include mq($small-max) {
    padding: 30px 0;
  }
}

.main-careers__item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mq($small-max) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.main-careers__item-heading {
  margin-bottom: 10px;
  display: inline-block;

  @include mq($small-max) {
    margin-bottom: 15px;
  }
}

.main-careers__item-desc {
  display: flex;
  flex-wrap: wrap;
  padding-right: 20px;

  @include mq($small-max) {
    flex-direction: column;
    padding-right: 0;
  }

  p {
    margin-right: 30px;

    @include mq($small-max) {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.main-careers__btn {
  margin-top: 40px;

  @include mq($small-max) {
    margin-top: 20px;
  }
}

.main-careers__item-link {
  color: var(--color-accent-primary);
  text-decoration: underline;
  flex-shrink: 0;

  @include mq($small-max) {
    margin-top: 15px;
  }
}
