@import "../helpers/_mixins";

.media-with-text {
  .media-with-text__content-wrapper {
    padding: var(--padding-top-desktop) 0 var(--padding-bottom-desktop);

    @include mq($small-max) {
      padding: var(--padding-top-mobile) 0 var(--padding-bottom-mobile);
    }
  }

  .media-with-text__section-heading {
    margin-bottom: 40px;
  }

  .media-with-text__content-blocks:not(.media-with-text__content-blocks--one-block) {
    display: flex;
    align-items: center;

    @include mq($small-min) {
      &.top {
        align-items: flex-start;
      }

      &.bottom {
        align-items: flex-end;
      }
    }

    @include mq($small-max) {
      flex-direction: column;
    }

    .media-with-text__media-content {
      @include mq($small-max) {
        margin-bottom: 40px;
      }
    }

    .media-with-text__media-content.media-with-text__media-content--video {
      margin-right: 20px;

      @include mq($small-max) {
        margin-right: 0;
      }
    }
  }

  .media-with-text__content-blocks--one-block {
    .media-with-text__media-content.media-with-text__media-content--video {
      padding-top: var(--height-content-desk, 57%);

      @include mq($small-max) {
        padding-top: var(--height-content-mob, 57%);
      }
    }
  }

  .media-with-text__media-content {
    max-width: var(--width-content);
    width: 100%;

    @include mq($small-max) {
      max-width: unset;
    }

    &.media-with-text__media-content--video {
      padding-top: calc(var(--height-content-desk) / 2);
      border-radius: 5px;
      overflow: hidden;

      @include mq($small-max) {
        padding-top: var(--height-content-mob, 57%);
      }

      .media-with-text__media-image {
        padding-top: unset;
      }
    }
  }

  .media-with-text__media-video {
    overflow: hidden;

    .js-video-wrapper iframe {
      width: 100%;
      height: 100%;
      transform: unset;
      left: 0;
      top: 0;
      pointer-events: auto;
    }
  }

  .media-video__poster {
    img {
      opacity: 1 !important;
      z-index: 3;
      width: calc(100% + 1px);
      height: calc(100% + 1px);
    }

    svg {
      position: absolute;
      cursor: pointer;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      z-index: 3;
      color: #FFFFFF;

      @include mq($small-max) {
        width: 45px;
        height: 45px;
      }
    }
  }

  .media-with-text__media-image {
    padding-top: var(--height-content-desk, 50%);
    margin-right: 20px;

    @include mq($small-max) {
      padding-top: var(--height-content-mob, 60%);
      margin: 0 auto;
    }

    &.media-with-text__media-image--circle {
      padding-top: var(--height-content-desk, 50%);
      width: 50%;
      border-radius: 50%;
      overflow: hidden;
      margin-left: 30%;

      @include mq($small-max) {
        padding-top: var(--height-content-mob, 60%);
        width: 60%;
        margin: 0 auto;
      }
    }
  }

  .media-with-text__text-content {
    max-width: var(--width-content);
    width: 100%;
    text-align: var(--text-align-desktop, left);

    @include mq($small-max) {
      max-width: unset;
      text-align: var(--text-align-mobile, center);
    }

    &.media-with-text__text-content--left {
      margin: 0 auto 0 0;
    }

    &.media-with-text__text-content--center {
      margin: 0 auto;
    }

    &.media-with-text__text-content--right {
      margin: 0 0 0 auto;
    }
  }

  .media-with-text__text-subheading {
    margin-bottom: 20px;
  }

  .media-with-text__text-heading {
    margin-bottom: 20px;

    &.media-with-text__text-heading--no-transform {
      text-transform: unset;
    }
  }

  .media-with-text__text-description {
    p, h1, h2, h3, hr {
      margin: 0 0 20px;
    }

    h1, h2, h3, h4, h5, h6 {
      text-transform: uppercase;
    }

    h4, h5, h6 {
      margin: 0 0 10px;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.1em;
    }

    a {
      color: inherit;
      text-decoration: underline;
    }

    hr {
      border-top: 1px solid var(--color-border);
      border-bottom: none;
      border-left: none;
      border-right: none;
    }

    strong {
      font-weight: 500;
    }

    ul {
      li {
        margin: 0;
        font-size: 14px;
        line-height: 20px;
        list-style-type: disc;
        position: relative;
        left: 20px;
        width: calc(100% - 20px);
      }
    }

  }
}


