.shopify-policy__container {
  @apply pt-[250px] pb-[100px] !important;
}

.shopify-policy,
.page {

  &__container {
    @apply flex flex-col bg-bg-primary lg:flex-row lg:justify-center lg:gap-x-[25%];
    max-width: none !important;
    padding-left: 24px !important;
    padding-right: 24px !important;

    @media breakpoint(lg)  {
      padding-left: 96px !important;
      padding-right: 96px !important;
    }

    a {
      text-decoration: underline;
    }

    p {
      @apply text-text-inverse-primary;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply text-text-inverse-primary;
    }

    img {
      @apply mx-auto
    }
  }

  &__body {
    @apply max-w-[671px];

    .sizeChartNew, .sizeChartInfo {
      width: 100%;

      td {
        padding: 4px;
      }
    }

    .sizeChartNew {
      min-width: 600px;
      width: 100% !important;
      border-collapse: collapse;

      td, th {
        width: auto !important;
        border: 1px solid #28282a;
        text-align: center;
      }
    }

    .sizeChartNew td:nth-child(-n+3) {
      background-color: gray;
    }

    .sizeChartWrapper {
      overflow-x: auto;
    }
  }

  &__title {
    @apply font-primary font-light uppercase leading-8 tracking-[2px] not-italic w-[200px] mb-xl;
    font-size: 32px;
    text-align: left !important;
  }
}
