@import "../helpers/mixins";

.professional-resources {
  background-color: var(--bg-color);
  padding-top: var(--padding-top-desktop);
  padding-bottom: var(--padding-bottom-desktop);

  @include mq($small-max) {
    padding-top: var(--padding-top-mobile);
    padding-bottom: var(--padding-bottom-mobile);
  }

  .professional-resources__heading-wrapper {
    text-align: center;
    max-width: 430px;
    margin: 0 auto 80px;

    @include mq($medium-max) {
      margin: 0 auto 30px;
    }
  }

  .professional-resources__pre-heading {
    margin-bottom: 40px;

    @include mq($medium-max) {
      margin-bottom: 20px;
    }
  }

  .professional-resources__heading {
    margin-bottom: 30px;

    @include mq($medium-max) {
      margin-bottom: 20px;
    }
  }

  .professional-resources__item {
    display: flex;
    align-items: center;
    min-height: 233px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid var(--color-border);
    border-radius: 10px;

    @include mq($medium-max) {
      flex-direction: column;
      padding: 30px 36px 20px;
      margin-bottom: 30px;
    }
  }

  .professional-resources__item-image-wrapper {
    padding-top: 18%;
    flex: 1;
    margin-right: 40px;

    @include mq($medium-max) {
      padding-top: 57%;
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  .professional-resources__item-text-wrapper {
    flex: 0 1 49%;
    color: var(--color);
    padding-right: 10px;

    @include mq($medium-max) {
      flex: 0 1 20%;
    }

    @include mq($small-max) {
      flex: 1;
      padding-right: 0;
    }
  }

  .professional-resources__item-subheading {
    margin-bottom: 20px;
    color: inherit;
  }

  .professional-resources__item-heading {
    display: block;
    margin-bottom: 20px;
    color: inherit;
  }

  .professional-resources__item-description {
    color: inherit;
  }

  .professional-resources__item--btn {
    margin-top: 20px;
    align-self: baseline;
  }

  .representative-card__modal {
    position: absolute;
    width: calc(100% - 40px);
    height: auto;
    transform: translate(0%,-50%);
    max-width: 267px;
    padding: 20px 50px 20px 20px;
    top: 0;
    left: auto;
    right: 20px;
    border: 1px solid var(--color-link-text);

    @include mq($small-max) {
      left: 20px;
      max-width: unset;
      padding: 20px;
    }

    .representative-card__wrapper {
      padding: 0;
      border: none;
    }

    .representative-card__content {
      @include mq($small-max) {
        display: flex;
      }
    }

    .representative-card__heading {
      display: block;
      margin-bottom: 20px;
    }

    .representative-card__image-wrapper {
      width: 114px;
      height: 114px;
      overflow: hidden;
      border-radius: 50%;
      margin-bottom: 20px;

      @include mq($small-max) {
        margin-bottom: 0;
        margin-right: 20px;
      }
    }

    .representative-card__info {
      display: block;
      margin-bottom: 10px;

      &.representative-card__email {
        color: var(--color-link-text-hover);

        &:hover {
          text-decoration: underline;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    modal-opener {
      position: absolute;
      right: 20px;
      top: 20px;
    }
  }
}
