@import "../helpers/mixins";

.professional-webinars {
  background-color: var(--bg-color);

  &.professional-webinars--border {
    padding-top: 60px;

    @include mq($small-max) {
      padding-top: 0;
    }

    .professional-webinars__content {
      border-top: 1px solid var(--color-border);
    }
  }

  .professional-webinars__content {
    padding-top: var(--padding-top-desktop);
    padding-bottom: var(--padding-bottom-desktop);

    @include mq($small-max) {
      padding-top: var(--padding-top-mobile);
      padding-bottom: var(--padding-bottom-mobile);
    }
  }

  .professional-webinars__header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;

    @include mq($medium-max) {
      flex-direction: column;
      align-items: flex-start;
    }

    @include mq($small-max) {
      padding: 0;
    }
  }

  .professional-webinars__header-wrapper {
    flex-grow: 1;
    margin: 0 auto 0 0;
  }

  .professional-webinars__header-heading,
  .professional-webinars__header-subheading {
    margin: 0;
  }

  .professional-webinars__header-subheading {
    text-transform: none;
    font-weight: 300;
  }

  .professional-webinars__header-btn {
    align-self: baseline;

    @include mq($medium-max) {
      margin: 30px 0 0;
    }
  }

  .professional-webinars__item {
    display: flex;
    align-items: center;
    min-height: 286px;
    margin-bottom: 30px;
    background-color: var(--color-bg-primary);
    color: var(--color);

    @include mq($medium-max) {
      flex-direction: column;
    }
  }

  .professional-webinars__item-image-wrapper {
    flex: 0 1 32%;
    padding-top: 25.5%;
    margin-right: 10%;

    .placeholder-svg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include mq($medium-max) {
      padding-top: 60%;
      flex: 1;
      width: 100%;
      margin-right: 0;
    }
  }

  .professional-webinars__item-image-text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--color, white);

    p {
      display: block;
      color: inherit;

      &:first-child {
        margin-bottom: 10px;
      }
    }
  }

  .professional-webinars__item-text-wrapper {
    max-width: 455px;
    padding: 20px 20px 20px 0;

    @include mq($medium-max) {
      max-width: unset;
      padding: 20px;
    }
  }

  .professional-webinars__item-subheading {
    margin-bottom: 15px;
    color: inherit;
  }

  .professional-webinars__item-heading {
    display: block;
    margin-bottom: 15px;
    color: inherit;
  }

  .professional-webinars__item-description {
    margin-bottom: 30px;
    color: inherit;
  }
}
