@import "../helpers/mixins";

.professional-news {
  padding: 80px 0;
  background-color: var(--bg-color);

  @include mq($small-max) {
    padding: 50px 0;
  }

  .professional-news__header {
    margin-bottom: 60px;
    text-align: center;

    @include mq($small-max) {
      text-align: left;
      margin-bottom: 30px;
    }
  }

  .professional-news__header-subheading {
    margin-bottom: 20px;

    @include mq($small-max) {
      margin-bottom: 10px;
    }
  }

  .professional-news__header-heading {
    margin-bottom: 20px;
    text-transform: unset;

    @include mq($small-max) {
      margin-bottom: 0;
    }
  }

  .professional-news__slider {
    @include mq($medium-max) {
      padding-right: 0;
    }
  }

  .swiper-slide {
    height: auto;
  }

  .professional-news__card {
    height: 100%;
    display: flex;
    flex-direction: column;

    @include mq($medium-max) {
      padding-bottom: 1px;
    }
  }

  .professional-news__card-image {
    padding-top: 114%;
    margin-bottom: 20px;

    @include mq($small-max) {
      padding-top: 102%;
    }
  }

  .professional-news__card-subheading,
  .professional-news__card-heading {
    margin-bottom: 20px;
  }

  .professional-news__card-btn {
    margin-top: auto;
  }
}
