.ra-collection {
  --grid-columns: 2;
  --grid-columns-md: 4;
  --grid-columns-lg: 4;
  --grid-gap: 36px;
  --product-tile-font-size: 18px;
  --accordion-border-color: var(--color-grey-400);
  --item-size: 44px;
}

/* Flexbox Override */
/* Product Collection is a Flexbox to enable special design */
 #ProductGrid.product-grid--large_card {
  .ra-grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: right;
      gap: 1.5rem;

      @media (min-width: 48rem) {
        justify-content: center;
      }
  }

  /* fill dead space at end of rows so 'last row' flex items justify left, because overall justify is center */
  @media (min-width: 48rem){
    .ra-grid::after {
      content: "";
      flex: auto;
    }
  }

  /* Product Tile Rules */
  /* Large product tile class applied with 'large_card' metafield */
  .ra-product-tile {
    flex-basis: calc( 50% - .75rem);
    @media (min-width: 48rem) {
      flex-basis: calc( 25% - 1.5rem);
    }

  }
  .large-card {
    flex-basis: calc(100%);
    margin: 1.5rem;
    @media (min-width: 48rem) {
      flex-basis: calc(33% - 1.5rem);
      margin: 0;
    }
  }
}

/* Header Content Styles */

.collection__header-content {
  ul {
    list-style: none;
    padding-left: 3.1rem;
  }

  li {
    font-size: 24px;
    line-height: 100%;
    font-weight: 300;
  }
}

/* Collection Sidebar */


.collection__sidebar {
  background-color: #FAFAF9;
  @media (min-width: 64rem) {
    max-height: calc(100vh - 3rem);
  }
}

/* Collection Filters - Button Filter */

.ra-filter-button {
  position: relative;
  --choice-label-margin: 0;

  .ra-choice__container:hover {
    background-color: var(--color-secondary-900);
    color: var(--c-white);
  }

  .ra-choice__input:checked ~ * {
    background-color: var(--color-primary-900);
    color: var(--c-white);
  }

  .ra-choice__container.disabled {
    pointer-events: none;
    opacity: 0.5;

    /* line accross */
    /* background: linear-gradient(132deg,  rgba(30,87,153,0) 0%,rgba(145,145,146,0) 48%,rgba(147,146,146,1) 50%,rgba(144,143,143,0) 52%,rgba(0,0,0,0) 100%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#00000000',GradientType=1 ); IE6-9 fallback on horizontal gradient */

    img {
      opacity: 0.6;
    }
  }

  &.ra-swatch-filter {
    .ra-choice__container {
      border: 1px solid rgba(1, 1, 1, 0.3);
      transition: 0.3s all ease-in-out;
    }
    .ra-choice__container:hover {
      background-color: var(--color-white);
      box-shadow: 0 0 2px var(--color-grey-400);
      border: 1px solid var(--color-util-green);
    }

    .ra-choice__input:checked ~ * {
      background-color: var(--color-white);
      box-shadow: 0 0 2px var(--color-grey-400);
      border: 4px solid rgba(255, 255, 255, 0.5);
    }
  }
}

.ra-accordion-item.color .ra-tab__content-inner {
  padding-bottom: 24px;
}

.collection__toggle-label {
  font-family: var(--font-family-primary), monospace;
  letter-spacing: 0;
  color: var(--text-inverse-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  transition: .3s ease;
  cursor: pointer;
  transition-property: transform, opacity;
  min-height: 15px;
}

.collection__toggle-filters .ra-icon {
  margin-left: 6px;
  top: 1px;
}

.ra-choice--checkbox {
  .ra-choice__container.disabled {
    pointer-events: none;
    opacity: 0.5;

    .ra-choice__checkmark-icon {
      display: none;
    }
    .ra-choice__checkmark::after {
      display: none;
    }
  }
}

/* hide out of stock checkbox */
.ra-accordion-item.availability .ra-tab__content-inner li:last-child{
  display: none;
}

/* Only Collection page Hide product tiles that are coming soon only when the availability filter is selected */
/* ra-collection-section__filtered-by-availability is added in the DOM when the availability filter is selected in ra-collection.liquid */
/* ra-product-tile__is-coming-soon class is added in ra-product-tile.liquid */
body.template__search .ra-search-section__filtered-by-availability .ra-product-tile__is-coming-soon,
body.template__collection .ra-collection-section__filtered-by-availability .ra-product-tile__is-coming-soon {
  display: none;
}

.collection__filters,
.collection__sidebar-top {
  background-color: #FAFAF9;
}

.collection__filters {
  .filter-hide {
    /*display: none;*/
    height: 0;
    opacity: 0;
    visibility: hidden;
    margin-bottom: 0;
    transition: all 0.1s ease-in-out;
    &.active {
      height: auto;
      opacity: 1;
      visibility: visible;
      margin-bottom: .75rem;
      /*display: block;*/
    }
  }
}
