.ra-collection-blocks {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  background-color: var(--bg-color);
}

.ra-collection-blocks__heading {
  text-align: var(--heading-align);
  color: var(--text-color);
}

.ra-collection-blocks__subheading {
  text-transform: none;
  text-align: var(--subheading-align);
  color: var(--text-color);
}

.ra-collection-blocks__heading ol,
.ra-collection-blocks__heading ul,
.ra-collection-blocks__subheading ol,
.ra-collection-blocks__subheading ul {
  padding-left: 0;
}

.ra-collection-blocks__heading li,
.ra-collection-blocks__subheading li {
  list-style-position: inside;
}

.collection-blocks__item-image-wrapper {
  position: relative;
}

.ra-collection-blocks__wrapper {
  width: 100%;
}

.ra-collection-blocks__wrapper::-webkit-scrollbar {
  display: none;
}

.ra-collection-blocks__item-title {
  font-family: var(--font-family-teritary);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1.12px;
  text-transform: capitalize;
  text-align: var(--item-align);
  color: var(--text-color);
  display: block;
}

.ra-collection-blocks__item-title-inside {
  font-family: var(--font-family-teritary);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1.12px;
  text-transform: capitalize;
  text-align: var(--item-align);
  color: var(--text-color);
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  top: 0;
  left: 0;
  padding: 5px;
}

.top-left {
  align-items: start;
  justify-content: start;
  text-align: start;
}
.top-center {
  align-items: start;
  justify-content: center;
  text-align: center;
}
.top-right {
  align-items: start;
  justify-content: end;
  text-align: end;
}

.center-left {
  align-items: center;
  justify-content: start;
  text-align: start;
}
.center-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.center-right {
  align-items: center;
  justify-content: end;
  text-align: end;
}

.bottom-left {
  align-items: end;
  justify-content: start;
  text-align: start;
}
.bottom-center {
  align-items: end;
  justify-content: center;
  text-align: center;
}
.bottom-right {
  align-items: end;
  justify-content: end;
  text-align: end;
}

.ra-collection-blocks__item:first-child {
  margin-left: 1.5rem;
}
.ra-collection-blocks__item:last-child {
  margin-right: 1.5rem;
}

.ra-collection-blocks__item {
  position: relative;
}


.ra-collection-blocks_tablet {
  display: none;
}

.ra-collection-blocks_mobile {
  display: none;
}

@media (max-width: 1023px) {
  .centered-for-mobile {
    justify-content: center;
  }

  .ra-collection-blocks_desktop {
    display: none;
  }

  .ra-collection-blocks_tablet {
    display: flex;
  }
}

@media (max-width: 767px) {
  .ra-collection-blocks__wrapper {
    justify-content: start;
  }

  .ra-collection-blocks_desktop {
    display: none;
  }

  .ra-collection-blocks_tablet {
    display: none;
  }

  .ra-collection-blocks_mobile {
    display: flex;
  }
}

