.pre-launch__modal .ra-modal__content {
        --modal-padding: 20px;
        @media (min-width: 48rem) {
            --modal-padding: 100px;
            padding-bottom: 60px;
        }
}

.pre-launch__modal .ra-modal__content {
    max-width: 969px;
    width: 100%;
    
}


.prelaunch__logo {
    padding-top: calc( 100vh / 100 * 30);

    @media (min-width: 48rem) {
        padding-top: 0;
    }
    
}