.ra-text-only-banner {

  .text-base p {
    font-size: 12px;
    @media breakpoint(md) {
      font-size: 16px;
    }
  }

  &__copy {
    z-index: 0;
  }
}

/* custom padding overrides */

.ra-text-only-banner--custom-padding {
  padding-top: var(--component-custom-spacing-mobile);
  padding-bottom: var(--component-custom-spacing-mobile);

  @media breakpoint(md) {
    padding-top: var(--component-custom-spacing-desktop);
    padding-bottom: var(--component-custom-spacing-desktop);
  }
}

.ra-text-only-banner--increased_mobile_padding {
  @media (max-width: 48rem) {
    padding: 64px 79px;
  }
}

/*.collaborator-page .ra-button--tertiary {*/
/*  background-color: transparent;*/
/*}*/

/*.collaborator-page .ra-button--tertiary:hover {*/
/*  background-color: var(--button-background-interact, var(--button-background, var(--c-primary-interact)));*/
/*  background-color: transparent;*/
/*  color: #000000;*/
/*  opacity: 0.7;*/
/*}*/
