@import "../helpers/_mixins";

.reviews-and-faq {
  padding-top: var(--padding-top-desktop);
  padding-bottom: var(--padding-bottom-desktop);
  background-color: var(--bg-color);

  @include mq($small-max) {
    padding-top: var(--padding-top-mobile);
    padding-bottom: var(--padding-bottom-mobile);
  }

  &.faq {
    .faq__wrapper {
      padding: 40px 0 0;

      @include mq($small-max) {
        padding: 20px 0 0;
      }
    }

    .faq__header-tab {
      cursor: pointer;
    }
  }

}

.reviews-and-faq__nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.reviews-and-faq__nav-list-item-btn {
  margin: 0;

  &:hover {
    color: var(--color-link-text-hover);
  }
}

.reviews-and-faq__nav-list-item-btn[aria-selected=true] {
  color: var(--color-link-text-hover);
}

.reviews-and-faq__content-list-item[aria-selected=false] {
  display: none;
  opacity: 0;
  visibility: hidden;
}
