@import "../helpers/mixins";

.seo-footer {
  padding-top: var(--padding-top-desktop);
  padding-bottom: var(--padding-bottom-desktop);
  background-color: var(--background-color);
  flex-direction: column;

  @include mq($small-max) {
    padding-top: var(--padding-top-mobile);
    padding-bottom: var(--padding-bottom-mobile);
  }

  .seo-footer__heading {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    color: var(--heading-color);

    @include mq($small-max) {
      font-size: 40px;
      line-height: 1.1;
    }
  }

  .seo-footer__description {
    width: 100%;
    margin: 15px 0 0;
    color: var(--text-color);

    @include mq($small-max) {
      margin: 12px 0;
    }
  }
}
