@import "../helpers/_mixins";

.columns-with-icons {
  position: relative;
  background-color: var(--bg-color);
  color: var(--color);

}

.columns-with-icons__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--padding-top-desktop) 0 var(--padding-bottom-desktop);
  text-align: center;

  @include mq($small-max) {
    padding: var(--padding-top-mobile) 0 var(--padding-bottom-mobile);
    text-align: left;
  }
}

.columns-with-icons__heading {
  text-transform: none;
  font-weight: 300;
  color: currentColor;
  margin: 0;

  &.h6 {
    font-weight: 500;
  }
}

.columns-with-icons__subheading {
  color: currentColor;
  text-transform: none;
  margin-bottom: 20px;

  @include mq($small-max) {
    width: 100%;
  }
}

.columns-with-icons__btn {
  @include mq($small-max) {
    align-self: flex-start;
  }
}

.columns-with-icons__columns-wrapper {
  display: flex;
  margin: 60px 0;

  @include mq($small-max) {
    flex-direction: column;
    margin: 40px 0;
  }
}

.columns-with-icons__columns-item {
  display: flex;
  align-items: center;

  @include mq($small-max) {
    align-items: flex-start;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.columns-with-icons__columns-item-description {
  text-align: left;
  margin: 0 20px;
}


