@import "../helpers/_mixins";

.text-banner {
  position: relative;
  background-color: var(--bg-color);
  color: var(--color);
  padding: var(--padding-top-desktop) 0 var(--padding-bottom-desktop);

  &.page-width {
    max-width: 1120px;
  }

  &.margin-bottom {
    margin-bottom: 60px;
  }

  @include mq($small-max) {
    padding: var(--padding-top-mobile) 0 var(--padding-bottom-mobile);

    &.margin-bottom {
      margin-bottom: 40px;
    }
  }
}

.text-banner__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: calc( var(--width-content) + 160px);
  color: inherit;

  & > *:not([class~="btn"]) {
    color: inherit;
  }
}

.text-banner__content--left {
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.text-banner__content--right {
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.text-banner__preheading {
  color: currentColor;
  text-transform: none;
  max-width: var(--preheading-width);
}

.text-banner__heading {
  text-transform: none;
  font-weight: 300;
  color: currentColor;
  margin: 0;

  &.h6 {
    font-weight: 500;
  }
}

.text-banner__subheading {
  color: currentColor;
  text-transform: none;
  max-width: var(--subheading-width);
}

.text-banner__btn.btn--link {
  color: inherit;
  text-decoration: underline;
  letter-spacing: 0.1em;
  font-size: var(--font-size-body-4);
  font-weight: 500;
}

.text-banner__content > * {
  margin: 0 0 var(--content-padding-desktop);

  @include mq($small-max) {
    margin: 0 0 var(--content-padding-mobile);
  }

  &:last-child {
    margin-bottom: 0;
  }
}


