@import "../helpers/mixins";

.columns-with-images {
  padding: 80px 0;

  @include mq($small-max) {
    text-align: center;
    padding: 50px 0;
  }

  .columns-with-images__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;


    @include mq($small-max) {
      flex-direction: column;
      align-items: center;
    }
  }

  .columns-with-images__header-text {
    margin-right: 20px;

    @include mq($small-max) {
      margin-right: 0;
    }
  }

  .columns-with-images__header-heading,
  .columns-with-images__header-subheading,
  .columns-with-images__list-item-heading {
    margin-bottom: 30px;

    @include mq($small-max) {
      margin-bottom: 15px;
    }
  }

  .columns-with-images__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  .columns-with-images__list-item {
    width: 33.33%;
    padding: 50px 10px 0;

    @include mq($medium-max) {
      width: 50%;
    }

    @include mq($small-max) {
      width: 100%;
    }
  }

  .columns-with-images__list-image {
    width: 74%;
    padding-top: 74%;
    margin-bottom: 30px;
    border-radius: 5px;
    overflow: hidden;

    @include mq($small-max) {
      width: 60%;
      padding-top: 60%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
