.spacer {
  &-xl {
    @apply block h-xl;
  }
  &-lg {
    @apply block h-lg;
  }
  &-md {
    @apply block h-md;
  }
  &-sm {
    @apply block h-sm;
  }
  &-xs {
    @apply block h-xs;
  }
}

@media (min-width: 0.0625rem) {
  .ra-grid[data-gap*=-unit]:not(.ra-grid--inherit-gap) {
    --br-grid-gap:var(--grid-gap-unit)
  }

  .ra-grid[data-columns*=-unit] {
    --br-grid-columns: var(--grid-columns-unit)
  }

  .ra-grid-item[data-row*=-unit] {
    --br-grid-row: var(--grid-row-unit)
  }

  .ra-grid-item[data-column*=-unit] {
    --br-grid-column: var(--grid-column-unit)
  }

  .ra-grid[data-gap*=-min]:not(.ra-grid--inherit-gap) {
    --br-grid-gap: var(--grid-gap-min)
  }

  .ra-grid[data-columns*=-min] {
    --br-grid-columns: var(--grid-columns-min)
  }

  .ra-grid-item[data-row*=-min] {
    --br-grid-row: var(--grid-row-min)
  }

  .ra-grid-item[data-column*=-min] {
    --br-grid-column: var(--grid-column-min)
  }
}

@media (min-width: 20rem) {
  .ra-grid[data-gap*=-xs]:not(.ra-grid--inherit-gap) {
    --br-grid-gap:var(--grid-gap-xs)
  }

  .ra-grid[data-columns*=-xs] {
    --br-grid-columns: var(--grid-columns-xs)
  }

  .ra-grid-item[data-row*=-xs] {
    --br-grid-row: var(--grid-row-xs)
  }

  .ra-grid-item[data-column*=-xs] {
    --br-grid-column: var(--grid-column-xs)
  }
}

@media (min-width: 30rem) {
  .ra-grid[data-gap*=-sm]:not(.ra-grid--inherit-gap) {
    --br-grid-gap:var(--grid-gap-sm)
  }

  .ra-grid[data-columns*=-sm] {
    --br-grid-columns: var(--grid-columns-sm)
  }

  .ra-grid-item[data-row*=-sm] {
    --br-grid-row: var(--grid-row-sm)
  }

  .ra-grid-item[data-column*=-sm] {
    --br-grid-column: var(--grid-column-sm)
  }
}

@media (min-width: 48rem) {
  .ra-grid[data-gap*=-md]:not(.ra-grid--inherit-gap) {
    --br-grid-gap:var(--grid-gap-md)
  }

  .ra-grid[data-columns*=-md] {
    --br-grid-columns: var(--grid-columns-md)
  }

  .ra-grid-item[data-row*=-md] {
    --br-grid-row: var(--grid-row-md)
  }

  .ra-grid-item[data-column*=-md] {
    --br-grid-column: var(--grid-column-md)
  }
}

@media (min-width: 64.0625rem) {
  .ra-grid[data-gap*=-lg]:not(.ra-grid--inherit-gap) {
    --br-grid-gap:var(--grid-gap-lg)
  }

  .ra-grid[data-columns*=-lg] {
    --br-grid-columns: var(--grid-columns-lg)
  }

  .ra-grid-item[data-row*=-lg] {
    --br-grid-row: var(--grid-row-lg)
  }

  .ra-grid-item[data-column*=-lg] {
    --br-grid-column: var(--grid-column-lg)
  }
}

@media (min-width: 77.5rem) {
  .ra-grid[data-gap*=-xl]:not(.ra-grid--inherit-gap) {
    --br-grid-gap:var(--grid-gap-xl)
  }

  .ra-grid[data-columns*=-xl] {
    --br-grid-columns: var(--grid-columns-xl)
  }

  .ra-grid-item[data-row*=-xl] {
    --br-grid-row: var(--grid-row-xl)
  }

  .ra-grid-item[data-column*=-xl] {
    --br-grid-column: var(--grid-column-xl)
  }
}

@media (min-width: 90rem) {
  .ra-grid[data-gap*="-2xl"]:not(.ra-grid--inherit-gap) {
    --br-grid-gap:var(--grid-gap-2xl)
  }

  .ra-grid[data-columns*="-2xl"] {
    --br-grid-columns: var(--grid-columns-2xl)
  }

  .ra-grid-item[data-row*="-2xl"] {
    --br-grid-row: var(--grid-row-2xl)
  }

  .ra-grid-item[data-column*="-2xl"] {
    --br-grid-column: var(--grid-column-2xl)
  }
}

@media (min-width: 0.0625rem) {
  .ra-row[data-row-gap*=-unit] {
    --br-row-gap:var(--row-gap-unit)
  }

  .ra-col[data-col-size*=-unit] {
    --br-col-size: var(--col-size-unit)
  }

  .ra-col[data-col-auto*=-unit] {
    --br-col-grow: 1;
    --br-col-basis: 0px;
    --br-col-width: 100%
  }

  .ra-row[data-row-gap*=-min] {
    --br-row-gap: var(--row-gap-min)
  }

  .ra-col[data-col-size*=-min] {
    --br-col-size: var(--col-size-min)
  }

  .ra-col[data-col-auto*=-min] {
    --br-col-grow: 1;
    --br-col-basis: 0px;
    --br-col-width: 100%
  }
}

@media (min-width: 20rem) {
  .ra-row[data-row-gap*=-xs] {
    --br-row-gap:var(--row-gap-xs)
  }

  .ra-col[data-col-size*=-xs] {
    --br-col-size: var(--col-size-xs)
  }

  .ra-col[data-col-auto*=-xs] {
    --br-col-grow: 1;
    --br-col-basis: 0px;
    --br-col-width: 100%
  }
}

@media (min-width: 30rem) {
  .ra-row[data-row-gap*=-sm] {
    --br-row-gap:var(--row-gap-sm)
  }

  .ra-col[data-col-size*=-sm] {
    --br-col-size: var(--col-size-sm)
  }

  .ra-col[data-col-auto*=-sm] {
    --br-col-grow: 1;
    --br-col-basis: 0px;
    --br-col-width: 100%
  }
}

@media (min-width: 48rem) {
  .ra-row[data-row-gap*=-md] {
    --br-row-gap:var(--row-gap-md)
  }

  .ra-col[data-col-size*=-md] {
    --br-col-size: var(--col-size-md)
  }

  .ra-col[data-col-auto*=-md] {
    --br-col-grow: 1;
    --br-col-basis: 0px;
    --br-col-width: 100%
  }
}

@media (min-width: 64.0625rem) {
  .ra-row[data-row-gap*=-lg] {
    --br-row-gap:var(--row-gap-lg)
  }

  .ra-col[data-col-size*=-lg] {
    --br-col-size: var(--col-size-lg)
  }

  .ra-col[data-col-auto*=-lg] {
    --br-col-grow: 1;
    --br-col-basis: 0px;
    --br-col-width: 100%
  }
}

@media (min-width: 77.5rem) {
  .ra-row[data-row-gap*=-xl] {
    --br-row-gap:var(--row-gap-xl)
  }

  .ra-col[data-col-size*=-xl] {
    --br-col-size: var(--col-size-xl)
  }

  .ra-col[data-col-auto*=-xl] {
    --br-col-grow: 1;
    --br-col-basis: 0px;
    --br-col-width: 100%
  }
}

@media (min-width: 90rem) {
  .ra-row[data-row-gap*="-2xl"] {
    --br-row-gap:var(--row-gap-2xl)
  }

  .ra-col[data-col-size*="-2xl"] {
    --br-col-size: var(--col-size-2xl)
  }

  .ra-col[data-col-auto*="-2xl"] {
    --br-col-grow: 1;
    --br-col-basis: 0px;
    --br-col-width: 100%
  }
}

@media (min-width: 0.0625rem) {
  [data-boundary-top*=-unit] {
    --br-spacing-top:var(--spacing-top-unit)
  }

  [data-boundary-bottom*=-unit] {
    --br-spacing-bottom: var(--spacing-bottom-unit)
  }

  [data-boundary-edge*=-unit] {
    --br-spacing-edge: var(--spacing-edge-unit)
  }

  [data-boundary-top*=-min] {
    --br-spacing-top: var(--spacing-top-min)
  }

  [data-boundary-bottom*=-min] {
    --br-spacing-bottom: var(--spacing-bottom-min)
  }

  [data-boundary-edge*=-min] {
    --br-spacing-edge: var(--spacing-edge-min)
  }
}

@media (min-width: 20rem) {
  [data-boundary-top*=-xs] {
    --br-spacing-top:var(--spacing-top-xs)
  }

  [data-boundary-bottom*=-xs] {
    --br-spacing-bottom: var(--spacing-bottom-xs)
  }

  [data-boundary-edge*=-xs] {
    --br-spacing-edge: var(--spacing-edge-xs)
  }
}

@media (min-width: 30rem) {
  [data-boundary-top*=-sm] {
    --br-spacing-top:var(--spacing-top-sm)
  }

  [data-boundary-bottom*=-sm] {
    --br-spacing-bottom: var(--spacing-bottom-sm)
  }

  [data-boundary-edge*=-sm] {
    --br-spacing-edge: var(--spacing-edge-sm)
  }
}

@media (min-width: 48rem) {
  [data-boundary-top*=-md] {
    --br-spacing-top:var(--spacing-top-md)
  }

  [data-boundary-bottom*=-md] {
    --br-spacing-bottom: var(--spacing-bottom-md)
  }

  [data-boundary-edge*=-md] {
    --br-spacing-edge: var(--spacing-edge-md)
  }
}

@media (min-width: 64.0625rem) {
  [data-boundary-top*=-lg] {
    --br-spacing-top:var(--spacing-top-lg)
  }

  [data-boundary-bottom*=-lg] {
    --br-spacing-bottom: var(--spacing-bottom-lg)
  }

  [data-boundary-edge*=-lg] {
    --br-spacing-edge: var(--spacing-edge-lg)
  }
}

@media (min-width: 77.5rem) {
  [data-boundary-top*=-xl] {
    --br-spacing-top:var(--spacing-top-xl)
  }

  [data-boundary-bottom*=-xl] {
    --br-spacing-bottom: var(--spacing-bottom-xl)
  }

  [data-boundary-edge*=-xl] {
    --br-spacing-edge: var(--spacing-edge-xl)
  }
}

@media (min-width: 90rem) {
  [data-boundary-top*="-2xl"] {
    --br-spacing-top:var(--spacing-top-2xl)
  }

  [data-boundary-bottom*="-2xl"] {
    --br-spacing-bottom: var(--spacing-bottom-2xl)
  }

  [data-boundary-edge*="-2xl"] {
    --br-spacing-edge: var(--spacing-edge-2xl)
  }
}
