// Timeline

@import "../tools/mixins.scss";
@import "../settings/variables.scss";

bundle-collection {
  --animation-duration: calc(var(--animation-timing) / 2 * 1ms);
  --animation-delay: calc(var(--animation-timing) / 2 * 1ms);
  --min-height: 84px;
  --circle-width: 30px;
  --inner-half: calc(var(--inner) / 2);

  display: block;
}

.bundle__container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);

  @include media-query($medium-up) {
    flex-wrap: nowrap;
  }
}

.bundle__content { flex: 0 1 100%; }

.bundle__aside {
  order: -1;
  flex: 0 1 100%;

  @include media-query($medium-up) {
    order: 0;
    flex: 0 0 33.33%;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }
}

.bundle__widget { background: var(--bg); }

.bundle__widget--background {
  padding: var(--inner);
  background: var(--bg-light);
}

.bundle__price,
.bundle__placeholders,
.bundle__button {
  margin-top: 0;
  margin-bottom: var(--line);

  &:last-child { margin-bottom: 0; }
}

.bundle-placeholder {
  position: relative;
  min-height: var(--min-height);
  padding-left: 50px;
}

.bundle-placeholder:not(:last-child) { margin-bottom: var(--gap); }

.bundle-placeholder:last-child .bundle-placeholder__line { display: none; }

.bundle-placeholder:not(:last-child) .bundle-placeholder__line {
  position: absolute;
  top: calc((var(--min-height) / 2) + (var(--circle-width) / 2));
  bottom: calc((var(--gap) + (var(--min-height) / 2 ) - (var(--circle-width) / 2)) * -1);
  left: 12px;
  width: 6px;
  background: var(--bg-light);
}

.bundle-placeholder:first-child .bundle-placeholder__line {
  top: calc((var(--min-height) / 2) + (var(--circle-width) / 4) - 1px);
}

.bundle-placeholder:not(:last-child) .bundle-placeholder__line:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: var(--text);
  content: '';
}

.is-removing .bundle-placeholder:not(:last-child) .bundle-placeholder__line:before,
.is-adding .bundle-placeholder:not(:last-child) .bundle-placeholder__line:before {
  transition: height var(--animation-duration) cubic-bezier(1, 0, 1, 1);
}

.is-removing .bundle-placeholder:not(:last-child) .bundle-placeholder__line:before {
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
  transition-delay: var(--animation-delay);
}

.bundle-placeholder.is-line-active .bundle-placeholder__line:before { height: 100%; }

.bundle-placeholder__inner {
  display: grid;
  grid-template-columns: 1fr;
  min-height: var(--min-height);
  background: var(--bg-light);
}

.bundle__widget--background .bundle-placeholder:not(:last-child) .bundle-placeholder__line,
.bundle__widget--background .bundle-placeholder__dot:before,
.bundle__widget--background .bundle-placeholder__inner { background: var(--bg); }

.bundle-placeholder__dot {
  position: absolute;
  top: calc(var(--min-height) / 2);
  left: 0;
  width: var(--circle-width);
  height: var(--circle-width);
  transform: translateY(-50%);
}

.is-dot-active .bundle-placeholder__dot {
  --icons: var(--bg-light);
}

.bundle-placeholder__dot:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--bg-light);
  transform: translate(-50%, -50%);
  content: '';
}

.bundle-placeholder:first-child .bundle-placeholder__dot:before {
  width: 50%;
  height: 50%;
}

.is-dot-active .bundle-placeholder__dot:before { background: var(--text); }

.is-adding .bundle-placeholder__dot:before,
.is-removing .bundle-placeholder__dot:before { transition: background var(--animation-duration) var(--animation-delay) cubic-bezier(0.5, 0, 0, 1); }

.bundle-placeholder__dot .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  stroke-width: 0;
  transform: translate(-50%, -50%);
}

.bundle-placeholder:first-child .bundle-placeholder__dot .icon { display: none; }

.is-adding .bundle-placeholder__dot .icon path,
.is-removing .bundle-placeholder__dot .icon path { transition: fill var(--animation-duration) var(--animation-delay) linear; }

.is-removing .bundle-placeholder__dot .icon path,
.is-removing .bundle-placeholder__dot:before { transition-delay: 0s; }

.bundle-placeholder__empty,
.bundle-placeholder__filled {
  grid-row-start: 1;
  grid-column-start: 1;
  min-height: 100%;
}

.bundle-placeholder__empty {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: var(--inner-half) var(--inner-half) var(--inner-half) var(--inner);
  transform: translateY(0);
  opacity: 1;
  transition: transform var(--animation-duration), opacity var(--animation-duration);
  transition-timing-function: cubic-bezier(1, 0, 1, 1);
}

.bundle-placeholder__empty .icon path {
  fill: none;
  stroke: var(--icons, currentColor);
}

.is-animate-in .bundle-placeholder__empty {
  transform: translateY(-30%);
  opacity: 0;
}

.is-animate-out .bundle-placeholder__empty {
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
  transition-delay: var(--animation-delay);
}

.is-filled .bundle-placeholder__empty {
  transform: translateY(30%);
  opacity: 0;
  transition: none;
}

.bundle-placeholder__filled {
  display: flex;
  align-items: center;
}

.bundle-placeholder__text p { font-size: var(--font-body-x-small); }
.bundle-placeholder__text p:last-child { margin-bottom: 0; }

.bundle-placeholder:first-child .bundle-placeholder__text p { display: none; }

.bundle__price__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.bundle__price__row--subtotal { font-weight: bold; }

.bundle__sticky {
  position: sticky;
  bottom: 0;
  z-index: 10;
  margin-top: var(--gap);

  @include media-query($medium-up) {
    display: none;
  }
}

.bundle__button-default small { font-size: 100%; }

.bundle__button { width: 100%; }

.bundle__button.is-loading .bundle__button-add,
.bundle__button:not(:disabled) .bundle__button-add { display: inline; }
.bundle__button-add,
.bundle__button.is-loading .bundle__button-add ~ .bundle__button-default,
.bundle__button:not(:disabled) .bundle__button-add ~ .bundle__button-default { display: none; }

.bundle__error {
  opacity: 0;
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out 0.2s, max-height 0.5s cubic-bezier(0, 0.75, 0.25, 1), visibility 0.5s;
  transform: translate3d(0, -20px, 0);

  &.is-visible {
    max-height: 500px;
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
    transition: opacity 0.5s ease, transform 0.5s ease, max-height 0.5s cubic-bezier(0, 0, 0.75, 0), visibility 0.5s;
  }

  .errors {
    padding: var(--inner);
    margin-bottom: 10px;
    border: 1px solid var(--COLOR-ERROR-BORDER);
    border-radius: var(--RADIUS-SELECT);
    background-color: var(--COLOR-ERROR-BG);
    color: var(--COLOR-ERROR);

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      color: inherit;
    }

    li:last-child { margin-bottom: 0; }
  }

  .errors__close {
    top: -1px; // 1px border top
    min-height: var(--btn-height);
  }
}

/* Product inline */
.product-inline {
  flex: 0 1 100%;
  display: flex;
  align-items: center;
  padding: var(--inner-half) var(--inner-half) var(--inner-half) var(--inner);
}

.product-inline__image {
  flex: 0 0 44px;
  font-size: 0;
  margin-right: 10px;
  transform: translateY(30%);
  opacity: 0;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  a {
    display: block;
    position: relative;
    width: 44px;
    height: 60px;
    text-decoration: none;
    transition: opacity 0.3s;
  }

  .lazy-image { height: 100%; }

  @media (hover: hover) {
    a:hover { opacity: 0.75; }
  }

  &.image--empty a { background: transparent; }
}

.product-inline__content {
  flex: 0 1 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-inline__text {
  margin: 0;
  font-size: var(--font-body-x-small);
}

.product-inline__text--vendor { font-style: italic; }

.product-inline__title { margin: 0; }

.product-inline__price { font-size: var(--font-body-x-small); }

.product-inline__remove { padding-right: 0; }

/* Product inline animations */
.product-inline__image,
.product-inline__info,
.product-inline__actions {
  transition: transform var(--animation-duration), opacity var(--animation-duration);
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
  transition-delay: var(--animation-delay);
}

.product-inline__info {
  transform: translateY(30%);
  opacity: 0;
}

.product-inline__actions {
  transform: translateX(30%);
  opacity: 0;
}

.is-animate-in .product-inline__image,
.is-animate-in .product-inline__info {
  transform: translateY(0);
  opacity: 1;
}

.is-animate-out .product-inline__actions,
.is-animate-out .product-inline__image,
.is-animate-out .product-inline__info {
  transition-timing-function: cubic-bezier(1, 0, 1, 1);
  transition-delay: 0s;
}

.is-animate-in .product-inline__actions {
  transform: translateX(0);
  opacity: 1;
}

.is-filled .product-inline__image,
.is-filled .product-inline__info {
  transform: translateY(0);
  opacity: 1;
  transition: none;
}

.is-filled .product-inline__actions {
  transform: translateX(0);
  opacity: 1;
  transition: none;
}
