// Timeline

@import "../tools/mixins.scss";
@import "../settings/variables.scss";

bundle-collection { display: block; }

.bundle__placeholders {
  display: flex;
  gap: var(--gap);
}

.bundle__placeholders .bundle-placeholder {
  flex: 1;
}

.bundle-placeholder {
  border: 1px solid var(--border);
  text-align: center;
}

.bundle-placeholder.is-filled .bundle-placeholder__empty,
.bundle-placeholder__filled {
  display: none;
}

.bundle-placeholder.is-filled .bundle-placeholder__filled {
  display: block;
}