@use '../globals' as *;

.cart__view {
  width: 100%;
  margin: var(--SPACING-TINY) 0 0;
}

.drawer--cart {
  --inner: var(--SPACING-SMALL); // leave for backward compatibility for now (until we check whether none of the elements in cart and cart-drawer need this custom prop)
  --gap: var(--SPACING-SMALL);

  .cart__widget + .cart__form { margin-top: -1px; }

  .cart__foot__inner { --sp-block: 20px; }

  .product-upsell__errors .errors { margin-top: 0; }
  .cart__payment-icons { padding-inline: var(--sp-inline); }

  .cart__note { padding-block-end: var(--SPACING-TINY); }

  // Border conflicts between non-pinned blocks and cart title
  .drawer__body {
    .cart-block .accordion {
      border-top: none;
    }

    .cart__item--no-border {
      border-bottom: 1px solid var(--border);
    }
  }

  // Border conflicts between pinned blocks and cart foot inner
  .drawer__foot {
    .cart__widget--upsell,
    .free-shipping,
    .cart-block .accordion {
      border-bottom: none;
    }

    .cart-block:last-child .accordion {
      border-bottom: 1px solid var(--border);
    }

    .cart__widget--upsell,
    .free-shipping,
    .cart__item:first-child,
    .cart-block:first-child .accordion {
      border-top: 1px solid var(--border);
    }
  }
}

.drawer__empty {
  flex-grow: 1;
  flex-direction: column;
  max-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  visibility: hidden;
  align-items: center;
  width: 100%;
  transition: max-height 0.3s ease, visibility 0.3s;
}

.is-empty {
  .cart-block:not(.cart-block--top) {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  .drawer__empty {
    display: flex;
    max-height: 100%;
  }

  .drawer__body {
    flex: 0 0 auto;
    min-height: 0;
  }
}

.is-open.is-empty .drawer__empty { visibility: visible; }

.drawer__empty__inner {
  flex: 0 1 100%;
  width: 100%;
  padding: var(--sp-block) var(--sp-inline);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap);
}

.drawer__empty__message {
  text-align: center;
  transition: all 0.3s;
  margin: var(--sp-block) auto;

  .is-hidden & { padding: 0; }
}

.drawer__empty__buttons {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--gap);
  justify-items: center;
  margin: 0 0 var(--sp-block);
}

.drawer__empty__item { width: 100%; }

.drawer__empty__item--odd--last {
  grid-column: 2 span / 3;
  max-width: 100%;
}

.drawer__empty__item .btn { min-height: 100%; } // Make sure buttons have equal height on each row

.drawer__empty__product:empty { display: none; }

.drawer__errors {
  position: sticky;
  top: 0;
  z-index: 9;
  border-left: none;
  border-right: none;
}

.drawer__errors .cart__errors__inner {
  margin: 0;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.cart-block--top {
  position: sticky;
  top: 0;
  z-index: 5;
  padding: var(--sp-block) var(--sp-inline);
  background: var(--bg);
  border-bottom: 1px solid var(--border);
}

.cart-block--bottom {
  position: sticky;
  bottom: 0;
  background: var(--bg);
  z-index: 5;
  order: 10;
  width: 100%;
  margin-top: auto;
}

.cart-block {
  transition: max-height 0.3s ease, visibility 0.3s;

  .accordion { margin-top: 0; }

  .block__icon {
    align-self: flex-start;
    width: var(--icon-size, 20px);
    flex: 0 0 var(--icon-size, 20px);
    margin: 0 var(--SPACING-MICRO) 0 0;
  }

  .block__icon__container {
    padding: var(--sp-block) var(--sp-inline);
    display: flex;
    align-items: center;

    p { margin: 0; }
  }
}

.cart__item {
  --image-size: 80px;

  @include media-query($small) {
    --image-size: 60px;
  }

  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
  padding: var(--SPACING-LARGE) 0 calc(var(--SPACING-MEDIUM) / 2);
  border-bottom: 1px solid var(--border);

  a {
    --link: var(--text);
    --link-hover: var(--text-hover);
  }

  cart-items.drawer__items & {
    padding-inline: var(--SPACING-MEDIUM);
  }

  .select-popout {
    --border: var(--bg-accent);

    background: var(--bg-accent);
  }


  &:has(.popout-list--visible) {
    position: relative;
    z-index: 2;
  }
}

.cart__item--no-border { border-bottom: none; }

.cart__item.is-removed {
  overflow: hidden;
  animation: cartItemRemoved 0.5s ease;
  animation-fill-mode: forwards;
}

.cart__item__sub__image,
.cart__item__image {
  font-size: 0;

  .lazy-image { position: relative; }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  > a {
    display: block;
    position: relative;
    width: var(--image-size);
    background: var(--bg);
    text-decoration: none;
    transition: opacity 0.3s;
  }

  @media (hover: hover) {
    > a:hover { opacity: 0.75; }
  }

  &.image--empty > a { background: transparent; }
}

.cart__item__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: calc(100% - var(--image-size));
  padding-left: var(--SPACING-TINY);
  gap: var(--SPACING-SMALL);

  @include media-query($small) {
    gap: var(--SPACING-TINY);
  }
}

.cart__item__content-left {
  flex: 1 1 auto;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.cart__item__content-right {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--SPACING-TINY);
  min-width: 0;
}

.cart__item__content-inner {
  flex: 0 1 100%;
  margin-bottom: auto;
}

.cart__item__title {
  @include body-bold;

  margin-top: 0;
  margin-bottom: 2px;
  line-height: 1.33;
  font-size: max(1rem, var(--font-body-large));
  text-transform: none;
}
.cart__item__title a { transition: color 0.3s ease; }

.cart__item__content-bottom {
  flex: 0 1 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: auto;
  padding-top: var(--SPACING-TINY);
}

.cart__item__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-block-start: var(--SPACING-SMALL);
  gap: var(--SPACING-SMALL);

  @include media-query($small) {
    padding-block-start: var(--SPACING-TINY);
  }
}

.cart__item__actions .cart__item__text--selling-plan {
  margin: 0;
  flex: 1 1 auto;
}

.cart__item__actions .cart__quantity-counter {
  margin-left: auto;
  flex: 0 0 auto;
}

.cart__quantity-counter {
  --min-w: 76px;
  --min-h: 26px;

  display: flex;
  align-items: stretch;
  gap: min(var(--SPACING-MICRO), 4px);

  @include media-query($mobile) {
    --min-w: 90px;
  }
}
.cart__quantity { display: none; }
.select-popout.is-hidden + .cart__quantity { display: block; }

.cart__item__remove {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  background: var(--bg-accent);
  text-transform: uppercase;
}

.cart__item__remove .icon {
  position: relative;
  top: 0;
  transform: none;
}

.cart__item__meta {
  padding-inline-end: 0;

  &:empty { display: none; }
}

.cart__item__text {
  &:last-child { margin-bottom: 0; }

  span {
    display: block;
    margin: 5px 0;
  }
}

.cart__item__text,
.cart__item__selected-options,
.cart__item__property {
  margin: 0 0 2px;
  font-size: var(--font-body-x-small);
  line-height: 1.25;
}

.cart__item__text--cutline,
.cart__item__text--vendor {
  font-style: italic;
  opacity: 0.6;
}

.cart__blocks {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.drawer__inner .block__icon__container { padding: var(--inner); }

.cart__custom-code { padding: var(--inner); }

/* Cart item subproduct */
.cart__item__subs { padding-inline-start: var(--inner); }

.cart__item__sub {
  display: flex;
  align-items: center;
}

.cart__item__sub:not(:last-child) { margin-bottom: 4px; }

.cart__item__sub__image {
  margin-right: 8px;

  .lazy-image { height: 100%; }

  > a {
    width: 30px;
    height: 40px;
  }
}

.cart__item__sub__title,
.cart__item__sub__options { margin: 0; }

.cart__item__sub__title {
  @include body;

  font-size: var(--font-body-small);
}

.cart__item__sub__options { font-size: var(--font-body-x-small); }
