@use '../globals' as *;

.cart__view {
  width: 100%;
  margin: var(--SPACING-TINY) 0 0;
}

.drawer--cart {
  --inner: var(--SPACING-SMALL); // leave for backward compatibility for now (until we check whether none of the elements in cart and cart-drawer need this custom prop)
  --gap: var(--SPACING-SMALL);

  .cart__widget + .cart__form { margin-top: -1px; }

  .cart__foot__inner { --sp-block: 20px; }

  .product-upsell__errors .errors { margin-top: 0; }
  .cart__payment-icons { padding-inline: var(--sp-inline); }

  // Border conflicts between non-pinned blocks and cart title
  .drawer__body {
    .cart-block .accordion {
      border-top: none;
    }

    .cart__item--no-border {
      border-bottom: 1px solid var(--border);
    }
  }

  // Border conflicts between pinned blocks and cart foot inner
  .drawer__foot {
    .cart__widget--upsell,
    .free-shipping,
    .cart-discount,
    .cart-block .accordion {
      border-bottom: none;
    }

    .cart-block:last-child .accordion {
      border-bottom: 1px solid var(--border);
    }

    .cart__widget--upsell,
    .free-shipping,
    .cart-discount,
    .cart__item:first-child,
    .cart-block:first-child .accordion {
      border-top: 1px solid var(--border);
    }
  }
}

.drawer__empty {
  flex-grow: 1;
  flex-direction: column;
  max-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  visibility: hidden;
  align-items: center;
  width: 100%;
  transition: max-height 0.3s ease, visibility 0.3s;
}

.is-empty {
  .cart-block:not(.cart-block--top) {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  .drawer__empty {
    display: flex;
    max-height: 100%;
  }

  .drawer__body {
    flex: 0 0 auto;
    min-height: 0;
  }
}

.is-open.is-empty .drawer__empty { visibility: visible; }

.drawer__empty__inner {
  flex: 0 1 100%;
  width: 100%;
  padding: var(--sp-block) var(--sp-inline);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap);
}

.drawer__empty__message {
  text-align: center;
  transition: all 0.3s;
  margin: var(--sp-block) auto;

  .is-hidden & { padding: 0; }
}

.drawer__empty__buttons {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--gap);
  justify-items: center;
  margin: 0 0 var(--sp-block);
}

.drawer__empty__item { width: 100%; }

.drawer__empty__item--odd--last {
  grid-column: 2 span / 3;
  max-width: 100%;
}

.drawer__empty__item .btn { min-height: 100%; } // Make sure buttons have equal height on each row

.drawer__empty__product:empty { display: none; }

.drawer__errors {
  position: sticky;
  top: 0;
  z-index: 9;
  border-left: none;
  border-right: none;
}

.drawer__errors .cart__errors__inner {
  margin: 0;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
