@use '../globals' as *;

.collection__products {
  --duration: 0.6s; // Transition duration

  position: relative;
  display: flex;
  align-items: flex-start;
  background: var(--bg);
}

.collection__products .grid-outer {
  padding-top: var(--grid-gap-vertical);
  padding-bottom: var(--grid-gap-vertical);
}

.filters__nav {
  --border-width: 0px;

  position: sticky;
  top: 0;
  z-index: 11;
  display: flex;
  flex-grow: 1;
  background: var(--bg);
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.has-header-sticky .filters__nav { top: calc(var(--header-height) - var(--border-width)); }

.filters__nav--filter { justify-content: flex-start; }

.filters__nav--sort { justify-content: flex-end; }

.filters__nav--filter.filters__nav--sort { justify-content: space-between; }

.collection-image-with-title { overflow: hidden; }

.collection__image { position: relative; }

.collection__image-inline {
  display: grid;
  grid-template-columns: minmax(0, 65fr) minmax(0, 35fr);
  align-items: stretch;
  position: relative;

  .hero__content__wrapper { height: 100%; }

  .hero__content {
    height: 100%;
    width: 100%;
    max-width: none;
    justify-content: center;

    &:not(.hero__content--transparent) { margin: 0; }
  }

  @include media-query ($medium-down) {
    grid-template-columns: minmax(0, 1fr);

    .collection__title-wrapper { min-height: auto; }
  }
}

.collection__title-wrapper {
  background: var(--bg);
}

.collection__title--no-image {
  padding: max(var(--gap), var(--line)) var(--outer);
  background: var(--bg);

  .hero__title { margin-top: var(--line); }
}

.collection__filters__btn { margin-top: var(--outer); }

.collection__sidebar {
  --icons: var(--text);

  padding: var(--inner);
  font-size: var(--font-body-small);
  overflow-y: auto;
  max-height: 100%;
  min-width: var(--sidebar-width);

  @include scrollbar-on-hover;

  .no-results { padding: var(--gap) / 2 0; }
}

.collection__sidebar--has-buttons .collection__sidebar__slider::after { content: none; }

.collection__sidebar__slider {
  display: flex;
  flex-direction: column;
  z-index: 1;
  background: var(--bg);
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: var(--border);
  visibility: hidden;
  overflow: hidden;

  @include media-query($medium-up) {
    position: sticky;
    top: var(--filters-nav-height);
    height: calc(var(--full-screen) - var(--filters-nav-height));
    width: 0;
    min-width: 0;
    margin-right: -2px; // Prevent shifting the product grid container by the border around the sidebar
    transition-property: min-width, margin, transform, visibility;
    transition-duration: var(--duration);
    transition-timing-function: $ease-out-fast;
  }

  @include media-query($small) {
    position: fixed;
    z-index: 6100;
    top: 0;
    height: 100%;
    transform: translateX(-100%);
    transition: transform var(--duration) $ease-out-fast, visibility var(--duration);
  }
}

.collection__sidebar__slider.drawer--animated {
  @include media-query($small) {
    --base-animation-delay: 0ms;
  }
}

.has-header-sticky .collection__sidebar__slider {
  @include media-query($medium-up) {
    --border-width: 0px;

    top: calc(var(--filters-nav-height) + var(--header-height) - var(--border-width));
    height: calc(var(--full-screen) - var(--filters-nav-height) + var(--border-width));
  }
}

.collection__sidebar__slider::after,
.collection__sidebar__slide-out::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: var(--scrollbar-width);
  height: 40px;
  background: linear-gradient(to bottom, rgb(var(--COLOR-BG-RGB) 0%) 0%, var(--COLOR-BG) 100%);
  pointer-events: none;
}

.collection__sidebar__slider .collection__sidebar {
  @include media-query ($medium-up) {
    padding: var(--inner) var(--inner) var(--inner) var(--outer);
    transform: translateX(-100%);
    transition: transform var(--duration) $ease-out-fast, mask-position var(--duration), -webkit-mask-position var(--duration);
  }
}

.collection__sidebar__slider.expanded,
.collection__sidebar__slide-out.expanded {
  visibility: visible;
}

.collection__sidebar__slider.expanded .collection__sidebar {
  @include media-query($medium-up) {
    transform: translateX(0);
  }
}
.collection__sidebar__slide-out.expanded { transform: translateX(0); }

.collection__sidebar__slider.expanded {
  @include media-query($medium-up) {
    transform: translateZ(0);
    min-width: var(--sidebar-width);
    margin-right: calc((var(--grid-outer) - var(--grid-gap)) * -1);
  }

  @include media-query($small) { transform: translateZ(0); }
}

//Prevent collection filters sidebar fading out on page load on mobile
@include media-query($small) {
  .no-mobile-animation {
    opacity: 0 !important;
    visibility: hidden !important;
    pointer-events: none;
  }

  .no-mobile-animation ~ .underlay { display: none; }
}

// Slide out filters sidebar
.collection__sidebar__slide-out {
  position: fixed;
  top: 0;
  right: 100%;
  z-index: 6100; // to go above the .underlay's 6000 z-index
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: var(--DRAWER-WIDTH-MOBILE);
  border-left: 1px solid var(--border);
  background: var(--bg);
  opacity: 0;
  transition: opacity var(--duration) ease, transform var(--duration) ease, visibility var(--duration);
  overflow: hidden;
  visibility: hidden;

  @include media-query($medium-up) {
    max-width: var(--DRAWER-WIDTH);
  }
}

.collection__sidebar__slide-out.expanding,
.collection__sidebar__slide-out.expanded {
  visibility: visible;
  opacity: 1;
}

.collection__sidebar__slide-out.expanded { transform: translateX(100%); }

.collection__sidebar__head {
  position: relative;
  width: 100%;
  padding: 24px calc(var(--inner) + 24px) 24px var(--inner); // 24px in the calc is the width of the icon
  border-bottom: 1px solid var(--border);

  h3 {
    @include body-bold;

    font-size: var(--font-body-medium);
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    margin: 0 0 -3px;
  }
}

.collection__sidebar__buttons {
  position: sticky;
  left: 0;
  right: var(--scrollbar-width);
  bottom: 0;
  z-index: 2;
  min-width: calc(var(--sidebar-width) - var(--scrollbar-width));
  padding: 5px var(--inner) 15px;
  margin-top: auto;
  background: var(--bg);

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 45px;
    background: linear-gradient(to bottom, rgb(var(--COLOR-BG-RGB) 0%) 0%, var(--COLOR-BG) 100%);
    pointer-events: none;
  }

  &:empty { display: none; }
}

.collection__sidebar__slider .collection__sidebar__buttons {
  @include media-query($medium-up) {
    padding: 5px 15px 15px;
  }
}

.collection__sidebar__buttons .btn + .btn {
  margin-top: 10px;
}

.collection__sidebar__slide-out .collection__sidebar {
  flex-grow: 1;
  height: auto;
  overflow-y: auto;
}

.collection__products .underlay {
  z-index: 6000;
  backface-visibility: hidden;
}

.collection__active__filters {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
