@use '../globals' as *;

.collection-image-with-title { overflow: hidden; }

.collection__image { position: relative; }

.collection__image-inline {
  display: grid;
  grid-template-columns: minmax(0, 65fr) minmax(0, 35fr);
  align-items: stretch;
  position: relative;

  .hero__content__wrapper { height: 100%; }

  .hero__content {
    height: 100%;
    width: 100%;
    max-width: none;
    justify-content: center;

    &:not(.hero__content--transparent) { margin: 0; }
  }

  @include media-query ($medium-down) {
    grid-template-columns: minmax(0, 1fr);

    .collection__title-wrapper { min-height: auto; }
  }
}

.collection__title-wrapper {
  background: var(--bg);
}

.collection__title--no-image {
  padding: max(var(--gap), var(--line)) var(--outer);
  background: var(--bg);

  .hero__title { margin-top: var(--line); }
}