@use '../globals' as *;

.collection__filters {
  @include media-query ($medium-up) {
    --padding: calc(var(--inner) * 2);
    --width: var(--sidebar-width);

    width: calc(var(--width) - var(--padding));
  }
}

.collection__sidebar__slider .collection__filters {
  @include media-query ($medium-up) { --padding: calc(var(--inner) + var(--outer) + var(--scrollbar-width)); }
}

.collection__sidebar__slide-out .collection__filters {
  @include media-query ($medium-up) { --width: var(--DRAWER-WIDTH); }
}

.filters__actions {
  padding-top: 17px;

  &.is-hidden { display: none !important; }
}

.filters__show-more {
  --icon-size: 20px;

  position: relative;
  display: flex;
  align-items: center;
  padding-left: 23px;
  min-height: 12px;

  .icon {
    position: absolute;
    top: 50%;
    left: -5px;
    fill: none;
    transform: translateY(-50%);
  }

  .icon-nav-arrow-up { margin-top: -5px; }
  .icon-nav-arrow-down { margin-top: 5px; }
}

.filter-group:not(.filter-group--hidden) ~ .collection__filters .filter-group,
.filter-group:not(.filter-group--hidden) ~ .filter-group { margin-top: 25px; }

.filter-group__heading {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid var(--border);
  padding: 0 15px 5px 0;
  margin-bottom: 0;
  font-weight: var(--FONT-WEIGHT-BODY-BOLD);
  cursor: pointer;
}

.filter-group__heading .icon {
  --icon-size: 24px;

  top: 8px;
  right: -4px;
}

.filter-group__links {
  list-style-type: none;
  overflow: hidden;
  padding: 0 0 1px;
  margin: 0;
}

.filter-group__links--image-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: calc(var(--inner) / 2);

  img { border-radius: min(var(--RADIUS), 10px); }

  label {
    flex-direction: column;
    padding: 0;
    gap: calc(var(--inner) / 2);

    &::after { display: none; }
  }

  .sidebar__item label {
    height: 100%;
    padding: calc(var(--inner) / 2);
    border: 1px solid var(--text-a35);
    border-radius: min(var(--RADIUS), 20px);
  }

  .sidebar__item--active label { border-color: var(--accent); }
}

.sidebar__item {
  position: relative;
  font-size: var(--font-body-small);
  padding: 0;
  margin: 12px 0 0;
  overflow-wrap: break-word;

  label,
  a {
    --link: var(--text);
    --link-hover: var(--text-hover);
  }

  label { cursor: pointer; }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
  }
}

.sidebar__item .swatch__button {
  flex: 0 0 var(--swatch-size);
  height: var(--swatch-size);
  width: var(--swatch-size);
  padding: 0;
  margin: 0 8px 0 0;
  background: var(--swatch, var(--swatch-default));
  background-size: cover;
  background-repeat: no-repeat;
}

.sidebar__item .swatch__button--circle { border-radius: 50px; }

// Every filter has an outline box
.link--remove a,
.link--remove label,
.link--add a,
.link--add label,
.link--disable a,
.link--disable label {
  padding-left: calc(1em + 10px);
  position: relative;
  display: flex;
  align-items: center;
}

.sidebar__item a::after,
.sidebar__item label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 1em;
  height: 1em;
  border: 1px solid var(--text-light);
  background: var(--COLOR-BG);
}

.shopify-swatch { display: flex; }

// active filter shows a box ouline with a color fill
.sidebar__item.link--remove a::after,
.sidebar__item input:checked ~ label::after {
  background: var(--accent);
  box-shadow: inset 0 0 0 2px var(--COLOR-BG);
}

// filter would have no effect
.link--disable {
  text-decoration: line-through;
  color: var(--text-light);
}

.link--disable a::after,
.link--disable label::after {
  opacity: 0.35;
  border: 1px solid var(--text-light);
  background-color: var(--text-light);
}

.link--disable .swatch__button { pointer-events: none; }

.link--disable .swatch__button [data-swatch]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 32px;
  background-color: var(--text-dark);
  transform: rotate(-45deg) translate(-50%, -50%);
  transform-origin: left top;
}

.active__filters__clear,
.active__filters__remove {
  --link: var(--text);

  display: flex;
  background-color: var(--bg-accent);
  padding: 8px 7px 8px 14px;
  margin: 0 7px 7px 0;
  font-size: var(--font-body-x-small);

  &:hover {
    color: var(--text-dark);

    .filter__x {
      color: var(--accent);
    }
  }

  small {
    align-self: center;
    flex: 0 1 100%;
    overflow-wrap: break-word;
    font-size: inherit;
  }
}

.filter__x {
  --icon-size: 14px;

  flex: 0 0 auto;
  font-weight: var(--FONT-WEIGHT-BODY-BOLD);
  margin-left: 4px;
}

.active__filters__clear {
  padding-right: 14px;
  font-weight: var(--FONT-WEIGHT-BODY-BOLD);
}

.filter__price {
  margin-top: 12px;
}

.filter__price__fields {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  margin: 0 0 25px;
}

.filter__price__fields label {
  @include visually-hidden;
}

.filter__price__field {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: calc(50% - 10px);
  padding: 8px 0 8px 8px;
  border: 1px solid var(--text);
  border-radius: var(--RADIUS-SELECT);
}

.filter__price__currency { margin-right: 5px; }

.filter__price__spacer {
  flex: 0 0 20px;
  position: relative;
  padding: 5px;
  font-size: 0;
  text-align: center;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 1px;
    margin-left: -3px;
    background: currentcolor;
    content: "";
  }
}

.filter__price__input {
  flex: 1;
  display: block;
  min-width: 0;
  max-width: 100%;
  width: 0; // Fix CLS on range slider
  padding: 0 3px;
  border: 1px solid transparent;
  border-radius: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-align: right;
}

.range {
  position: relative;
  display: block;
  height: 36px;
  margin-left: -8px;
  margin-right: -8px;
  opacity: 0;
  user-select: none;
}

.range.is-initialized {
  opacity: 1;
}

.range__dot {
  position: absolute;
  z-index: 2;
  display: block;
  width: 36px;
  height: 36px;
  padding: 8px;

  span {
    display: block;
    width: 100%;
    height: 100%;
    background: var(--text);
    border: 1px solid var(--text);
    border-radius: 50%;
    font-size: 0;
    cursor: pointer;
  }
}

.range__line {
  position: absolute;
  top: 16px;
  left: 8px;
  z-index: 0;
  overflow: hidden;
  width: calc(100% - 16px);
  height: 4px;
  border-radius: 4px;
  border: 1px solid var(--text);

  span {
    display: block;
    height: 100%;
    width: 0%;
    background: var(--text);
    font-size: 0;
  }
}

.filter-count { margin-left: 4px; }
.filter-count::before { content: "("; }
.filter-count::after { content: ")"; }