/* ============================================================================
  #Search popdown
============================================================================== */
@use '../globals' as *;

header-search-popdown {
  display: block;
  height: 100%;
}

header-search-popdown > details { height: 100%; }

.search-popdown {
  @include nav;

  --bg: var(--COLOR-SUBMENU-BG);
  --text: var(--COLOR-SUBMENU-LINK);
  --link: var(--COLOR-SUBMENU-LINK);
  --link-hover: var(--COLOR-SUBMENU-LINK-HOVER);
  --text-light: var(--COLOR-SUBMENU-TEXT-LIGHT);

  position: absolute;
  z-index: 6002;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  text-transform: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
  box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
  background: var(--bg);

  .search-form { position: static; }

  input[type="search"] {
    @include nav;

    width: 100%;
    border: none;
    margin: 0;
    text-align: left;
    color: var(--text);
    font-size: calc(var(--font-nav-small) * var(--FONT-SIZE-NAV));

    body:not(.is-focused) & { outline: none; }

    &::placeholder {
      color: var(--text);
    }

    &:focus,
    &:active { box-shadow: none; }
  }

  .product-card__link {
    --link: var(--COLOR-HEADER-LINK);
    --link-hover: var(--COLOR-HEADER-LINK-HOVER);
  }

  .product-card__content .price { --text-light: var(--COLOR-HEADER-LINK); }
}

.search-popdown + .underlay { z-index: 6001; }

.theme__header header-search-popdown.is-open .search-popdown,
.theme__header header-search-popdown.is-open .predictive-search {
  width: 100vw;
  padding-right: var(--scrollbar-width); // Prevent CLS on opening/closing animation
}

header-search-popdown.is-open .search-popdown {
  opacity: 1;
  transition-delay: 0s;
  visibility: unset;
  max-height: calc(100vh - var(--announcement-height));
}

.search-popdown__main {
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg);
}

.search-popdown__close {
  position: relative;
  min-width: var(--icon-size, 24px);
  height: 100%;
  display: flex;

  .drawer__close {
    transition: none;
  }
}

.search-popdown__close__button {
  --icon-size: 24px;

  font-size: var(--FONT-SIZE-NAV);
  cursor: pointer;
  padding: 20px 5px;
  height: 100%;
  right: -11px;
}

.search-popdown__submit {
  --icon-size: 32px; // equals .navlink icon size

  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  margin-left: -8px;
  padding: 0;
}

.search-popdown__submit--flip-hidden .icon-search { opacity: 0; }

.flip-clone {
  position: fixed;
  z-index: 6003;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  line-height: 0;
  color: var(--link);
}

header-search-popdown.is-animating .search-popdown {
  visibility: unset;
  transition: none;
  will-change: clip-path, opacity;
}

header-search-popdown.is-animating .predictive-search,
header-search-popdown.is-animating .predictive-search--empty {
  opacity: 0;
  visibility: hidden;
  transition: none;
}
