@use '../globals' as *;

.product__images {
  --gap: 15px;

  display: block;
}

@include media-query($large-up) {
  body:has([data-header-transparent]):has(.main-content > .shopify-section.section-overlay-header:first-of-type) .product__images { margin-top: calc(var(--PT) * -1); }
}

@include media-query($medium) {
  body:has([data-header-transparent]):has(.main-content > .shopify-section.section-overlay-header:first-of-type) .product__images { margin-top: calc(var(--PT) * -0.8); }
}

@include media-query($small) {
  body:has([data-header-transparent]):has(.main-content > .shopify-section.section-overlay-header:first-of-type) .product__images { margin-top: calc(var(--PT) * -0.6); }
}

.product__wrapper--stretch .product__images {
  @include media-query($medium-up) {
    margin-left: var(--outer-offset);
  }
}

@include media-query($large-up) {
  .product__wrapper--grid-1,
  .product__wrapper--grid-2 {
    .swiper-wrapper:not(.is-initialized),
    swiper-container.swiper-disabled::part(wrapper) {
      columns: 2;
      column-gap: var(--gap);
    }
  }
}

@include media-query($medium-up) {
  .product__wrapper--grid-1,
  .product__wrapper--grid-2,
  .product__wrapper--stacked {
    .swiper-wrapper { display: block; }

    .product__slide {
      padding-bottom: var(--gap);
      break-inside: avoid;
      position: relative;
      display: block;

      &:last-child { padding-bottom: 0; }
    }
  }

  .product__wrapper--grid-1 .product__thumbs,
  .product__wrapper--grid-2 .product__thumbs,
  .product__wrapper--stacked .product__thumbs {
    display: none;
  }

  swiper-container.swiper-disabled::part(wrapper) {
    height: auto;
    display: block;
  }

  swiper-container.swiper-disabled .product__slide {
    opacity: 1 !important;
    transform: none !important;
  }
}

@include media-query($small) {
  .product__slides .swiper-wrapper:not(.is-initialized) {
    .product__slide:not(:first-child) {
      display: none;
    }
  }
}

.product__wrapper--grid-1 .product__slide:first-child,
.product__wrapper--grid-2 .product__slide:only-child { column-span: all; }


.product__slides {
  display: block;
  position: relative;
  font-size: 0;
  flex: 1 1 100%;

  @include media-query($small) {
    margin-bottom: 10px;
  }

  // Navigation buttons
  .swiper-button-prev,
  .swiper-button-next {
    --btn-size: 40px;

    width: var(--btn-size);
    height: var(--btn-size);
    margin-top: 0;
    padding: 6px;
    color: var(--text);
    background: transparent;
  }

  .swiper-button-prev { left: var(--inner); }
  .swiper-button-next { right: var(--inner); }

  // Hide navigation when only one slide
  &:has(swiper-slide:only-child) {
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  }
}

.product__wrapper--thumbnails,
.product__wrapper--thumbnails-left,
.product__wrapper--thumbnails-right {
  .product__slides {
    swiper-container:not(.is-initialized) swiper-slide:not(:first-child) {
      display: none;
    }
  }
}

.product__slide { width: 100% !important; }

.product__thumbs {
  --btn-size: 28px;

  position: relative;
  display: block;
  flex: 1 1 100%;
  margin: 10px 0;

  @include media-query ($small) {
    min-height: 75px; // Prevent CLS
  }

  .swiper-wrapper:not(.is-initialized) { overflow: hidden; }

  // Thumbs navigation arrows
  .product__thumbs__arrow {
    z-index: 2;
  }

  // Hide arrows and remove padding when scrolling isn't needed
  &.thumbs-no-scroll {
    .product__thumbs__arrow {
      display: none;
    }

    &[data-direction="horizontal"] .swiper,
    &[data-direction="vertical"] .swiper {
      padding: 0;
    }
  }

  // Add padding to prevent slides from colliding with arrows
  &:not(.thumbs-no-scroll) {
    &[data-direction="horizontal"] .swiper {
      padding-left: var(--btn-size, 28px);
      padding-right: var(--btn-size, 28px);
    }

    @include media-query($medium-up) {
      &[data-direction="vertical"] .swiper {
        padding-top: var(--btn-size, 28px);
        padding-bottom: var(--btn-size, 28px);
      }
    }

    @include media-query($small) {
      // Override vertical layout to horizontal on mobile
      &[data-direction="vertical"] {
        .swiper {
          padding-left: var(--btn-size, 28px);
          padding-right: var(--btn-size, 28px);
        }

        .scroll-arrow {
          top: 0;
          width: var(--btn-size, 28px);
          height: 100%;

          &::after {
            top: 0;
            bottom: 0;
            height: 100%;
            width: 12px;
          }
        }

        .scroll-arrow--prev {
          left: 0;
          right: auto;

          &::after {
            left: 100%;
            background: linear-gradient(to right,var(--COLOR-BG) 0%, transparent 100%);
          }
        }

        .scroll-arrow--next {
          right: 0;
          left: auto;

          &::after {
            right: 100%;
            background: linear-gradient(to left,var(--COLOR-BG) 0%, transparent 100%);
          }
        }
      }
    }
  }
}

// Thumbnails left/right
.product__wrapper--thumbnails-right,
.product__wrapper--thumbnails-left {
  .swiper-wrapper:not(.is-initialized) { gap: var(--gap); }

  @include media-query ($medium-up) {
    .product__images:has(.product__thumbs) {
      position: relative;
    }

    .product__thumbs {
      position: absolute;
      top: 0;
      flex: 0 0 75px;
      width: 75px;
      height: 100%;
      margin: 0;

      .swiper { height: 100% !important; }

      swiper-container:not(.is-initialized) {
        display: flex;
        flex-direction: column;
        height: 100% !important;
      }
    }

    .product__thumbs__arrow .icon { transform: rotate(90deg); }
  }

  @include media-query($small) {
    .product__thumbs {
      position: relative;
      width: 100%;
    }
  }
}

@include media-query($small) {
  .product__thumbs {
    &[data-direction="vertical"] {
      // Override vertical layout to horizontal
      .swiper { height: auto !important; }

      swiper-container:not(.is-initialized) {
        display: flex;
        flex-direction: row !important;
        height: auto !important;
      }

      .swiper-wrapper { flex-direction: row !important; }
    }
  }

  .product__images--mobile-no-thumbs .product__thumbs { display: none; }
}

@include media-query ($medium-up) {
  .product__wrapper--thumbnails-left .product__images:has(.product__thumbs) { padding-left: 90px; }
  .product__wrapper--thumbnails-right .product__images:has(.product__thumbs) { padding-right: 90px; }
  .product__wrapper--thumbnails-left .product__thumbs { left: 0; }
  .product__wrapper--thumbnails-right .product__thumbs { right: 0; }
}

.product__thumb {
  position: relative;
  margin: 0;
  cursor: pointer;
  width: 75px;
  height: 75px;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid var(--accent);
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
  }

  @include media-query($medium-up) {
    .product__wrapper--thumbnails .swiper-wrapper:not(.is-initialized) & {
      margin: 0 10px 0 0;

      &:last-child { margin-right: 0; }
    }
  }

  @include media-query($small) {
    .product__wrapper--thumbnails .swiper-wrapper:not(.is-initialized) & {
      margin: 0 10px 0 0;

      &:last-child { margin-right: 0; }
    }
  }

  &.is-active::after,
  &.swiper-slide-thumb-active::after {
    opacity: 1;
  }

  .icon {
    position: absolute;
    top: 2px;
    right: 2px;
    margin: 0;
    height: 20px;
    width: 20px;
    color: transparent;
    fill: var(--bg);
    vertical-align: baseline;

    path {
      fill: inherit;
      stroke: inherit;

      &.icon-media-model-outline,
      &.icon-media-video-outline { stroke: var(--border-hairline); }

      &.icon-media-model-element,
      &.icon-media-video-element { fill: var(--text-dark); }
    }
  }
}

.product__thumb__link {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  font-size: 0;
  line-height: 0;
  padding: 0;
  text-align: center;
  background: var(--bg);
}

.product__photo {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-top: calc(1 / var(--aspect-ratio, 1) * 100%);
  background: var(--bg);

  .image-wrapper,
  .placeholder-svg {
    position: absolute;
    top: 0;
  }
}

.product__photo--blank {
  background: var(--bg-accent);
  padding-top: 100%;
}

.product__photo img { pointer-events: none; }

zoom-images [data-zoom-image] { cursor: pointer; }
zoom-images [data-zoom-image].is-dragging { pointer-events: none; }

body.is-focused .product__photo {
  &:focus::after,
  &.focus-visible::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--border);
    pointer-events: none;
    box-sizing: border-box;
    z-index: 2;
  }
}

.product__media iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.shopify-model-viewer-ui,
model-viewer {
  width: 100%;
  height: 100%;
  position: absolute !important;
  top: 0;
  left: 0;
  max-width: 100%;
}

.btn--ar {
  width: 100%;
  position: relative;
  margin-top: 4px;
  padding: 10px 15px;

  &[data-shopify-xr-hidden] {
    position: absolute;
    overflow: hidden;
    visibility: hidden;
    max-width: 0;
    max-height: 0;
    padding: 0;
    border: none;
    margin: 0;
    opacity: 0;

    @include media-query($medium-up) {
      display: none;
    }
  }

  &:hover,
  &:focus {
    .product-single__view-in-space-text { border-bottom-color: var(--text-dark); }
  }

  .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    color: transparent;

    path {
      fill: inherit;
      stroke: inherit;

      &.icon-media-model-outline { stroke: none; }

      &.icon-media-model-element {
        fill: var(--text-dark);
        opacity: 1;
      }
    }
  }
}
