@use '../globals' as *;

product-sticky,
product-info { display: block; }

@include media-query($medium-up) {
  .product__page {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .product__wrapper--small .product__page {
    grid-template-columns: 37.5% 50%;
    gap: var(--gap);
    justify-content: flex-end;
  }

  .product__wrapper--stretch .product__page {
    grid-template-columns: repeat(2, minmax(0, 1fr)); // Images min 50%, content max 480px
  }

  .product__wrapper--reversed .product__content {
    order: -1;
    padding: 0 var(--outer) 0 0;
  }
}

.product__page .form__wrapper.is-sticky {
  position: sticky;
  top: var(--sticky-top, 0);
  z-index: 10;

  @include media-query($small) {
    position: static;
    top: 0;
  }
}

.product__wrapper { margin: 0 var(--outer); }
.product__wrapper .select-popout__toggle::before { border-color: var(--text); }

.product__wrapper__inner {
  max-width: 1400px;
  margin: 0 auto;
}
.product__wrapper--stretch .product__wrapper__inner { max-width: none; }

// Hide thumbnails when Images Style is set to Stretch
.product__wrapper--stretch .product__thumbs {
  @include media-query($medium-up) {
    display: none;
  }
}

.product__images {
  --gap: 15px;

  display: block;
}

.product__content {
  @include media-query($medium-up) {
    padding-left: var(--outer);
  }
}

body:has([data-header-transparent]):has(.main-content > .shopify-section.section-overlay-header:first-of-type) .product__content { padding-top: var(--header-height, 0); }
body:has([data-header-transparent]):has(.main-content > .shopify-section.section-overlay-header:first-of-type):has(.index-product) .product__content { padding-top: 0; }

@include media-query($large-up) {
  body:has([data-header-transparent]):has(.main-content > .shopify-section.section-overlay-header:first-of-type) .product__images { margin-top: calc(var(--PT) * -1); }
}

@include media-query($medium) {
  body:has([data-header-transparent]):has(.main-content > .shopify-section.section-overlay-header:first-of-type) .product__images { margin-top: calc(var(--PT) * -0.8); }
}

@include media-query($small) {
  body:has([data-header-transparent]):has(.main-content > .shopify-section.section-overlay-header:first-of-type) .product__images { margin-top: calc(var(--PT) * -0.6); }
}

.product__wrapper--stretch .product__images {
  @include media-query($medium-up) {
    margin-left: var(--outer-offset);
  }
}

.product__wrapper--grid-1 .product__slides,
.product__wrapper--grid-2 .product__slides {
  @include media-query($large-up) {
    columns: 2;
    column-gap: var(--gap);
  }
}

.product__wrapper--grid-1 .product__slide,
.product__wrapper--grid-2 .product__slide,
.product__wrapper--stacked .product__slide {
  @include media-query($medium-up) {
    padding-bottom: var(--gap);
    break-inside: avoid;
    position: relative;

    &:last-child { padding-bottom: 0; }
  }
}

.product__wrapper--grid-1 .product__thumbs,
.product__wrapper--grid-2 .product__thumbs,
.product__wrapper--stacked .product__thumbs {
  @include media-query($medium-up) {
    display: none;
  }
}

.product__wrapper--grid-1 .product__slide:first-child,
.product__wrapper--grid-2 .product__slide:only-child { column-span: all; }

.product__slides {
  display: block;
  position: relative;
  font-size: 0;
  flex: 1 1 100%;
  transition: height 0.3s ease;

  @include media-query($small) {
    margin-bottom: 10px;
  }

  [data-fader-desktop] & {
    @include media-query($medium-up) {
      height: var(--height, auto);

      &:active { cursor: grabbing; }
    }
  }

  [data-fader-mobile] & {
    @include media-query($small) {
      height: var(--height, auto);
    }
  }

  .slider__arrows {
    left: 0;
    right: 0;
  }

  .slider__button--prev { left: var(--inner); }
  .slider__button--next { right: var(--inner); }
}

@mixin product-thumbs {
  .product__slides {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    overflow: hidden;
  }

  .product__slide {
    grid-row-start: 1;
    grid-column-start: 1;
    transition: opacity 0.3s ease, visibility 0s;
  }

  .media--hidden {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition-delay: 0s, 0.3s;

    // Prevent images being instantly downloaded on page load
    figure { content-visibility: hidden; }
    figure img { display: none; }
  }

  .media--hiding {
    position: relative;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition-delay: 0s, 0.3s;

    figure { content-visibility: visible; }
    figure img { display: block; }
  }
}

.product__images--thumbs {
  @include media-query ($medium-up) {
    @include product-thumbs;
  }
}

.product__images--mobile-thumbs {
  @include media-query ($small) {
    @include product-thumbs;
  }
}

.product__slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
  cursor: grab;

  &:only-child { cursor: default; }
}

.product__thumbs {
  position: relative;
  display: block;
  flex: 1 1 100%;
  margin: 10px 0;

  @include media-query ($small) {
    min-height: 85px; // Prevent CLS

    .scroll-arrow { display: none; } // Hide on mobile
  }
}

@include media-query ($medium-up) {
  .product__wrapper--thumbnails .product__thumbs {
    .product__thumbs__holder { padding: 0 5px; }

    native-scrollbar {
      position: relative;
      padding: 0 28px;
      min-height: 100%;
    }
  }

  .product__wrapper--thumbnails-left,
  .product__wrapper--thumbnails-right {
    .product__thumbs__holder { padding: 5px 0; }

    .product__thumbs native-scrollbar {
      position: absolute;
      inset: 0;
      padding: 28px 0;
      min-height: 100%;

      .scroll-arrow {
        padding-right: 10px;

        .icon { transform: rotate(90deg); }
      }

      .scroll-arrow--prev { top: 0; }
      .scroll-arrow--next { bottom: 0; }
    }
  }

  .product__thumbs:has(native-scrollbar > .scroll-arrow--prev[disabled]):has(native-scrollbar > .scroll-arrow--next[disabled]) {
    .product__thumbs__holder,
    native-scrollbar { padding: 0; }
    native-scrollbar .scroll-arrow { display: none; }
  }
}

.product__thumbs__holder {
  position: relative;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  text-align: left;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

  @include hide-scrollbar;

  @include media-query ($small) {
    margin-left: var(--outer-offset);
    margin-right: var(--outer-offset);
    padding-left: var(--outer);
    scroll-padding: var(--outer);
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    &::after {
      content: "";
      display: block;
      position: relative;
      min-height: 1px;
      padding-right: var(--outer);
    }
  }
}

// Thumbnails left/right
.product__wrapper--thumbnails-right,
.product__wrapper--thumbnails-left {
  @include media-query ($medium-up) {
    .product__images { display: flex; }

    .product__thumbs__holder {
      position: relative;
      padding-right: 10px;
      width: 100%;
      height: 100%;
      flex-flow: column;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .product__thumbs {
      position: sticky;
      top: var(--header-sticky-height, 0);
      overflow: hidden;
      margin: 0 0 0 20px;
      flex: 0 0 85px;
      height: 100%;
      width: 85px;
    }

    .product__thumb {
      margin: 0 0 20px;
      padding: 0;
      font-size: 0;

      &:last-child { margin-bottom: 0; }

      &::after {
        position: absolute;
        top: 50%;
        right: -10px;
        left: auto;
        width: 2px;
        height: 30px;
        max-height: 90%;
        margin: 0;
        background: var(--border-dark);
        opacity: 0;
        pointer-events: none;
        transform: translateY(-50%);
        transition: opacity 0.2s;
      }
    }

    .product__slides { flex: 1 1 auto; }
  }

  @include media-query($small) {
    .product__thumbs__holder {
      position: relative;
      white-space: nowrap;
    }

    .product__thumbs {
      position: static;
      float: none;
    }
  }
}

.product__wrapper--thumbnails-left {
  @include media-query ($medium-up) {
    .product__thumbs__holder {
      padding: 0 0 0 10px;
    }

    .product__thumbs {
      order: -1;
      margin: 0 20px 0 0;
    }

    .product__thumb {
      &::after {
        left: -10px;
        right: auto;
      }
    }
  }
}

.product__thumb {
  position: relative;
  display: inline-block;
  margin: 0 10px 0 0;
  cursor: pointer;
  scroll-snap-align: start;

  &:last-child { margin-right: 0; }

  &:only-child .product__thumb__link { cursor: default; }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid var(--accent);
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
  }
}

.product__thumb.is-active::after { opacity: 1; }

.product__thumb__link {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  font-size: 0;
  line-height: 0;
  text-align: center;
  background: var(--bg);
}

.product__thumb__link__image {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__thumbs__holder .icon {
  position: absolute;
  top: 2px;
  right: 2px;
  margin: 0;
  height: 20px;
  width: 20px;
  color: transparent;
  fill: var(--bg);
  vertical-align: baseline;

  path {
    fill: inherit;
    stroke: inherit;

    &.icon-media-model-outline,
    &.icon-media-video-outline { stroke: var(--border-hairline); }

    &.icon-media-model-element,
    &.icon-media-video-element { fill: var(--text-dark); }
  }
}

.product__breadcrumbs {
  --link: var(--text);
  --link-hover: var(--text-light);

  margin: 0 0 0.5em;
}

.form__width {
  @include media-query($large-up) {
    max-width: 550px;
    margin: 0 auto;
  }
}

.product__block:empty { display: none; }

.product__complementary { margin-bottom: 0; }

.complementary-products {
  display: block;
  margin-bottom: var(--block-padding-bottom, 16px);
}

.complementary-products__title { margin-top: 0; }

.product__title__wrapper {
  position: relative;
  padding-right: 70px;
  padding-top: 0;
}

.product__title {
  margin-top: 0.5em;
  margin-bottom: 0;

  a { --link: var(--text); }

  @include media-query($medium-up) {
    margin-top: 0;
  }
}

.product__subheading p:only-child { margin: 0; }

.product__form__errors {
  opacity: 0;
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out 0.2s, max-height 0.5s cubic-bezier(0, 0.75, 0.25, 1), visibility 0.5s;
  text-align: center;
  transform: translate3d(0, -20px, 0);

  &.is-visible {
    max-height: 500px;
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
    transition: opacity 0.5s ease, transform 0.5s ease, max-height 0.5s cubic-bezier(0, 0, 0.75, 0), visibility 0.5s;
  }

  @include media-query($mobile) {
    max-width: calc(400px - 10px);
  }

  .errors {
    margin: 10px 0;
    text-align: left;
    padding: var(--btn-top) 30px var(--btn-top) var(--btn-left);
    line-height: var(--line-height-normal);
  }

  .errors__close {
    top: -1px; // 1px border top
    min-height: var(--btn-height);
  }
}

// A11y outline styles
.is-focused {
  model-viewer:focus,
  video:focus {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      box-shadow: inset 0 0 2px 2px var(--border);
      box-sizing: border-box;
      pointer-events: none;
    }
  }
}

// Product modal used for size charts & popups
product-modal { display: flex; }

.product-modal__outer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: var(--outer);
  pointer-events: none;
}

dialog[open] .product-modal__outer { animation: heroFadeIn 0.5s ease forwards; }
dialog[closing] .product-modal__outer { animation: heroFadeOut 0.5s ease forwards; }

.product-modal__content {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  background: var(--bg);
  padding: calc(var(--inner) * 1.5) var(--inner);
  pointer-events: auto;
  max-height: 100%;

  .product-tabs {
    margin-top: 5px;

    ul.tabs > li { padding: 0; }
  }

  .tab-content { padding: 0; }

  .product-tabs__head {
    padding: 13px;
    margin: 0 -13px -13px;
  }
}

.product-modal__close {
  position: sticky;
  top: -10px;
  right: calc(var(--inner) * -1);
  display: block;
  margin: -10px -10px -10px auto;
  z-index: 20;
  transition: transform 0.3s;
}

.product-modal__close:hover { transform: rotate(90deg); }

.block__icon__container {
  display: flex;
  align-items: center;
}

.block__icon__container--full {
  flex: 0 0 100%;
  max-width: 100%;
}

.block__icon__container--half {
  flex: 0 0 50%;
  max-width: 50%;
}

.block__icon__container--third {
  flex: 0 0 33%;
  max-width: 33%;

  @include media-query($mobile) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.block__icon__container--quarter {
  flex: 0 0 25%;
  max-width: 25%;

  @include media-query($mobile) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.block__icon__row {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.block__icon {
  align-self: flex-start;
  width: var(--icon-size, 20px);
  flex: 0 0 var(--icon-size, 20px);
  margin: 0 var(--SPACING-MICRO) 0 0;
}

.block__icon__text {
  overflow-wrap: break-word;

  p { margin: 0; }
}

/* No thumbs on mobile */
@include media-query ($small) {
  .product__images--mobile-slider {
    .product__thumbs { display: none; }

    .product__slides {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      gap: 0;
      margin-left: var(--gap-offset);
      margin-right: var(--gap-offset);
      padding-left: var(--gap);
      overflow-x: scroll;
      overflow-y: hidden;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;
      scroll-padding: var(--gap);

      @include hide-scrollbar;

      align-items: flex-start;
    }

    .product__slides::after {
      content: "";
      display: block;
      position: relative;
      padding-right: var(--gap);
    }

    .product__slide {
      flex: 0 0 auto;
      width: calc(100% - 50px);
      margin: 0 var(--gap) 0 0;
      scroll-snap-align: start;
      &:only-child { width: calc(100% - var(--gap)); }
      &:last-child { margin-right: 0; }
    }

    .media--hidden,
    .media--hiding {
      position: unset;
      left: unset;
      opacity: unset;
      visibility: unset;

      // Prevent images being instantly downloaded on page load
      figure { content-visibility: unset; }
      figure img { display: block; }
    }
  }
}

.product__badges {
  display: flex;
  gap: 10px;
}

.product__sku {
  font-size: var(--font-body-small);
  text-transform: uppercase;
}

// Guide styles
.guide__line {
  display: flex;
  margin: 10px 0;
}

.guide__line:first-child { margin-top: 0; }
.guide__line:last-child { margin-bottom: 0; }

.guide__line span {
  flex: 1;
  height: 3px;
  border-radius: 3px;
  margin: 0 2px;
  background: var(--border);
  font-size: 0;
  line-height: 0;
}

.guide__line span:first-child { margin-left: 0; }
.guide__line span:last-child { margin-right: 0; }

.guide__line span.is-active { background: var(--text); }

.guide__content {
  display: flex;
  justify-content: space-around;
}

.guide__content--skip-right::after,
.guide__content--skip-left::before { content: ''; }

.guide__content--skip-right::after,
.guide__content--skip-left::before,
.guide__left,
.guide__right { flex: 1 0 0; }

.guide__middle {
  flex-grow: 0;
  max-width: 70%;
  padding: 0 5px;
  text-align: center;
}

.guide__right { text-align: right; }
