@use '../globals' as *;

.quick-add__holder {
  --btn-text: var(--accent);

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 10px;
  z-index: 10;
  pointer-events: auto;
  transform-origin: right bottom;
}

.no-touch {
  .product-card .product-card__image:hover {
    .quick-add__button { visibility: unset; }
  }

  @include media-query ($medium-up) {
    body.is-focused .product-card .quick-add__button {
      visibility: unset;
      transition: none;
    }

    .product-card .quick-add__holder {
      opacity: 0;
      animation: slideOutDown 0.25s ease;
    }

    .product-card .quick-add__button {
      visibility: hidden;
      transition: visibility 0.5s;

      &.has-error {
        animation: slideToggle 3s ease;
        animation-fill-mode: forwards;
      }
    }

    .product-card .product-card__image:hover {
      .quick-add__holder:not(.is-disabled) {
        animation: slideInUp 0.25s ease;
        animation-fill-mode: forwards;
      }
    }

    body.is-focused .product-card .quick-add__holder:focus-within,
    .product-card .quick-add__holder.is-visible,
    .product-card .quick-add__holder.has-error {
      animation: slideInUp 0.25s ease;
      animation-fill-mode: forwards;
    }
    .product-card .quick-add__holder.is-disabled { animation: slideOutDown 0.25s ease; }
    .product-card .quick-add__holder.is-disabled .quick-add__button { visibility: hidden; }

    .product-card .has-error > .quick-add__button {
      @include media-query($medium-down) {
        visibility: unset;
        display: block;
        max-height: none;
        padding: 15px;
        opacity: 1;
      }
    }
  }
}

.quick-add__holder.is-disabled { pointer-events: none; }

.quick-add__holder.has-error > form,
.quick-add__holder.has-error .quick-add__button { width: 100%; }

.quick-add__holder.is-expanded.is-visible {
  .quick-add__loader circle ~ circle { animation-play-state: running; }

  .quick-add__loader,
  .quick-add__errors.is-visible {
    display: block;
    opacity: 1;
  }

  .quick-add__value { opacity: 0; }

  .quick-add__errors.is-visible ~ .quick-add__values { display: none; }
}

.quick-add__holder.is-expanded {
  .quick-add__values { display: block; }

  .quick-add__button { display: none; }
}

.quick-add__values {
  position: relative;
  display: none;
  flex: 0 1 100%;
  width: 100%;
  padding: 2px;
  background: var(--COLOR-QUICK-ADD-BG);
  color: var(--COLOR-QUICK-ADD-TEXT);
  font-size: var(--font-body-small);
  text-align: center;

  .quick-add__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
}

.quick-add__value {
  min-width: 40px;
  padding: 2px 5px;
  margin: 2px;
  transition: background 0.3s;
}

.quick-add__value:not(:disabled):hover { background: var(--COLOR-QUICK-ADD-BG-HOVER); }

.quick-add__value:disabled {
  text-decoration: line-through;
  cursor: default;
}

.quick-add__errors {
  flex: 0 1 100%;
  display: none;
  background-color: var(--COLOR-ERROR-BG);
  color: var(--COLOR-ERROR);
  text-align: center;

  .errors { padding: 10px; }

  .errors__close { display: none; }
}

.quick-add__button {
  font-size: var(--font-body-x-small);
  color: var(--COLOR-QUICK-ADD-TEXT);
  background: var(--COLOR-QUICK-ADD-BG);

  &.is-visible,
  &.is-loading,
  &.is-added {
    visibility: unset !important;
  }

  &.is-disabled {
    pointer-events: none;
  }

  @include media-query($medium-up) {
    position: relative;
    display: flex;
    width: auto;
    padding: 15px;
    cursor: pointer;
    box-shadow: none;
    text-decoration: none;

    .btn__bag {
      position: absolute;
      margin: -5px 15px 3px auto;
      display: block;
      align-self: center;
      width: 16px;
      height: 16px;
      transform: scale(0);
      transition: transform 0.3s ease;
    }
    .btn__text { transition: padding 0.3s ease; }

    &:hover:not(.is-loading, .is-added) {
      .btn__bag { transform: none; }
      .btn__text { padding-inline-end: 24px; }
    }
  }

  @include media-query($small) {
    --btn-size: 36px;
    --btn-offset: 5px;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--btn-size);
    height: var(--btn-size);
    border-radius: var(--radius);
    // Always use global colors here
    background: var(--bg);
    pointer-events: auto;
    font-size: 0;
    z-index: 1;

    // Make clickable are bigger
    &::after {
      content: "";
      position: absolute;
      top: calc(var(--btn-offset) * -1);
      left: calc(var(--btn-offset) * -1);
      width: calc(var(--btn-size) + var(--btn-offset) * 2);
      height: calc(var(--btn-size) + var(--btn-offset) * 2);
      z-index: -1;
      opacity: 0;
    }

    .has-error & {
      width: auto;
      right: var(--btn-offset);

      .btn__error {
        font-size: var(--BTN-FONT-SIZE);
      }
    }

    .btn__text {
      display: none;
    }
  }
}

.quick-add__button > span {
  pointer-events: none;
}