@use '../globals' as *;

.quick-add__holder {
  --btn-text: var(--accent);

  position: absolute;
  right: 0;
  bottom: 0;
  margin: 10px;
  z-index: 10;
  pointer-events: auto;
  transform-origin: right bottom;
}

.no-touch {
  .product-card:not(.is-bundle) .product-card__image:hover {
    .quick-add__button { visibility: unset; }
  }

  @include media-query ($medium-up) {
    body.is-focused .product-card:not(.is-bundle) .quick-add__button {
      visibility: unset;
      transition: none;
    }

    .product-card:not(.is-bundle) .quick-add__holder {
      opacity: 0;
      animation: slideOutDown 0.25s ease;
    }

    .product-card:not(.is-bundle) .quick-add__button {
      visibility: hidden;
      transition: visibility 0.5s;

      &.has-error {
        animation: slideToggle 3s ease;
        animation-fill-mode: forwards;
      }
    }

    .product-card:not(.is-bundle) .product-card__image:hover {
      .quick-add__holder:not(.is-disabled) {
        animation: slideInUp 0.25s ease;
        animation-fill-mode: forwards;
      }
    }

    body.is-focused .product-card:not(.is-bundle) .quick-add__holder:focus-within,
    .product-card:not(.is-bundle) .quick-add__holder.is-visible,
    .product-card:not(.is-bundle) .quick-add__holder.has-error {
      animation: slideInUp 0.25s ease;
      animation-fill-mode: forwards;
    }
    .product-card:not(.is-bundle) .quick-add__holder.is-disabled { animation: slideOutDown 0.25s ease; }
    .product-card:not(.is-bundle) .quick-add__holder.is-disabled .quick-add__button { visibility: hidden; }

    .product-card:not(.is-bundle) .has-error > .quick-add__button {
      @include media-query($medium-down) {
        visibility: unset;
        display: block;
        max-height: none;
        padding: 15px;
        opacity: 1;
      }
    }
  }
}

.quick-add__holder.is-disabled {
  pointer-events: none;
}

.quick-add__button {
  font-size: var(--font-body-small);
  color: var(--COLOR-QUICK-ADD-TEXT);
  background: var(--COLOR-QUICK-ADD-BG);

  &.is-visible,
  &.is-loading,
  &.is-added {
    visibility: unset;
  }

  &.is-disabled {
    pointer-events: none;
  }

  @include media-query($medium-up) {
    position: relative;
    display: flex;
    width: auto;
    padding: 15px;
    cursor: pointer;
    box-shadow: none;
    text-decoration: none;

    .btn__bag {
      position: absolute;
      margin: 0 10px 0 auto;
      display: block;
      align-self: center;
      width: 24px;
      height: 24px;
      transform: scale(0);
      transition: transform .3s ease;
    }
    .btn__text { transition: padding .3s ease; }

    &:hover:not(.is-loading, .is-added) {
      .btn__bag { transform: none; }
      .btn__text { padding-inline-end: 24px; }
    }
  }

  @include media-query($small) {
    --btn-size: 36px;
    --btn-offset: 5px;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--btn-size);
    height: var(--btn-size);
    border-radius: var(--radius);
    // Always use global colors here
    background: var(--bg);
    pointer-events: auto;
    font-size: 0;
    z-index: 1;

    // Make clickable are bigger
    &::after {
      content: "";
      position: absolute;
      top: calc(var(--btn-offset) * -1);
      left: calc(var(--btn-offset) * -1);
      width: calc(var(--btn-size) + var(--btn-offset) * 2);
      height: calc(var(--btn-size) + var(--btn-offset) * 2);
      z-index: -1;
      opacity: 0;
    }

    .has-error & {
      width: auto;
      right: var(--btn-offset);

      .btn__error {
        font-size: var(--BTN-FONT-SIZE);
      }
    }

    .btn__text {
      display: none;
    }
  }
}

.quick-add__button > span {
  pointer-events: none;
}

@keyframes slideInUp {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideOutDown {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes slideToggle {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  10% {
    transform: scale(1);
    opacity: 1;
  }

  90% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}