@use '../globals' as *;

related-products,
recently-viewed { display: block; }

.related__products {
  text-align: center;

  .tab-link,
  .tab-content { padding: 0; }
}

.recent__content a {
  opacity: 1;
  width: auto;
  height: auto;
  display: block;
}
