@use '../globals' as *;

.accordion-group__items {
  display: grid;
  align-items: start;
  column-gap: var(--gap);

  @include media-query($medium-up) { grid-template-columns: repeat(var(--accordion-columns, 1), minmax(0, 1fr)); }
}

.accordions-holder + .accordions-holder { margin-top: -1px; } // Eliminate the double border between sections

.accordions-holder {
  // No margins if reviews are disabled from Theme Settings or we use the section reviews on PDP with accordion setting on
  &:empty { margin: 0 !important; }

  @include media-query($small) {
    .accordion__body {
      margin-left: var(--outer-offset);
      margin-right: var(--outer-offset);
    }
  }
}

.accordion__heading {
  margin: 2.5rem 0;
  grid-column: 1 / -1;

  &:first-child { margin-top: 0; }
}
