@use '../globals' as *;

.tab-collections {
  .btn { max-width: 100%; }

  .tabs-collections { position: relative; }

  .tab-content {
    padding: 0;
    min-height: 0;
  }

  .grid__heading-image .svg-placeholder {
    color: #BBB;
    background: #CCC;
  }

  @include media-query($medium-up) {
    .tabs-collections__head .grid__heading-holder:not(.grid__heading-holder--inline) .grid__heading-text:not(:last-child) { margin-bottom: var(--gap); }
  }

  @include media-query($small) {
    .tabs-collections__head .grid__heading-holder { margin-bottom: 0; }
    .tabs-collections__head .grid__heading-text { margin-bottom: calc(var(--gap) * 2); }
    .tabs-collections__head .grid__heading-actions { margin-bottom: var(--gap); }
  }
}
