@use '../globals' as *;

.tab-collections {
  .btn { max-width: 100%; }

  .tabs-collections { position: relative; }

  .tabs__nav {
    flex: 0 1 auto;
    position: relative;
  }
  .tabs__nav:only-child { flex: 1 1 auto; }

  .tabs {
    display: block;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 auto;

    @include hide-scrollbar;
  }

  .tab-link {
    padding: 5px 0;
    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
  }

  .tab-content {
    padding: 0;
    min-height: 0;
  }

  .grid__heading-image .svg-placeholder {
    color: #BBB;
    background: #CCC;
  }

  @include media-query($medium-up) {
    .tabs-collections__head .grid__heading-holder:not(.grid__heading-holder--inline) .grid__heading-text:not(:last-child) { margin-bottom: var(--gap); }
  }

  @include media-query($small) {
    .tabs-collections__head .grid__heading-holder { margin-bottom: 0; }
    .tabs-collections__head .grid__heading-text { margin-bottom: calc(var(--gap) * 2); }
    .tabs-collections__head .grid__heading-actions { margin-bottom: var(--gap); }
  }
}
