// Before After

@import "../tools/mixins.scss";
@import "../settings/variables.scss";

.section-before-after compare-images {
  height: 0;
  padding-top: calc(1 / var(--aspect-ratio) * 100%);
}

.before-after {
  @include media-query($medium-up) {
    display: flex;
    align-items: flex-start;
  }
}

.before-after__content {
  @include media-query($medium-up) {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    align-self: center;
    padding-right: var(--outer);
  }

  p { margin: 0; }
}

.wrapper--full .before-after__content {
  padding-left: var(--outer);

  @include media-query($small) {
    padding-right: var(--outer);
  }
}

.wrapper--full .before-after__buttons {
  @include media-query($small) {
    padding: 0 var(--outer);
  }
}

.before-after__buttons.mobile {
  @include media-query($small) {
    padding-top: var(--outer);
  }
}

.before-after__images {
  overflow: hidden;

  @include media-query($medium-up) {
    flex: 0 0 50%;
  }
}

.before-after__images--full-width {
  @include media-query($medium-up) {
    flex: 0 0 100%;
  }
}
