@use "sass:list";
@use "sass:map";

@import "../tools/mixins.scss";
@import "../settings/variables.scss";

related-products,
recently-viewed { display: block; }

.related__products {
  text-align: center;

  .tab-link,
  .tab-content { padding: 0; }

  .grid--slider::after {
    @include media-query($medium-up) {
      content: "flickity";
      display: none;
    }
  }
}
