@use '../globals' as *;

.slideshow {
  position: relative;
  height: auto;
  overflow: hidden;
  transition: min-height 0.5s linear;

  .hero__content__wrapper {
    pointer-events: none;

    a { pointer-events: auto; }
  }

  .hero__content { margin: var(--outer); }

  .hero__content--transparent {
    padding: var(--outer) var(--outer) calc(var(--outer) - var(--line));
    margin: 0;
  }
}

// Zoom out animation
.swiper--zoom-out .image__fill > img {
  will-change: opacity, transform;
  transform: scale(1.2);
  transition: transform 2s $ease-out-fast;
}


.swiper--zoom-out:has(.is-initialized) .swiper-slide-active .image__fill > img {
  opacity: 1;
  transform: scale(1);
}

// Wipe animation
.swiper--wipe:has(.is-initialized) {
  swiper-slide { transition: transform 0.5s 0s ease, opacity 0.5s 0.5s ease; }

  .swiper-slide-active,
  .swiper-slide-visible { transition: transform 0.5s 0s ease, opacity 0.5s 0s ease; }
  .swiper-slide-active { z-index: 2; }
}

.swiper--wipe .swiper-slide-active .hero__image {
  animation: carClipPathFromRight 0.5s ease-out;
  animation-fill-mode: both;
}

@keyframes carClipPathFromRight {
  0% {
    clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);
    transform: translateX(2%);
  }

  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transform: translateX(0);
  }
}
