@use '../../../theme/css/globals' as *;

.section-countdown {
  position: relative;
  overflow: hidden;

  .brick__section {
    position: relative;
    gap: var(--gap);
    align-content: center;
    align-items: center;
    padding: var(--inner) 0;
  }

  .flex-column { justify-content: center; }
  .image-overlay { z-index: auto; }

  .brick__block,
  .hero__content { background: transparent; }

  .hero__content { flex: 1; }

  .hero__content__wrapper { overflow: unset; }
  .backdrop--radial { z-index: 1; }

  @include media-query($small) {
    .brick__block { min-width: 100%; }
  }
}
