@use '../globals' as *;

.car-index-hero--split-images {
  .car-hero__split-image--blank:nth-of-type(2) { filter: brightness(0.9); }
  &.has-missing-metafield-image .car-hero__split-image--blank { display: none; }
}

.car-index-hero--split-images-with-text {
  .car-brick__block--blank:nth-of-type(2),
  .car-brick__block--blank:first-of-type + .car-brick__block:nth-of-type(2) { filter: brightness(0.9); }

  .car-hero__split-image { height: 100%; }

  .car-hero__content {
    @include media-query($large-up) {
      max-width: 100%;
    }
  }
}