button,
.btn {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.no-outline {
  button, .btn {
    outline: none;

    &:focus-within, &:focus-visible, &:focus {
      outline: none;
    }
  }
}

.btn,
.shopify-challenge__container .shopify-challenge__button {
  color: var(--color-text-primary);
	display: block;
  padding: 8px 20px 10px;
	font-family: var(--font-primary);
	font-weight: 400;
	font-size: var(--button-font-size);
  line-height: 1.429;
	text-align: center;
	text-decoration: none;
	border-radius: 20px;
	cursor: pointer;
	transition: all var(--duration-short, .3s) ease-in-out;
  width: 100%;
  max-width: 265px;
  border: 1px solid transparent;
  background: transparent;

	&[disabled],
	&.disabled {
		opacity: .5;
		cursor: not-allowed;
	}

	&.btn--full-width {
		width: 100%;
    max-width: 100%;
	}

  &.btn--small {
    max-width: 200px;
  }
}

.btn--reset {
  background-color: transparent;
  color: inherit;
  border: none;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  margin: 0;
  text-align: left;
  cursor: pointer;
}

.btn--primary {
	background: var(--color-btn-primary-bg);
	color: var(--color-btn-primary-text);
	border: 1px solid var(--color-btn-primary-bg);

	&:not([disabled]):not(.disabled) {
		&:hover {
			background: var(--color-btn-primary-bg-hover);
			color: var(--color-btn-primary-text-hover);
			border-color: var(--color-btn-primary-border-hover);
		}
	}

  &[disabled], &.disabled {
    opacity: 1;
    background: var(--color-btn-primary-bg-inactive);
    color: var(--color-btn-primary-text-inactive);
    border-color: var(--color-btn-primary-border-inactive);
  }
}

.btn--secondary,
#send-update-payment-email-button,
.shopify-challenge__container .shopify-challenge__button {
  background: var(--color-btn-secondary-bg);
  color: var(--color-btn-secondary-text);
  border: 1px solid var(--color-btn-secondary-border);

  &:not([disabled]):not(.disabled) {
    &:hover {
      background: var(--color-btn-secondary-bg-hover);
      color: var(--color-btn-secondary-text-hover);
      border-color: var(--color-btn-secondary-border-hover);
    }
  }

  &[disabled], &.disabled {
    opacity: 1;
    background: var(--color-btn-secondary-bg-inactive);
    color: var(--color-btn-secondary-text-inactive);
    border-color: var(--color-btn-secondary-border-inactive);
  }
}

.btn--primary-alt {
  background: var(--color-btn-primary-alt-bg);
  color: var(--color-btn-primary-alt-text);
  border: 1px solid var(--color-btn-primary-alt-border);

  &:not([disabled]):not(.disabled) {
    &:hover {
      background: var(--color-btn-primary-alt-bg-hover);
      color: var(--color-btn-primary-alt-text-hover);
      border-color: var(--color-btn-primary-alt-border-hover);
    }
  }

  &[disabled], &.disabled {
    opacity: 1;
    background: var(--color-btn-primary-bg-inactive);
    color: var(--color-btn-primary-text-inactive);
    border-color: var(--color-btn-primary-border-inactive);
  }
}

.btn--secondary-alt {
  background: var(--color-btn-secondary-alt-bg);
  color: var(--color-btn-secondary-alt-text);
  border: 1px solid var(--color-btn-secondary-alt-border);

  &:not([disabled]):not(.disabled) {
    &:hover {
      background: var(--color-btn-secondary-alt-bg-hover);
      color: var(--color-btn-secondary-alt-text-hover);
      border-color: var(--color-btn-secondary-alt-border-hover);
    }
  }

  &[disabled], &.disabled {
    opacity: 1;
    background: var(--color-btn-secondary-bg-inactive);
    color: var(--color-btn-secondary-text-inactive);
    border-color: var(--color-btn-secondary-border-inactive);
  }
}

a.link-disabled {
  pointer-events: none;
}
