@import '../helpers/_mixins.scss';

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-box-shadow: 0 0 0 1000px var(--color-bg-primary) inset;
  -webkit-text-fill-color: var(--color-text-primary);
  transition: background-color 5000s ease-in-out 0s;
}

.form-label {
  display: inline-block;
  width: 100%;
  padding-bottom: 10px;
  font-family: var(--font-primary);
}

.form-field {
  width: 100%;
  margin-bottom: 20px;
}

.form-input,
.form-textarea {
  font-size: var(--font-size-body-3);
  line-height: 1;
  width: 100%;
  flex: 1;
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px 20px;
  border: 1px solid transparent;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  outline: none;
  font-family:  var(--font-primary);

  @include mq($small-max) {
    padding: 11px 15px;
  }

  &.error {
    color: var(--color-error);
    border: 1px solid var(--color-error);
  }

  &::placeholder {
    color: var(--color-text-secondary);
    opacity: 1;
  }
}

.form-textarea {
  margin-top: 0;
}

.form-input:first-of-type {
  margin-top: 0;
}

.form-select {
  option[value=""][disabled] {
    display: none;
  }
}

select:required:invalid {
  color: var(--color-text-secondary);
}

.form-field__submit,
.form-field__checkbox {
  position: relative;
}

.form__checkbox,
.form-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  & + label {
    display: flex;
    cursor: pointer;

    &:before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      border: 2px solid var(--color-border);
      border-radius: 5px;
      flex-shrink: 0;
      margin-right: 10px;
    }
  }

  &:checked + label:before {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4.80737L3.66219 8L11 1' stroke='%23383838' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
  }

  &.error + label {
    &:before {
      border: 2px solid var(--color-error);
    }
  }
}

.form-error {
  width: 100%;
  margin-top: 20px;
  color: var(--color-error);

  a {
    color: inherit;
  }
}

.form-success {
  width: 100%;
  margin-top: 20px;
  color: var(--color-accent-primary);
}

.form-wrapper {
  width: 100%;
  max-width: 360px;
}

.form-arrow-submit {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  line-height: 0;
  cursor: pointer;
}

.quantity {
  @extend .body3;
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 40px;
  width: 100px;
  border-radius: 20px;
  border: 1px solid var(--color-text-primary);
  color: var(--color-text-primary);

  &[disabled] {
    color: var(--color-text-secondary);
    border: 1px solid var(--color-text-secondary);
    pointer-events: none;
    .quantity__button {
      color: var(--color-text-secondary);
    }
  }
}

.quantity[data-quantity-value='1'] {
  .quantity__button--minus {
    color: var(--color-btn-secondary-text-inactive);

    &:hover {
      svg {
        color: var(--color-btn-secondary-text-inactive);
      }
    }
  }
}

.quantity__input {
  color: inherit;
  text-align: center;
  background-color: transparent;
  border: 0;
  padding: 0;
  width: 100%;
  flex-grow: 1;
  -webkit-appearance: none;
  appearance: none;
  font-size: inherit;
}

.quantity__button {
  flex-shrink: 0;
  font-size: inherit;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  margin: 0;
  padding: 5px 20px 5px 5px;

  svg {
    width: 10px;
    height: 10px;
    z-index: -1;
  }

  &[disabled] {
    color: var(--color-text-secondary);
    cursor: not-allowed;
  }

  &:hover {
    svg {
      color: var(--color-link-text-hover);
    }
  }
}

.quantity__button--minus {
  padding: 5px 5px 5px 20px;
}

.quantity__input:-webkit-autofill,
.quantity__input:-webkit-autofill:hover,
.quantity__input:-webkit-autofill:active {
  box-shadow: 0 0 0 10rem var(--color-border) inset !important;
  -webkit-box-shadow: 0 0 0 10rem var(--color-background) inset !important;
}

.quantity__input::-webkit-outer-spin-button,
.quantity__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity__input[type='number'] {
  -moz-appearance: textfield;
}

product-form,
product-bundle-form {
  display: block;
  width: 100%;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active, input:-internal-autofill-selected,
select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus, select:-webkit-autofill:active, select:-internal-autofill-selected {
  -webkit-box-shadow: 0 0 0 40px var(--color-bg-primary) inset;
  //border: none;
  font-family:  var(--font-primary);

  &.error {
    color: var(--color-error) !important;
  }
}
.form__select:-internal-autofill-selected {
  background-image: url("data:image/svg+xml,%3Csvg class='%7B%7B icon_class %7D%7D' width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_35_204)'%3E%3Cpath d='M9.75 2.75L5.25 7.25L0.75 2.75' stroke='currentColor' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E") !important;
}

input:autofill {
  background: var(--color-bg-primary);
}

.form__select {
  @extend .form-input;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg class='%7B%7B icon_class %7D%7D' width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_35_204)'%3E%3Cpath d='M9.75 2.75L5.25 7.25L0.75 2.75' stroke='currentColor' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: calc(100% - 10px), center;
  padding: 9px 30px 9px 20px;
  line-height: 1.43;
}

fieldset {
  border: none;
  padding: 0;
}

.form__checkbox-alt {
  display: none;

  & + label {
    display: flex;
    cursor: pointer;
    position: relative;
    padding: 0;

    &:before {
      content: '';
      display: block;
      width: 40px;
      height: 20px;
      border-radius: 15px;
      flex-shrink: 0;
      margin-right: 10px;
      background-color: var(--color-border);
      transition: .2s linear;
    }

    &:after {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 4px;
      transform: translateY(-50%);
      transition: .2s linear;
    }
  }

  &:checked + label {
    &:after {
      left: 24px;
    }

    &:before {
      background-color: var(--color-accent-primary);
    }
  }
}

textarea {
  resize: none;
}

textarea.form-input {
  line-height: 1.4285em;
}

.form-field--group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;

  @include mq($small-max) {
    flex-direction: column;
  }
}

.form-field--group-item {
  margin-bottom: 10px;
}

.form__radio {

  & + label {
    display: flex;
    cursor: pointer;
    position: relative;
    padding: 0;
    margin-right: 20px;
    color: var(--color-text-secondary);

    &:before {
      content: '';
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      flex-shrink: 0;
      margin-right: 10px;
      border: 1px solid var(--color-text-secondary);
      background-color: transparent;
      transition: .2s linear;
    }

    &:after {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: transparent;
      position: absolute;
      top: 50%;
      left: 4px;
      transform: translateY(-50%);
      transition: .2s linear;
    }
  }

  &:checked + label {
    color: var(--color-text-primary);

    &:before {
      border: 1px solid var(--color-text-primary);
    }

    &:after {
      background-color: var(--color-text-primary);
    }
  }
}

address {
  font-style: normal;
}

