@import "../helpers/mixins";

.h0,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	color: var(--color-heading);
	margin-bottom: 10px;
  word-wrap: break-word;
}

.h0 {
	font-size: var(--font-size-heading-0);
  font-family: var(--font-secondary);
  font-weight: 100;
	line-height: 0.9;
	letter-spacing: -0.01em;
  text-transform: capitalize;

	@include mq($small-max) {
    font-size: var(--font-size-heading-mobile-0);
		line-height: 0.96;
	}
}

h1, .h1 {
	font-size: var(--font-size-heading-1);
  font-family: var(--font-secondary);
  font-weight: 100;
	line-height: 0.9;
	letter-spacing: -0.01em;
  text-transform: capitalize;


	@include mq($small-max) {
    font-size: var(--font-size-heading-mobile-1);
		line-height: 0.96;
	}
}

.h1--d {
	@include mq($small-min) {
    font-size: var(--font-size-heading-1);
    line-height: 0.9;
    letter-spacing: -0.01em;
	}
}

.h1--m {
	@include mq($small-max) {
    font-size: var(--font-size-heading-mobile-1);
    line-height: 0.96;
    letter-spacing: -0.01em;
	}
}

h2, .h2 {
  font-size: var(--font-size-heading-2);
  font-family: var(--font-secondary);
  font-weight: 100;
	line-height: 1;
  letter-spacing: 0.01em;
  text-transform: capitalize;

	@include mq($small-max) {
    font-size: var(--font-size-heading-mobile-2);
	}
}

.h2--d {
	@include mq($small-min) {
    font-size: var(--font-size-heading-2);
		line-height: 1;
    letter-spacing: 0.01em;
	}
}

.h2--m {
	@include mq($small-max) {
    font-size: var(--font-size-heading-mobile-2);
		line-height: 1;
    letter-spacing: 0.01em;
	}
}

h3, .h3 {
  font-size: var(--font-size-heading-3);
  font-family: var(--font-primary);
  font-weight: 400;
	line-height: 1.18;
  text-transform: uppercase;
  letter-spacing: unset;

	@include mq($small-max) {
    font-size: var(--font-size-heading-mobile-3);
		line-height: 1.23;
	}
}

.h3--light {
  font-weight: 300;
}

.h3--d {
	@include mq($small-min) {
    font-size: var(--font-size-heading-3);
		line-height: 1.18;
	}
}

.h3--m {
	@include mq($small-max) {
    font-size: var(--font-size-heading-mobile-3);
		line-height: 1.23;
	}
}

h4, .h4 {
  font-size: var(--font-size-heading-4);
  font-family: var(--font-primary);
  font-weight: 300;
	line-height: 1.18;
  letter-spacing: unset;

	@include mq($small-max) {
    font-size: var(--font-size-heading-mobile-4);
		line-height: 1.23;
	}
}

.h4--italic {
  font-style: italic;
}

.h4--d {
	@include mq($small-min) {
    font-family: var(--font-primary);
    line-height: 1.18;
	}
}

.h4--m {
	@include mq($small-max) {
    font-size: var(--font-size-heading-mobile-4);
    line-height: 1.23;
	}
}

h5, .h5 {
  font-size: var(--font-size-heading-5);
  font-family: var(--font-primary);
  font-weight: 300;
	line-height: 1.25;
  letter-spacing: unset;

	@include mq($small-max) {
    font-size: var(--font-size-heading-mobile-5);
		line-height: 1.27;
	}
}

.h5--d {
	@include mq($small-min) {
    font-size: var(--font-size-heading-5);
    line-height: 1.25;
	}
}

.h5--m {
	@include mq($small-max) {
    font-size: var(--font-size-heading-mobile-5);
    line-height: 1.27;
	}
}

h6, .h6 {
  font-size: var(--font-size-heading-6);
  font-family: var(--font-primary);
  font-weight: 500;
	line-height: 1.333;
  text-transform: uppercase;
  letter-spacing: 0.1em;

	@include mq($small-max) {
    font-size: var(--font-size-heading-mobile-6);
    line-height: 1.333;
	}
}

.h6--d {
	@include mq($small-min) {
    font-size: var(--font-size-heading-6);
    line-height: 1.333;
    letter-spacing: 0.1em;
	}
}

.h6--m {
	@include mq($small-max) {
    font-size: var(--font-size-heading-mobile-6);
    line-height: 1.333;
	}
}


.h7 {
  font-size: var(--font-size-heading-7);
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.19;
  text-transform: uppercase;
  letter-spacing: unset;

  @include mq($small-max) {
    font-size: var(--font-size-heading-mobile-7);
    line-height: 1.17;
  }
}

.h7--d {
  @include mq($small-min) {
    font-size: var(--font-size-heading-7);
    line-height: 1.19;
  }
}

.h7--m {
  @include mq($small-max) {
    font-size: var(--font-size-heading-mobile-7);
    line-height: 1.17;
  }
}

a, .a {
	text-decoration: none;
  color: var(--color-link-text);

  @include mq($small-min) {
    &:not(.btn) {
      &:hover {
        color: var(--color-link-text-hover);
      }
    }
  }

  @include mq($small-max) {
    &:not(.btn) {
      &:active {
        color: var(--color-link-text-hover);
      }
    }
  }
}

.no-outline {
  a, .a {
    outline: none;

    &:focus-within, &:focus-visible, &:focus {
      outline: none;
    }
  }
}

ul li,
scrolling-tabs li {
  list-style: none;
}

.body0, .body1, .body2, .body3, .body4 {
	font-family: var(--font-primary);
	font-weight: 400;
}

.body0 {
	font-size: var(--font-size-body-0);
	line-height: 1.25;
  font-weight: 300;

	@include mq($small-max) {
		font-size: var(--font-size-body-0-mobile);
		line-height: 1.27;
	}
}

.body1 {
	font-size: var(--font-size-body-1);
	line-height: 1.333;

	@include mq($small-max) {
		font-size: var(--font-size-body-1-mobile);
		line-height: 1.375;
	}
}

.body1--d {
	@include mq($small-min) {
    font-size: var(--font-size-body-1);
    line-height: 1.333;
	}
}

.body1--m {
	@include mq($small-max) {
    font-size: var(--font-size-body-1-mobile);
    line-height: 1.375;
	}
}

.body2 {
  font-size: var(--font-size-body-2);
  line-height: 1.375;

  @include mq($small-max) {
    font-size: var(--font-size-body-2-mobile);
    line-height: 1.375;
  }
}

.body2--d {
	@include mq($small-min) {
    font-size: var(--font-size-body-2);
    line-height: 1.375;
  }
}

.body2--m {
	@include mq($small-max) {
    font-size: var(--font-size-body-2-mobile);
    line-height: 1.375;
	}
}

.body3 {
  font-size: var(--font-size-body-3);
  line-height: 1.42;

  @include mq($small-max) {
    font-size: var(--font-size-body-3-mobile);
    line-height: 1.42;
  }
}

.body3--bold {
  font-weight: 500;
}

.body3--d {
	@include mq($small-min) {
    font-size: var(--font-size-body-3);
    line-height: 1.42;
	}
}

.body3--m {
	@include mq($small-max) {
    font-size: var(--font-size-body-3-mobile);
    line-height: 1.42;
	}
}

.body4 {
  font-size: var(--font-size-body-4);
  line-height: 1.667;
  font-weight: 500;

  @include mq($small-max) {
    font-size: var(--font-size-body-4-mobile);
    line-height: 1.667;
  }
}

.body4--d {
	@include mq($small-min) {
    font-size: var(--font-size-body-4);
    line-height:1.667;
	}
}

.body4--m {
	@include mq($small-max) {
    font-size: var(--font-size-body-4-mobile);
    line-height: 1.667;
	}
}
