
.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

.flex-flow-row {
  flex-flow: row;
}

.flex-flow-row-reverse {
  flex-flow: row-reverse;
}

.flex-flow-column {
  flex-flow: column;
}

.flex-flow-column-reverse {
  flex-flow: column-reverse;
}

.flex-flow-wrap {
  flex-flow: wrap;
}

.flex-flow-wrap-reverse {
  flex-flow: wrap-reverse;
}

.flex-flow-nowrap {
  flex-flow: nowrap;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-row-reverse {
  flex-direction: row-reverse;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-column-reverse {
  flex-direction: column-reverse;
}

.flex-grow-1 {
  flex-grow: 1;
}
