/*------------------------------------*\
  #FONT SIZES
\*------------------------------------*/
@variant $key, $map in token(fontSize) {
  .font-size-$key {
    font-size: $map-var;
  }
}

/*------------------------------------*\
  #FONT FAMILY
\*------------------------------------*/
@variant $key, $map in token(fontFamily) {
  .font-family-$key {
    font-family: $map-var;
  }
}

/*------------------------------------*\
  #FONT WEIGHT
\*------------------------------------*/
@variant $key, $map in token(fontWeight) {
  .font-weight-$key {
    font-weight: $map-var;
  }
}

/*------------------------------------*\
  #LINE HEIGHT
\*------------------------------------*/
@variant $key, $map in token(lineHeight) {
  .line-height-$key {
    line-height: $map-var;
  }
}

/*------------------------------------*\
  #LETTER SPACING
\*------------------------------------*/
@variant $key, $map in token(letterSpacing) {
  .letter-spacing-$key {
    letter-spacing: $map-var;
  }
}
