
.ra-add-to-cart {
  display: flex;
  gap: var(--add-to-cart-gap, var(--spacing));
}

  .ra-add-to-cart__select-quantity {
    flex: none;
  }

  .ra-add-to-cart__cta-container {
    position: relative;
    flex: 1 1;
  }
