
.ra-alert {
  display: flex;
  align-items: center;
  color: var(--alert-color);
}

@variant $color, $map in token(UIColors) {
  .ra-alert--$color {
    --icon-color: $map-DEFAULT-var;
    --alert-color: $map-DEFAULT-var;
  }
}

  .ra-alert__icon {
    margin-right: var(--spacing-2xs);
  }
