
.ra-bar {
  position: var(--bar-position, relative);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--bar-height, 3.125rem);
  flex: 0 0 var(--bar-height, 3.125rem);
  padding-left: var(--bar-spacing, var(--spacing-sm));
  padding-right: var(--bar-spacing, var(--spacing-sm));
  background-color: var(--bar-background, var(--c-contrast));
  border: var(--bar-border);
  border-radius: var(--bar-border-radius);
  color: var(--bar-color, var(--c-highlight, currentColor));
}

.ra-bar--sticky {
  z-index: var(--z-index-base);;
  position: var(--bar-position, fixed);
  top: 0;
  left: 0;
  width: 100%;
}

  .ra-bar__side {
    position: relative;
    z-index: var(--z-index-base);;
  }

  .ra-bar__title {
    position: absolute;
    right: 0;
    left: 0;
    padding-left: var(--bar-spacing, var(--spacing-sm));
    padding-right: var(--bar-spacing, var(--spacing-sm));
    font-size: var(--font-size-md);
    text-align: var(--bar-title-align, center);
  }
