.ra-editorial {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5em;
    font-weight: var(--editorial-heading-font-weight, var(--font-weight-medium));
    line-height: var(--editorial-heading-line-height, var(--line-height-md));

    &:not(:first-child) {
      margin-top: .75em;
    }
  }

  ul,
  ol,
  p + p {
    margin-top: .5em;
  }

  ol,
  ul {
    margin-bottom: .5em;
    padding-left: 1em;

    li:not(:last-child) {
      margin-bottom: .25em;
    }
  }

  table {
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: solid .0625rem;
    border-collapse: collapse;
  }

    th, td {
      border: solid .0625rem;
      padding: 0.5rem;
    }

    th {
      background-color: var(--c-gray-400);
    }

  a {
    color: currentColor;

    &:hover, &:focus {
      opacity: .75;
    }
  }
}
