
.ra-filter {
  --choice-container-display: flex;

  &:not(:last-child) {
    margin-bottom: var(--spacing-xs);
  }

  @media breakpoint(md) {
    --filter-color-margin: 0;
    --filter-count-margin: 0 0 0 auto;
  }
}

.ra-filter--active {
  --filter-label-color: var(--c-primary);
  --filter-count-color: var(--c-primary);
}

.ra-filter--hide-labels {
  --filter-label-display: none;
  --filter-count-display: none;
}

  .ra-filter__color {
    margin: var(--filter-color-margin, 0 var(--spacing-sm) 0 0);
  }

  .ra-filter__label {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: var(--spacing-xs);
  }

  .ra-filter__label-key {
    display: var(--filter-label-display, flex);
    align-items: var(--filter-label-align-items, center);
    margin: var(--filter-label-margin, 0);
    color: var(--filter-label-color, var(--c-link));
    text-decoration: var(--filter-label-text-decoration);
    transition: transform var(--transition-duration-default) var(--transition-function-default);
    transform: var(--filter-label-transform);
    transform-origin: center left;
    font-family: var(--font-family-primary);
    line-height: var(--line-height-lg);
  }

  .ra-filter__label-value {
    display: var(--filter-count-display);
    margin: var(--filter-count-margin, 0 var(--spacing-sm) 0 auto);
    color: var(--filter-count-color, var(--c-copy-muted));
    line-height: var(--line-height-lg);
  }
