
.ra-infinite-scroll {
  max-width: var(--component-max-width, 12.5rem);
}

  .ra-infinite-scroll__description {
    margin-bottom: var(--spacing-2xs);
    font-size: var(--font-size-sm);
    color: var(--c-gray-800);
  }

  .ra-infinite-scroll__loader {
    margin-top: var(--spacing-2xs);
    font-size: var(--font-size-xs);
    color: var(--c-gray-500);
  }
