.ra-input-combo {
  .ra-input__wrapper {
    display: flex;
    align-items: stretch;
  }
}

.ra-input-combo--stacked {
    .ra-input__wrapper {
      flex-direction: column;
      align-items: center;
    }
}

.ra-input-combo--combo {
  --input-height: auto;
  --input-border-radius: var(--input-combo-border-radius, .375rem) 0 0 var(--input-combo-border-radius, .375rem);
  --button-border-radius: 0 var(--input-combo-border-radius, .375rem) var(--input-combo-border-radius, .375rem) 0;
}


.ra-input-combo--split {
  --input-border-radius: var(--input-combo-split-border-radius, var(--input-combo-border-radius, .375rem));
  --button-border-radius: var(--input-combo-split-button-border-radius, var(--input-combo-border-radius, .375rem));
}

.ra-input-combo--stacked {
  --input-border-radius: var(--input-combo-stacked-border-radius, var(--input-combo-border-radius, .375rem));
  --button-border-radius: var(--input-combo-stacked-button-border-radius, var(--input-combo-border-radius, .375rem));
}

.ra-input-combo__input--combo {
  border-right: 0;
}

.ra-input-combo__input--split {
  margin-right: var(--input-combo-spacing, var(--spacing-sm));
}

.ra-input-combo__input--stacked {
  margin-bottom: var(--input-combo-spacing, var(--spacing-sm));
}

.ra-input-combo__extras {
  display: flex;
}

.ra-input-combo__before--combo {
  border-top: var(--input-border-width, .0625rem) var(--input-border-color, var(--c-gray-900)) var(--input-border-style, solid);
  border-bottom: var(--input-border-width, .0625rem) var(--input-border-color, var(--c-gray-900)) var(--input-border-style, solid);
}

