
.ra-list {
  list-style: var(--list-style, initial);
  padding: var(--list-padding, 0);
  margin: var(--list-margin, 0);
}

.ra-list--hide-bullets {
  --list-style: none;
}

.ra-list--show-bullets {
  --list-padding: 0 0 0 1.25em;
}

  .ra-list__item {
    margin: var(--list-item-margin, 0 0 .75em);
    padding: var(--list-item-padding, 0);
    color: var(--list-item-color);
    border-style: var(--list-item-border-style, solid);
    border-width: var(--list-item-border-width, 0);
    border-color: var(--list-item-border-color, var(--c-border-secondary));
    line-height: var(--line-height-lg);
  }

  .ra-list__item--description {
    display: var(--list-description-item-display, flex);
    justify-content: space-between;
  }
