
/*------------------------------------*\
  #OPTION PICKER
\*------------------------------------*/

.ra-option-picker__items {}

/*------------------------------------*\
  #OPTION PICKER ITEM
\*------------------------------------*/

.ra-option {
  position: relative;
  width: var(--picker-option-width, var(--picker-option-size, 100%));
  color: var(--picker-option-color, currentColor);
  border-radius: var(--picker-option-border-radius, 0);
  background-color: var(--picker-option-background, transparent);
  font-family: var(--picker-option-font-family, var(--font-family-secondary));
  font-size: var(--picker-option-font-size, var(--font-size-sm-to-base));

  transition-property: background-color, border-color, color, box-shadow;
  transition-duration: var(--transition-duration-default);
  transition-timing-function: var(--transition-function-default);

  &:hover:not(.ra-option--selected):not(.ra-option--disabled) {
    color: var(--picker-option-interact-color, var(--c-highlight));
    background-color: var(--picker-option-interact-background, var(--c-primary));

    &:before {
      box-shadow: inset 0 0 0 .0625rem transparent;
    }
  }

  &:focus {
    z-index: var(--z-index-above-base);
  }

  &:before {
    display: block;
    padding-bottom: var(--picker-option-height, var(--picker-option-size, 100%));
    box-shadow: inset 0 0 0 .0625rem var(--c-gray-600);
    border-radius: inherit;

    transition-property: box-shadow;
    transition-duration: var(--transition-duration-default);
    transition-timing-function: var(--transition-function-default);

    content: '';
  }
}

.ra-option--disabled {
  color: var(--picker-option-disabled-color, var(--c-gray-400));
}

.ra-option--selected {
  z-index: var(--z-index-base);;
  background-color: var(--picker-option-selected-background, var(--c-secondary));
  color: var(--picker-option-selected-color, var(--c-highlight));

  &:before {
    box-shadow: 0 0 0 var(--picker-option-selected-border-width, .0625rem) var(--picker-option-selected-border-color, var(--c-contrast));
  }
}

.ra-option--sm {
  width: var(--picker-option-width, var(--picker-option-size, 1.75rem));

  &:before {
    padding-bottom: var(--picker-option-height, var(--picker-option-size, 1.75rem));
  }
}

.ra-option--lg {
  width: var(--picker-option-width, var(--picker-option-size, 3.5rem));

  &:before {
    padding-bottom: var(--picker-option-height, var(--picker-option-size, 3.5rem));
  }
}

  .ra-option__label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: var(--picker-option-padding, var(--spacing-xs));
  }
