
.ra-pagination {
  display: flex;
  align-items: center;
}

  .ra-pagination__item--number,
  .ra-pagination__item--dots {
    &:hover:not(.ra-pagination__item--current) {
      color: var(--c-primary);
    }
  }

  .ra-pagination__item--number,
  .ra-pagination__item--dots {
    margin-left: var(--item-spacing, .125rem);
    margin-right: var(--item-spacing, .125rem);
  }

  .ra-pagination__item--number {
    --button-width: var(--item-size, var(--item-width, 2.25rem));
    --button-height: var(--item-size, var(--item-height, 2.25rem));
    --button-padding: 0;
    --button-font-size: var(--font-size);
  }

  .ra-pagination__item--current {
    cursor: default;
    pointer-events: none;
  }
