
.ra-product-option {
  display: flex;
  align-items: center;
}

  .ra-product-option__color {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: var(--spacing-sm);
  }

  .ra-product-option__label {
    flex: 1;
  }
