
.ra-product-line-item {
  position: relative;
  display: flex;
  align-items: flex-start;
}


  .ra-product-line-item__media-link {
    display: block;
  }

  .ra-product-line-item__media {
    position: relative;
    flex: 0 0 var(--item-media-width, 6.5rem);
  }

  .ra-product-line-item__main {
    display: flex;
    flex-direction: var(--item-content-direction, column);
    flex: 1;
    justify-content: var(--item-justify);
    margin-left: var(--spacing-sm);
  }

    .ra-product-line-item__details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-basis: var(--item-details-flex-basis);
    }

      .ra-product-line-item__details-section {
        &:not(:first-child) {
          margin-top: .25rem;
        }
      }

      .ra-product-line-item__title,
      .ra-product-line-item__price {
        font-size: var(--item-title-size, var(--font-size-sm));
      }

      .ra-product-line-item__title {
        text-decoration: none;
        color: currentColor;

        &:hover {
          opacity: .75;
        }
      }

      .ra-product-line-item__attributes {
        font-size: var(--item-property-size, var(--font-size-xs));
        line-height: var(--line-height-md);

        > * {
          &:not(:first-child) {
            margin-top: .25em;
          }
        }
      }

    .ra-product-line-item__footer {
      display: flex;
      align-items: var(--item-footer-align-items, center);
      justify-content: space-between;
      margin-top: var(--item-footer-spacing-top ,var(--spacing-sm));
    }

      .ra-product-line-item__remove {
        position: absolute;
        right: var(--item-remove-right, 0);
        top: var(--item-remove-top, 0);
      }
