
.ra-quick-add-container--modal {
  --modal-width: var(--quick-add-modal-width, inherit);
  --modal-padding: var(--quick-add-modal-padding, 0);
  --modal-outer-padding: var(--quick-add-modal-outer-padding, 0);
}

.ra-quick-add {
  
}

.ra-quick-add--overlay {
  --br-quick-add-outer-spacing: var(--quick-add-outer-spacing, var(--spacing-sm));
  --br-quick-add-height: calc(var(--quick-add-height, 100%) - var(--br-quick-add-outer-spacing) * 2);
  --br-quick-add-max-height: calc(var(--quick-add-max-height, 100%) - var(--br-quick-add-outer-spacing) * 2);

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--quick-add-overlay-background, transparent);
}

  .ra-quick-add__panel {
    display: var(--quick-add-display, flex);
    flex-direction: var(--quick-add-flex-direction, column);
    padding-top: var(--quick-add-top-spacing, var(--spacing-lg));
    border: var(--quick-add-border);
    border-radius: var(--quick-add-border-radius);
    background-color: var(--quick-add-background, var(--c-panel));
    box-shadow: var(--quick-add-box-shadow);

    .ra-quick-add--inline & {
      position: relative;
    }

    .ra-quick-add--overlay & {
      position: absolute;
      left: var(--br-quick-add-outer-spacing);
      right: var(--br-quick-add-outer-spacing);
      bottom: var(--br-quick-add-outer-spacing);
      margin: auto;
      height: var(--br-quick-add-height);
      max-height: var(--br-quick-add-max-height);
    }
  }

  .ra-quick-add__content {
    display: var(--quick-add-content-display, flex);
    flex-direction: var(--quick-add-content-flex-direction, column);
    flex: var(--quick-add-content-flex,
      var(--quick-add-content-flex-grow, 1)
      var(--quick-add-content-flex-shrink, 1)
      var(--quick-add-content-flex-basis, auto)
    );
    max-height: 100%;
    max-width: var(--quick-add-content-width);
  }

  .ra-quick-add__pickers {
    overflow-y: auto;
    padding-left: var(--quick-add-horizontal-spacing, var(--spacing-sm));
    padding-right: var(--quick-add-horizontal-spacing, var(--spacing-sm));
    padding-bottom: var(--quick-add-scroll-gap, var(--spacing-lg));
  }

  .ra-quick-add__close-button {
    position: absolute;
    right: var(--quick-add-close-button-position, var(--spacing-xs));
    top: var(--quick-add-close-button-position, var(--spacing-xs));
  }

  .ra-quick-add__group {
    &:not(:last-child) {
      margin-bottom: var(--spacing-md);
    }
  }

  .ra-quick-add__atc {
    margin-top: auto;
    padding: var(--quick-add-atc-spacing, var(--spacing-sm));
    border-top:
      var(--quick-add-atc-border,
        var(--quick-add-atc-border-style, solid)
        var(--quick-add-atc-border-width, .0625rem)
        var(--quick-add-atc-border-color, var(--c-contrast))
      );
  }
