
.ra-review {}

  .ra-review__author {
    font-size: var(--font-size-md);
  }

  .ra-review__rating {
    margin-bottom: var(--spacing-md);
  }

  .ra-review__title {
    font-size: var(--font-size-md-to-md20);

    @media breakpoint(md) {
      margin-bottom: var(--spacing-md);
    }

    @media breakpoint(md-max) {
      margin-bottom: var(--spacing-2xs);
    }
  }

  .ra-review__date {
    display: block;
    margin-top: var(--spacing-xs);
  }

  .ra-review__body {
    display: inline;
    font-size: var(--font-size-sm-to-base);
  }

  .ra-review__voting {
    display: flex;
    align-items: center;
    margin-top: var(--spacing-sm);
  }

  .ra-review__voting-label {
    margin-right: var(--spacing-xs);
    font-size: var(--font-size-sm);
  }

  .ra-review__vote {
    &:not(:last-child) {
      margin-right: var(--spacing-xs);
    }
  }
