
.ra-scrollable {}

.ra-scrollable--expanded {
  --scrollable-max-height-expanded: auto;
}

  .ra-scrollable__content {
    overflow: auto;
    max-height: var(--scrollable-max-height-expanded, var(--scrollable-max-height, 5rem));
  }

  .ra-scrollable__expand {
    margin: var(--scrollable-button-margin, var(--spacing-sm) 0 0 0);
  }
