
.ra-search-bar {
  position: relative;
  background: var(--search-bar-background);
}

  .ra-search-bar__button {
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    right: .5rem;
  }

  .ra-search-bar__icon {
    --icon-size: 1.25rem;
  }

  .ra-search-bar__input {
    &::-webkit-search-cancel-button {
      opacity: 0;
    }

    &::-ms-clear {
      opacity: 0;
    }
  }
