
.ra-swatch-picker {
  transition-property: opacity;
  transition-duration: var(--transition-duration-fast);
  transition-timing-function: var(--transition-function-bezier-ease);
}

.ra-swatch-picker__colors {
  .ra-swatch-picker--scrollable & {
    grid-auto-flow: column;
    justify-content: flex-start;
    overflow: auto;
    padding: 0.25rem;
    margin: -0.25rem;
  }

  .ra-swatch-picker--scrollable-hidden & {
    overflow: hidden;
  }
}

.ra-swatch-picker__hidden-count {
  position: absolute;

  .ra-swatch-picker--scrollable-hidden & {
    top: 0;
    bottom: 0;
    right: 0;
  }
}

.ra-swatch-picker--client-wait {
  opacity: 0;
}
