
.ra-text-only-banner {
  /* The "active" scope refers to the value that is currently applicable.
  This value may be overriden on a per breakpoint or modifier basis.
  The approach simplifies re-usability since you always get the most up-to-date value. */
  --active-component-color: var(--component-fg-color);
  --active-component-background: var(--component-bg-color);

  position: relative;
  color: var(--active-component-color, inherit);
  background-color: var(--active-component-background, transparent);

  @media breakpoint(md) {
    --active-component-color: var(--component-fg-color-md, var(--component-fg-color));
    --active-component-background: var(--component-bg-color-md, var(--component-bg-color));
  }
}

    .ra-text-only-banner__copy {
      display: flex;
      flex-direction: column;
    }

    .ra-text-only-banner__details {
      display: flex;
    }

    .ra-text-only-banner__subtitle {
      font-size: var(--font-size-sm);
    }

    .ra-text-only-banner__title {
      font-weight: var(--font-weight-bold);
    }

    .ra-text-only-banner__description {
      margin-top: .675rem;
      font-size: var(--font-size-md20-to-lg);
    }

    .ra-text-only-banner__link-list {
      @media breakpoint(lg) {
        margin-top: 2.65rem;
      }

      @media breakpoint(lg-max) {
        margin-top: 1.5rem;
      }
    }
