
.ra-top-bar {
  /* The "active" scope refers to the value that is currently applicable.
  This value may be overriden on a per breakpoint or modifier basis.
  The approach simplifies re-usability since you always get the most up-to-date value. */
  --active-component-color: var(--component-fg-color);
  --active-component-background: var(--component-bg-color);

  color: var(--active-component-color, var(--c-highlight));
  background-color: var(--active-component-background, var(--c-gray-900));

  @media breakpoint(md) {
    --active-component-color: var(--component-fg-color-md, var(--component-fg-color));
    --active-component-background: var(--component-bg-color-md, var(--component-bg-color));
  }
}

  .ra-top-bar__container {
    position: relative;
    min-height: var(--top-bar-height, 2.5rem);
    padding-top: var(--spacing-xs);
    padding-bottom: var(--spacing-xs);
    font-size: var(--font-size-sm-to-base);
  }

  .ra-top-bar__left,
  .ra-top-bar__right {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
  }

  .ra-top-bar__left {
    left: 0;
  }

  .ra-top-bar__center {
    max-width: 100%;
  }

  .ra-top-bar__right {
    right: 0;
  }

  .ra-top-bar__container,
  .ra-top-bar__center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
