
.ra-zoom {
  --modal-padding: 0;
}

.ra-zoom--standard {
  @media breakpoint(md) {
    --modal-width: 87.5%;
  }

  @media breakpoint(md-max) {
    --modal-width: 100%;
  }
}

.ra-zoom--full-screen {
  --modal-width: 100%;
  --modal-height: 100%;
  --modal-outer-padding: 0;

  /* Maybe this should be moved to the carousel SCSS partial. */
  .ra-zoom__carousel,
  .ra-zoom__image-wrapper,
  .ra-carousel,
  .ra-carousel__wrapper {
    height: 100vh;
  }

  .ra-zoom__item {
    align-items: center;
  }

  .ra-zoom__image-wrapper {
    overflow: auto;
  }

    .ra-zoom__image--expand-height {
      height: 100%;
      width: auto;
      max-width: none;
    }

    .ra-zoom__image--expand-width {
      height: auto;
      width: 100%;
      max-height: none;
    }
}
