.ra-breadcrumbs {}

.ra-breadcrumbs--no-wrap {
  .ra-breadcrumbs__list {
    white-space: nowrap;
  }

  .ra-breadcrumbs__list-item--current {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

  .ra-breadcrumbs__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

    .ra-breadcrumbs__list-item {
      display: inline-flex;
      align-items: center;
      color: var(--c-gray-400);
      font-size: var(--font-size-sm);
    }

    .ra-breadcrumbs__list-item--current {
      color: var(--c-copy);
    }

      .ra-breadcrumbs__breadcrumb {
        --link-color: currentColor;

        &:hover, &:focus {
          --link-color: var(--c-copy);
        }
      }

      .ra-breadcrumbs__divider {
        margin-left: .25rem;
        margin-right: .25rem;
      }
