/*------------------------------------*\
  #BULLETS LIST
\*------------------------------------*/
.ra-bullets {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/*------------------------------------*\
  #SINGLE BULLET
\*------------------------------------*/
.ra-bullet {
  width: .8125rem;
  height: .8125rem;
  margin: .375rem;
  border-radius: var(--bullet-radius, 100%);
  background-color: var(--c-gray-600);
  transition-property: transform, background-color, width, height;
  transition-duration: var(--transition-duration-default);
  transition-timing-function: var(--transition-function-default);

  &:hover {
    transform: scale3d(1.25, 1.25, 1);
  }
}

.ra-bullet--active {
  background-color: var(--c-primary);
  cursor: default;
}
