.ra-chevron {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--chevron-size, 3rem);
  height: var(--chevron-size, 3rem);
  padding: var(--chevron-padding, 0);
}

.ra-chevron--non-interactive {
  cursor: inherit;
  pointer-events: none;
}

.ra-chevron--rotate {
  --chevron-transform: rotate(180deg);
}

.ra-chevron--xs {
  --icon-size: 1.125rem;
  --chevron-size: 1.5rem;
}

.ra-chevron--sm {
  --chevron-size: 2.75rem;
}

.ra-chevron--lg {
  --chevron-size: 3.375rem;
}

  .ra-chevron__icon {
    transition: transform var(--transition-duration-default) var(--transition-function-default);
    transform: var(--chevron-transform, translate3d(0,0,0));
  }