
.ra-heading {
  padding-bottom: var(--heading-padding, 0);
  margin-bottom: var(--heading-margin, 0);
  text-align: var(--heading-text-align, center);
}

.ra-heading--underline {
  padding-bottom: var(--heading-padding, var(--spacing-sm));
  border-bottom: solid .0625rem var(--c-border-primary);
}

  .ra-heading__title {
    color: var(--heading-title-color);
    font-family: var(--heading-title-font-family);
  }

  .ra-heading__description {
    margin-top: var(--heading-description-margin);
    color: var(--heading-description-color);
    font-family: var(--heading-description-font-family);
    line-height: var(--line-height-xl);
  }