
.ra-link {
  color: var(--link-color, var(--c-link));
  text-decoration: var(--link-text-decoration, underline);
  font-size: var(--link-font-size);
  font-weight: var(--link-font-size, var(--font-weight-medium));
  letter-spacing: var(--letter-spacing);
  text-underline-position: from-font;

  /* Start: Styles for .ra-link as <button> tags. */
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  /* End: Styles for .ra-link as <button> tags. */

  &:hover {
    --link-color: var(--c-link-interact);
  }

  &:active, &:visited {
    --link-color: var(--c-contrast);
  }
}

.ra-link[disabled],
.ra-link[disabled]:hover {
  --link-color: var(--c-gray-200);

  cursor: default;
}

.ra-link--inherit-color {
  --link-color: currentColor;
}

.ra-link--xs {
  --link-font-size: var(--font-size-xs);
}

.ra-link--sm {
  --link-font-size: var(--font-size-sm);
}

.ra-link--lg {
  --link-font-size: var(--font-size-md);
}

.ra-link--flex {
  display: inline-flex;
  align-items: center;
}

.ra-link--no-underline {
  --link-text-decoration: none;
}

.ra-link--icon-leading {
  --icon-margin-right: .375rem;
}

.ra-link--icon-trailing {
  --icon-margin-left: .375rem;
}
