
.ra-loader {

}

  .ra-loader__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ra-loader__wrapper--overlay {
    z-index: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--loader-background, transparent);
  }

  .ra-loader__spinner {
    stroke: var(--loader-color, var(--c-highlight));
    width: var(--loader-size, min(4rem, 80%));
    height: var(--loader-size, min(4rem, 80%));
  }
