
.ra-price {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
}

.ra-price--stacked {
  flex-direction: column;
}

  .ra-price__regular {
    font-size: var(--price-regular-font-size, var(--price-font-size, inherit));
  }

  .ra-price__special {
    text-decoration: none;
    font-size: var(--price-special-font-size, var(--price-font-size, inherit));
    color: var(--c-danger);
  }

  .ra-price__old {
    margin-left: .25em;
    color: var(--c-copy-muted);
    text-decoration: line-through;
    font-size: var(--price-old-font-size, var(--price-font-size, .84em));
  }
