
.ra-property {
  display: flex;
}

.ra-property--stack {
  flex-direction: column;
}

.ra-property--split {
  justify-content: space-between;
}

.ra-property--inherit-color {
  --property-name-color: currentColor;
  --property-value-color: currentColor;
}

  .ra-property__name {
    margin: var(--property-name-margin, 0 .25em 0 0);
    color: var(--property-name-color);
    text-transform: var(--property-name-text-transform);
    font-weight: var(--property-name-font-weight);
    font-size: var(--property-name-font-size);

    &::after {
      content: var(--property-name-separator, ':');
    }
  }

  .ra-property__value {
    display: var(--property-value-display, flex);
    align-items: var(--property-value-align, end);
    color: var(--property-value-color, var(--c-copy-muted));
    text-transform: var(--property-value-text-transform);
    font-weight: var(--property-value-font-weight);
    font-size: var(--property-value-font-size);
  }
