
.ra-quantity-selector {
  position: relative;
  align-items: center;
  height: var(--qty-selector-height, 2.75rem);
  width: var(--qty-selector-width, 7.75rem);
}

.ra-quantity-selector--input {
  --grid-template-columns: auto 1fr auto;
}

.ra-quantity-selector--dropdown {
  width: var(--qty-selector-width, 3.5rem);
}

  .ra-quantity-selector__button {
    --button-width: var(--qty-selector-button-width, 2.5rem);
    --button-height: var(--qty-selector-button-height, 100%);
    --button-padding: var(--qty-selector-button-padding, 0);

    &:focus, &:hover {
      z-index: var(--z-index-above-base);
    }

    &:disabled:not(.ra-buton--loading) {
      --button-border-color: var(--c-gray-600);
    }
  }

  .ra-quantity-selector__button--minus {
    --button-border-radius: var(--qty-selector-button-minus-border-radius, var(--qty-selector-button-border-radius, 0));
  }

  .ra-quantity-selector__button--plus {
    --button-border-radius: var(--qty-selector-button-plus-border-radius, var(--qty-selector-button-border-radius, 0));
  }

  .ra-quantity-selector__input {
    --input-height: var(--qty-selector-input-height, 100%);
    --input-text-align: var(--qty-selector-input-align, center);
    --input-padding: var(--qty-selector-input-padding, 0);
    --input-margin: var(--qty-selector-input-margin, 0 -.0625rem);
    --input-font-family: var(--qty-selector-input-font-family);
    --input-border-radius: var(--qty-selector-input-border-radius, inherit);
    --input-background: var(--qty-selector-input-background, var(--c-body));

    z-index: var(--z-index-base);
    display: flex;
    height: var(--qty-selector-input-height, 100%);

    .ra-input__wrapper {
      flex-grow: 1;
    }
  }

  .ra-quantity-selector__dropdown {
    --input-padding: var(--qty-selector-dropdown-padding, 0 1.25rem 0 .7rem);
    --input-font-family: var(--qty-selector-dropdown-font-family, var(--font-family-primary));
    --input-icon-position: var(--qty-selector-dropdown-icon-position, .25rem);
    --input-border-color: var(--qty-selector-dropdown-border-color, var(--c-gray-900));

    width: 100%;
    height: 100%;
  }
