
.ra-radio-group {
  --border-color: var(--radio-group-border-color, var(--c-gray-200));
  --border-width: var(--radio-group-border-width, 0.0625rem);
  --border-style: var(--radio-group-border-style, solid);
}

.ra-radio-group__container {
  display: flex;
  flex-direction: var(--radio-group-direction, column);
  /* border-width: var(--radio-group-border-width, 0.0625rem);
  border-color: var(--radio-group-border-color, var(--c-gray-200));
  border-style: var(--radio-group-border-style, solid); */

  --list-item-margin: var(--radio-group-item-margin, 0)
}

.ra-radio-group__container--combo {
  border: var(--border-color) var(--border-width) var(--border-style);
}

.ra-radio-group__container--separate {
  border: none;
}

  .ra-radio-group__item {
    padding: var(--radio-group-item-padding, 1rem);

    display: var(--radio-group-item-display, flex);
    flex-direction: var(--radio-group-item-direction, column);
    justify-content: var(--radio-group-item-justify, space-between);
    align-items: var(--radio-group-item-align, start);
  }

  .ra-radio-group__item--combo {
    border-bottom: var(--border-color) var(--border-width) var(--border-style);

    &:last-of-type {
      border-bottom: none;
    }
  }

  .ra-radio-group__item--separate {
    margin-bottom: var(--radio-group-item-bottom-spacing, 1rem);

    border: var(--border-color) var(--border-width) var(--border-style);

    &:last-of-type {
      margin-bottom: none;
    }
  }
