
.ra-rating {
  display: flex;
  align-items: center;
}

.ra-rating--has-cta {
  &:hover {
    .ra-rating__score,
    .ra-rating__label {
      text-decoration: underline;
    }
  }
}

  .ra-rating__icon {
    --icon-color: var(--c-primary);
    --icon-color-negative: var(--c-primary-contrast);

    padding: .0625rem;

    svg {
      stroke: var(--c-primary);
      stroke-width: 0.125rem;
    }
  }

  .ra-rating__icon--negative {
    --icon-color: var(--icon-color-negative);
  }

  .ra-rating__score,
  .ra-rating__label {
    margin-left: var(--spacing-2xs);
    color: var(--c-primary);
    text-underline-position: under;

    @media breakpoint(md) {
      font-size: var(--font-size-sm);
    }

    @media breakpoint(md-max) {
      font-size: var(--font-size-xs);
    }
  }
