
.ra-split-button {
  display: inline-flex;
  position: relative;

  &:not(.ra-split-button--xs) {
    min-width: 8.3475rem;
  }
}

  .ra-split-button__main-action {
    padding-left: .65rem;
    padding-right: 4rem;
    justify-content: start;

    .ra-split-button--xs & {
      padding-left: .4rem;
      padding-right: 2.5rem;
    }
  }

  .ra-split-button__alt-action {
    position: absolute;
    right: 0;
    top: 0;
    min-height: 100%;
  }
