.price {
  margin-top: 0;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 16px;
  letter-spacing: 0.1rem;
  line-height: 1.56;
  color: currentColor;
  font-weight: var(--font-medium-weight);
}

.price.price--unavailable {
  visibility: hidden;
}

.price--end {
  justify-content: flex-end;
}

.price__sale .price-item {
  margin: 0 8px 0 0;
}

.price:not(.price--show-badge) .price-item--last:last-of-type {
  margin: 0;
}

s.price-item {
  font-weight: var(--font-medium-weight);
}

@media screen and (min-width: 750px) {
  .price {
    margin-bottom: 0;
  }
}

.price--large {
  font-size: 24px;
}

@media screen and (min-width: 750px) {
  .price--large {
    font-size: 24px;
  }
}

.price--sold-out .price__availability,
.price__regular {
  display: block;
}

.price__sale,
.price__availability,
.price .price__badge-sale,
.price .price__badge-sold-out,
.price--on-sale .price__regular,
.price--on-sale .price__availability {
  display: none;
}

.price--sold-out .price__badge-sold-out,
.price--on-sale .price__badge-sale {
  display: inline-flex;
}

.price--on-sale .price__sale {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.price .price__regular--range,
.price.price--on-sale .price__regular--range,
.price.price--sold-out .price__regular--range,
.price.price--no-compare .price__regular--range {
  display: block;
  text-decoration: none;
}

.price--center {
  display: flex;
  justify-content: center;
}

.price--on-sale .price-item--regular {
  text-decoration: line-through;
  color: #b4b5b6;
}

.price.price--on-sale .price__regular--range .price-item--regular {
  text-decoration: none;
  color: inherit;
}

.unit-price {
  display: block;
  margin-top: 0.2rem;
  text-transform: uppercase;
  color: #b4b5b6;
}

.price-additional-label {
  font-weight: var(--font-regular-weight);
  letter-spacing: normal;
}