.facets-container {
  margin: 72px 0;
  position: sticky;
  top: 0;
  z-index: 2;
}

.main-collection-filters {
  width: 100%;
}

.facets__list {
  margin-top: 16px;
}

.facets__wrapper .facets-list__item-wrapper {
  padding: 20px 0;
  border-top: 1px solid rgba(var(--color-border));
}

@media screen and (min-width: 750px) {
  .facets__wrapper {
    max-height: calc(100vh - 72px);
    overflow-y: auto;
  }
}

@media screen and (max-width: 1199px) {

  .main-collection-filters {
    margin-right: 30px;
  }

  .facets__colors {
    padding-left: 0;
    min-width: unset;
    max-width: unset;
    display: block;
    justify-content: unset;
    align-items: unset;
  }

  .facets__list {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
}

@media screen and (max-width: 749px) {
  .main-collection-filters {
    margin: 0;
    max-width: none;
  }

  #FacetsWrapperDesktop {
    padding: 0;
  }

  #FacetFiltersForm {
    min-height: 300px;
  }

  .facets-container {
    padding: 0;
    margin: 20px 0 0;
  }
}

.facets__item {
  display: flex;
  align-items: center;
  position: relative;
  line-height: 1;
  margin-bottom: 16px;
}

.facets__colors .facets__item {
  margin-bottom: 0;
}

.facets__item:last-child {
  margin-bottom: 0;
}

.facets__size .facets__list {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 8px);
  margin-left: -4px;
}

.facets__size .facets__item {
  margin: 0;
}

.facets__size .facet-checkbox {
  width: 74px;
  height: 50px;
  margin: 4px;
  border: 1px solid rgb(var(--color-border));
  text-align: center;
  padding: 12px 5px 12px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.facets__item label,
.facets__item input[type='checkbox'] {
  cursor: pointer;
}

.facets__colors .facets__list {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 12px);
}

.facets__item input[type='checkbox'],
.facets__item input[type='radio'] {
  margin: 0;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.facet-checkbox {
  text-decoration: none;
  color: rgba(var(--color-text));
  display: flex;
  align-items: center;
  text-transform: unset;
  line-height: 1.56;
}

.facet-checkbox-color {
  position: relative;
  width: 24px;
  height: 24px;
  display: inline-block;
  border: 1px solid rgb(var(--color-border));
  border-radius: 50%;
  margin: 0 12px 12px 0;
  transition: all .2s linear;
}

.facets__reset--active,
.facets__item > input[type='checkbox']:checked ~ .facet-checkbox,
.facets__item > input[type='radio']:checked ~ .facet-checkbox {
  color: rgb(var(--color-text));
  border-color: rgb(var(--color-text));
}

.facets__item > input[type='checkbox']:checked ~ .facet-checkbox-color {
  border: 1px solid rgb(var(--color-text));
}

.facets__item > input[type='checkbox']:checked ~ .facet-checkbox-color::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid rgb(var(--color-background));
}

.facets__item .facet-checkbox--disabled {
  cursor: not-allowed;
  color: rgb(var(--color-border));
}

.facets__item .facet-checkbox-color.facet-checkbox--disabled {
  display: none;
}

.facets__price {
  display: flex;
  padding: 2rem;
}

.facets__price .field + .field-currency {
  margin-left: 2rem;
}

.facets__price .field {
  align-items: center;
}

.facets__price .field-currency {
  align-self: center;
  margin-right: 0.6rem;
}

.facets__price .field__label {
  left: 1.5rem;
}

button.facets__button {
  min-height: 0;
  margin: 0 0 0 0.5rem;
  box-shadow: none;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

.facets__button-no-js {
  min-width: auto;
  transform: translateY(-0.6rem);
}

.active-facets {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  padding: 0 12px;
}

.active-facets__button {
  display: block;
  text-decoration: none;
}

span.active-facets__button-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 15px;
  font-size: 14px;
  line-height: 25px;
  color: rgb(var(--color-button-text-primary));
  background-color: rgb(var(--color-button-bg-primary));
  border: 1px solid rgb(var(--color-button-bg-primary));
}

.active-facets__button-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 12px 15px;
}

.active-facets__button-wrapper * {
  font-size: 14px;
}

.active-facets__button-remove {
  color: rgb(var(--color-button-text-secondary));
  text-underline-offset: 0.2rem;
  text-decoration-thickness: 1px;
  transition: text-decoration-thickness ease 100ms;
}

a.active-facets__button:focus-visible {
  outline: none;
  box-shadow: none;
}

a.active-facets__button.focused,
.no-js a.active-facets__button:focus {
  outline: none;
  box-shadow: none;
}

.active-facets__button {
  display: flex;
  align-items: center;
  color: inherit;
}

.active-facets__button svg {
  align-self: center;
  flex-shrink: 0;
  margin-left: 10px;
  pointer-events: none;
  width: 15px;
  height: 15px;
  color: currentColor;
}

.active-facets__button svg path {
  stroke: currentColor;
}

.active-facets facet-remove:only-child {
  display: none;
}

.active-facets__button.disabled,
.mobile-facets__clear.disabled {
  pointer-events: none;
}

@media all and (max-width: 989px) {
  .active-facets {
    padding: 0;
  }

  span.active-facets__button-inner,
  .active-facets__button-wrapper {
    padding: 5px 10px;
  }
}

.product-count {
  align-self: center;
  position: relative;
  text-align: right;
}

.product-count__text {
  font-size: 1.4rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  margin: 0;
}

.product-count__text.loading {
  visibility: hidden;
}

.product-count .loading-overlay__spinner {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.8rem;
}

.product-count__text.loading + .loading-overlay__spinner {
  display: block;
}

.facets__item-label {
  font-weight: 500;
}

.facets__item-label .collapsible-plus {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.facets__features .facet-checkbox{
  color: rgba(var(--color-text));
  display: flex;
  align-items: center;
  text-transform: unset;
}

.facets .form__select {
  border-bottom: none;
  margin-bottom: 0;
  border-top: 1px solid rgba(var(--color-border));
}

.facets .form__select-dropdown {
  max-height: 225px;
}

.facets__form {
  overflow: hidden;
}

.facets__form .form__select-btn {
  cursor: pointer;
  color: rgba(var(--color-text));
}

.button-filter-opener {
  width: 140px;
  min-height: unset;
  box-shadow: none;
  padding: 12px;
  border: 1px solid rgba(var(--color-foreground),.2);
  color: rgb(var(--color-foreground));
  transition: none;
}

.button-filter-opener--mobile {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  z-index: 4;
  max-width: 140px;
  box-shadow: 0 10px 10px -6px rgba(7, 7, 7, 0.15);
  border-radius: 26px;
  padding: 7px;
  min-height: unset;
  transition: none;
}

@media all and (max-width: 989px) {
  .button-filter-opener--mobile {
    bottom: 30px;
  }
}

.button-filter-opener svg,
.button-filter-opener--mobile svg {
  margin-left: 17px;
}

[data-sticky-filter-btn] {
  display: none;
}

.collection__filters-header.sticky-filter-btn [data-sticky-filter-btn] {
  display: block;
  position: fixed;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  background-color: white;
  z-index: 3;
}

.mobile-facets__footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-facets__footer facet-remove {
  width: 50%;
}

.mobile-facets__footer .button--primary {
  width: 50%;
  min-width: unset;
}

.collection__nav {
  margin-bottom: 40px;
}

.collection__nav::-webkit-scrollbar {
  display: none;
}

.collection__nav-item {
  margin-bottom: 8px;
}

.collection__nav-item a {
  font-weight: 500;
  text-decoration: none;
  text-underline-offset: 1px;
}

.collection__nav-item a.active,
.collection__nav-item a:hover {
  text-decoration: underline;
}

@media all and (max-width: 749px) {
  .collection__nav {
    width: calc(100% + 48px);
    margin-left: -24px;
    padding-left: 24px;
  }
}

@media all and (max-width: 989px) {
  .collection__nav {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: visible;
  }

  .collection__nav-item a {
    white-space: nowrap;
    display: block;
    margin-right: 18px;
    margin-bottom: 0;
  }
}

.collection__breadcrumbs {

}

.collection__breadcrumbs-nav {
  margin: 30px 0 10px 0;
  font-size: 11px;
  font-weight: 600;
}

.collection__breadcrumbs-nav a {
  text-decoration: none;
  text-underline-offset: 1px;
}

.collection__breadcrumbs-nav a:hover {
  text-decoration: underline;
}

.collection__breadcrumbs h1 {
  font-size: var(--font-size-heading-6);
  text-transform: uppercase;
  margin-bottom: 10px;
}
