.template-search__search {
  margin: 0 auto;
  max-width: 47.8rem;
}

.template-search__search .search {
  margin-top: 3rem;
}

.search__input.field__input {
  padding: 10px 40px 10px 20px;
  line-height: 1;
  height: 46px;
  font-size: var(--font-size-normal);
  letter-spacing: normal;
  outline: none;
  box-shadow: none;
  border: 1px solid rgba(var(--color-foreground));
}

.search__input.field__input::placeholder {
  color: rgba(var(--color-foreground), .2);
  opacity: 1;
}

.search__input.field__input:focus {
  box-shadow: none;
  outline: none;
}

.search__label.field__label {
  font-size: var(--font-size-normal);
  top: 10px;
  left: 20px;
  letter-spacing: normal;
  line-height: 1;
  background-color: rgb(var(--color-background));
  transition: all .2s linear;
}

.search__input.field__input:focus~.field__label {
  font-size: 10px;
  top: -5px;
  letter-spacing: normal;
  padding: 0 5px;
}

.search__button {
  width: 50px;
  height: 46px;
  color: rgb(var(--color-text));
}

.search__button .icon {
  height: 20px;
  width: 20px;
}

.search-modal__close-button.modal__close-button {
  width: 20px;
  height: 20px;
  margin-left: 30px;
}

/* Remove extra spacing for search inputs in Safari */
input::-webkit-search-decoration {
  -webkit-appearance: none;
}

@media screen and (max-width: 989px) {
  .search__button {
    height: 36px;
  }

  .search__input.field__input {
    height: 36px;
  }

  .search-modal__close-button.modal__close-button {
    margin-left: 20px;
  }
}
