@media screen and (max-width: 989px) {
  #shopify-section-header.shopify-section-header-sticky {
    position: sticky !important;
  }
}

[data-header-menu="true"] #shopify-section-announcement-bar,
[data-header-menu="true"] #shopify-section-announcement-scrolling-bar {
  z-index: 10;
}

[data-header-menu="true"] .header-wrapper,
[data-header-menu="true"] #shopify-section-header.shopify-section-header-sticky .header-wrapper {
  z-index: 10;
  background-color: #fff;
}

[data-header-menu="true"] .header__icons,
[data-header-menu="true"] #shopify-section-header.shopify-section-header-sticky .header__icons,
[data-header-menu="true"] #shopify-section-header .header__heading {
  z-index: 10;
  color: rgb(var(--color-text));
  opacity: 1;
}

[data-header-menu="true"] #shopify-section-header .header__heading-logo-static {
  display: block !important;
}

[data-header-menu="true"] #shopify-section-header .header__heading-logo-transparent {
  display: none !important;
}

[data-header-menu="true"] .cart-count-bubble {
  background-color: rgb(var(--color-text));
}

#Header .page-width {
  max-width: unset;
}

#Header .header {
  display: grid;
  grid-template-areas: "left-icon heading icons";
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

header-drawer {
  justify-self: start;
  margin-left: -1.2rem;
}

@media screen and (min-width: 1800px) {
  #Header .page-width {
    max-width: 94%;
  }
}

@media screen and (min-width: 990px) {
  #Header .header--middle-left .header__inline-menu {
    margin-left: 0;
    text-align: center;
  }

  #Header .header--middle-left {
    grid-template-areas: 'heading navigation icons';
    grid-template-columns: auto 1fr auto;
    column-gap: 2rem;
    align-items: center;
  }

  #Header .header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 989px) {
  .header__icon--cart .icon-cart,
  .header__icon--account {
    margin: 0 0 0 16px;
  }

  .header__menu-item.ge-switcher-flag {
    margin: 0 0 0 22px !important;
  }

  #Header header-drawer {
    margin: 0;
  }
}

#Header header-mega-menu {
  padding: 0;
  position: absolute;
  top: calc(var(--header-height) - 2px);
  left: 0;
  width: 100%;
  max-width: unset;
  min-width: unset;
  height: auto;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
  visibility: visible;
  opacity: 0;
  background-color: #f6f6f6;
  display: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
  z-index: 5;
}

#Header header-mega-menu[open] {
  opacity: 1;
  display: block;
}

#Header header-mega-menu[open] .header__submenu.list-menu--disclosure {
  overflow: visible;
}

.header__submenu.list-menu--disclosure[aria-hidden="true"] {
  display: none;
}

.header__submenu.list-menu--disclosure {
  width: 100%;
  max-width: var(--page-width);
  max-height: 80vh;
  min-height: 400px;
  position: relative;
  padding: 0 0 0 72px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  opacity: 1;
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
}

@media screen and (min-width: 1800px) {
  .header__submenu.list-menu--disclosure {
    max-width: calc(100vw - (100vw / 6) * 2);
    padding: 0;
  }
}

.header__submenu--list-wrapper {
  margin-top: 72px;
  padding: 0 0 50px;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  max-height: calc(80vh - 120px);
  overflow-y: auto;
}

.header__submenu.list-menu--disclosure .header__submenu--list {
  padding: 0;
  width: calc(100% / 3);
  height: 100%;
}


@media screen and (min-width: 1800px) {
  .header__submenu--list-wrapper {
    width: calc(100vw - (100vw / 6) * 3);
  }

  .header__submenu.list-menu--disclosure .header__submenu--list {
    width: calc(100vw / 6);
  }
}

.header__submenu--list-wrapper > ul > li {
  padding-right: 24px;
  padding-bottom: 24px;
}

.header__submenu.list-menu--disclosure li {
  padding-right: 0;
}

#Header .header__submenu .header__sub-menu-item {
  padding: 0;
  min-width: unset;
  height: unset;
  border: none;
  position: static;
  top: unset;
  left: unset;
  transform: translateX(0);
  visibility: visible;
  background-color: transparent;
}

.header__submenu .header__menu-item {
  padding: 0 0 52px 0;
  font-size: 18px;
  font-weight: var(--font-heading-weight);
  letter-spacing: 1.8px;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  color: rgb(var(--color-text));
  cursor: auto;
}

.header__submenu a.header__menu-item {
  cursor: pointer;
}

.header__submenu .header__sub-menu-item .header__menu-item {
  padding: 0 0 10px 0;
  font-size: var(--font-size-normal);
  font-weight: var(--font-regular-weight);
  line-height: 25px;
  text-transform: none;
  letter-spacing: normal;
}

.sup-wrapper {
  display: flex;
  align-items: center;
}

.sup {
  margin-left: 10px;
  padding: 3px 10px;
  display: flex;
  align-items: center;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: normal;
  color: #FFFFFF;
  background-color: #070707;
  border-radius: 12px;
  text-transform: uppercase;
}

/************************* Menu Banner *********************/

.header__banner {
  position: sticky;
  top: 0;
  width: calc(40% + ((100vw - 1440px) / 2));
  max-width: calc(40% + ((100vw - 1440px) / 2));
  min-width: 40%;
  height: inherit;
  padding: 120px 70px 70px;
  margin-left: auto;
  margin-right: calc((100vw - 1440px) / -2);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}


@media screen and (min-width: 1800px) {
  .header__banner {
    width: calc((100vw / 6) * 2);
    max-width: calc((100vw / 6) * 2);
    min-width: calc((100vw / 6) * 2);
    margin-right: calc((100vw / 6) * -1);
  }
}

@media screen and (max-width: 1440px) {
  .header__banner {
    width: unset;
    max-width: 40%;
    margin-right: unset;
  }
}

#menu-drawer .menu-drawer__menu {
  display: flex;
  flex-direction: column;
}

#menu-drawer .header__banner {
  position: static;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  padding: 24px 72px;
  margin: 0 0 49px;
  align-items: flex-start;
}

@media screen and (max-width: 749px) {
  #menu-drawer .header__banner {
    padding: 24px;
  }
}

.header__banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

@media screen and (max-width: 989px) {
  #menu-drawer .header__banner-image {
    position: relative;
    width: 100%;
    padding-top: 67%;
  }
}

.header__banner-heading {
  margin: 24px 0 5px;
  font-weight: var(--font-heading-weight);
  text-align: center;
  color: inherit;
  z-index: 1;
}

@media screen and (max-width: 989px) {
  .header__banner-heading {
    color: rgb(var(--color-text));
  }
}

.header__banner-heading a {
  text-decoration: none;
  color: inherit;
}

#menu-drawer .header__banner-heading {
  margin: 24px 0 16px;
  text-align: left;
}

.header__banner-description {
  margin-bottom: 5px;
  font-weight: var(--font-regular-weight);
  z-index: 1;
  text-align: right;
}

.header__banner-description a {
  text-decoration: none;
  color: inherit;
}

.header__banner-button {
  max-width: 336px;
  color: inherit;
  z-index: 1;
  text-decoration: none;
  line-height: 1;
}

@media screen and (max-width: 989px) {
  .header__banner-button {
    margin-top: 10px;
    color: rgb(var(--color-text));
  }
}

#header__main-navigation li {
  padding: 12px 30px;
}

#header__main-navigation .list-menu__item {
  text-decoration: none;
  padding: 0;
  position: relative;
}

#header__main-navigation .list-menu__item:after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background-color: currentColor;
  position: absolute;
  top: 100%;
  left: 0;
  -moz-transition: width 0.3s linear;
  -o-transition: width 0.3s linear;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
}

#header__main-navigation .list-menu__item:hover:after,
#header__main-navigation .list-menu__item[active]:after {
  width: 100%;
}

.menu-drawer-container {
  display: flex;
}

.list-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-menu--inline {
  display: inline-flex;
  flex-wrap: wrap;
}

.list-menu__item {
  display: flex;
  align-items: center;
}

.list-menu__item--link {
  text-decoration: none;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

@media screen and (min-width: 750px) {
  .list-menu__item--link {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
}


/************************* Menu Drawer *********************/

.shopify-section-header-sticky .menu-drawer {
  top: var(--header-top-position);
  height: calc(100% - (var(--header-top-position, 0)));
}

.header__icons {
  z-index: 3;
}

.menu-drawer__inner-container {
  background-color: #fff;
}

.menu-drawer__navigation-container {
  /*height: calc(100% - var(--menu-drawer-height));*/
  overflow-y: unset;
  position: relative;
  background-color: #F8F8F8;
  border-top: 1px solid rgb(var(--color-border));
}

.menu-drawer__submenu {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgb(var(--color-background));
  transform: translate(100%);
  visibility: hidden;
  transition: all .2s linear;
}

details[open].menu-opening > .menu-drawer__submenu {
  transform: translate(0);
  visibility: visible;
}

.menu-drawer__menu-item {
  font-size: var(--font-size-normal);
  font-weight: 500;
  padding: 18px 72px;
}

@media screen and (max-width: 749px) {
  .menu-drawer__menu-item {
    padding: 18px 24px;
  }
}

@media screen and (max-width: 989px) {
  .header__heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.header__menu-item-link {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.8px;
  line-height: 22px;
  text-transform: uppercase;
}

.menu-drawer__menu .menu-drawer__menu > li:first-child {
  margin-top: 0;
}

.menu-drawer__menu .menu-drawer__menu > li:last-child {
  margin-bottom: 37px;
}

.menu-drawer__menu .menu-drawer__menu ul li:last-child {
  margin-bottom: 27px;
}

.menu-drawer__menu-item-grand {
  font-size: var(--font-size-normal);
  line-height: 25px;
  padding-left: 24px;
}

header-drawer .menu-drawer__navigation {
  padding: 0;
}

.menu-drawer__menu-item.list-menu__item--title {
  padding: 13px 0;
}

.menu-drawer__chevron {
  width: 35px;
  height: 28px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-drawer__close-button {
  position: relative;
  width: 100%;
  padding: 30px 72px;
  font-size: var(--font-size-normal);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border-bottom: 1px solid rgb(var(--color-border));
}

.menu-drawer__close-button .menu-drawer__chevron {
  position: absolute;
  top: 50%;
  left: 72px;
  transform: translateY(-50%);
}

@media screen and (max-width: 749px) {
  .menu-drawer__close-button {
    padding: 30px 24px;
  }

  .menu-drawer__close-button .menu-drawer__chevron {
    left: 24px;
  }
}

.header__icon .icon.icon-close {
  width: 42px;
  transform: unset;
}

.menu-drawer__navigation .menu-drawer__menu li {
  border-bottom: 1px solid rgb(var(--color-border));
}

.menu-drawer__navigation .ge-switcher-flag {
  margin: 0 !important;
  padding: 18px 72px;
}

@media screen and (max-width: 749px) {
  .menu-drawer__navigation .ge-switcher-flag {
    padding: 18px 24px;
  }
}