product-gorgias-chat-button {
	display: none;
}

.product-gorgias-chat-button__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 35px;
}

product-gorgias-chat-button p {
	color: #070707;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.56;
	margin-right: 20px;
}

product-gorgias-chat-button .button {
	padding: 16px 24px 17px 25px;
	color: #f9f9f9;
	font-size: 16px;
	font-style: normal;
	letter-spacing: normal;
	border-radius: 50px 50px 0px 50px;
	position: relative;
	width: auto;
	max-width: unset;
}

@media screen and (max-width: 749px) {
	product-gorgias-chat-button .button {
		padding: 8px 10px 9px 25px;
	}
}

product-gorgias-chat-button .button:before {
	content: '';
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	left: 11px;
	width: 6px;
	height: 6px;
	background-color: #83e300;
	border-radius: 50%;
}