.header__icon--menu {
  position: relative;
}

.menu-drawer {
  position: fixed;
  transform: translateX(-100%);
  visibility: hidden;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: rgb(var(--color-background));
  overflow-x: hidden;
}

.js .menu-drawer {
  top: var(--announcement-bar-height, 0);
  /*height: calc(100vh - 100%);*/
  height: calc(100% - (var(--announcement-bar-height, 0)));
}

.js .shopify-section-header-sticky  .menu-drawer {
  /*height: calc(100vh - 100%);*/
  /*height: calc(var(--viewport-height, 100vh));*/
}

.js details[open] > .menu-drawer {
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.no-js details[open] > .menu-drawer,
.js details[open].menu-opening > .menu-drawer {
  transform: translateX(0);
  visibility: visible;
}

details[open] > summary .collapsible-plus::before {
  transform: translate(-50%,-50%) rotate(90deg);
  opacity: 0;
}

@media screen and (min-width: 750px) {
  .no-js .menu-drawer {
    height: auto;
  }
}

.menu-drawer__inner-container {
  position: relative;
  height: 100%;
  padding-top: var(--header-height);
}

.menu-drawer__navigation-container {
  display: grid;
  grid-template-rows: 1fr auto;
  align-content: space-between;
  overflow-y: auto;
  height: 100%;
}

.menu-drawer__navigation {
  padding: 43px 72px 24px;
}

@media screen and (max-width: 750px) {
  .menu-drawer__navigation {
    padding: 43px 24px 24px;
  }
}

.menu-drawer__navigation > .menu-drawer__menu > li {
  border-bottom: 1px solid rgb(var(--color-border));
}

.menu-drawer__menu .menu-drawer__menu li:first-child {
  margin-top: 12px;
}

.menu-drawer__menu .menu-drawer__menu li:last-child {
  margin-bottom: 36px;
}

.menu-drawer__menu-item.list-menu__item--title {
  padding: 6px 0;
}

.menu-drawer__menu.list-menu .list-menu__menu-item-title {
  margin-top: 30px;
}

.list-menu__item--title .header__menu-item-underline {
  font-size: var(--font-size-heading-4-mobile);
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  /*color: inherit;*/
}

.list-menu__item--title sup {
  position: relative;
  top: -5px;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

details[open] > .list-menu__item--title .header__menu-item-underline,
.list-menu__item--title .header__menu-item-underline:hover {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 1px;
}

.menu-drawer__inner-submenu {
  padding-top: 130px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.no-js .menu-drawer__navigation {
  padding: 100px 24px 24px;
}

.menu-drawer__menu-item {
  padding: 18px 50px 18px 0;
  text-decoration: none;
  font-size: var(--font-size-l);
}

.menu-drawer__menu-item-grand {
  padding: 6px 0;
  text-decoration: none;
  font-size: var(--font-size-l);
}

.menu-drawer__menu-item--active,
.menu-drawer__menu-item:focus,
.menu-drawer__close-button:focus,
.menu-drawer__menu-item:hover,
.menu-drawer__close-button:hover {}

.menu-drawer__menu-item--active:hover {}

.menu-drawer__menu-item > .collapsible-plus {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.menu-drawer__submenu {
  position: relative;
  background-color: rgb(var(--color-background));
  z-index: 1;
}

.menu-drawer__submenu .menu-drawer__submenu {
  overflow-y: auto;
}

.menu-drawer__utility-links {
  /*position: sticky;*/
  /*bottom: 0;*/
  padding: 24px 72px;
  background-color: rgb(var(--color-background));
  z-index: 3;
}

@media screen and (max-width: 750px) {
  .menu-drawer__utility-links {
    padding: 24px;
  }
}

.menu-drawer__account {

}

.menu-drawer .list-social {
  justify-content: flex-start;
  margin-left: -1.25rem;
  margin-top: 2rem;
}

.menu-drawer .list-social:empty {
  display: none;
}

.menu-drawer .list-social__link {
  padding: 1.3rem 1.25rem;
}
