product-card-mini {
	display: block;
}

.product-card-mini-container {
	width: 100%;
}

.product-card-mini__header {
	padding: 18px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.product-card-mini__header h2 {
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 0;
	display: inline-block;
	text-transform: unset;
	letter-spacing: normal;
}

.product-card-mini__prices {
	font-size: 16px;
	font-weight: 300;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.product-card-mini__prices [data-price] {
	font-size: 16px;
	font-weight: var(--font-medium-weight);
}

.product-card-mini__prices [data-compare-price] {
	font-size: 16px;
	font-weight: 300;
	text-decoration: line-through;
	margin-right: 6px;
}

.product-card-mini__body {
	background: #ffffff;
	display: flex;
}

.product-card-mini__image {
	width: 170px;
	min-height: 170px;
	position: relative;
}

.product-card-mini__image img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.product-card-mini__content {
	padding: 20px 24px 24px;
	width: calc(100% - 170px);
}

.product-card-mini__content:only-child {
	width: 100%;
}

.product-card-mini__title {
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 1.2px;
	line-height: 1.5;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.product-card-mini__form form {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
}

.product-card-mini__options {
	margin: 10px 0;
	padding: 0;
	border: none;
	display: grid;
	gap: 6px;
	grid-template-columns: repeat(auto-fill, minmax(32px, 1fr));
}

.product-card-mini__option {
	position: relative;
	display: flex;
}

.product-card-mini__options input {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	clip: rect(0,0,0,0);
	overflow: hidden;
	height: 1px;
	width: 1px;
}

.product-card-mini__options input[type='radio'] + span {
	width: 100%;
	height: 100%;
	border: 1px solid rgba(var(--color-foreground),.2);
	color: rgb(var(--color-foreground));
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: border var(--duration-short) ease;
	cursor: pointer;
	padding: 1px 4px;
	font-size: 10px;
	font-weight: var(--font-medium-weight);
}

.product-card-mini__options:not(.product-card-mini__options--colors) input[type='radio']:hover + span {
	border-color: rgb(var(--color-foreground));
}

.product-card-mini__options:not(.product-card-mini__options--colors) input[type='radio']:checked + span {
	background-color: rgb(var(--color-foreground));
	color: rgb(var(--color-background));
}

.product-card-mini__options--colors fieldset {

}

.product-card-mini__options--colors span {

}

.product-card-mini__options--colors .product-card-mini__option {
	width: 24px;
	height: 24px;
}

.product-card-mini__options--colors input[type='radio'] + span {
	border: 1px solid transparent;
	border: unset;
	width: 100%;
	height: 100%;
	background-color: #f6f6f6;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	border-radius: 50%;
	position: relative;
}

.product-card-mini__options--colors input[type='radio']:hover + span,
.product-card-mini__options--colors input[type='radio']:checked + span {
	border: 1px solid #000000;
}

.product-card-mini__options--colors input[type='radio']:checked + span:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	height: 100%;
	border: 2px solid #fff;
	border-radius: 50%;
}

.product-card-mini__fieldsets {
	display: flex;
	flex-direction: column;
	width: calc(100% - 40px);
}

.product-card-mini__submit {
	width: auto;
	display: inline-flex;
}

.product-card-mini__submit input {
	clip: rect(0,0,0,0);
	overflow: hidden;
	position: absolute;
	height: 1px;
	width: 1px;
}

.product-card-mini__submit span {
	border-radius: 50%;
	background: #ffffff;
	display: inline-flex;
	justify-content: center;
	align-content: center;
	width: 24px;
	height: 24px;
	border: 1px solid #000000;
	position: relative;
	cursor: pointer;
	transition: all 0.3s;
}

.product-card-mini__submit > span svg {
	transition: all 0.3s;
}

.product-card-mini__submit > span .icon-plus {
	width: auto;
	height: 14px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.product-card-mini__submit > span .icon-checkmark {
	width: auto;
	height: 7px;
	display: none;
}

.product-card-mini__submit input[type='submit'][disabled] + span:hover,
.product-card-mini__submit input[type='submit'][disabled] + span,
.product-card-mini__submit input[type='checkbox'][disabled] + span:hover,
.product-card-mini__submit input[type='checkbox'][disabled] + span {
	background-color: #d9d9d9;
	pointer-events: none;
}

.product-card-mini__submit input[type='submit'][disabled] + span svg,
.product-card-mini__submit input[type='checkbox'][disabled] + span svg {
	transform: translate(-50%, -50%) rotate(135deg);
}

.product-card-mini__submit input[type='submit'] + span:hover {
	background-color: #000000;
}

.product-card-mini__submit input[type='submit'] + span:hover .icon-plus path {
	fill: #ffffff;
}

.product-card-mini__submit input[type='submit'].loading + span,
.product-card-mini__submit input:checked + span {
	background-color: #000000;
}

.product-card-mini__submit input[type='submit'].loading + span .icon-plus,
.product-card-mini__submit input:checked + span .icon-plus {
	display: none;
}

.product-card-mini__submit input[type='submit'].loading + span .icon-checkmark,
.product-card-mini__submit input:checked + span .icon-checkmark {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.product-card-mini__submit input[type='submit'].loading + span .icon-checkmark path,
.product-card-mini__submit input:checked + span .icon-checkmark path {
	fill: #ffffff;
}

.product-card-mini__error-message-wrapper {
	width: 100%;
	display: flex;
	align-items: flex-start;
	position: absolute;
	bottom: -30px;
	left: 0;
	animation: fadein 0.75s;
	padding: 5px;
	background-color: #cecece;
}

.product-card-mini__error-message-wrapper[hidden] {
	display: none;
}

.product-card-mini__error-message {
	font-size: 10px;
}

.product-card-mini__error-message-wrapper svg {
	flex-shrink: 0;
	width: 15px;
	height: 15px;
	margin-right: 3px;
}