/*----------customer-account section----------*/
modal-dialog.account__modal {
  padding: 60px 72px 48px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 480px;
  height: 100%;
  transform: translateX(100%);
  visibility: hidden;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  z-index: 10;
  overflow: visible;
}

@media screen and (max-width: 749px) {
  modal-dialog.account__modal {
    padding: 80px 24px 48px;
    max-width: 100%;
  }
}

modal-dialog.account__modal[open] {
  transform: translateX(0);
  visibility: visible;
  z-index: 12;
}

@keyframes hideBlock {
  0% {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: matrix(1, 0, 0, 1, 0, 0);

  }

  90% {
    opacity: 1;
    display: block;
    visibility: visible;
  }

  100% {
    display: none;
    opacity: 0;
    visibility: hidden;
    transform: matrix(1, 0, 0, 1, 0, 20);
  }
}

@keyframes showBlock {
  0% {
    display: none;
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, 20);
  }

  75% {
    display: none;
    opacity: 0;
    visibility: hidden;
    transform: matrix(1, 0, 0, 1, 0, 20);
  }

  100% {
    display: block;
    opacity: 1;
    visibility: inherit;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

.account__modal_block-wrapper {
  overflow-y: auto;
  height: 100%;
}

.account__modal_block.hidden-block {
  -webkit-animation: hideBlock 0.5s ease-in-out;
  animation: hideBlock 0.5s ease-in-out;
  opacity: 0;
  display: none;
  pointer-events: none;
}

.account__modal_block {
  padding-top: 12px;
  -webkit-animation: showBlock 0.5s ease-in-out;
  animation: showBlock 0.5s ease-in-out;
  pointer-events: auto;
}

.account__modal-form .form__item:first-of-type {
  margin-top: 10px;
}

@media screen and (max-width: 749px) {
  .account__modal-form .form__input,
  .account__wrapper .form__input {
    padding: 16px 0 14px;
  }
}

/*----------account__modal--login block----------*/
.account__modal-heading {
  display: inline-block;
  margin-bottom: 10px;
}

.account__modal .button {
  font-size: var(--font-size-text);
}

.account__modal .button__modal-close {
  display: none;
}

@media screen and (max-width: 1024px) {
  .account__modal .button__modal-close {
    display: block;
  }
}

#customer_login #form__input-password-account {
  margin-bottom: 35px;
}

.account__modal-link {
  display: block;
  font-family: var(--font-heading-family);
  font-weight: var(--font-medium-weight);
  margin: 30px 0 0;
  line-height: 1.56;
  text-decoration: none;
  color: currentColor;
  cursor: pointer;
}

.account__modal-separate {
  position: relative;
  display: block;
  text-align: center;
  overflow: hidden;
  color: #b4b5b6;
  font-size: var(--font-size-base);
  line-height: 1.57em;
  margin: 18px 0 27px;
}

.account__modal-separate:before,
.account__modal-separate:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 45%;
  height: 1px;
  background-color: rgb(var(--color-border));
}

.account__modal-separate:before {
  left: 0;
}

.account__modal-separate:after {
  right: 0;
}

/*----------account__modal--recover block----------*/
.account__modal--recover #form__input-password-recover-account {
  margin-bottom: 35px;
}

/*----------account__modal--create block----------*/
.account__modal-description {
  margin-bottom: 10px;
  display: inline-block;
}

/*----------customer-account-template section----------*/
.customer__container,
.account__container {
  display: flex;
  align-items: stretch;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .account__container {
    flex-direction: column;
  }
}

.account__image-wrapper,
.account__wrapper,
.customer__wrapper {
  flex: 1 1 50%;
}

.account__wrapper {
  padding-top: 50px;
}

@media screen and (max-width: 1024px) {
  .account__wrapper {
    padding-top: 0;
  }
}

.account__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.account__image-inner {
  padding-bottom: 103.4%;
  position: sticky;
  top: 0;
  height: auto;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .account__image-inner {
    padding-bottom: 100%;
  }
}

.account__inner,
.customer__inner {
  max-width: 624px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: calc(var(--header-height) + 59px) 24px 138px;
  margin: 0 auto;
}

@media screen and (max-width: 749px) {
  .account__inner {
    padding: 39px 24px 65px;
  }
}

.account__inner-block {
  border-bottom: 1px solid rgb(var(--color-border));
  padding: 31px 0 29px;
}

.account__inner-block--history {
  padding-bottom: 0;
}

.account__inner-block:first-of-type {
  padding-top: 21px;
}

.account__inner-block:last-of-type {
  border: none;
}

/*.account__inner-block details {*/
/*  overflow: visible;*/
/*}*/

.account__container summary {
  outline: none;
  box-shadow: none;
}

.account__btn {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 1.56em;
  font-weight: var(--font-medium-weight);
  /*display: block;*/
  opacity: 1;
  transition: opacity .2s linear;
  margin: 0;
}

.account__btn--translate-vertical {
  top: -26px;
}


.account__btn--translate-horizontal {
  right: 80px;
}

.account__btn--remove {
  padding: 0;
  cursor: pointer;
  border: none;
  box-shadow: none;
  background-color: transparent;
  font-size: var(--font-size-text);
}

.account__inner-block details .account__btn-cancel {
  display: none;
  opacity: 0;
  transition: opacity .8s linear;
}

.account__inner-block details .account__btn-edit {
  display: block;
  opacity: 1;
  transition: opacity .8s linear;
}

.account__inner-block details[open] .account__btn-edit {
  display: none;
  opacity: 0;
  transition: opacity .8s linear;
}

.account__inner-block details[open] .account__btn-cancel {
  display: block;
  opacity: 1;
  transition: opacity .8s linear;
}

.account__heading {
  font-size: 28px;
  line-height: 1.29em;
  text-transform: unset;
}

.account__log-out {
  display: block;
  margin: 5px 0;
  line-height: 1.56em;
  font-weight: var(--font-medium-weight);
  color: rgb(var(--color-text));
  text-underline-offset: 4px;
}

.account__subheading {
  font-size: var(--font-size-text);
  font-weight: var(--font-medium-weight);
  line-height: 1.56em;
  text-transform: unset;
}

.account__description {
  margin-top: 10px;
  line-height: 1.56em;
  width: 80%;
  font-weight: 300;
}

.account__description a {
  color: inherit;
  font-weight: var(--font-medium-weight);
}

@media screen and (max-width: 749px) {
  .account__description {
    width: 70%;
  }
}

.account__inner-block--history .account__description {
  margin-top: 20px;
}

.account__order-wrapper .account__description {
  margin-top: 10px;
}

.account__address--saved {
  margin-top: 22px;
  margin-bottom: 7px;
  width: 60%;
}

.account__form,
.address__form,
.account__order-inner {
  padding: 23px 0 7px;
}

.account__order-subheading {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.account__order-return {
  display: inline-block;
  text-decoration: underline;
  letter-spacing: normal;
  color: var(--color-text);
}

.form__btn-submit {
  max-width: 276px;
  /*font-size: var(--font-size-text);*/
  font-weight: var(--font-medium-weight);
  padding: 16px 28px;
  margin-top: 5px;
}

.form__item--checkbox {
  margin: 5px 0 34px 0;
}

.address__form .form__item--checkbox input:not(:placeholder-shown)+label {
  font-size: var(--font-size-text);
  line-height: 1.56em;
}

.account__modal_block .form__message {
  display: none;
  font-size: var(--font-size-text);
  line-height: 1.56em;
  margin-top: 0;
}

.form__message.show {
  display: block;
}

.customer .form__message--error,
.account .form__message--error {
  padding: 20px 0;
  color: rgb(var(--color-button-bg-error));
}

.account .form__message--success {
  padding: 20px 0;
  color: rgb(var(--color-message-success));
}

.account__order-wrapper {
  font-weight: var(--font-medium-weight);
  margin-top: 10px;
}

.account__order-wrapper .account__btn {
  top: 0;
}

.account__order-wrapper .button {
  margin-top: 20px;
}

.account__order-product {
  display: block;
  margin-top: 20px;
}

.account__order-product--inline {
  display: flex;
  flex-wrap: wrap;
}

.account__order-product--inline .account__order-product-image-wrapper {
  width: 100%;
  margin-right: 10px;
}

.account__order-product--inline .account__order-wrapper {
  flex: 1;
  margin-top: 0;
}

.account__order-product-image-wrapper {
  max-width: 120px;
}

.account__order-product-image-inner {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.account__order-product-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
 }

.account__order-product-info {
  text-decoration: none;
  margin-top: 10px;
}

.account__order-product-info span {
  display: inline-block;
}

.account__order-product-meta {
  color: rgba(var(--color-text));
}

.account__order-products-subheading,
.account__order-address-info-subheading {
  margin: 20px 0 10px;
}

.account__order-wrapper .account__description {
  width: 100%;
}

.account__order-address-сonclusion p {
  display: flex;
}

.account__order-address-сonclusion p span:last-child {
  margin-left: auto;
}

.account__inner-block--history .pagination-wrapper {
  margin: 10px 0 0;
}

.account__address-wrapper .account__btn {
  top: 0;
}