.newsletter-popup {
  position: fixed;
  right: 72px;
  bottom: 72px;
  transform: translateX(calc(100% + 100px));
  width: 100%;
  max-width: 366px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(var(--color-background));
  box-shadow: 0 10px 10px -6px rgba(7, 7, 7, 0.15);
  z-index: 3;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 749px) {
  .newsletter-popup {
    left: 24px;
    right: 24px;
    bottom: 36px;
    max-width: calc(100% - 48px);
  }

  #newsletter-form,
  .newsletter__dropdown-list {
    padding: 0;
  }
}

.newsletter-popup[aria-hidden="false"] {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

.newsletter-popup__close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 36px;
  height: 36px;
  padding: 0;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--color-background-secondary));
  color: rgb(var(--color-text-light));
  cursor: pointer;
  z-index: 1;
}

.newsletter-popup__media {
  margin-left: 12px;
  width: 120px;
  height: 120px;
  flex-shrink: 0;
}

.newsletter-popup__content {
  padding: 18px 12px;
  width: 100%;
}

.newsletter-popup__heading {
  font-size: var(--font-size-l);
  letter-spacing: 0.1em;
  line-height: 22px;
}

.newsletter-popup__description {
  font-size: var(--font-size-l);
}

.newsletter-popup__icon {
  margin-top: 25px;
  display: flex;
}

.newsletter-popup__icon svg {
  width: 16px;
  height: 10px;
}

.newsletter-popup__opener {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.newsletter-popup__opener button {
  padding: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  border: none;
}