modal-dialog.search__modal {
  padding: 60px 72px 48px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  visibility: hidden;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  z-index: 10;
  overflow: visible;
}

@media screen and (max-width: 749px) {
  modal-dialog.search__modal {
    padding: 60px 24px 48px;
    max-width: 100%;
  }
}

modal-dialog.search__modal[open] {
  transform: translateX(0);
  visibility: visible;
  z-index: 11;
}

modal-dialog.search__modal[open] .button__modal-close {
  display: flex !important;
  align-items: center;
  justify-content: center;
  bottom: 30px;
  right: 30px;
  top: unset;
  z-index: 4;
  background: #b7df20;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

modal-dialog.search__modal[open] .button__modal-close svg{
  height: 15px;
  width: 15px;
}

modal-dialog.search__modal .search__modal--wrapper{
  position: relative;
}

modal-dialog.search__modal .search__modal--wrapper .search-modal__form{
  max-width: 100%;
}

modal-dialog.search__modal .search__modal--wrapper .predictive-search{
  left: 0;
  width: 100%;
  padding-bottom: 30px;
}