.section-countdown {
  background-color: var(--countdown_bg_color);
  color: var(--countdown_text_color);
}

.countdown {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .countdown-bfcm {
    padding-bottom: 0;
  }
}

.countdown .days,
.countdown .hours,
.countdown .minutes,
.countdown .seconds {
  white-space: nowrap;
}

.countdown .countdown__block {
  margin: 0 0 10px;
}

.countdown .countdown__block:last-child {
  margin: 0;
}

.countdown__text {
  font-size: var(--font-size-normal);
  font-weight: var(--font-regular-weight);
  letter-spacing: normal;
  text-transform: none;
  color: inherit;
}

.countdown__timer {
  color: inherit;
}