.shopable {
  background-color: var(--bg-color);
}

.shopable .thumbnails-group .swiper-arrow {
  top: 0;
  transform: none;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  z-index: 3;
}

.shopable-wrapper {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  overflow: hidden;
  display: flex;
  gap: 30px;
}

.shopoble-image__wrapper {
  width: 50%;
}

.shopable-slider__text-wrapper-mobile {
  display: none;
  padding-bottom: 40px;
}

.shopoble-image__desktop-btns {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.shopoble-image__mobile-btns {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.shopoble-image__wrapper img {
  border-radius: 10px;
}

.shopoble-image__btn,
.shopoble-image__mobile-btn {
  --look-animation: pulseInOutSubtle 2.5s ease infinite;
  position: absolute;
  z-index: 0;
  width: 32px;
  height: 32px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  transition: transform .3s ease-in-out;
}

.shopoble-image__mobile-btn {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.shopoble-image__btn:hover{
  transform: scale(1.25);
}

.shopoble-image__btn:after,
.shopoble-image__mobile-btn:after {
  content: "";
  pointer-events: none;
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: 50%;
  background: #FFFFFF;
  opacity: 0;
  z-index: -1;
  will-change: transform, opacity;
  animation: var(--look-animation);
}

.shopoble-image__btn .pointer__inner,
.shopoble-image__mobile-btn .pointer__inner{
  display: block;
  pointer-events: none;
  width: 10px;
  height: 10px;
  margin: auto;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition: transform .3s ease-in-out;
}

.shopoble-image__mobile-btn .pointer__inner {
  width: 8px;
  height: 8px;
}

.shopoble-image__btn-selected{
  transform: scale(1.25);
}

.shopoble-image__btn-selected:after{
  animation: none;
}

@keyframes pulseInOutSubtle {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  50% {
    transform: scale(1.125);
    opacity: .4;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.shopable-slider__wrapper {
  width: 50%;
  overflow: hidden;
}

.shopable-slider {
  padding-bottom: 25px;
}

.shopable-slider .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
}

.shopable-slider__text-wrapper {
  margin-bottom: 30px;
}

.shopable-slider__heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 29px;
  letter-spacing: 2px;
  color: var(--text-color);
}

.shopable-slider__description {
  margin-top: 10px;
  color: var(--text-color);
}

.shopable-slider .swiper-slide {
  overflow: hidden;
}

.shopable-main__next,
.shopable-main__prev {
  background: transparent;
  color: rgb(var(--color-background-secondary));
}

.shopable-main__next:after,
.shopable-main__prev:after {
  font-size: 18px;
}

.shopable-slider .swiper-button-prev,
.shopable-slider .swiper-button-next {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 1024px) {
  .shopable {
    padding: 0;
  }

  .shopable-slider__text-wrapper {
    padding: 0 72px;
  }

  .shopable .shopable-slider__swiper {
    padding: 0 72px;
  }

  .shopoble-image__wrapper {
    width: 100%;
  }

  .shopoble-image__wrapper img {
    border-radius: 0;
  }

  .shopable-slider__text-wrapper-mobile {
    display: block;
  }

  .shopoble-image__desktop-btns {
    display: none;
  }

  .shopoble-image__mobile-btns {
    display: block;
  }

  .shopable-slider__wrapper {
    display: none;
  }

  .shopable-slider .swiper-button-prev,
  .shopable-slider .swiper-button-next {
    display: none;
  }

  .shopable-slider .swiper-pagination {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .shopable-slider__text-wrapper {
    padding: 0 24px;
  }

  .shopable .shopable-slider__swiper {
    padding: 0 24px;
  }
}

@media screen and (max-width: 500px) {
  .shopable .increace-title__wrapper  {
    min-height: 45px;
  }
}
