.text-with-nav {
  padding: calc(135px + var(--header-height)) 0 140px;
}

.text-with-nav.small-pb {
  padding-bottom: 50px;
}

.twn__nav {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: visible;
}

.twn__nav::-webkit-scrollbar {
  display: none;
}

.twn__nav-link {
  padding: 15px 25px 15px 0;
  font-size: 18px;
  font-weight: var(--font-medium-weight);
  color: rgb(var(--color-text-light-secondary));
  transition: all .2s ease-in-out;
  text-decoration: none;
  white-space: nowrap;
  display: block;
}

.twn__nav-link.active,
.twn__nav-link:hover {
  color: rgb(var(--color-text-light));
  text-decoration: underline 2px;
  text-underline-offset: 10px;
}

.twn__heading {
  color: inherit;
  margin-bottom: 50px;
}

.twn__text {
  max-width: var(--max-width, 630px);
  font-size: 24px;
  font-weight: var(--font-medium-weight);
  line-height: 1.33;
}

.twn__button {
  margin-top: 42px;
  width: 100%;
  max-width: 410px;
}

@media screen and (max-width: 749px) {

  .text-with-nav.small-pb {
    padding-bottom: 27px;
  }

  .twn__wrapper {
    padding-right: 0;
  }

  .twn__heading {
    padding-right: 24px;
    margin-bottom: 27px;
    letter-spacing: 2.5px;
  }

  .twn__text,
  .twn__button-wrapper {
    padding-right: 24px;
  }
}

@media screen and (max-width: 1024px) {
  .text-with-nav {
    padding: 100px 0 70px;
  }
}