.main-blog {
  padding-top: 50px;
  padding-bottom: 50px;
}

.blog-articles {
  display: flex;
  flex-wrap: wrap;
}

.blog-articles__load-more {
  padding-top: 40px;
  display: block;
  width: 100%;
}

.blog-articles__load-more a {
  margin: 0 auto;
  display: block;
}

.blog-articles__nav-wrapper {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 24px;
}

.blog-articles__nav {
  display: inline-flex;
  align-items: center;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: visible;
}

.blog-articles__nav::-webkit-scrollbar {
  display: none;
}

.blog-articles__nav a {
  padding: 15px 25px 15px 0;
  font-size: 14px;
  line-height: 1.56;
  font-weight: 400;
  color: rgb(var(--color-text-secondary));
  transition: all .2s ease-in-out;
  text-decoration: none;
  white-space: nowrap;
  display: block;
}

.blog-articles__nav blog-button-load:last-child a {
  padding-right: 0;
}

.blog-articles__nav a.active {
  color: rgb(var(--color-text));
  text-decoration: underline 2px;
  text-underline-offset: 10px;
  font-weight: var(--font-medium-weight);
}

@media screen and (max-width: 750px) {
  .blog-articles {
    margin: -8px;
  }

  .blog-articles__article {
    margin: 8px;
    width: calc(50% - 16px);
  }

  .blog-articles__article:nth-child(3n+1) {
    width: 100%;
  }
}

@media screen and (min-width: 750px) {
  .blog-articles {
    margin: -12px;
  }

  .blog-articles__article {
    margin: 12px;
    width: calc(100% / 3 - 24px);
  }

  .blog-articles__article:nth-child(5n+1),
  .blog-articles__article:nth-child(5n+2) {
    width: calc(50% - 24px);
  }

  .blog-articles__nav a:hover {
    color: rgb(var(--color-text));
    text-decoration: underline 2px;
    text-underline-offset: 10px;
  }
}