.get-notified {
  padding: 0 0 140px;
}

@media screen and (max-width: 749px) {
  .get-notified {
    padding: 0 0 70px;
  }
}

@media screen and (max-width: 499px) {
  .get-notified button[data-email-btn-send] {
    width: 100%;
    max-width: 100%;
  }
}

.get-notified.black {
  background-color: #070707;
}

.get-notified .form__select {
  padding: 0;
}

.get-notified .form__select .form__select-btn {
  padding: 17px 0;
}

.get-notified.black .form__select-btn:after,
.get-notified.black .form__select.checked .form__select-btn,
.get-notified.black .form__input,
.get-notified.black .form__input:focus,
.get-notified.black .get-notified__description,
.get-notified.black .get-notified__description {
  color: #F9F9F9;
}

.get-notified__description {
  margin-top: 40px;
}

.get-notified__description > *,
.get-notified__description a {
  color: inherit;
}

.get-notified.black .form__input:focus {
  border-bottom: 1px solid #F9F9F9;
}

.get-notified.black input:-webkit-autofill,
.get-notified.black input:-webkit-autofill:hover,
.get-notified.black input:-webkit-autofill:focus {
  -webkit-text-fill-color: #F9F9F9;
  transition: background-color 5000s ease-in-out 0s;
}

.get-notified.black .form__input:-webkit-autofill {
  caret-color: #F9F9F9;
}

.get-notified form-klaviyo {
  max-width: 500px;
  padding: 0;
}

.get-notified .form__select-dropdown {
  width: 100%;
  right: 0;
}

.get-notified .form__select-btn:after {
  right: 15px;
}

.get-notified .form__select.open .form__select-btn:after {
  color: rgb(var(--color-base-text));
}

.get-notified [data-email-btn-send] {
  margin-top: 60px;
}