.animated-tc__list {
  display: flex;
  justify-content: center;
  width: calc(100% + 35px);
  margin-left: -18px;
  transition: all .2s linear;
  will-change: transform;
}

.animated-text-columns {
  overflow: hidden;
  padding: 0 0 140px;
}

.animated-tc__item {
  width: calc(100% / 3);
  padding: 0 18px;
}

.animated-tc__heading {
  color: inherit;
  margin-bottom: 23px;
}

@media screen and (max-width: 749px) {
  .animated-text-columns {
    padding: 0 0 70px;
  }

  .animated-tc__list {
    width: 100%;
    margin: 0;
    flex-direction: column;
    transform: translateX(0) !important;
  }

  .animated-tc__item {
    width: 100%;
    margin-bottom: 60px;
    padding: 0;
  }

  .animated-tc__item:last-child {
    margin-bottom: 0;
  }
}