.section-image-carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.image-carousel__heading-wrapper {
  margin-bottom: 36px;
}

.image-carousel:not(.image-carousel__with-tabs) {
  display: block;
}

.image-carousel {
  padding: 144px 0;
}

.image-carousel.image-carousel__with-tabs {
  padding: 0;
}

.image-carousel__tabs-wrapper {
  display: block;
  padding: 80px 0 140px;
}

@media screen and (max-width: 989px) {
  .image-carousel,
  .image-carousel__tabs-wrapper {
    padding: 0 0 65px;
  }

  .image-carousel.image-carousel__with-tabs {
    padding: 0;
  }
}

.image-carousel__list {
  list-style: none;
  padding-bottom: 10px;
}

.image-carousel__list-item {
  height: initial;
}

/*.image-carousel__list-item:hover {*/
/*  box-shadow: 0 10px 10px -6px rgba(7, 7, 7, 0.15);*/
/*}*/

.image-carousel__list-item-wrapper {
  width: 100%;
  padding-top: 150%;
  display: block;
}

.image-carousel__list-item-content {
  padding: 40px 36px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 40px);
  overflow: hidden;
}

.image-carousel__subheading,
.image-carousel__heading {
  color: inherit;
}

.image-carousel__subheading {
  margin-bottom: 10px;
}

.image-carousel__heading {
  letter-spacing: 2px;
  line-height: normal;
}

.image-carousel .swiper-button-next {
  right: calc(-1 * var(--swiper-navigation-size));
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.image-carousel .swiper-button-prev {
  left: calc(-1 * var(--swiper-navigation-size));
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.image-carousel.is-inViewport .swiper-button-next {
  right: 0;
}

.image-carousel.is-inViewport .swiper-button-prev {
  left: 0;
}

.image-carousel .swiper-pagination-progressbar {
  position: relative;
  top: unset;
  left: unset;
  height: 2px;
  margin-top: 32px;
}

.image-carousel product-card .swiper-pagination-progressbar {
  margin: 0;
}

@media screen and (max-width: 749px) {
  .image-carousel .swiper-button-next,
  .image-carousel .swiper-button-prev {
    top: calc(50% - 54px);
  }
}

.image-carousel__list-item-content-below {
  padding: 24px 0 0;
}

.image-carousel__list-item-content-below .image-carousel__subheading {
  margin-bottom: unset;
}

.image-carousel__list-item-content-below > .image-carousel__heading {
  margin-bottom: 16px;
}

.image-carousel__list-item-content-below > .image-carousel__heading a {
  text-decoration: none;
  color: inherit;
}

.image-carousel__tabs-list {
  padding-top: 20px;
  padding-bottom: 34px;
  display: flex;
  overflow-x: auto;
}

.image-carousel__tabs-list button {
  padding: 0;
  margin-right: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  white-space: nowrap;
  cursor: pointer;
}