.quote-carousel__wrapper {
  padding-bottom: 70px;
}

@media screen and (max-width: 749px) {
  .quote-carousel__wrapper {
    padding-bottom: 140px;
  }
}

.quote-carousel__wrapper slideshow-swiper {
  overflow: hidden;
}

.quote-carousel__wrapper .swiper-slide {
  text-align: center;
}

.quote-carousel__quote {
  margin: 0 auto 75px;
  max-width: 850px;
  font-size: 24px;
}

@media screen and (max-width: 749px) {
  .quote-carousel__quote {
    margin: 0 auto 40px;
  }
}

.quote-carousel__heading {
  color: inherit;
}

.quote-carousel__image-wrap {
  width: 100%;
  position: relative;
}

img[data-sizes=auto].quote-carousel__image,
.quote-carousel__image {
  width: auto;
  max-width: 100%;
  max-height: 36px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}