.section-featured-products .swiper {
  overflow: hidden;
}

.featured-products {
  height: initial;
}

.featured-products__wrapper {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.featured-products__media {
  width: 50%;
  min-height: 720px;
}

.featured-products__media svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

@media screen and (min-width: 1200px) {
  .featured-products__wrapper--reverse {
    flex-direction: row-reverse;
  }

  .featured-products__wrapper {
    height: 100%;
  }
}

.featured-products__media--placeholder {
  background-color: rgba(var(--color-foreground), 0.04);
  overflow: hidden;
}

.featured-products__media--placeholder > svg {
  object-fit: cover;
  object-position: center center;
  transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  fill: currentColor;
}

.featured-products__content {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.featured-products__content-wrapper {
  max-width: 100%;
  padding: 70px 0 0 0;
}

@media screen and (min-width: 1200px) {
  .featured-products__content-wrapper {
    max-width: 720px;
    margin-left: auto;
    padding: 140px 70px 140px 70px;
  }
}

@media screen and (min-width: 1350px) {
  .featured-products__content-wrapper {
    padding: 140px 140px 150px 140px;
  }
}

.featured-products__reviews-stars {
  margin-bottom: 16px;
}

.featured-products__reviews-stars .junip-product-summary-review-count {
  display: none;
}

.featured-products__heading {
  margin-bottom: 16px;
}

.featured-products__reviews-rating {
  margin-bottom: 36px;
}

.featured-products__subheading {
  font-weight: 400;
  margin-bottom: 8px;
}

.featured-products__text {
  max-width: 430px;
  line-height: 25px;
}

.featured-products__button {
  margin-top: 24px;
}

#featured-products .swiper-button-next,
#featured-products .swiper-button-prev {
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#featured-products .swiper-button-next {
  right: calc(-1 * var(--swiper-navigation-size));
}

#featured-products .swiper-button-prev {
  left: calc(-1 * var(--swiper-navigation-size));
}

#featured-products.is-inViewport .swiper-button-next {
  right: 0;
}

#featured-products.is-inViewport .swiper-button-prev {
  left: 0;
}

@media screen and (max-width: 1199px) {
  .section-featured-products.section-margin-bottom {
    margin-bottom: 0;
  }

  .featured-products__content,
  .featured-products__media {
    width: 100%;
  }

  .featured-products__media {
    min-height: unset;
    padding-top: 60%;
    margin-bottom: 24px;
  }

  .featured-products__media .swiper-button-next {
    top: unset;
    bottom: 24px;
    left: 24px;
  }

  .featured-products__content,
  .featured-products__text-content {
    padding-left: 72px;
    padding-right: 72px;
  }

  .featured-products__text-content {
    padding-bottom: 70px;
  }

  .featured-products__wrapper {
    flex-direction: column-reverse;
  }

  .featured-products__reviews-rating {
    margin-bottom: 24px;
  }

  .featured-products__text {
    max-width: 80%;
  }

  .featured-products__button {
    max-width: 100%;
  }
}

@media screen and (max-width: 749px) {
  .featured-products__content,
  .featured-products__text-content {
    padding-left: 24px;
    padding-right: 24px;
  }

  .featured-products__media {
    padding-top: 100%;
  }

  .featured-products__text {
    max-width: 100%;
  }
}
