.section-featured-products .swiper {
  overflow: hidden;
}

.featured-products {
  height: initial;
}

.clp-product-carousel__slider {
  overflow: hidden;
  padding-top: 110px;
}

.carousel-product-item__wrapper {
  position: relative;
}

.carousel-product-item__content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 40px;
}

.carousel-product-item__media img{
  object-fit: cover;
  border-radius: 10px;
}

.carousel-product-item__content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.carousel-product-item__content .product-card__badge {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
}

.carousel-product-item__content-wrapper .product-card__title {
  margin: 0;
  font-size: 24px;
}

.carousel-product-item__content .product-card__title .link--text{
  color: var(--body-text);
}

.featured-products__text {
  color: var(--body-text);
  font-size: 14px;
}

.carousel-product-item__content .button {
  max-width: 150px;
  padding: 10px 20px;
  min-height: auto;
}

.carousel-product-item__media svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.clp-product-carousel__slider .swiper-button-prev,
.clp-product-carousel__slider .swiper-button-next {
  background-color: rgba(255,255,255, .3);
}

.clp-product-carousel__slider .swiper-button-prev:after,
.clp-product-carousel__slider .swiper-button-next:after {
  color: #000000;
}

@media screen and (max-width: 900px) {
  .clp-product-carousel__slider {
    padding-top: 110px;
  }

  .carousel-product-item__content {
    padding: 20px;
  }

  .featured-products__text {
    font-size: 12px;
  }

  .carousel-product-item__content .button {
    padding: 5px 15px;
    font-size: 12px;
  }
}
