.image-with-content  {
  padding: 0 0 140px;
}

.iwc__wrapper {
  display: flex;
}

.iwc__image--right {
  flex-direction: row-reverse;
}

.iwc__content {
  width: 34%;
  padding: 64px 0 64px 36px;
  display: flex;
  flex-direction: column;
}

.iwc__image--right .iwc__content {
  padding: 64px 36px 64px 0;
}

.iwc__image-wrapper {
  width: 66%;
  padding-top: 47.2%;
}

.iwc__image {
  width: 100%;
}

.iwc__heading {
  color: inherit;
  font-size: 28px;
  line-height: 1.28;
  text-transform: unset;
  margin-bottom: 20px;
}

.iwc__text {
  margin-bottom: 60px;
}

.iwc__quote {
  font-size: 24px;
  line-height: 1.28;
  font-weight: var(--font-medium-weight);
  margin-bottom: 24px;
}

.iwc__author {
  font-weight: var(--font-medium-weight);
  margin-bottom: 20px;
}

.iwc__button {
  margin-top: auto;
}

@media screen and (max-width: 1200px) {
  .iwc__content {
    padding-top: 0;
  }

  .image-with-content  {
    padding: 0 0 70px;
  }

  .iwc__wrapper {
    flex-direction: column;
  }

  .iwc__image--mobile-bottom,
  .iwc__image--mobile-center {
    flex-direction: column-reverse;
  }

  .iwc__image--mobile-center .iwc__button {
    margin-bottom: 30px;
  }

  .iwc__image-wrapper {
    width: 100%;
    padding-top: 65.5%;
    margin: 28px 0;
  }

  .iwc__content {
    width: 100%;
    padding: 0;
  }

  .iwc__image--mobile-center .iwc__image-wrapper,
  .iwc__image--right .iwc__image-wrapper,
  .iwc__image--mobile-top .iwc__image-wrapper {
    margin: 0 0 28px;
  }

  .iwc__image--mobile-bottom .iwc__image-wrapper {
    margin: 0;
  }

  .iwc__image--mobile-center .iwc__content,
  .iwc__image--right .iwc__content {
    padding: 0;
  }

  .iwc__image--mobile-center .iwc__quote {
    order: -1;
  }

  .iwc__image--mobile-center .iwc__author {
    order: -2;
  }

  .iwc__text {
    margin-bottom: 32px;
  }

  .iwc__button {
    width: 100%;
    max-width: 400px;
    margin: 20px auto 0;
  }
}
