.heading-with-text {
  padding: calc(135px + var(--header-height)) 0 140px;
}

.hwt__heading {
  color: inherit;
  margin-bottom: 50px;
}

.hwt__text {
  max-width: 870px;
  font-size: 24px;
  font-weight: var(--font-medium-weight);
  line-height: 1.33;
}

@media screen and (max-width: 749px) {
  .hwt {
    padding: calc(70px + var(--header-height)) 0 70px;
  }

  .hwt__wrapper {
    padding-right: 0;
  }

  .hwt__heading {
    padding-right: 24px;
    margin-bottom: 27px;
    letter-spacing: 2.5px;
  }

  .hwt__text {
    padding-right: 24px;
  }
}