.footer {
  padding-top: 138px;
  padding-bottom: 162px;
}

@media screen and (max-width: 749px) {
  .footer {
    padding-top: 65px;
    padding-bottom: 110px;
  }
}

@media screen and (max-width: 749px) {
  .footer {
    padding: 65px 25px 97px;
  }
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
}

.footer button:not(.button) {
  background-color: transparent;
  border: 0 solid transparent;
  font-size: var(--font-size-text);
  line-height: 1.56;
  text-align: start;
  padding: 0;
}

.footer__heading {
  margin-bottom: 2rem;
}

/*--------For list questions/answers in footer ----------*/
.footer__info-list {
  width: 59.5%;
}

@media screen and (max-width: 749px) {
  .footer__info-list {
    width: 100%;
    margin-bottom: 65px;
  }
}

.footer__info-list li {
  list-style: none;
  padding: 17px 0;
}

.footer__info-list li:last-of-type {
  border: none;
}

.footer__info-list-inner {
  display: flex;
  flex-direction: column;
  padding: 35px 0 25px;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

.footer__info-list-heading-wrapper {
  width: 100%;
  font-weight: var(--font-medium-weight);
}

.footer__info-list-heading-wrapper > .collapsible-plus {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.footer__info-list-question button {
  width: 100%;
  cursor: pointer;
}

.footer__info-list-question + .footer__info-list-question {
  padding-top: 10px;
}

/*--------For navigation in footer ----------*/
.footer__navigation {
  width: 40.5%;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: 4px;
}

@media screen and (max-width: 749px) {
  .footer__navigation {
    width: 100%
  }
}

.footer__navigation-list {
  margin-left: 24px;
  width: calc(100% / 2 - 24px);
}

@media screen and (max-width: 749px) {
  .footer__navigation-list {
    margin-left: 0;
    width: 100%;
  }
}

.footer__navigation-list[data-list-last-child] {
  border: none;
}

.footer__navigation-list ul {
  list-style: none;
}

.footer__navigation-list li {
  padding-top: 10px;
  cursor: pointer;
}

.footer__navigation-list .footer__menu-item button {
  cursor: pointer;
  font-weight: 300;
}

.footer__navigation-list li:last-of-type {
  padding-bottom: 40px;
}

.footer__navigation-link-parent {
  display: block;
  padding: 17px 0;
  font-size: var(--font-size-l);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 749px) {
  .footer__navigation-link-parent {
    cursor: pointer;
  }
}

/*--------For content in footer modal----------*/
form-klaviyo {
  display: block;
  padding: 0 24px;
}

.footer__info-answer-wrapper,
.footer__info-answer-contact-form-wrapper {
  padding: 60px 0 24px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 490px;
  height: 100%;
  min-height: 100%;
  transform: translateX(-100%);
  visibility: hidden;
  background-color: rgb(var(--color-background));
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  z-index: 9;
  overflow: visible;
  opacity: 0;
}

@media screen and (max-width: 749px) {
  .footer__info-answer-wrapper,
  .footer__info-answer-contact-form-wrapper {
    max-width: 100%;
  }
}

.footer__info-answer-inner {
  padding: 12px 72px 32px;
  transition: opacity var(--duration-default) ease,
              transform var(--duration-default) ease;
}

.footer__info-answer-contact-form-wrapper {
  padding: 72px 24px 32px;
}

@media screen and (max-width: 749px) {
  .footer__info-answer-inner {
    padding: 12px 24px 48px;
  }

  .footer__info-answer-contact-form-wrapper {
    padding: 72px 0 48px;
  }
}

.footer__info-answer-contact-form-wrapper #footer-form {
  padding: 0 24px;
  color: rgb(var(--color-text));
}

.footer__info-answer-contact-form-wrapper [aria-modal] {
  overflow-y: auto;
  height: 100%;
}

#footer-form .button {
  font-size: var(--font-size-normal);
}

modal-dialog.footer__info-answer-wrapper[open],
modal-dialog.footer__info-answer-contact-form-wrapper[open] {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

/*@media screen and (min-width: 1024px) {*/
/*  modal-dialog.footer__info-answer-contact-form-wrapper[open] {*/
/*    transform: translateX(-100%);*/
/*    z-index: 6;*/
/*  }*/
/*}*/

.footer__info-answer-contact-form-wrapper[open] + modal-opener .button {
  cursor: not-allowed;
  color:rgb(var(--color-background));
  background-color: rgb(var(--color-border));
  pointer-events: none;
  border-color: transparent;
}

.footer .button__modal-close {
  color: rgb(var(--color-text));
  display: none;
}

@media screen and (max-width: 749px) {
  .footer .button__modal-close {
    display: block;
  }
}

.footer .button__modal-close--second-modal {
  display: none;
  transform: rotate(90deg);
}

@media screen and (max-width: 1400px) {
  .footer .button__modal-close--second-modal {
    display: flex;
  }
}

.footer__info-answer-contact-form-wrapper {
  border-left: 1px solid rgb(var(--color-border));
  z-index: 6;
}

@media screen and (max-width: 749px) {
 .footer__info-answer-contact-form-wrapper[open] {
    left: 0;
  }
}

.footer__info-answer-contact-wrapper .button {
  margin-top: 19px;
  font-size: 16px;
}

.footer__info-answer-contact-wrapper .button[data-email-btn] {
  margin-top: 35px;
}

.footer__info-answer-contact-wrapper .button[data-email-btn-send] {
  margin-top: 0;
}

form-klaviyo,
.footer__info-answer-inner {
  overflow-y: auto;
  height: 100%;
}

@media screen and (max-width: 1400px) {
  form-klaviyo,
  .footer__info-answer-inner {
    height: 100%;
  }
}

.footer__info-answer-inner strong {
  font-weight: var(--font-medium-weight);
  margin-bottom: 12px;
  color: rgb(var(--color-text));
  display: inline-block;
  font-family: var(--font-heading-family);
}

.footer__info-answer-inner p:not(.form__message--success){
  padding-bottom: 32px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgb(var(--color-border));
}

.footer__info-answer-inner p,
.footer__info-answer-contact-wrapper {
  color: rgb(var(--color-text));
}

.footer__info-contact-heading {
  font-family: var(--font-heading-family);
  font-weight: var(--font-medium-weight);
}

.footer__info-answer-contact-work-schedule,
.footer__info-answer-contact-work-schedule--call {
  display: inline-block;
  margin-top: 15px;
  font-size: var(--font-size-l);
}

.footer__info-answer-contact-work-schedule--call {
  margin-top: 0;
  display: block;
}

.footer__info-answer-contact-phone-wrapper {
  margin-top: 28px;
}

.footer__info-answer-contact-phone-wrapper a {
  margin-top: 28px;
  color: inherit;
}

.footer__info-answer-contact-phone span {
  text-decoration: none
}

.footer__info-answer-inner .footer__info-answer-contact-form-description {
  margin-top: 10px;
  margin-bottom: 28px;
}

.footer__info-answer-inner .footer__info-answer-contact-form-description p {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 1px solid transparent;
}

footer-gorgias-chat-button {
  display: none;
}


@media screen and (max-width: 1024px) {
  .footer__info-answer-contact-form-wrapper {
    z-index: 11;
  }
}