.twi-blocks__banner--left,
.twi-blocks__banner--right {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.twi-blocks__banner--right {
  flex-direction: row-reverse;
}

.twi-blocks__banner--left .twi-blocks__wrapper,
.twi-blocks__banner--right .twi-blocks__wrapper {
  width: 50%;
}

.twi-blocks__banner--left .twi-blocks__banner,
.twi-blocks__banner--right .twi-blocks__banner {
  width: 50%;
  flex-shrink: 0;
}

.twi-blocks__wrapper {
  padding-top: 128px;
  padding-bottom: 128px;
  margin: 0 auto;
}

.twi-blocks__text {
  margin-bottom: 25px;
  color: inherit;
}

.twi-blocks__wrapper--left {
  text-align: left;
}

.twi-blocks__wrapper--left .twi-blocks__text {
  margin-right: auto;
}

.twi-blocks__wrapper--right {
  text-align: right;
}

.twi-blocks__wrapper--right .twi-blocks__text {
  margin-left: auto;
}

.twi-blocks__wrapper--center {
  text-align: center;
}

.twi-blocks__wrapper--center .twi-blocks__text,
.twi-blocks__wrapper--justify .twi-blocks__text {
  margin-left: auto;
  margin-right: auto;
}

.twi-blocks__wrapper--justify {
  text-align: justify;
  text-align-last: center;
  margin-left: auto;
  margin-right: auto;
}

.twi-blocks__text a {
  color: inherit;
  font-weight: 500;
}

.twi-blocks__text h1,
.twi-blocks__text h2,
.twi-blocks__text h3,
.twi-blocks__text h4,
.twi-blocks__text h5,
.twi-blocks__text h6 {
  color: inherit;
}

.twi-blocks__image {
  margin: 15px;
  display: inline-block;
  width: 100%;
  max-width: 96px;
  height: 82px;
}

@media screen and (min-width: 1440px) {
  .twi-blocks__banner--left .twi-blocks__wrapper {
    margin: 0 calc((100% - 1440px) / 2) 0 0;
    padding-left: 100px;
  }

  .twi-blocks__banner--right .twi-blocks__wrapper {
    margin: 0 0 0 calc((100% - 1440px) / 2);
    padding-right: 100px;
  }
}

@media screen and (max-width: 1439px) {
  .twi-blocks__banner--left .twi-blocks__wrapper,
  .twi-blocks__banner--right .twi-blocks__wrapper {
    margin: 0;
  }
}

@media screen and (max-width: 1199px) {
  .twi-blocks__banner--left,
  .twi-blocks__banner--right {
    display: flex;
    flex-direction: column;
  }

  .twi-blocks__banner--left .twi-blocks__wrapper,
  .twi-blocks__banner--right .twi-blocks__wrapper {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 55px;
  }

  .twi-blocks__banner--left .twi-blocks__banner,
  .twi-blocks__banner--right .twi-blocks__banner {
    padding-top: 60%;
  }

  .twi-blocks__banner--left .twi-blocks__wrapper,
  .twi-blocks__banner--right .twi-blocks__wrapper,
  .twi-blocks__banner--left .twi-blocks__banner,
  .twi-blocks__banner--right .twi-blocks__banner {
    width: 100%;
  }

  .twi-blocks__banner--left .twi-blocks__text,
  .twi-blocks__banner--right .twi-blocks__text {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 749px) {
  .twi-blocks__wrapper {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 55px;
  }

  .twi-blocks__text {
    margin-left: auto;
    margin-right: auto;
  }

  .twi-blocks__banner--left .twi-blocks__banner,
  .twi-blocks__banner--right .twi-blocks__banner {
    padding-top: 100%;
  }
}