.text-list {
  padding: 0 0 140px;
}

.text-list__wrapper {
  display: flex;
}

.text-list__heading {
  color: inherit;
  width: 34%;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 1.8px;
  padding-right: 36px;
}

.text-list__list {
  width: 66%;
}

.text-list__item-heading {
  color: inherit;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 20px;
  text-transform: none;
  letter-spacing: normal;
}

.text-list__item {
  margin-bottom: 60px;
}

.text-list__item:last-child {
  margin-bottom: 0;
}

.text-list__item-text {
  font-size: var(--item-text-desktop);
}

@media screen and (max-width: 750px) {
  .text-list {
    padding: 0 0 70px;
  }

  .text-list__wrapper {
    flex-direction: column;
  }

  .text-list__heading {
    width: 100%;
    margin-bottom: 24px;
  }

  .text-list__list {
    width: 100%;
  }

  .text-list__item-text {
    font-size: var(--item-text-mobile);
  }
}