.twi-v2 {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding-bottom: var(--padding-bottom);
  padding-top: var(--padding-top);
  display: flex;
  flex-direction: var(--desktop-position);
  gap: 30px;
}

.twi-v2__banner {
  width: 50%;
}

.twi-v2__content {
  width: 50%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
}

.twi-v2__image {
  height: 40px;
  display: flex;
  justify-content: var(--image-position);
}

.twi-v2__image img{
  object-fit: contain;
  width: auto;
}

.twi-v2__icon-svg {
  width: 100%;
  display: flex;
  justify-content: var(--image-position);
}

.twi-v2__icon-svg svg {
  max-height: 40px;
  width: auto;
}

.twi-v2__heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 29px;
  letter-spacing: 2px;
  color: var(--text-color);
  text-align: var(--text-align);
}

.twi-v2__description {
  color: var(--text-color);
  text-align: var(--text-align);
}

@media screen and (max-width: 1024px) {
  .twi-v2 {
    flex-direction: var(--mobile-position);
  }

  .twi-v2__content,
  .twi-v2__banner {
    width: 100%;
  }
}