.text-with-button {
	background-color: var(--bg-color);
	color: var(--text-color);
	text-align: center;
	padding: 100px 0;
}

.text-with-button__wrapper {
	max-width: 800px;
}

.text-with-button__wrapper > *:not(:last-child) {
	margin-bottom: 5px;
}

.text-with-button .button {
	margin-top: 40px;
}

.text-with-button__heading {
	color: inherit;
}

.text-with-button__text {}

@media screen and (max-width: 749px) {
	.text-with-button {
		padding: 50px 0;
	}
	
	.text-with-button .button {
		margin-top: 25px;
	}
}