.section-text-blocks {
  color: var(--text-color, rgb(var(--color-base-text)));
  padding-top: var(--mobile-padding-top, 0);
  padding-bottom: var(--mobile-padding-bottom, 0);
}

.text-blocks {
  overflow: hidden;
}

.section-text-blocks__header {
  margin-bottom: 2rem;
}

.section-text-blocks__header > *:not(:last-child) {
  margin-bottom: 5px;
}

.section-text-blocks__heading {
  color: inherit;
}

.text-blocks__wrapper {
  width: 100%;
}

.text-block {
  width: 100%;
  padding: 18px;
}

.text-block > *:not(:last-child) {
  margin-bottom: 14px;
}

@media screen and (min-width: 990px) {
  .section-text-blocks__header {
    margin-bottom: 3rem;
  }
  
  .section-text-blocks {
    padding-top: var(--padding-top, 0);
    padding-bottom: var(--padding-bottom, 0);
  }

  .text-blocks__wrapper {
    width: calc(100% + 36px);
    margin-left: -18px;
    margin-right: -18px;
    display: flex;
    justify-content: var(--grid-align, center);
    align-items: center;
    flex-wrap: wrap;
  }

  .text-block--2 {
    max-width: 50%;
  }

  .text-block--3 {
    max-width: calc(100% / 3);
  }

  .text-block--1 {
    max-width: 100%;
  }
}

.text-block__counter {
  color: rgba(var(--color-text-light-secondary), 1);
}

.text-block__heading {
  color: inherit;
  letter-spacing: 2px;
}

.text-block__description {
  color: inherit;
}

.text-block__heading a {
  text-decoration: none;
  color: inherit;
}

.text-block__buttons-wrapper {
  margin-top: 30px;
}

.text-block__button {
  margin: 10px;
}