.finder__wrapper {
  padding: 140px 0;
}

.finder__string {
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;
  align-items: center;
}

.finder__string.finder__string--revers {
  flex-direction: row-reverse;
}

.finder__subheading,
.finder__string-title {
  color: inherit;
}

.finder__subheading {
  margin-bottom: 55px;
}

.finder__string .form__select {
  width: unset;
  margin: 0;
  padding: 0;
}

.finder__string .form__select-btn {
  cursor: pointer;
}

.finder__string .form__select-btn:after {
  display: none;
}

.finder__string .form__select-dropdown {
  top: calc(100% + 12px);
  left: unset;
  right: 0;
  max-width: 385px;
  min-width: 250px;
  max-height: 260px;
  color: rgb(var(--color-text));
}

.finder__button {
  display: block;
  margin-top: 65px;
}

@media screen and (max-width: 749px) {
  .finder__wrapper {
    padding: 70px 0;
  }

  .finder__subheading {
    margin-bottom: 20px;
  }

  .finder__string {
    flex-direction: column;
    align-items: flex-start;
  }

  .finder__string .form__select-dropdown {
    left: 0;
    right: unset;
  }
}