.iwt-carousel {
  padding: 0 0 140px;
  overflow: hidden;
}

.iwt-carousel__wrapper {
  display: flex;
  position: relative;
}

.iwt-carousel__wrapper.text-bottom {
  flex-direction: column-reverse;
}

@media screen and (min-width: 750px) {
  .iwt-carousel__wrapper.text-bottom .swiper-button-next,
  .iwt-carousel__wrapper.text-bottom .swiper-button-prev {
    top: 36%;
  }
}

.iwt-carousel__wrapper:before {
  content: '';
  width: 100%;
  height: 102%;
  background-color: rgb(var(--color-base-background-2));
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  transform: translate(-80%, -1%);
}

.iwt-carousel__wrapper.text-bottom:before {
  left: -100%;
  transform: translate(72px, -1%);
}

.iwt-carousel__content {
  width: 34%;
  padding: 64px 30px 64px 0;
  flex-shrink: 0;
  overflow: hidden;
  z-index: 2;
  background-color: rgb(var(--color-base-background-2));
}

.iwt-carousel__wrapper.text-bottom .iwt-carousel__content {
  margin-top: 28px;
  padding: 0;
}

.iwt-carousel__content-item {
  padding-right: 25px;
}

@media screen and (min-width: 990px) {
  .iwt-carousel__wrapper.text-bottom .iwt-carousel__image .iwt-carousel__image-item.swiper-slide-next {
    width: 200% !important;
  }

  .iwt-carousel__wrapper.text-bottom .iwt-carousel__image .iwt-carousel__image-item.swiper-slide-next .iwt-carousel__image-wrapper {
    padding-bottom: 75%;
  }
}

.iwt-carousel__heading {
  color: #303030;
  margin: 0 auto 136px;
  position: relative;

}

.iwt-carousel__content-heading {
  font-size: 28px;
  color: inherit;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.iwt-carousel__content-subheading {
  font-weight: var(--font-medium-weight);
  margin-bottom: 20px;
}

.iwt-carousel__image {
  width: 32%;
}

.iwt-carousel__image-wrapper {
  height: 0;
  padding-bottom: 150%;
  position: relative;
}

.iwt-carousel__wrapper .swiper-button-next {
  right: calc(((100vw - calc(var(--page-width))) / -2) - var(--swiper-navigation-size));
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.iwt-carousel__wrapper .swiper-button-prev {
  left: calc(((100vw - calc(var(--page-width))) / -2) - var(--swiper-navigation-size));
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.iwt-carousel__wrapper.is-inViewport .swiper-button-next {
  right: calc((100vw - calc(var(--page-width))) / -2);
}

.iwt-carousel__wrapper.is-inViewport .swiper-button-prev {
  left: calc((100vw - calc(var(--page-width))) / -2);
}

@media screen and (max-width: 1440px) {
  .iwt-carousel__wrapper .swiper-button-next {
    right: calc(-1 * var(--swiper-navigation-size));
  }

  .iwt-carousel__wrapper .swiper-button-prev {
    left: calc(-1 * var(--swiper-navigation-size));
  }

  .iwt-carousel__wrapper.is-inViewport .swiper-button-next {
    right: 0;
  }

  .iwt-carousel__wrapper.is-inViewport .swiper-button-prev {
    left: 0;
  }
}

@media screen and (max-width: 1400px) {
  .iwt-carousel__wrapper .swiper-button-prev,
  .iwt-carousel__wrapper .swiper-button-next {
    width: var(--swiper-navigation-size-mobile);
    height: var(--swiper-navigation-size-mobile);
  }
}

@media screen and (max-width: 989px) {
  .iwt-carousel__content-item {
    padding-right: 0;
  }

  .iwt-carousel__image {
    width: 66%;
  }

  .iwt-carousel__wrapper.text-bottom .iwt-carousel__content {
    width: 66%;
  }
}

@media screen and (max-width: 750px) {
  .iwt-carousel__wrapper {
    flex-direction: column-reverse;
  }

  .iwt-carousel__content-heading {
    letter-spacing: normal;
  }

  .iwt-carousel {
    padding: 0 0 70px;
  }

  .iwt-carousel__heading {
    text-align: right;
    margin-bottom: 72px;
  }

  .iwt-carousel__image {
    width: 100%;
    overflow: hidden;
    padding-bottom: 36px;
    margin-bottom: 26px;
  }

  .iwt-carousel__wrapper .swiper-button-next,
  .iwt-carousel__wrapper .swiper-button-prev {
    top: 66vw;
  }

  .iwt-carousel__wrapper:before {
    display: none;
  }

  .iwt-carousel__content {
    width: 100%;
    padding: 0;
  }

  .iwt-carousel__wrapper.text-bottom .iwt-carousel__content {
    width: 100%;
  }
}