.section-featured-collection {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.section-featured-collection__wrapper {
  padding: var(--padding-top) 0 var(--padding-bottom) 0;
}

.featured-collection {
  text-align: left;
}

.featured-collection .product-card__reviews {
  justify-content: flex-start;
}

.featured-collection .product-card__badge {
  text-align: center;
}

.featured-collection .product-card__variants {
  margin-top: 27px;
}

.featured-collection__heading {
  padding: 35px 24px;
  color: inherit;
  text-align: center;
}

@media screen and (min-width: 750px) {
  .featured-collection__heading {
    padding-left: 72px;
    padding-right: 72px;
  }
}


.featured-collection__product {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.featured-collection__list {
  list-style: none;
  padding-bottom: 10px;
}

.featured-collection__list-item {
  /*padding: 60px 36px;*/
  height: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  /*background-color: #fff;*/
  box-sizing: border-box;
}

.featured-collection__additional-block {
  background-color: var(--bg-color-block);
  color: var(--text-color-block);
  position: relative;
  padding-top: 100%;
}

.featured-collection__additional-block-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-decoration: underline;
}

/*.featured-collection__list-item:hover {*/
/*  box-shadow: 0 10px 10px -6px rgba(7, 7, 7, 0.15);*/
/*}*/

.featured-collection__list-item .product-card__img {
  background-color: #f2f2f2;
}

/*.sections-featured-collection .product-card__badge {*/
/*  min-width: 144px;*/
/*  top: 0;*/
/*  left: 50%;*/
/*  transform: translateX(-50%);*/
/*  background-color: rgb(var(--color-background-secondary));*/
/*  color: rgb(var(--color-text-light));*/
/*}*/

@media screen and (max-width: 749px) {
  .featured-collection__list-item .radio-group[data-option-color] .radio__title {
    width: 17px;
    height: 17px;
  }

  /*.section-featured-collection {*/
  /*  padding-top: 50px;*/
  /*}*/

  .section-featured-collection__wrapper {
    padding: calc(var(--padding-top) / 2) 0 calc(var(--padding-bottom) / 2) 0;
  }
}


.featured-collection__btn-wrapper {
  margin-top: 34px;
}

.featured-collection .swiper-button-next {
  right: calc(-1 * var(--swiper-navigation-size));
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.featured-collection .swiper-button-prev {
  left: calc(-1 * var(--swiper-navigation-size));
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.featured-collection.is-inViewport .swiper-button-next {
  right: 0;
}

.featured-collection.is-inViewport .swiper-button-prev {
  left: 0;
}

.featured-collection .swiper-pagination-progressbar {
  position: relative;
  top: unset;
  left: unset;
  height: 2px;
  margin-top: 32px;
}

.featured-collection product-card .swiper-pagination-progressbar {
  margin: 0;
}

.product-featured-collection {
  position: relative;
  padding: 0 24px;
  overflow: hidden;
}

.product-featured-collection .swiper {
  overflow: hidden;
  max-width: calc(var(--page-width) - (72px * 2));
  margin: 0 auto;
}

@media screen and (min-width: 750px) {
  .product-featured-collection {
    padding: 0 72px;
  }
}

.product-featured-collection .featured-collection__list-item {
  padding: 0;
  background-color: unset;
  box-shadow: unset;
}

/*.product-featured-collection .product-card__description {*/
/*  height: 25px;*/
/*  -webkit-line-clamp: 1;*/
/*}*/

.product-featured-collection .swiper-button-next,
.product-featured-collection .swiper-button-prev {
  top: calc(27% + 48px);
}

@media screen and (max-width: 900px) {
  .product-featured-collection .swiper-button-next,
  .product-featured-collection .swiper-button-prev {
    top: calc(50vw - 144px + 60px);
  }
}

@media screen and (max-width: 750px) {
  .product-featured-collection .swiper-button-next,
  .product-featured-collection .swiper-button-prev {
    top: calc(50vw - 48px + 15px);
  }
}

.featured-collection__wrapper--product {
  background-color: #ffffff;
  padding-top: 140px;
  padding-bottom: 130px;
}

@media screen and (max-width: 900px) {
  .featured-collection__wrapper--product {
    padding-top: 70px;
    padding-bottom: 60px;
  }
}

.featured-collection__tabs-list {
  padding-top: 20px;
  padding-bottom: 34px;
  display: flex;
  overflow-x: auto;
}

.featured-collection__tabs-list button {
  padding: 0;
  margin-right: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  white-space: nowrap;
  cursor: pointer;
}

.featured-collection__tabs-list--white button[data-action=toggle-tab] {
  color: rgb(var(--color-text-light-secondary));
}

.featured-collection__tabs-list--white button[data-action=toggle-tab][data-selected=true] {
  color: #FFFFFF;
}