.animated-text__blocks .h1 {
  line-height: 1;
}

.animated-text__icons {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.animated-text__icons-item {
  margin: 7px 48px 7px 0;
  justify-content: flex-start;
}

.animated-text__icons-item .animated-text__icons-item-img {
  margin-right: 12px;
  width: 24px;
  max-height: 24px;
}

.animated-text__icons-item .animated-text__icons-item-img img {
  width: 24px;
  height: auto;
}

.animated-text__icons-item .animated-text__icons-item-text {
  font-size: var(--font-size-l);
  font-weight: var(--font-medium-weight);
}

.animated-text__flipper-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
}

.animated-text__flipper {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.animated-text__flipper .animated-text__flipper-item {
  line-height: normal;
  color: inherit;
}

.animated-text__hidden {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.animated-text__before {
  display: inline-flex;
  width: 0;
  overflow: hidden;
  opacity: 0;
  margin-right: -0.3em;
  visibility: hidden;
  transform-origin: 0 0;
  transition: all .4s linear;
}

.animated-text__before.visible {
  opacity: 1;
  visibility: visible;
  transition: all .4s linear;
  margin-right: 0;
}


@media only screen and (max-width: 989px) {
  .animated-text__icons {
    margin-top: 5px;
  }

  .animated-text__icons {
    display: flex;
    flex-direction: column;
  }

  .animated-text__icons-item {
    margin: 7px 0;
  }
}
.animated-text__size {
  font-size: calc(30px + (105 - 30) * ((100vw - 414px) / (1400 - 414)));
}
.animated-text__flipper .swiper-wrapper {
  height: calc(30px + (105 - 30) * ((100vw - 414px) / (1400 - 414)));
}

@media screen and (min-width: 1400px) {
  .animated-text__size {
    font-size: 100px;
  }
  .animated-text__flipper .swiper-wrapper {
    height: 100px;
  }
}