.article-template-wrapper {
  padding-bottom: 70px;
}

.article-template__container-without-padding,
.article-template__container {
  max-width: 1040px;
  margin: 0 auto;
  background-color: #ffffff;
}

.article-template__container,
.article-template__container-wrapper {
  padding: 0 24px;
}

.article-template__hero-container {
  width: 100%;
}

.article-template__hero-container + .article-template__container-wrapper {
  margin-top: -40px;
  position: relative;
  z-index: 1;
}

.article-template__hero {
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
}

.article-template__hero img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-template header {
  border-bottom: 1px solid rgba(var(--color-text));
}

.article-template__header-content {
  padding-top: 30px;
  padding-bottom: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.article-template__content {
  padding: 30px 0;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.article-template__badge-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-template__badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  min-height: 50px;
  width: auto;
  padding: 9px 11px;
  font-size: var(--font-size-base);
  font-weight: var(--font-medium-weight);
  letter-spacing: 0.15em;
  line-height: normal;
  text-transform: uppercase;
  background-color: rgba(var(--color-text));
  color: #fff;
  margin: 0 auto 20px;
}

.article-template__title {
  text-transform: unset;
  margin-bottom: 0;
  text-align: center;
}

.article-template__title:not(:last-child) {
  margin-bottom: 8px;
}

.article-template__author,
.article-template__date {
  font-size: var(--font-size-text);
  text-align: center;
  margin-bottom: 8px;
}

.article-template__social-sharing {
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-template__social-sharing li {
  padding: 5px;
}

.article-template__social-sharing a {
  display: block;
  height: 21px;
  width: 21px;
}

.article-template__social-sharing svg {
  display: block;
  width: 100%;
  height: 100%;
}

.article-rte:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 750px) {
  .article-template-wrapper {
    padding-bottom: 140px;
  }

  .article-template__container {
    padding: 0 120px;
  }

  .article-template__hero-container + .article-template__container-wrapper {
    margin-top: -120px;
  }

  .article-template__header-content {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .article-template__badge {
    margin-bottom: 50px;
  }

  .article-template__content {
    padding: 60px 0;
  }
}

.article-rte h1,
.article-rte h2,
.article-rte h3,
.article-rte h4,
.article-rte h5,
.article-rte h6 {
  text-transform: unset;
  margin-top: 30px;
  margin-bottom: 15px;
}
.article-rte p:last-child {
  margin-bottom: 0;
}
.article-rte h1:first-child,
.article-rte h2:first-child,
.article-rte h3:first-child,
.article-rte h4:first-child,
.article-rte h5:first-child,
.article-rte h6:first-child {
  margin-top: 0;
}

.article-rte h1 {font-size: 32px;}
.article-rte h2 {font-size: 28px;}
.article-rte h3 {font-size: 24px;}
.article-rte h4 {font-size: 21px;}
.article-rte h5 {font-size: 18px;}
.article-rte h6 {font-size: 16px;}

.article-template__container-wrapper .article-template__image-slideshow {
  padding-bottom: 30px;
}

@media screen and (min-width: 750px) {
  .article-template__container-wrapper .image-slideshow__image-wrapper {
    padding-bottom: 62.5%;
  }
}

.article-template__container-wrapper .article-template__image-slideshow slideshow-swiper {
  overflow: hidden;
}

.article-template__container-wrapper .article-template__video-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.article-template__video-section .video-section__title {
  text-align: center;
  text-transform: unset;
}

.article-template__container-wrapper .article-template__featured-products {
  padding-top: 30px;
  padding-bottom: 30px;
}

.article-template__featured-products .product-featured-collection {
  padding-left: 0;
  padding-right: 0;
}

.article-template__featured-products .featured-collection__heading {
  text-align: center;
  text-transform: unset;
}

.article-template__container-wrapper .article-template__featured-articles {
  padding-top: 30px;
  padding-bottom: 30px;
}

.article-template__featured-articles .featured-articles__heading {
  text-align: center;
  text-transform: unset;
}

.article-template__featured-articles .featured-articles {
  padding-left: 0;
  padding-right: 0;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}