.page-content__wrapper {
  display: flex;
  padding-top: 137px;
  padding-bottom: 144px;
}

@media screen and (max-width: 749px) {
  .page-content__wrapper {
    flex-direction: column;
    padding-top: 65px;
    padding-bottom: 72px;
  }
}

.page-content__heading-block {
  width: 34.2%;
  padding-right: 20px;
}

@media screen and (max-width: 749px) {
  .page-content__heading-block {
    width: 100%;
    padding-right: 0;
    margin-bottom: 58px;
  }
}

.page-content__heading-block-heading {
  font-weight: var(--font-medium-weight);
  line-height: 1.56em;
  display: block;
  pointer-events: auto;
  color: rgb(var(--color-text-light-secondary));
  text-decoration: none;
}

@media screen and (max-width: 749px) {
  .page-content__heading-block-heading {
   display: inline-block;
  }
}

.page-content__heading-block-heading + .page-content__heading-block-heading {
  margin-top: 22px;
}

@media screen and (max-width: 749px) {
  .page-content__heading-block-heading + .page-content__heading-block-heading {
    margin-top: 0;
  }

  .page-content__heading-block-heading {
    margin-top: 0;
    margin-right: 24px;
    margin-bottom: 10px;
  }
}

.page-content__heading-block-heading:hover {
  color: rgb(var(--color-text));
}

.page-content__heading-block-heading.active {
  pointer-events: none;
  color: rgb(var(--color-text));
}

.page-content__content-block {
  width: 65.8%;
}

@media screen and (max-width: 749px) {
  .page-content__content-block {
    width: 100%;
  }
}

.page-content__content-block h1,
.page-content__content-block h2,
.page-content__content-block h3,
.page-content__content-block h4,
.page-content__content-block h5,
.page-content__content-block h6 {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  font-size: 28px;
  margin-bottom: 21px;
  text-transform: unset;
  line-height: 1.28em;
  letter-spacing: normal;
}

.page-content__content-block p {
  margin-bottom: 60px;
  line-height: 1.56em;
}

.page-content__content-block p:last-of-type {
  margin-bottom: 0;
}

.page-content__content-block strong {
  margin-bottom: 10px;
  line-height: 1.56em;
  font-weight: var(--font-medium-weight);
  display: block;
}

.page-content__content-block ul,
.page-content__content-block ol {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-position: inside;
}

.page-content__content-block ul {
  list-style: none;
}

.page-content__content-block li {
  width: 50%;
  margin-bottom: 60px;
}

.page-content__content-block ul strong,
.page-content__content-block ol strong {
  display: inline-block;
}

@media screen and (min-width: 748px) {
  .page-content__content-block li:nth-child(odd) {
    padding-right: 36px;
  }
}

@media screen and (max-width: 749px) {
  .page-content__content-block li {
    width: 100%;
    margin-bottom: 50px;
  }

  .page-content__content-block ul li {
    margin-bottom: 50px;
  }
}

.page-content__content-block li a {
  color: currentColor;
  text-decoration: none;
}

.page-content__content-block a:not(.button) {
  color: currentColor;
  text-underline-offset: 0.2em;
}

.page-content__content-block .button {
  margin-top: 30px;
  font-size: 16px;
}

@media screen and (max-width: 749px) {
  .page-content__content-block .button {
    width: 100%;
  }
}