.banner {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 125px;
}

.banner--natural {
  padding-bottom: var(--image-pb);
  height: 0;
}

.banner__url {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

@media screen and (max-width: 799px) {
  .banner {
    margin-bottom: 60px;
  }

  .banner--natural {
    padding-bottom: var(--mob-image-pb);
  }

  .banner--medium.banner--mobile-bottom > .banner__media,
  .banner--medium:not(.banner--mobile-bottom) {
    min-height: 677px;
  }

  .banner--large.banner--mobile-bottom > .banner__media,
  .banner--large:not(.banner--mobile-bottom) {
    min-height: calc(var(--viewport-height, 100vh) - (var(--announcement-bar-height)));
  }
}

@media screen and (min-width: 800px) {
  .banner {
    flex-direction: row;
  }

  .banner--medium {
    min-height: 48vw;
  }

  .banner--large {
    min-height: calc(100vh - (var(--announcement-bar-height)));
  }
}

/*@media screen and (min-width: 800px) {*/
/*  .banner--medium {*/
/*    min-height: 677px;*/
/*  }*/
/*}*/

@media screen and (max-width: 799px) {
  .banner {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.banner__media {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

@media screen and (min-width: 750px) {
  .banner__media {
    height: 100%;
  }
}

@media screen and (max-width: 749px) {
  .banner--mobile-bottom .banner__media {
    position: relative;
  }

  .banner:not(.banner--mobile-bottom) .banner__box {
    background-color: transparent;
    padding: 0;
    margin-bottom: 75px;
  }

  .banner::before {
    display: none !important;
  }
}

.banner__media .placeholder-svg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.banner__content {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 100%;
  z-index: 2;
}

@media screen and (max-width: 749px) {
  .banner--mobile-bottom .banner__content {
    order: 2;
  }
}

@media screen and (min-width: 1024px) {
  .banner__content {
    padding-bottom: var(--header-height);
    padding-top: var(--header-height);
  }

  .banner__content.banner__content--middle-left {
    align-items: center;
  }

  .banner__content.banner__content--middle-center {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .banner__content.banner__content--middle-right {
    align-items: center;
    justify-content: flex-end;
    text-align: right;
  }

  .banner__content.banner__content--bottom-left {
    align-items: flex-end;
  }

  .banner__content.banner__content--bottom-center {
    align-items: flex-end;
    justify-content: center;
    text-align: center;
  }

  .banner__content.banner__content--bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
  }

  .banner__content.banner__content--bottom-right .banner__button-wrapper,
  .banner__content.banner__content--middle-right .banner__button-wrapper {
    justify-content: flex-end;
  }

  .banner__content.banner__content--bottom-center .banner__button-wrapper,
  .banner__content.banner__content--middle-center .banner__button-wrapper {
    justify-content: center;
  }

  .banner__content.banner__content--bottom-right .banner__text,
  .banner__content.banner__content--middle-right .banner__text,
  .banner__content.banner__content--bottom-right .banner__richtext,
  .banner__content.banner__content--middle-right .banner__richtext {
    margin-left: auto;
    /*margin-right: auto;*/
  }

  .banner__content.banner__content--bottom-center .banner__text,
  .banner__content.banner__content--middle-center .banner__text,
  .banner__content.banner__content--bottom-center .banner__richtext,
  .banner__content.banner__content--middle-center .banner__richtext {
    margin-left: auto;
    margin-right: auto;
  }

  .banner__content.banner__content--middle-center .banner__logo,
  .banner__content.banner__content--bottom-center .banner__logo {
    margin: 0 auto;
  }

  .banner__content.banner__content--middle-right .banner__logo,
  .banner__content.banner__content--bottom-right .banner__logo {
    margin-left: auto;
  }

  .banner__content.banner__content--bottom-left .banner__logo,
  .banner__content.banner__content--middle-left .banner__logo {
    margin-right: auto;
  }
}

@media screen and (max-width: 1024px) {
  .banner__content.banner__content--mobile-middle-left {
    align-items: center;
  }

  .banner__content.banner__content--mobile-middle-center {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .banner__content.banner__content--mobile-middle-right {
    align-items: center;
    justify-content: flex-end;
    text-align: right;
  }

  .banner__content.banner__content--mobile-bottom-left {
    align-items: flex-end;
  }

  .banner__content.banner__content--mobile-bottom-center {
    align-items: flex-end;
    justify-content: center;
    text-align: center;
  }

  .banner__content.banner__content--mobile-bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
  }

  .banner__content.banner__content--mobile-bottom-right .banner__button-wrapper,
  .banner__content.banner__content--mobile-middle-right .banner__button-wrapper {
    justify-content: flex-end;
  }

  .banner__content.banner__content--mobile-bottom-center .banner__button-wrapper,
  .banner__content.banner__content--mobile-middle-center .banner__button-wrapper {
    justify-content: center;
  }

  .banner__content.banner__content--mobile-bottom-right .banner__text,
  .banner__content.banner__content--mobile-middle-right .banner__text,
  .banner__content.banner__content--mobile-bottom-right .banner__richtext,
  .banner__content.banner__content--mobile-middle-right .banner__richtext {
    margin-left: auto;
    /*margin-right: auto;*/
  }

  .banner__content.banner__content--mobile-bottom-center .banner__text,
  .banner__content.banner__content--mobile-middle-center .banner__text,
  .banner__content.banner__content--mobile-bottom-center .banner__richtext,
  .banner__content.banner__content--mobile-middle-center .banner__richtext {
    margin-left: auto;
    margin-right: auto;
  }

  .banner__content.banner__content--mobile-middle-center .banner__logo,
  .banner__content.banner__content--mobile-bottom-center .banner__logo {
    margin: 0 auto;
  }

  .banner__content.banner__content--mobile-middle-right .banner__logo,
  .banner__content.banner__content--mobile-bottom-right .banner__logo {
    margin-left: auto;
  }

  .banner__content.banner__content--mobile-bottom-left .banner__logo,
  .banner__content.banner__content--mobile-middle-left .banner__logo {
    margin-right: auto;
  }
}

.banner__box {
  border: 0;
  position: relative;
  width: 100%;
  color: rgb(var(--color-text-light));
}

@media screen and (max-width: 1280px) {
  .banner__box {
    padding: 20px 0 0 0;
  }
}

@media screen and (max-width: 1024px) {
  .banner__box {
    padding: 0 0 20px 0;
  }
}

.banner__box .banner__heading,
.banner__box .banner__text,
.banner__box .banner__richtext,
.banner__box .banner__richtext h1,
.banner__box .banner__richtext h2,
.banner__box .banner__richtext h3,
.banner__box .banner__richtext h4,
.banner__box .banner__richtext h5,
.banner__box .banner__richtext h6 {
  color: inherit;
}

.banner__text,
.banner__richtext {
  font-weight: 400;
}

.banner__richtext,
.banner__richtext > * {
  font-size: var(--richtext-font-size);
  line-height: normal;
}

@media screen and (max-width: 749px) {
  .banner__richtext,
  .banner__richtext > * {
    font-size: var(--richtext-font-size-mobile);
  }
}

.banner__text-light {
  font-weight: 300;
}

.banner__badge {
  color: rgb(var(--color-text));
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.15em;
  line-height: normal;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: 16px;
}

.banner__badge > span {
  display: inline-block;
  padding: 10px 16px;
  background-color: #fff;
}

.banner__box .banner__logo {
  position: relative;
}

.banner__box .banner__logo img{
  position: absolute;
  top: 0;
  left: 0;
}

.banner__box .button--transparent {
  color: inherit;
  border: 1px solid currentColor;
}

@media screen and (max-width: 749px) {
  .banner--mobile-bottom::after {
    display: none;
  }

  .banner--mobile-bottom .banner__content {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

.banner::after {
  content: '';
  position: absolute;
  background: #000000;
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.banner__box > * + .banner__text,
.banner__box > * + .banner__richtext {
  margin-top: 16px;
}

.banner__box > * + * {
  margin-top: 16px;
}

.banner__box > *:first-child {
  margin-top: 0;
}

.banner__heading > *,
.banner__text > *,
.banner__richtext > * {
  word-wrap: break-word;
}

.banner__heading {
  margin-bottom: 0;
}

.banner__old-heading {
  font-family: 'OldEnglishFive', sans-serif;
  font-size: var(--old-heading-font-size);
  line-height: 140%;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .banner__box > * + .banner__text{
    overflow: hidden;
  }
}

@media screen and (max-width: 749px) {
  .banner__heading {
    font-size: 36px;
    line-height: normal;
    letter-spacing: 0.05em;
  }

  .banner__old-heading {
    font-size: var(--old-heading-font-size-mobile);
  }
}

.banner__box .banner__button-wrapper {
  display: flex;
  flex: 1 1 0;
  gap: 20px;
}

.banner__box .banner__button-wrapper .banner__button {
  margin-top: 26px;
  max-width: 100%;
  padding: 18px;
}

@media screen and (min-width: 750px) {
  .banner__box .banner__button-wrapper .banner__button {
    margin-top: 26px;
    max-width: 192px;
  }
}