.multicolumn__heading {
  margin-bottom: 35px;
}

.multicolumn-list {
  width: calc(100% + 36px);
  /*margin-left: -36px;*/
  margin-right: -36px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.multicolumn-list__item {
  width: 100%;
  padding: 36px 36px 0 0;
}

@media screen and (max-width: 989px) {
  .multicolumn.page-width {
    padding: 0;
  }

  .multicolumn-list {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
    justify-content: unset;
  }

  .multicolumn-list__item {
    width: 100%;
    padding: 0 0 36px;
  }

  .multicolumn-card__info {
    padding: 0 72px;
  }

  .multicolumn-card__info-title {
    margin-bottom: 11px;
  }
}

@media screen and (max-width: 749px) {
  .multicolumn-card__info {
    padding: 0 24px;
  }
}

@media screen and (min-width: 990px) {
  .multicolumn {
    margin-bottom: 122px;
  }

  .multicolumn[data-remove-bottom-spacing=true] {
    margin-bottom: 36px;
  }

  .multicolumn-list__item--2 {
    max-width: 50%;
  }

  .multicolumn-list__item--3 {
    max-width: calc(100% / 3);
  }

  .multicolumn-list__item--1 {
    max-width: 100%;
  }
}

.multicolumn-card__image-wrapper {
  display: block;
  padding-top: 67%;
}

.multicolumn-card__info-title {
  margin-top: 30px;
  letter-spacing: 2px;
  line-height: 1;
}

.multicolumn-card__info-title a {
  text-decoration: none;
  color: inherit;
}

.multicolumn-card__info-description {
  margin-top: 24px;
}