.table__wrapper {
  padding: 40px 72px 80px;
  max-width: var(--page-width);
  margin: 0 auto;
  text-align: center;
  background-color: var(--bg-color);
  position:relative;
}

@media screen and (max-width: 749px) {
  .table__wrapper {
    padding: 60px 24px;
  }
}

.table__heading {
  margin: 0 0 40px;
  color: var(--heading-color);
}

.table__scroll-wrapper {
  width: 100%;
  overflow-x: auto;
  overflow-y: visible;
}

.table__scroll-wrapper > table > * > tr:first-child > td:first-child {
  background-color: var(--table-th-bg-color);
  color: var(--table-th-text-color);
}

.table__scroll-wrapper > table > * > tr:not(:first-child) > td:first-child {
  background-color: var(--table-first-column-bg-color);
  color: var(--table-first-column-text-color);
  font-weight: var(--table-first-column-font-weight);
}

.table__scroll-wrapper > table > * > tr > td:first-child {
  position: sticky;
  left: -1px;
  z-index: 1;
  background-color: var(--table-first-column-bg-color);
  min-width: 160px;
}

.table__scroll-wrapper > table > * > tr > td:first-child:after {
  content: '';
  position: absolute;
  top: 0;
  right: -1px;
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--table-border-color);
}

.table__wrapper table {
  width: 100%;
  border: 1px solid transparent;
  text-align: var(--table-text-align);
  color: var(--table-content-color);
}

.table__wrapper table th,
.table__wrapper table td {
  padding: 9px 12px;
  border: 1px solid var(--table-border-color);
  min-width: 100px;
}

@media screen and (max-width: 992px) {
  .table__wrapper table {
    display: flex;
  }
}

.table__wrapper table tr:first-child {
  font-weight: var(--table-th-font-weight);
  text-transform: uppercase;
  background-color: var(--table-th-bg-color);
  color: var(--table-th-text-color);
}