#wsg-account-create,
.wsg-login-container {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: calc(20px + var(--header-height))24px 72px;
}

@media screen and (min-width: 750px) {
  #wsg-account-create,
  .wsg-login-container {
    padding: calc(20px + var(--header-height))72px 144px;
  }
}

#recover_password {
  margin-top: 30px;
}

.wsg-proxy-container .wsg-one-half {
  max-width: unset !important;
}

.wsg-proxy-container hr {
  display: none;
}

.wsg-proxy-container #wsg-title {
  letter-spacing: .07em;
  font-size: var(--font-size-h2);
  text-align: left;
  margin-bottom: 40px;
}

.wsg-proxy-container #customer_login #wsg-title {
  font-size: 48px;
  text-align: center;
}

.wsg-proxy-container [data-translation-selector] {
  font-size: 18px;
  letter-spacing: .1em;
  line-height: 1.2;
  display: inline-block;
  margin-bottom: 10px;
}

.wsg-proxy-container .wsg-input-small {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0;
}

.wsg-proxy-container .wsg-input-small {
  margin-top: 10px;
}

.wsg-proxy-container input:not([type="submit"]):focus,
.wsg-proxy-container textarea:focus,
.wsg-proxy-container select:focus {
  outline: none;
  box-shadow: none;
}

.wsg-proxy-container input:not([type="submit"]),
.wsg-proxy-container textarea,
.wsg-proxy-container select {
  -webkit-appearance: none;
  display: block;
  padding: 17px 0;
  margin-bottom: 30px !important;
  border: none;
  border-bottom: 1px solid rgb(var(--color-border));
  width: 100%;
  resize: none;
  background: transparent;
  color: currentColor;
  line-height: 1.88;
  font-size: var(--font-size-text);
  font-family: var(--font-body-family);
  font-weight: var(--font-body-weight);
  border-radius: unset;
  outline: none;
}

.wsg-proxy-container #wsg-signup .wsg-input-small select,
.wsg-proxy-container .wsg-input-small input[type="text"] {
  margin-bottom: 30px !important;
  line-height: 1.88;
}

.wsg-proxy-container .wsg-input-small label,
.wsg-proxy-container .wsg-hidden-label,
#customer_login label,
#recover_password label {
  height: 0;
  width: 0;
  margin-bottom: 0;
  overflow: hidden;
  display: none;
}

.wsg-proxy-container textarea[data-translation-selector] {
  font-size: var(--font-size-text);
}

.wsg-proxy-container .wsg-two-column {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 749px) {
  .wsg-proxy-container .wsg-two-column {
    flex-direction: column;
  }
}

.wsg-proxy-container .wsg-two-column .wsg-input-small {
  width: 48%;
}

@media screen and (max-width: 749px) {
  .wsg-proxy-container .wsg-two-column .wsg-input-small {
    width: 100%;
  }
}

.wsg-proxy-container #submit-block {
  text-align: left;
}

.wsg-proxy-container .wsg-signup-link {
  text-align: left;
  margin-bottom: 20px;
}

.wsg-proxy-container .wsg-signup-link a,
.wsg-login-container [data-translation-selector] {
  text-decoration: none;
  color: rgb(var(--color-text));
}

.wsg-proxy-container .wsg-section-header:not(:first-of-type) {
  margin-top: 30px;
}