#loyaltylion .lion-rules-list {
	max-width: 920px;
	width: 100%;
	margin: 0 auto;
	
	--lion-tile-background-color: rgb(var(--color-border));
	--lion-section-background-color: rgba(var(--color-background), 1);
	--lion-section-grid-min-width: 250px;
	--lion-section-grid-columns: 3;
	--lion-section-grid-gap: 3px;
}

#loyaltylion .lion-rule-item {
	position: relative;
}

#loyaltylion .lion-rule-item__content {
	padding: 90px 12px 20px 12px;
	border-radius: 0;
}

#loyaltylion .lion-rule-item--actionable .lion-rule-item__content {
	padding: 90px 12px 20px 12px;
}

#loyaltylion .lion-reward-item__title,
#loyaltylion .lion-rule-item__title,
#loyaltylion .lion-rule-item__points {
	font-size: 14px;
	line-height: 1.5;
	color: var(--junipPrimaryColor, rgb(var(--color-base-text, inherit)));
	padding-top: 0;
}

#loyaltylion .lion-rule-item--purchase:not(.lion-rule-item--completed-forever) button.lion-action-button:not(:only-child),
#loyaltylion .lion-rule-item--youtube_subscribe:not(.lion-rule-item--completed-forever) button.lion-action-button:not(:only-child),
#loyaltylion .lion-rule-item--attentive_sms:not(.lion-rule-item--completed-forever) button.lion-action-button:not(:only-child) {
	display: none;
}

#loyaltylion .lion-tier-overview {
	display: flex;
}

#loyaltylion .lion-tier-box {
	background-color: var(--cards-bg);
	color: rgba(var(--color-base-text), 1);
	padding: 0 35px 60px;
}

#loyaltylion .lion-tier-box--3 .lion-tier-box__sub-title > span {
	display: none;
}

#loyaltylion .lion-tier-box--3 .lion-tier-box__sub-title:before {
	position: relative;
	content: "Invite Only";
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	color: inherit;
	line-height: inherit;
	letter-spacing: inherit;
}

#loyaltylion .lion-tier-box:last-child {
	background-color: rgba(var(--color-base-background-light-2), .7);
	color: rgba(var(--color-text-light), 1);
}

#loyaltylion .lion-tier-box__title {
	font-size: 20px;
	text-transform: uppercase;
	color: inherit;
	padding: 0;
}

#loyaltylion .lion-tier-box__sub-title {
	font-size: 14px;
	color: inherit;
}

#loyaltylion .lion-tier-box__purchase-rule,
#loyaltylion .lion-tier-box__value-to-next,
#loyaltylion .lion-tier-box__expiry,
#loyaltylion .lion-tier-box__you-are-here,
#loyaltylion .lion-tier-box__footer {
	display: none;
}

#loyaltylion .lion-tier-box__position img {
	display: block;
	width: 80px;
	height: 80px;
	object-fit: contain;
}

#loyaltylion .lion-tier-box__header {
	padding: 55px 0 15px 0;
	background-color: transparent;
	border-bottom: 1px solid rgba(var(--color-border));
}

#loyaltylion .lion-tier-benefits-list {
	padding: 15px 0;
	text-align: left;
}

#loyaltylion .lion-tier-box__benefit {
	font-size: 13px;
	color: inherit;
	margin-bottom: 15px;
}

#loyaltylion .lion-tier-box__benefit::before {
	content: "";
	display: inline-block;
	width: 25px;
	height: 25px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28' fill='none'%3E%3Cpath d='M13.9998 27.3333C6.63584 27.3333 0.666504 21.364 0.666504 14C0.666504 6.63601 6.63584 0.666672 13.9998 0.666672C21.3638 0.666672 27.3332 6.63601 27.3332 14C27.3332 21.364 21.3638 27.3333 13.9998 27.3333ZM13.9998 24.6667C16.8288 24.6667 19.5419 23.5429 21.5423 21.5425C23.5427 19.5421 24.6665 16.829 24.6665 14C24.6665 11.171 23.5427 8.45792 21.5423 6.45753C19.5419 4.45715 16.8288 3.33334 13.9998 3.33334C11.1709 3.33334 8.45775 4.45715 6.45737 6.45753C4.45698 8.45792 3.33317 11.171 3.33317 14C3.33317 16.829 4.45698 19.5421 6.45737 21.5425C8.45775 23.5429 11.1709 24.6667 13.9998 24.6667V24.6667ZM12.6705 19.3333L7.01317 13.676L8.8985 11.7907L12.6705 15.5627L20.2118 8.02001L22.0985 9.90534L12.6705 19.3333Z' fill='black'/%3E%3C/svg%3E");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-right: 15px;
}

#loyaltylion .lion-tier-box,
#loyaltylion .lion-tier-box:hover {
	box-shadow: none;
}

.loyalty-heading[data-lion-refer] {
	cursor: pointer;
}

.loyalty-heading,
.loyalty-text,
#loyaltylion .iwot-carousel__heading-section {
	margin-bottom: 3rem;
	padding-bottom: 0;
}

#loyaltylion .iwot-carousel {
	padding: 0;
}

.loyalty-heading a {
	color: rgb(var(--color-text));
	text-decoration: none;
}

.loyalty-heading > *:not(:last-child) {
	margin-bottom: 0.5rem;
}

#loyaltylion .lion-rule-item__actions,
#loyaltylion .lion-rule-item__actions > * {
	width: 100%;
}

#loyaltylion .lion-modal-and-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	background-color: rgba(7, 7, 7, 0.4);
	z-index: 5;
}

#loyaltylion .lion-referral-widget-modal {
	position: absolute;
	border-radius: 0;
	font-family: var(--font-body-family);
}

#loyaltylion .lion-referral-widget--guest,
#loyaltylion .lion-referral-widget-main,
#loyaltylion .lion-modal {
	align-items: center;
	max-width: 700px;
	padding: 20px 24px;
	border-radius: 0;
	overflow: auto;
	font-family: var(--font-body-family);
}

#loyaltylion .lion-modal__title,
#loyaltylion .lion-referral-widget-main__heading {
	font-family: var(--font-heading-family);
	font-style: var(--font-heading-style);
	font-weight: var(--font-heading-weight);
	color: rgb(var(--color-text));
	text-align: center;
	text-transform: uppercase;
	margin: 0 40px;
	font-size: 24px;
	letter-spacing: 2px;
	line-height: 1.2;
}

#loyaltylion .lion-referral-widget-panels {
	width: 100%;
}

#loyaltylion .lion-referral-widget-needs-auth__help {
	font-size: inherit;
	margin-bottom: 20px;
}

#loyaltylion .lion-action-button {
	letter-spacing: normal;
	line-height: 1.6;
	font-size: var(--font-size-normal);
	font-family: var(--font-body-family);
	font-style: var(--font-body-style);
	font-weight: var(--font-medium-weight);
	text-align: center;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 18px 10px;
	text-decoration: none;
	border-radius: 0;
	color: rgb(var(--color-button-text-primary));
	background-color: #212121;
	border: 1px solid rgb(var(--color-button-hover-bg-secondary));
	width: 100%;
	min-height: 60px;
	-webkit-appearance: none;
	appearance: none;
	transition: all .2s linear;
}

#loyaltylion .lion-action-button:last-child:not(:only-child) {
	color: rgb(var(--color-button-text-secondary));
	background-color: rgb(var(--color-button-bg-secondary));
	border: 1px solid rgb(var(--color-button-text-secondary));
}

#loyaltylion .lion-action-button:last-child:not(:only-child):hover {
	color: rgb(var(--color-button-hover-text-secondary));
	background-color: rgb(var(--color-button-hover-bg-secondary));
	border: 1px solid rgb(var(--color-button-hover-bg-secondary));
}

#loyaltylion .lion-referral-widget-needs-auth__buttons {
	display: flex;
	justify-content: center;
	gap: 15px;
}

#loyaltylion .lion-referral-widget-needs-auth__button-spacer {
	display: none;
}

#loyaltylion .lion-referral-widget-modal__close-button,
#loyaltylion .lion-modal__close-button {
	top: 17px;
	right: 17px;
	margin: 0;
}

/* RULES SECTION ICONS */

#loyaltylion .lion-rule-item__icon {
	width: 30px;
	height: 30px;
	mask-size: contain;
	-webkit-mask-size: contain;
}

#loyaltylion .lion-rule-item__icon-wrap {
	margin-bottom: 5px;
}

#loyaltylion .lion-icon__rule--signup {
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.0' width='152.000000pt' height='190.000000pt' viewBox='0 0 152.000000 190.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,190.000000) scale(0.100000,-0.100000)' fill='%23000000' stroke='none'%3E%3Cpath d='M621 1884 c-134 -29 -243 -109 -298 -221 -27 -56 -28 -64 -28 -203 1 -165 13 -225 75 -356 46 -99 100 -174 171 -238 117 -105 220 -128 331 -73 146 72 278 254 334 462 14 52 19 104 19 205 0 128 -2 138 -29 197 -33 72 -116 157 -187 191 -102 49 -261 64 -388 36z m335 -118 c147 -66 206 -204 174 -403 -26 -164 -94 -305 -195 -406 -108 -108 -184 -123 -284 -56 -75 50 -140 130 -191 234 -57 117 -74 190 -74 325 -1 106 1 119 26 165 31 59 77 105 135 134 67 33 110 40 233 37 101 -2 123 -6 176 -30z'/%3E%3Cpath d='M570 645 c-237 -49 -467 -199 -536 -349 -23 -51 -28 -77 -32 -178 l-5 -118 762 0 761 0 0 85 c0 97 -14 173 -42 228 -73 144 -322 296 -552 336 -81 15 -276 12 -356 -4z m425 -110 c109 -32 218 -89 307 -161 81 -65 116 -129 120 -219 l3 -60 -665 0 -665 0 3 60 c4 93 39 154 129 226 112 89 220 139 374 174 100 23 281 14 394 -20z'/%3E%3C/g%3E%3C/svg%3E");
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.0' width='152.000000pt' height='190.000000pt' viewBox='0 0 152.000000 190.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,190.000000) scale(0.100000,-0.100000)' fill='%23000000' stroke='none'%3E%3Cpath d='M621 1884 c-134 -29 -243 -109 -298 -221 -27 -56 -28 -64 -28 -203 1 -165 13 -225 75 -356 46 -99 100 -174 171 -238 117 -105 220 -128 331 -73 146 72 278 254 334 462 14 52 19 104 19 205 0 128 -2 138 -29 197 -33 72 -116 157 -187 191 -102 49 -261 64 -388 36z m335 -118 c147 -66 206 -204 174 -403 -26 -164 -94 -305 -195 -406 -108 -108 -184 -123 -284 -56 -75 50 -140 130 -191 234 -57 117 -74 190 -74 325 -1 106 1 119 26 165 31 59 77 105 135 134 67 33 110 40 233 37 101 -2 123 -6 176 -30z'/%3E%3Cpath d='M570 645 c-237 -49 -467 -199 -536 -349 -23 -51 -28 -77 -32 -178 l-5 -118 762 0 761 0 0 85 c0 97 -14 173 -42 228 -73 144 -322 296 -552 336 -81 15 -276 12 -356 -4z m425 -110 c109 -32 218 -89 307 -161 81 -65 116 -129 120 -219 l3 -60 -665 0 -665 0 3 60 c4 93 39 154 129 226 112 89 220 139 374 174 100 23 281 14 394 -20z'/%3E%3C/g%3E%3C/svg%3E");
}

#loyaltylion .lion-icon__rule--purchase {
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.0' width='190.000000pt' height='190.000000pt' viewBox='0 0 190.000000 190.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,190.000000) scale(0.100000,-0.100000)' fill='%23000000' stroke='none'%3E%3Cpath d='M16 1884 c-19 -19 -21 -48 -3 -62 6 -5 38 -13 70 -16 59 -8 106 -36 128 -79 7 -11 63 -241 125 -510 126 -545 130 -557 218 -612 l49 -30 426 -3 c303 -2 438 0 468 9 49 13 117 68 140 113 18 34 263 764 263 783 0 6 -7 19 -16 27 -14 14 -86 16 -649 16 -563 0 -635 -2 -649 -16 -19 -18 -21 -45 -4 -62 9 -9 157 -12 605 -12 472 0 593 -3 593 -13 0 -22 -219 -669 -235 -693 -8 -13 -30 -32 -48 -41 -29 -16 -69 -18 -442 -18 -453 0 -458 1 -496 61 -13 22 -60 205 -134 522 -62 268 -122 507 -134 529 -37 73 -123 123 -210 123 -32 0 -55 -6 -65 -16z'/%3E%3Cpath d='M612 453 c-87 -47 -132 -121 -132 -214 0 -234 288 -326 424 -137 l29 41 -38 35 -38 35 -19 -37 c-25 -48 -71 -76 -127 -76 -144 0 -193 184 -69 260 75 45 178 10 313 -108 160 -138 222 -185 285 -216 184 -88 370 11 370 199 0 135 -98 235 -230 235 -94 0 -169 -41 -207 -114 -15 -29 -14 -30 23 -61 l38 -32 19 39 c35 70 129 98 194 58 90 -54 96 -164 13 -234 -25 -21 -42 -26 -84 -26 -71 0 -131 32 -251 133 -53 45 -120 101 -149 125 -28 23 -82 58 -120 77 -59 30 -78 35 -140 35 -49 0 -81 -5 -104 -17z'/%3E%3C/g%3E%3C/svg%3E");
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.0' width='190.000000pt' height='190.000000pt' viewBox='0 0 190.000000 190.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,190.000000) scale(0.100000,-0.100000)' fill='%23000000' stroke='none'%3E%3Cpath d='M16 1884 c-19 -19 -21 -48 -3 -62 6 -5 38 -13 70 -16 59 -8 106 -36 128 -79 7 -11 63 -241 125 -510 126 -545 130 -557 218 -612 l49 -30 426 -3 c303 -2 438 0 468 9 49 13 117 68 140 113 18 34 263 764 263 783 0 6 -7 19 -16 27 -14 14 -86 16 -649 16 -563 0 -635 -2 -649 -16 -19 -18 -21 -45 -4 -62 9 -9 157 -12 605 -12 472 0 593 -3 593 -13 0 -22 -219 -669 -235 -693 -8 -13 -30 -32 -48 -41 -29 -16 -69 -18 -442 -18 -453 0 -458 1 -496 61 -13 22 -60 205 -134 522 -62 268 -122 507 -134 529 -37 73 -123 123 -210 123 -32 0 -55 -6 -65 -16z'/%3E%3Cpath d='M612 453 c-87 -47 -132 -121 -132 -214 0 -234 288 -326 424 -137 l29 41 -38 35 -38 35 -19 -37 c-25 -48 -71 -76 -127 -76 -144 0 -193 184 -69 260 75 45 178 10 313 -108 160 -138 222 -185 285 -216 184 -88 370 11 370 199 0 135 -98 235 -230 235 -94 0 -169 -41 -207 -114 -15 -29 -14 -30 23 -61 l38 -32 19 39 c35 70 129 98 194 58 90 -54 96 -164 13 -234 -25 -21 -42 -26 -84 -26 -71 0 -131 32 -251 133 -53 45 -120 101 -149 125 -28 23 -82 58 -120 77 -59 30 -78 35 -140 35 -49 0 -81 -5 -104 -17z'/%3E%3C/g%3E%3C/svg%3E");
}

#loyaltylion .lion-icon__rule--birthday {
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.0' width='190.000000pt' height='190.000000pt' viewBox='0 0 190.000000 190.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,190.000000) scale(0.100000,-0.100000)' fill='%23000000' stroke='none'%3E%3Cpath d='M508 1891 c-139 -45 -171 -219 -61 -328 l42 -43 -167 0 c-154 0 -171 -2 -212 -22 -24 -13 -57 -40 -74 -61 -28 -35 -31 -45 -34 -136 -5 -114 14 -172 67 -212 l31 -23 0 -463 c0 -446 1 -465 20 -503 11 -22 39 -52 62 -67 l42 -28 725 0 726 0 38 23 c20 13 48 43 62 66 l25 43 0 463 0 462 39 39 c47 45 61 88 61 187 0 112 -34 176 -115 213 -34 16 -66 19 -208 19 l-168 0 35 34 c101 95 98 245 -6 314 -36 24 -51 27 -117 26 -62 0 -86 -5 -127 -27 -70 -36 -144 -114 -196 -208 -23 -43 -45 -79 -48 -79 -3 0 -21 30 -40 66 -45 86 -139 188 -202 220 -54 27 -154 40 -200 25z m159 -112 c24 -11 59 -39 79 -62 37 -43 126 -188 120 -195 -2 -2 -42 2 -87 8 -145 20 -250 65 -283 121 -23 39 -21 100 4 127 28 30 107 30 167 1z m733 -1 c13 -15 20 -35 20 -64 0 -97 -119 -164 -334 -189 l-58 -7 33 62 c50 90 118 170 168 197 60 31 142 32 171 1z m-640 -493 l0 -145 -300 0 -300 0 -32 29 c-32 28 -33 32 -33 108 0 92 17 127 68 142 17 5 159 10 315 10 l282 1 0 -145z m288 -2 l3 -143 -101 0 -100 0 0 138 c0 76 3 142 7 146 4 4 48 5 98 4 l90 -3 3 -142z m685 136 c56 -15 72 -47 72 -142 -1 -76 -2 -80 -33 -108 l-32 -29 -300 0 -300 0 0 145 0 145 278 0 c161 0 293 -4 315 -11z m-973 -850 l0 -481 -256 4 -256 3 -29 33 -29 32 0 445 0 445 285 0 285 0 0 -481z m285 1 l0 -475 -95 0 -95 0 -3 465 c-1 256 0 471 3 478 3 9 29 12 97 10 l93 -3 0 -475z m665 35 l0 -445 -29 -32 -29 -33 -256 -3 -256 -4 0 481 0 481 285 0 285 0 0 -445z'/%3E%3C/g%3E%3C/svg%3E");
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.0' width='190.000000pt' height='190.000000pt' viewBox='0 0 190.000000 190.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,190.000000) scale(0.100000,-0.100000)' fill='%23000000' stroke='none'%3E%3Cpath d='M508 1891 c-139 -45 -171 -219 -61 -328 l42 -43 -167 0 c-154 0 -171 -2 -212 -22 -24 -13 -57 -40 -74 -61 -28 -35 -31 -45 -34 -136 -5 -114 14 -172 67 -212 l31 -23 0 -463 c0 -446 1 -465 20 -503 11 -22 39 -52 62 -67 l42 -28 725 0 726 0 38 23 c20 13 48 43 62 66 l25 43 0 463 0 462 39 39 c47 45 61 88 61 187 0 112 -34 176 -115 213 -34 16 -66 19 -208 19 l-168 0 35 34 c101 95 98 245 -6 314 -36 24 -51 27 -117 26 -62 0 -86 -5 -127 -27 -70 -36 -144 -114 -196 -208 -23 -43 -45 -79 -48 -79 -3 0 -21 30 -40 66 -45 86 -139 188 -202 220 -54 27 -154 40 -200 25z m159 -112 c24 -11 59 -39 79 -62 37 -43 126 -188 120 -195 -2 -2 -42 2 -87 8 -145 20 -250 65 -283 121 -23 39 -21 100 4 127 28 30 107 30 167 1z m733 -1 c13 -15 20 -35 20 -64 0 -97 -119 -164 -334 -189 l-58 -7 33 62 c50 90 118 170 168 197 60 31 142 32 171 1z m-640 -493 l0 -145 -300 0 -300 0 -32 29 c-32 28 -33 32 -33 108 0 92 17 127 68 142 17 5 159 10 315 10 l282 1 0 -145z m288 -2 l3 -143 -101 0 -100 0 0 138 c0 76 3 142 7 146 4 4 48 5 98 4 l90 -3 3 -142z m685 136 c56 -15 72 -47 72 -142 -1 -76 -2 -80 -33 -108 l-32 -29 -300 0 -300 0 0 145 0 145 278 0 c161 0 293 -4 315 -11z m-973 -850 l0 -481 -256 4 -256 3 -29 33 -29 32 0 445 0 445 285 0 285 0 0 -481z m285 1 l0 -475 -95 0 -95 0 -3 465 c-1 256 0 471 3 478 3 9 29 12 97 10 l93 -3 0 -475z m665 35 l0 -445 -29 -32 -29 -33 -256 -3 -256 -4 0 481 0 481 285 0 285 0 0 -445z'/%3E%3C/g%3E%3C/svg%3E");
}

#loyaltylion .lion-icon__rule--instagram-follow {
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.0' width='190.000000pt' height='190.000000pt' viewBox='0 0 190.000000 190.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,190.000000) scale(0.100000,-0.100000)' fill='%23000000' stroke='none'%3E%3Cpath d='M540 1890 c-178 -16 -261 -51 -367 -156 -53 -51 -81 -90 -107 -143 -57 -119 -61 -165 -61 -651 1 -477 5 -518 62 -637 66 -137 227 -255 386 -285 102 -18 892 -18 994 0 216 40 380 201 430 422 15 65 17 135 17 510 0 483 -4 523 -66 650 -40 83 -142 187 -223 227 -118 60 -169 66 -595 69 -212 1 -423 -1 -470 -6z m742 -90 c91 -7 171 -18 211 -30 130 -40 237 -149 280 -285 21 -68 22 -83 22 -535 0 -506 -2 -525 -60 -625 -36 -62 -124 -143 -190 -175 -93 -45 -184 -53 -595 -53 -412 0 -502 8 -596 53 -108 52 -199 161 -230 272 -32 116 -42 811 -14 983 22 137 75 230 173 301 78 58 163 83 313 93 174 12 517 12 686 1z'/%3E%3Cpath d='M1393 1589 c-42 -27 -67 -81 -60 -131 11 -82 71 -132 151 -125 43 4 55 10 88 45 33 35 38 48 38 87 0 89 -53 145 -137 145 -31 0 -59 -7 -80 -21z m111 -85 c23 -23 20 -51 -8 -69 -45 -30 -91 20 -59 64 17 25 46 27 67 5z'/%3E%3Cpath d='M810 1401 c-136 -44 -223 -119 -287 -248 -38 -77 -38 -77 -38 -203 0 -126 0 -126 38 -203 85 -172 236 -267 423 -267 91 0 176 22 246 63 54 31 149 130 176 182 69 138 69 312 0 450 -27 52 -122 151 -176 182 -106 63 -268 81 -382 44z m282 -100 c31 -12 79 -42 107 -67 122 -110 160 -271 100 -429 -30 -80 -122 -173 -205 -206 -88 -35 -218 -33 -296 3 -80 37 -151 107 -191 187 -29 60 -32 74 -32 161 0 82 4 103 27 152 29 63 93 137 145 169 99 61 233 73 345 30z'/%3E%3C/g%3E%3C/svg%3E");
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.0' width='190.000000pt' height='190.000000pt' viewBox='0 0 190.000000 190.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,190.000000) scale(0.100000,-0.100000)' fill='%23000000' stroke='none'%3E%3Cpath d='M540 1890 c-178 -16 -261 -51 -367 -156 -53 -51 -81 -90 -107 -143 -57 -119 -61 -165 -61 -651 1 -477 5 -518 62 -637 66 -137 227 -255 386 -285 102 -18 892 -18 994 0 216 40 380 201 430 422 15 65 17 135 17 510 0 483 -4 523 -66 650 -40 83 -142 187 -223 227 -118 60 -169 66 -595 69 -212 1 -423 -1 -470 -6z m742 -90 c91 -7 171 -18 211 -30 130 -40 237 -149 280 -285 21 -68 22 -83 22 -535 0 -506 -2 -525 -60 -625 -36 -62 -124 -143 -190 -175 -93 -45 -184 -53 -595 -53 -412 0 -502 8 -596 53 -108 52 -199 161 -230 272 -32 116 -42 811 -14 983 22 137 75 230 173 301 78 58 163 83 313 93 174 12 517 12 686 1z'/%3E%3Cpath d='M1393 1589 c-42 -27 -67 -81 -60 -131 11 -82 71 -132 151 -125 43 4 55 10 88 45 33 35 38 48 38 87 0 89 -53 145 -137 145 -31 0 -59 -7 -80 -21z m111 -85 c23 -23 20 -51 -8 -69 -45 -30 -91 20 -59 64 17 25 46 27 67 5z'/%3E%3Cpath d='M810 1401 c-136 -44 -223 -119 -287 -248 -38 -77 -38 -77 -38 -203 0 -126 0 -126 38 -203 85 -172 236 -267 423 -267 91 0 176 22 246 63 54 31 149 130 176 182 69 138 69 312 0 450 -27 52 -122 151 -176 182 -106 63 -268 81 -382 44z m282 -100 c31 -12 79 -42 107 -67 122 -110 160 -271 100 -429 -30 -80 -122 -173 -205 -206 -88 -35 -218 -33 -296 3 -80 37 -151 107 -191 187 -29 60 -32 74 -32 161 0 82 4 103 27 152 29 63 93 137 145 169 99 61 233 73 345 30z'/%3E%3C/g%3E%3C/svg%3E");
}

#loyaltylion .lion-icon__rule--newsletter-signup {
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.0' width='190.000000pt' height='190.000000pt' viewBox='0 0 190.000000 190.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,190.000000) scale(0.100000,-0.100000)' fill='%23000000' stroke='none'%3E%3Cpath d='M302 1888 c-9 -9 -12 -74 -12 -230 0 -214 0 -219 -22 -237 -13 -11 -77 -62 -143 -113 l-120 -94 -3 -591 c-2 -528 0 -593 14 -607 14 -14 110 -16 934 -16 824 0 920 2 934 16 14 14 16 79 14 607 l-3 591 -120 94 c-66 51 -130 102 -142 113 -23 18 -23 23 -23 237 0 156 -3 221 -12 230 -17 17 -1279 17 -1296 0z m1217 -490 l0 -413 -220 -170 c-297 -231 -304 -235 -349 -235 -45 0 -52 4 -349 235 l-220 170 0 413 -1 412 570 0 570 0 -1 -412z m-1234 -326 c-5 -6 -155 107 -155 117 1 3 36 32 78 64 l77 59 3 -117 c1 -65 0 -120 -3 -123z m1418 173 c36 -27 66 -53 67 -56 0 -8 -143 -119 -153 -119 -4 0 -7 54 -7 120 0 99 2 120 14 113 7 -4 43 -30 79 -58z m-1348 -356 c134 -105 248 -195 251 -201 6 -10 -493 -518 -508 -518 -5 0 -8 205 -8 455 0 290 4 455 10 455 5 0 120 -86 255 -191z m1455 -264 c0 -250 -3 -455 -8 -455 -4 0 -123 116 -264 258 l-257 257 252 197 c139 108 258 197 265 197 9 1 12 -96 12 -454z m-1046 -54 c87 -69 122 -85 186 -85 64 0 98 16 187 85 35 27 66 49 70 49 10 0 523 -512 523 -522 0 -5 -351 -8 -780 -8 -429 0 -780 3 -780 7 0 11 513 523 524 523 4 0 36 -22 70 -49z'/%3E%3Cpath d='M582 1598 c-17 -17 -15 -44 4 -62 13 -14 60 -16 364 -16 304 0 351 2 364 16 19 18 21 45 4 62 -17 17 -719 17 -736 0z'/%3E%3Cpath d='M586 1314 c-20 -19 -21 -48 -2 -63 9 -8 79 -11 232 -9 l219 3 3 28 c7 55 -1 57 -229 57 -175 0 -210 -2 -223 -16z'/%3E%3Cpath d='M1156 1314 c-19 -18 -21 -45 -4 -62 7 -7 41 -12 83 -12 73 0 95 10 95 41 0 35 -28 49 -95 49 -44 0 -68 -5 -79 -16z'/%3E%3Cpath d='M582 1028 c-17 -17 -15 -44 4 -62 22 -22 136 -22 158 0 19 18 21 45 4 62 -16 16 -150 16 -166 0z'/%3E%3Cpath d='M867 1033 c-11 -11 -8 -58 5 -71 9 -9 71 -12 219 -12 175 0 210 2 223 16 19 18 21 45 4 62 -13 13 -439 18 -451 5z'/%3E%3C/g%3E%3C/svg%3E");
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.0' width='190.000000pt' height='190.000000pt' viewBox='0 0 190.000000 190.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,190.000000) scale(0.100000,-0.100000)' fill='%23000000' stroke='none'%3E%3Cpath d='M302 1888 c-9 -9 -12 -74 -12 -230 0 -214 0 -219 -22 -237 -13 -11 -77 -62 -143 -113 l-120 -94 -3 -591 c-2 -528 0 -593 14 -607 14 -14 110 -16 934 -16 824 0 920 2 934 16 14 14 16 79 14 607 l-3 591 -120 94 c-66 51 -130 102 -142 113 -23 18 -23 23 -23 237 0 156 -3 221 -12 230 -17 17 -1279 17 -1296 0z m1217 -490 l0 -413 -220 -170 c-297 -231 -304 -235 -349 -235 -45 0 -52 4 -349 235 l-220 170 0 413 -1 412 570 0 570 0 -1 -412z m-1234 -326 c-5 -6 -155 107 -155 117 1 3 36 32 78 64 l77 59 3 -117 c1 -65 0 -120 -3 -123z m1418 173 c36 -27 66 -53 67 -56 0 -8 -143 -119 -153 -119 -4 0 -7 54 -7 120 0 99 2 120 14 113 7 -4 43 -30 79 -58z m-1348 -356 c134 -105 248 -195 251 -201 6 -10 -493 -518 -508 -518 -5 0 -8 205 -8 455 0 290 4 455 10 455 5 0 120 -86 255 -191z m1455 -264 c0 -250 -3 -455 -8 -455 -4 0 -123 116 -264 258 l-257 257 252 197 c139 108 258 197 265 197 9 1 12 -96 12 -454z m-1046 -54 c87 -69 122 -85 186 -85 64 0 98 16 187 85 35 27 66 49 70 49 10 0 523 -512 523 -522 0 -5 -351 -8 -780 -8 -429 0 -780 3 -780 7 0 11 513 523 524 523 4 0 36 -22 70 -49z'/%3E%3Cpath d='M582 1598 c-17 -17 -15 -44 4 -62 13 -14 60 -16 364 -16 304 0 351 2 364 16 19 18 21 45 4 62 -17 17 -719 17 -736 0z'/%3E%3Cpath d='M586 1314 c-20 -19 -21 -48 -2 -63 9 -8 79 -11 232 -9 l219 3 3 28 c7 55 -1 57 -229 57 -175 0 -210 -2 -223 -16z'/%3E%3Cpath d='M1156 1314 c-19 -18 -21 -45 -4 -62 7 -7 41 -12 83 -12 73 0 95 10 95 41 0 35 -28 49 -95 49 -44 0 -68 -5 -79 -16z'/%3E%3Cpath d='M582 1028 c-17 -17 -15 -44 4 -62 22 -22 136 -22 158 0 19 18 21 45 4 62 -16 16 -150 16 -166 0z'/%3E%3Cpath d='M867 1033 c-11 -11 -8 -58 5 -71 9 -9 71 -12 219 -12 175 0 210 2 223 16 19 18 21 45 4 62 -13 13 -439 18 -451 5z'/%3E%3C/g%3E%3C/svg%3E");
}

#loyaltylion .lion-icon__rule--referral {
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.0' width='190.000000pt' height='181.000000pt' viewBox='0 0 190.000000 181.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,181.000000) scale(0.100000,-0.100000)' fill='%23000000' stroke='none'%3E%3Cpath d='M1236 1800 c-60 -16 -153 -69 -188 -109 -82 -94 -114 -236 -84 -373 49 -222 238 -458 366 -458 155 0 379 331 380 562 0 101 -54 233 -119 290 -62 54 -151 89 -239 94 -42 2 -94 -1 -116 -6z m214 -112 c126 -54 187 -186 156 -340 -23 -108 -96 -248 -172 -325 -56 -58 -65 -63 -104 -63 -39 0 -48 5 -104 63 -43 44 -75 90 -109 157 -97 194 -95 340 7 448 80 86 211 110 326 60z'/%3E%3Cpath d='M359 1506 c-128 -49 -198 -149 -199 -287 -1 -198 175 -449 315 -449 102 0 239 147 296 317 17 52 21 81 17 147 -7 124 -59 205 -164 257 -60 29 -206 37 -265 15z m204 -92 c57 -19 112 -78 128 -136 27 -102 -27 -254 -130 -359 -71 -73 -93 -76 -156 -18 -80 74 -155 222 -155 307 0 163 150 262 313 206z'/%3E%3Cpath d='M1010 746 c-62 -16 -115 -50 -147 -94 -15 -21 -28 -38 -28 -39 -1 -1 -22 8 -48 22 -49 24 -159 42 -200 31 -18 -4 -34 -28 -66 -96 -24 -49 -44 -90 -46 -90 -2 0 -22 41 -46 90 -32 69 -48 92 -66 96 -34 9 -139 -4 -185 -23 -58 -23 -115 -94 -138 -172 -34 -114 -53 -424 -28 -449 9 -9 231 -12 939 -12 821 0 928 2 939 15 10 12 11 53 6 176 -14 334 -60 460 -192 525 -46 22 -73 28 -154 32 l-99 5 -58 -117 c-32 -64 -60 -116 -63 -116 -3 0 -31 52 -63 115 l-57 115 -77 -1 c-43 0 -98 -6 -123 -13z m201 -198 c71 -143 83 -158 119 -158 36 0 48 15 119 158 68 136 63 132 161 111 62 -13 116 -57 141 -115 25 -55 47 -195 52 -331 l5 -113 -479 0 -478 0 5 113 c7 139 29 277 53 331 35 77 111 123 208 125 32 1 34 -2 94 -121z m-839 -75 c56 -122 72 -143 103 -143 31 0 47 22 103 141 l49 106 54 -8 c69 -11 104 -37 103 -75 -1 -16 -8 -111 -15 -211 l-13 -183 -334 0 -333 0 5 70 c3 39 9 102 12 141 12 157 59 241 142 254 36 6 64 12 70 14 2 0 26 -47 54 -106z'/%3E%3C/g%3E%3C/svg%3E");
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.0' width='190.000000pt' height='181.000000pt' viewBox='0 0 190.000000 181.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,181.000000) scale(0.100000,-0.100000)' fill='%23000000' stroke='none'%3E%3Cpath d='M1236 1800 c-60 -16 -153 -69 -188 -109 -82 -94 -114 -236 -84 -373 49 -222 238 -458 366 -458 155 0 379 331 380 562 0 101 -54 233 -119 290 -62 54 -151 89 -239 94 -42 2 -94 -1 -116 -6z m214 -112 c126 -54 187 -186 156 -340 -23 -108 -96 -248 -172 -325 -56 -58 -65 -63 -104 -63 -39 0 -48 5 -104 63 -43 44 -75 90 -109 157 -97 194 -95 340 7 448 80 86 211 110 326 60z'/%3E%3Cpath d='M359 1506 c-128 -49 -198 -149 -199 -287 -1 -198 175 -449 315 -449 102 0 239 147 296 317 17 52 21 81 17 147 -7 124 -59 205 -164 257 -60 29 -206 37 -265 15z m204 -92 c57 -19 112 -78 128 -136 27 -102 -27 -254 -130 -359 -71 -73 -93 -76 -156 -18 -80 74 -155 222 -155 307 0 163 150 262 313 206z'/%3E%3Cpath d='M1010 746 c-62 -16 -115 -50 -147 -94 -15 -21 -28 -38 -28 -39 -1 -1 -22 8 -48 22 -49 24 -159 42 -200 31 -18 -4 -34 -28 -66 -96 -24 -49 -44 -90 -46 -90 -2 0 -22 41 -46 90 -32 69 -48 92 -66 96 -34 9 -139 -4 -185 -23 -58 -23 -115 -94 -138 -172 -34 -114 -53 -424 -28 -449 9 -9 231 -12 939 -12 821 0 928 2 939 15 10 12 11 53 6 176 -14 334 -60 460 -192 525 -46 22 -73 28 -154 32 l-99 5 -58 -117 c-32 -64 -60 -116 -63 -116 -3 0 -31 52 -63 115 l-57 115 -77 -1 c-43 0 -98 -6 -123 -13z m201 -198 c71 -143 83 -158 119 -158 36 0 48 15 119 158 68 136 63 132 161 111 62 -13 116 -57 141 -115 25 -55 47 -195 52 -331 l5 -113 -479 0 -478 0 5 113 c7 139 29 277 53 331 35 77 111 123 208 125 32 1 34 -2 94 -121z m-839 -75 c56 -122 72 -143 103 -143 31 0 47 22 103 141 l49 106 54 -8 c69 -11 104 -37 103 -75 -1 -16 -8 -111 -15 -211 l-13 -183 -334 0 -333 0 5 70 c3 39 9 102 12 141 12 157 59 241 142 254 36 6 64 12 70 14 2 0 26 -47 54 -106z'/%3E%3C/g%3E%3C/svg%3E");
}

#loyaltylion .lion-rule-item--junip_review .lion-icon__rule--custom {
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.0' width='190.000000pt' height='191.000000pt' viewBox='0 0 190.000000 191.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,191.000000) scale(0.100000,-0.100000)' fill='%23000000' stroke='none'%3E%3Cpath d='M918 1893 c-9 -10 -68 -137 -131 -283 -63 -146 -120 -277 -127 -291 -11 -25 -14 -26 -293 -58 -341 -40 -355 -43 -364 -78 -6 -25 12 -45 229 -255 l235 -227 -59 -303 c-32 -167 -58 -317 -58 -334 0 -37 21 -59 50 -51 11 3 140 76 285 162 l265 157 265 -157 c145 -86 274 -159 285 -162 29 -8 50 14 50 51 0 17 -26 167 -58 334 l-59 303 234 226 c128 124 233 233 233 242 0 46 -13 49 -335 87 -170 21 -313 42 -317 48 -4 6 -62 137 -129 291 -66 154 -128 288 -137 298 -8 9 -23 17 -32 17 -9 0 -24 -8 -32 -17z m151 -418 l114 -264 36 -5 c20 -4 131 -17 246 -31 116 -14 226 -27 246 -31 l35 -5 -150 -148 c-83 -81 -177 -172 -208 -202 l-58 -54 55 -284 c31 -156 54 -287 53 -291 -2 -3 -112 59 -246 138 l-243 144 -242 -144 c-133 -80 -243 -141 -245 -137 -2 4 22 135 53 290 l55 284 -52 49 c-29 28 -123 119 -209 202 l-156 153 36 5 c20 3 130 17 246 31 116 14 226 27 246 31 l36 5 114 264 c63 146 116 265 119 265 3 -1 56 -119 119 -265z'/%3E%3C/g%3E%3C/svg%3E");
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.0' width='190.000000pt' height='191.000000pt' viewBox='0 0 190.000000 191.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,191.000000) scale(0.100000,-0.100000)' fill='%23000000' stroke='none'%3E%3Cpath d='M918 1893 c-9 -10 -68 -137 -131 -283 -63 -146 -120 -277 -127 -291 -11 -25 -14 -26 -293 -58 -341 -40 -355 -43 -364 -78 -6 -25 12 -45 229 -255 l235 -227 -59 -303 c-32 -167 -58 -317 -58 -334 0 -37 21 -59 50 -51 11 3 140 76 285 162 l265 157 265 -157 c145 -86 274 -159 285 -162 29 -8 50 14 50 51 0 17 -26 167 -58 334 l-59 303 234 226 c128 124 233 233 233 242 0 46 -13 49 -335 87 -170 21 -313 42 -317 48 -4 6 -62 137 -129 291 -66 154 -128 288 -137 298 -8 9 -23 17 -32 17 -9 0 -24 -8 -32 -17z m151 -418 l114 -264 36 -5 c20 -4 131 -17 246 -31 116 -14 226 -27 246 -31 l35 -5 -150 -148 c-83 -81 -177 -172 -208 -202 l-58 -54 55 -284 c31 -156 54 -287 53 -291 -2 -3 -112 59 -246 138 l-243 144 -242 -144 c-133 -80 -243 -141 -245 -137 -2 4 22 135 53 290 l55 284 -52 49 c-29 28 -123 119 -209 202 l-156 153 36 5 c20 3 130 17 246 31 116 14 226 27 246 31 l36 5 114 264 c63 146 116 265 119 265 3 -1 56 -119 119 -265z'/%3E%3C/g%3E%3C/svg%3E");
}

#loyaltylion .lion-rule-item--youtube_subscribe .lion-icon__rule--custom {
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='295.000000pt' height='207.000000pt' viewBox='0 0 295.000000 207.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,207.000000) scale(0.100000,-0.100000)'%0Afill='%23000000' stroke='none'%3E%3Cpath d='M583 2059 c-177 -13 -284 -51 -377 -131 -121 -104 -177 -227 -197%0A-432 -17 -175 -6 -938 15 -1036 41 -195 183 -359 356 -410 131 -40 186 -42%0A957 -47 1023 -7 1190 5 1331 90 76 45 178 157 213 231 55 121 61 172 66 628 8%0A668 -13 784 -172 943 -112 112 -205 148 -430 165 -151 12 -1610 11 -1762 -1z%0Am1895 -162 c165 -44 257 -137 299 -303 16 -61 18 -124 18 -544 0 -498 -5 -566%0A-46 -659 -39 -90 -133 -172 -229 -201 -111 -34 -269 -40 -1050 -40 -936 0%0A-1019 6 -1137 86 -108 73 -155 167 -174 341 -14 141 -6 934 11 1012 33 151%0A137 263 280 301 93 25 206 28 1075 26 798 -2 897 -4 953 -19z'/%3E%3Cpath d='M1079 1619 c-14 -5 -31 -21 -38 -35 -8 -18 -11 -178 -11 -553 0 -519%0A0 -529 21 -555 14 -18 30 -26 50 -26 22 0 159 75 462 251 463 270 492 288 499%0A317 14 52 -2 64 -470 337 -249 145 -461 266 -470 269 -9 2 -29 0 -43 -5z m427%0A-385 c176 -102 322 -189 326 -193 5 -4 -130 -87 -300 -186 -169 -98 -317 -185%0A-329 -193 l-23 -14 0 386 c0 212 2 386 4 386 2 0 147 -84 322 -186z'/%3E%3C/g%3E%3C/svg%3E");
	mask-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='295.000000pt' height='207.000000pt' viewBox='0 0 295.000000 207.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,207.000000) scale(0.100000,-0.100000)'%0Afill='%23000000' stroke='none'%3E%3Cpath d='M583 2059 c-177 -13 -284 -51 -377 -131 -121 -104 -177 -227 -197%0A-432 -17 -175 -6 -938 15 -1036 41 -195 183 -359 356 -410 131 -40 186 -42%0A957 -47 1023 -7 1190 5 1331 90 76 45 178 157 213 231 55 121 61 172 66 628 8%0A668 -13 784 -172 943 -112 112 -205 148 -430 165 -151 12 -1610 11 -1762 -1z%0Am1895 -162 c165 -44 257 -137 299 -303 16 -61 18 -124 18 -544 0 -498 -5 -566%0A-46 -659 -39 -90 -133 -172 -229 -201 -111 -34 -269 -40 -1050 -40 -936 0%0A-1019 6 -1137 86 -108 73 -155 167 -174 341 -14 141 -6 934 11 1012 33 151%0A137 263 280 301 93 25 206 28 1075 26 798 -2 897 -4 953 -19z'/%3E%3Cpath d='M1079 1619 c-14 -5 -31 -21 -38 -35 -8 -18 -11 -178 -11 -553 0 -519%0A0 -529 21 -555 14 -18 30 -26 50 -26 22 0 159 75 462 251 463 270 492 288 499%0A317 14 52 -2 64 -470 337 -249 145 -461 266 -470 269 -9 2 -29 0 -43 -5z m427%0A-385 c176 -102 322 -189 326 -193 5 -4 -130 -87 -300 -186 -169 -98 -317 -185%0A-329 -193 l-23 -14 0 386 c0 212 2 386 4 386 2 0 147 -84 322 -186z'/%3E%3C/g%3E%3C/svg%3E");
}

#loyaltylion .lion-rule-item--attentive_sms .lion-icon__rule--custom {
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.0' width='190.000000pt' height='190.000000pt' viewBox='0 0 190.000000 190.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,190.000000) scale(0.100000,-0.100000)' fill='%23000000' stroke='none'%3E%3Cpath d='M775 1885 c-218 -36 -388 -119 -534 -259 -199 -192 -277 -424 -225 -674 39 -189 176 -386 341 -490 l43 -27 0 -80 c0 -81 -18 -179 -45 -248 -8 -20 -15 -44 -15 -52 0 -26 38 -55 72 -55 74 0 290 137 390 248 l36 39 148 5 c119 5 169 11 249 32 198 54 387 174 501 319 113 144 159 274 158 442 0 126 -17 204 -68 312 -167 353 -613 560 -1051 488z m379 -101 c176 -37 325 -115 445 -235 83 -82 130 -153 169 -257 23 -59 26 -82 27 -197 0 -155 -18 -222 -94 -337 -75 -115 -183 -208 -315 -273 -162 -81 -236 -97 -431 -99 l-161 -1 -58 -68 c-65 -74 -181 -167 -238 -192 -43 -17 -43 -19 -23 55 18 68 30 224 21 274 -6 30 -16 42 -64 72 -215 138 -332 337 -334 569 -1 127 29 226 101 336 189 288 578 431 955 353z'/%3E%3Cpath d='M491 1126 c-7 -8 -11 -27 -9 -43 l3 -28 465 0 465 0 3 28 c7 59 20 57 -468 57 -377 0 -449 -2 -459 -14z'/%3E%3Cpath d='M498 989 c-25 -14 -24 -65 1 -79 13 -6 173 -10 451 -10 278 0 438 4 451 10 26 14 26 66 0 80 -27 14 -879 13 -903 -1z'/%3E%3Cpath d='M487 843 c-11 -11 -8 -58 5 -71 9 -9 82 -12 269 -12 280 0 284 1 277 57 l-3 28 -271 3 c-149 1 -273 -1 -277 -5z'/%3E%3C/g%3E%3C/svg%3E");
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.0' width='190.000000pt' height='190.000000pt' viewBox='0 0 190.000000 190.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,190.000000) scale(0.100000,-0.100000)' fill='%23000000' stroke='none'%3E%3Cpath d='M775 1885 c-218 -36 -388 -119 -534 -259 -199 -192 -277 -424 -225 -674 39 -189 176 -386 341 -490 l43 -27 0 -80 c0 -81 -18 -179 -45 -248 -8 -20 -15 -44 -15 -52 0 -26 38 -55 72 -55 74 0 290 137 390 248 l36 39 148 5 c119 5 169 11 249 32 198 54 387 174 501 319 113 144 159 274 158 442 0 126 -17 204 -68 312 -167 353 -613 560 -1051 488z m379 -101 c176 -37 325 -115 445 -235 83 -82 130 -153 169 -257 23 -59 26 -82 27 -197 0 -155 -18 -222 -94 -337 -75 -115 -183 -208 -315 -273 -162 -81 -236 -97 -431 -99 l-161 -1 -58 -68 c-65 -74 -181 -167 -238 -192 -43 -17 -43 -19 -23 55 18 68 30 224 21 274 -6 30 -16 42 -64 72 -215 138 -332 337 -334 569 -1 127 29 226 101 336 189 288 578 431 955 353z'/%3E%3Cpath d='M491 1126 c-7 -8 -11 -27 -9 -43 l3 -28 465 0 465 0 3 28 c7 59 20 57 -468 57 -377 0 -449 -2 -459 -14z'/%3E%3Cpath d='M498 989 c-25 -14 -24 -65 1 -79 13 -6 173 -10 451 -10 278 0 438 4 451 10 26 14 26 66 0 80 -27 14 -879 13 -903 -1z'/%3E%3Cpath d='M487 843 c-11 -11 -8 -58 5 -71 9 -9 82 -12 269 -12 280 0 284 1 277 57 l-3 28 -271 3 c-149 1 -273 -1 -277 -5z'/%3E%3C/g%3E%3C/svg%3E");
}

@media screen and (max-width: 749px) {
	#loyaltylion .lion-rules-list {
		padding: 0;
		--lion-section-grid-gap: 15px;
	}
	
	#loyaltylion .lion-tier-overview {
		padding: 0;
	}
	
	.loyalty-heading,
	#loyaltylion .iwot-carousel__heading-section {
		margin-bottom: 2rem;
	}
	
	#loyaltylion .lion-tier-box__benefits-list {
		padding: 15px 10px;
	}
	
	#loyaltylion .lion-referral-widget-modal__close-button {
		width: 28px;
		height: 28px;
		background-size: 13px;
	}
	
	#loyaltylion .lion-referral-widget .lion-modal__title {
		margin: 0 20px;
	}
	
	#loyaltylion .lion-modal__header {
		margin-top: 0;
	}
	
	#loyaltylion .iwot-carousel__wrapper .swiper-button-next,
	#loyaltylion .iwot-carousel__wrapper .swiper-button-prev {
		top: 50%;
		margin: 0;
	}
}