
/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.ra-footer {
  /* The "active" scope refers to the value that is currently applicable.
  This value may be overriden on a per breakpoint or modifier basis.
  The approach simplifies re-usability since you always get the most up-to-date value. */
  --active-component-color: var(--component-fg-color);
  --active-component-background: var(--component-bg-color);
  --accordion-accent-color: currentColor;

  color: var(--active-component-color, var(--c-highlight));
  background-color: var(--active-component-background, var(--c-primary));

  @media breakpoint(md-max) {
    padding: var(--spacing-sm) var(--spacing-sm) var(--spacing-2xl);
  }

  @media breakpoint(md) {
    --active-component-color: var(--component-fg-color-md, var(--component-fg-color));
    --active-component-background: var(--component-bg-color-md, var(--component-bg-color));
  }
}

  .ra-footer__main {
    @media breakpoint(md) {
      border-bottom: solid .0625rem var(--c-gray-500);
    }
  }

    .ra-footer__main-grid-zone {
      @media breakpoint(md) {
        padding: var(--spacing-lg);

        &:not(:first-child) {
          border-left: solid .0625rem var(--c-gray-500);
        }
      }

      @media breakpoint(md-max) {
        &:not(:last-child) {
          margin-bottom: var(--spacing-lg);
        }
      }
    }

  .ra-footer__bottom {
    display: flex;
    align-items: center;
    
    @media breakpoint(md) {
      justify-content: space-between;
      padding: var(--footer-bottom-padding, var(--spacing-md) var(--spacing-lg));
    }

    @media breakpoint(md-max) {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      font-size: var(--font-size-xs);
      padding: var(--footer-bottom-padding, var(--spacing-xs) 0 var(--spacing-2xl));
    }
  }

    .ra-footer__bottom-links {
      @media breakpoint(md-max) {
        margin-top: var(--spacing-xl);
      }
    }

      .ra-footer__bottom-link {
        @media breakpoint(md) {
          font-size: var(--font-size-sm);

          &:not(:last-child) {
            margin-right: var(--spacing-md);
          }
        }

        @media breakpoint(md-max) {
          margin-left: var(--spacing-xs);
          margin-right: var(--spacing-xs);
        }
      }

/*------------------------------------*\
  #FOOTER COLUMN
\*------------------------------------*/

.ra-footer-column {
  @media breakpoint(md) {
    --list-item-margin: var(--spacing-sm) 0;

    font-size: var(--font-size-sm);
  }

  @media breakpoint(md-max) {
    --list-item-margin: 0 0 var(--spacing-sm) 0;
  }
}

  .ra-footer-column__title {
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
  }
