
/*------------------------------------*\
  #HERO
\*------------------------------------*/

.ra-hero-carousel {
  position: relative;
}

  .ra-hero-carousel__control--left,
  .ra-hero-carousel__control--right {
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    padding: 0 var(--spacing-sm);
  }

  .ra-hero-carousel__control--right {
    right: 0;
  }

  .ra-hero-carousel__bullets {
    position: absolute;
    bottom: var(--spacing-xl);
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    display: flex;
  }

/*------------------------------------*\
  #HERO ITEM
\*------------------------------------*/

.ra-hero-carousel-item {
  display: flex;
  justify-content: flex-start;
  position: relative;
  width: 100%;

  background-color: var(--_hero-item-background-color, transparent);
  background-position: var(--hero-item-background-position);
  background-repeat: no-repeat;
  background-size: cover;

  img {
    position: absolute;
    z-index: var(--z-index-negative);
    top: 0;
    left: 0;
  }
}

.ra-hero-carousel-item--align-right {
  justify-content: flex-end;
}

.ra-hero-carousel-item--position-bg-top-right {
  background-position: top right;
}

.ra-hero-carousel-item--position-bg-bottom-right {
  background-position: bottom right;
}

.ra-hero-carousel-item--position-bg-bottom-left {
  background-position: bottom left;
}

  .ra-hero-carousel-item__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 14rem;
    padding: var(--spacing-sm);

    @media breakpoint(md) {
      min-height: 36.625rem;
      padding: var(--spacing-2xl);
    }
  }

  .ra-hero-carousel-item__subtitle {
    margin: 0;
    color: var(--c-gray-800);
    text-transform: uppercase;
    font-family: var(--hero-item-subtitle-font-family);
    font-size: var(--hero-item-subtitle-font-size, var(--font-size));
    font-weight: var(--hero-item-subtitle-font-weight);
    line-height: var(--hero-item-subtitle-font-line-height, var(--line-height-lg));
  }

  .ra-hero-carousel-item__title {
    margin: 0 0 var(--spacing-xs) 0;
    letter-spacing: .00625rem;
    text-transform: none;
    font-family: var(--hero-item-title-font-family);
    font-size: var(--hero-item-title-font-size, var(--font-size-h3));
    font-weight: var(--hero-item-title-font-weight, var(--font-weight-medium));
    line-height: var(--hero-item-title-font-line-height);
  }
