
.ra-table {
  width: var(--table-width, 100%);
  border: none;
  border-spacing: var(--table-border-spacing, 0);
}

.ra-table--no-border {
  --table-row-border-width: 0;
}

  .ra-table__heading,
  .ra-table__row {
    display: flex;
    flex-wrap: wrap;
  }

  .ra-table__heading {
    align-items: center;
    padding: var(--table-heading-padding, var(--spacing-sm) 0);
    background-color: var(--table-heading-background);
    border-bottom: solid var(--table-heading-border-width, .0625rem) var(--table-heading-border-color, currentColor);
    font-family: var(--font-family-secondary);
    font-weight: var(--font-weight-medium);
  }

  .ra-table__header {
    color: var(--table-header-color, var(--c-copy));
    line-height: var(--line-height-lg);
  }

  .ra-table__row {
    padding: var(--table-row-padding, var(--spacing-sm) 0);
    background-color: var(--table-row-background);
    border-bottom: solid var(--table-row-border-width, .0625rem) var(--table-row-border-color, currentColor);
  }

  .ra-table__data {
    color: var(--table-data-color, var(--c-contrast));
    line-height: var(--line-height-xl);
  }

  .ra-table__data,
  .ra-table__header {
    flex: var(--table-column-flex, 1 1);
    padding: var(--table-column-padding, 0);
    text-align: var(--table-column-text-align, left);
  }
