{%- if product.metafields.theme.cutline != blank and product.metafields.theme.cutline.type == 'single_line_text_field' -%}

{%- liquid
  capture style
    case cutline_color
      when 'body'
        echo 'color: var(--text);'
      when 'accent'
        echo 'color: var(--accent);'
    endcase
  endcapture
-%}

  <p class="product-cutline" style="{{ style }}">{{ product.metafields.theme.cutline.value }}</p>
{%- endif -%}
