 
.ra-bounce {
  &-enter-active {
    animation: ra-bounce 0.3s;
  }
  &-leave-active {
    animation: ra-bounce 0.3s reverse;
  }
}

.ra-pulse {
  &-enter-active {
    animation: ra-pulse 0.25s;
  }
  &-leave-active {
    animation: ra-pulse 0.25s reverse;
  }
}

@keyframes ra-bounce {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes ra-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
