
[class*="motion-vertical-fade"] {
  transition-property: opacity, transform !important;
  transition-timing-function: var(--transition-function-bezier-ease) !important;
}

.motion-vertical-fade-initial {
  opacity: 0;
  transform: translateY(25px);
  transition-duration: var(--transition-duration-medium) !important;
}

.motion-vertical-fade-reverse {
  opacity: 0;
  transform: translateY(-10px);
  transition-duration: var(--transition-duration-medium) !important;
}

.motion-vertical-fade-reveal {
  opacity: 1;
  transform: translateY(0);
  transition-duration: var(--transition-duration-slow) !important;
}

[class*="motion-fade"] {
  transition-property: opacity !important;
  transition-timing-function: var(--transition-function-bezier-ease) !important;
}

.motion-fade-initial,
.motion-fade-reverse {
  opacity: 0;
  transition-duration: var(--transition-duration-medium) !important;
}

.motion-fade-reveal {
  opacity: 1;
  transition-duration: var(--transition-duration-slow) !important;
}
