
body {
  background-color: var(--c-body);
  font-family: var(--font-family-primary);
  font-size: var(--font-size);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-xl);
  letter-spacing: var(--letter-spacing);
  color: var(--c-copy);
}
