
@media breakpoint(md) {
  /*------------------------------------*\
    #DESKTOP/TABLET ALIGNMENT
  \*------------------------------------*/

  .set--v-align-top,
  .set--v-align-top-md {
    margin-bottom: auto;
  }

  .set--v-align-middle,
  .set--v-align-middle-md {
    margin-top: auto;
    margin-bottom: auto;
  }

  .set--v-align-bottom,
  .set--v-align-bottom-md {
    margin-top: auto;
  }

  .set--h-align-left,
  .set--h-align-left-md {
    align-items: flex-start;
    text-align: left;

    .component-links {
      justify-content: left;
    }
  }

  .set--h-align-center,
  .set--h-align-center-md {
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

    .component-links {
      justify-content: center;
    }
  }

  .set--h-align-right,
  .set--h-align-right-md {
    align-items: flex-end;
    text-align: right;
    margin-left: auto;

    .component-links {
      justify-content: right;
    }
  }

  /*------------------------------------*\
    #DESKTOP/TABLET LAYOUT
  \*------------------------------------*/

  .set--details-before,
  .set--details-before-md {
    .component-media {
      order: 1;
    }

    /* The "--set-order" suffix allows for shared ordering CSS without affecting positioning. */
    .component-details,
    .component-details--set-order {
      order: 0;
    }
  }

  .set--details-after,
  .set--details-after-md {
    .component-media {
      order: 0;
    }

    .component-details,
    .component-details--set-order {
      order: 1;
    }
  }

  .set--details-overlay,
  .set--details-overlay-md {
    position: relative;

    .component-details {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

@media breakpoint(md-max) {
  /*------------------------------------*\
    #MOBILE ALIGNMENT
    Specify mobile-specific overrides for alignment.
  \*------------------------------------*/

  .set--v-align-top,
  .set--v-align-top-sm {
    margin-bottom: auto;
  }

  .set--v-align-middle,
  .set--v-align-middle-sm {
    margin-top: auto;
    margin-bottom: auto;
  }

  .set--v-align-bottom,
  .set--v-align-bottom-sm {
    margin-top: auto;
  }

  .set--h-align-left,
  .set--h-align-left-sm {
    align-items: flex-start;
    text-align: left;
    margin-right: auto;

    .component-links {
      justify-content: left;
    }
  }

  .set--h-align-center,
  .set--h-align-center-sm {
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

    .component-links {
      justify-content: center;
    }
  }

  .set--h-align-right,
  .set--h-align-right-sm {
    align-items: flex-end;
    text-align: right;
    margin-left: auto;

    .component-links {
      justify-content: right;
    }
  }

  /*------------------------------------*\
    #MOBILE LAYOUT
    Specify mobile-specific overrides for layout.
  \*------------------------------------*/

  .set--details-before,
  .set--details-before-sm {
    .component-media {
      order: 1;
    }

    .component-details,
    .component-details--set-order {
      order: 0;
    }
  }

  .set--details-after,
  .set--details-after-sm {
    .component-media {
      order: 0;
    }

    .component-details,
    .component-details--set-order {
      order: 1;
    }
  }

  .set--details-overlay,
  .set--details-overlay-sm {
    position: relative;

    .component-details {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
