.inverted {
  transform: translate(calc(-100% + var(--inversion-xoffset, 0px)), calc(-100% + var(--inversion-yoffset, 0px)));
}

.inverted--vertically {
  transform: translate(var(--standard-xoffset, 0), calc(-100% + var(--inversion-yoffset, 0px)));
}

.inverted--horizontally {
  transform: translate(calc(-100% + var(--inversion-xoffset, 0px)), var(--standard-yoffset, 0));
}