/*------------------------------------*\
  #TEXT ALIGNMENT
\*------------------------------------*/

.text-align--left {
  text-align: left;
}

.text-align--center {
  text-align: center;
}

.text-align--right {
  text-align: right;
}

.text-align--justify {
  text-align: justify;
}

/*------------------------------------*\
  #TEXT TRANSFORM
\*------------------------------------*/

.text-transform--uppercase {
  text-transform: uppercase;
}
