.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: .0625rem;
  height: .0625rem;
  margin: -.0625rem;
  padding: 0;
  border: 0;
}

/*------------------------------------*\
  #VIEWPORT VISIBILITY
\*------------------------------------*/
@media breakpoint(md) {
  .display--md-max {
    display: none !important;
  }
}

@media breakpoint(lg) {
  .display--md-to-lg,
  .display--lg-max {
    display: none !important;
  }
}

@media breakpoint(lg-max) {
  .display--lg {
    display: none !important;
  }
}

@media breakpoint(md-max) {
  .display--md,
  .display--md-to-lg {
    display: none !important;
  }
}
