// A11y outline styles
body:not(.no-outline) {
  .skip-link:focus {
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
    color: var(--text);
    background-color: var(--bg);
    padding: 10px;
    opacity: 1;
    z-index: 10000;
    transition: none;
  }

  model-viewer:focus,
  model-viewer.focus-visible,
  .product-single__media-slide:focus,
  .product-single__media-slide.focus-visible,
  .product__media:focus,
  .product__media.focus-visible,
  .banner__link:focus,
  .banner__link:focus-visible,
  .btn--quick:focus,
  .btn--quick.focus-visible,
  .deferred-media__poster:focus .deferred-media__poster-button,
  .product__accordion__title:focus,
  .product__accordion__title.focus-visible,
  .filter__input:focus ~ label,
  .collection__sort__input:focus ~ label,
  .radio__button:focus-within input + .radio__label,
  .radio__input:focus + .radio__label,
  .radio__input.focus-visible + .radio__label,
  .sticky-images-and-text__dot:focus-visible,
  .swatch__button .swatch__input:focus + .swatch__label,
  .swatch__button .swatch__input.focus-visible + .swatch__label,
  .menu__item:focus > .navlink,
  .mosaic__item:focus-within,
  .image-accordion:focus-within,
  .overlapping-images__image:focus-within,
  .subcollection:focus-within { outline: -webkit-focus-ring-color auto 5px; }

  search-popdown:focus-within > details,
  .navlink--child:focus { outline: -webkit-focus-ring-color inset 1px; }

  .image-accordion:focus-within,
  .mosaic--no-spacing .mosaic__item:focus-within,
  .overlapping-images__image:focus-within,
  .subcollection:focus-within {
    z-index: 100;
    padding: 2px;
  }

  .slider:focus,
  .item:focus-within,
  .slide__link:focus {
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: 1px;
    margin: 2px;
    z-index: 1;
  }

  .blog--photo .blog__post-item:focus-within,
  .blog__post-image-link:focus .blog__post-image {
    outline: -webkit-focus-ring-color auto 5px;
  }

  .featured-collection--slider,
  .product-single__media-slider {
    .flickity-button:focus,
    .flickity-button.focus-visible { opacity: 1; }
  }

  .blog-item:focus-within .blog-item__article__tag,
  .blog-item:focus-within .blog-item__article__tag:after {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }

  .flickity-button:focus { box-shadow: 0 0 0 5px #19F; }

  .product-grid-item {
    .btn {
      &:focus,
      &.focus-visible {
        opacity: 1;
        transform: translateY(0);
        transition: none;
      }
    }
  }

  .btn:focus { outline: -webkit-focus-ring-color auto 5px; }
  [data-collapsible-trigger]:focus,
  .blog-item__article__link:focus { outline-offset: -2px; }

  .mobile-menu__item:focus-within { overflow: initial; }

  .deferred-media__poster,
  .deferred-media__poster:focus,
  .deferred-media__poster:focus-visible,
  .deferred-media__poster.focus-visible { outline: none; }

  .blog-item__product:focus,
  .product__media__holder:focus .product__media,
  .promotion-row__item__link:focus ~ .promotion-row__item__content,
  .product-single__media-link:focus {
    outline: auto;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -6px;
  }

  .product__media__hover { display: none; }
  .product-grid-item__image:hover .product__media__image--hover-slide-in { clip-path: unset; }
  .flickity-prev-next-button {
    opacity: 1;
    visibility: visible;
    transform: none;
  }
}

.no-js body.no-outline {
  :focus,
  .filter__input:focus ~ label,
  .collection__sort__input:focus ~ label {
    outline: auto;
    outline: -webkit-focus-ring-color auto 5px;
  }

  .promotion-row__item__link:focus ~ .promotion-row__item__content {
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -6px;
  }
}
