[data-collapsible-trigger] {
  position: relative;
  cursor: pointer;
  list-style: none;

  > * { pointer-events: none; }

  .icon-nav-arrow-down {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  }
}

[data-collapsible-body] {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

[data-collapsible-content] {
  display: grid;
  grid-template-columns: 100%;
}

[data-collapsible][open="false"] [data-collapsible-content] { animation: fadeOutDown 0.3s ease-in; }

[data-collapsible][open="true"] {
  [data-collapsible-trigger] .icon-nav-arrow-down {
    transform: translateY(-50%) rotateX(180deg);
  }

  [data-collapsible-content] { animation: fadeInUp 0.3s ease-in; }
}

details[disabled] {
  [data-collapsible-trigger] {
    cursor: default;
    pointer-events: none;

    .icon { display: none; }
  }

  [data-collapsible-body] {
    height: auto;
    transition: none;
  }
}
