@use '../globals' as *;

.drawer {
  --inline-start: 20px;
  --block-start: 16px;
  --inner: var(--inline-start);
  --inner-offset: calc(var(--inline-start) * -1);

  // Prevent children elements of hidden element to be focused
  .is-hidden a,
  .is-hidden button,
  .is-hidden input,
  .is-hidden textarea,
  .is-hidden select {
    visibility: hidden;
  }
}

.drawer__head {
  position: relative;
  width: 100%;
  padding: var(--inner);
  border-bottom: 1px solid var(--border);
}

.drawer__title {
  @include heading;

  margin: 0;
  display: flex;
  font-size: var(--font-heading-small);
  line-height: 1.3;
}

.drawer__close {
  --icon-size: 30px;

  position: absolute;
  top: 50%;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: var(--link);
  background: transparent;
  border-radius: var(--RADIUS);
  font-size: 0;
  text-decoration: none;
  transform: translate3d(0, -50%, 0);
  transition: color 0.3s ease;

  .icon {
    display: block;
    fill: currentcolor;
    transition: transform 0.3s;
    pointer-events: none;
  }

  @media (hover: hover) {
    &:hover { color: var(--link-hover); }
    &:hover .icon { transform: rotate(90deg); }
  }
}

.drawer__body {
  flex: 1;
  width: 100%;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.drawer__foot { margin-top: -1px; }

.drawer__inner {
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  left: 100vw;
  z-index: 6001;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: var(--bg);

  .is-open & {
    animation: slideInRight 0.6s ease;
    animation-fill-mode: forwards;
  }

  .is-closing & {
    animation: slideOutRight 0.6s ease;
    animation-fill-mode: forwards;
  }

  @include media-query($small-up) {
    max-width: var(--DRAWER-WIDTH-MOBILE);
  }

  @include media-query($small) {
    border-left: none;
  }

  @include media-query($medium-up) {
    max-width: var(--DRAWER-WIDTH);
  }
}

.drawer__underlay { z-index: 6000; }

.drawer__message { padding: var(--block-start) var(--inline-start); }

.drawer__message--custom {
  p { margin: 0; }
}
