/*================ Forms ================*/
.hidden-label {
  position: absolute;
  height: 0;
  width: 0;
  margin-bottom: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.form-vertical-wrapper {
  max-width: 480px;
  margin: 0 auto;
  text-align: center;
}
.form-vertical-wrapper p a {
  @include animated-border-hover;
}
.form-vertical-wrapper button { width: 100%; }
.form-vertical {
  margin-bottom: calc(var(--gutter) / 2);

  input,
  select,
  button,
  textarea {
    display: block;
    margin-bottom: 10px;
  }

  input[type='radio'],
  input[type='checkbox'] { display: inline-block; }
}
.form__heading {
  text-align: center;
  margin-bottom: 20px;
}
.form__item {
  padding: 0;
  border: 0;
  margin: 0 0 20px;

  .selector-wrapper {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;

    .icon-select {
      position: absolute;
      top: 0;
      right: 0;
      width: 54px;
      padding: 0 20px;
      height: 100%;
      pointer-events: none;
      transform: rotate(90deg);
    }
  }

  select {
    margin: 0;
    width: 100%;
  }
}
.form__item--radio,
.form__item--checkbox {
  margin: 20px 0;
  label {
    clear: both;
    display: block;
  }
  span { display: block; }
}
.form__item--checkbox + .form__item--checkbox { margin-top: -20px; }
.form__item--submit { margin: 30px 0 0; }
.form__label {
  display: block;
  margin: 0 0 10px;
  font-size: calc(1.35rem * var(--adjust-label));
}
.input--full { width: 100%; }
.input--checkbox,
.input--radio {
  margin: 5px 8px 10px 0;
  float: left;
}

/*================ Error styles ================*/
input,
select,
textarea {
  &.error {
    border-color: var(--error);
    background-color: var(--input-bg);
    color: var(--error);
  }
}

label.error { color: var(--error); }

/*================ Input group ================*/
.input-group {
  --form-margin: 20px;
  --input-height: 54px;
  display: flex;
  flex-direction: column;
  margin: calc(var(--form-margin) / -2);

  @include media-query ($medium-up) {
    flex-flow: row wrap;
  }

  .text-left &,
  .item--left &,
  .item--bottom-left &,
  .item--top-left &,
  .align--top-left &,
  .align--middle-left &,
  .align--middle-split &,
  .align--bottom-left & { justify-content: flex-start; }

  .text-center &,
  .item--center &,
  .item--bottom-center &,
  .item--top-center &,
  .align--top-center &,
  .align--middle-center &,
  .align--middle-split &,
  .align--bottom-center & { justify-content: center; }

  @include media-query ($medium-up) {
    .text-right &,
    .item--right &,
    .item--bottom-right &,
    .item--top-right &,
    .align--top-right &,
    .align--middle-right &,
    .align--middle-split &,
    .align--bottom-right & { justify-content: flex-end; }
  }

  @include media-query ($mobile) {
    --form-margin: 15px;
  }
}
.input-group--inline {
  margin: 0;
  position: relative;
  max-width: 340px;
  flex-wrap: nowrap;
  flex-direction: row;

  .align--middle-center & { margin: 0 auto; }

  @include media-query ($medium-up) {
    .text-right &,
    .item--right &,
    .item--bottom-right &,
    .item--top-right &,
    .align--top-right &,
    .align--middle-right &,
    .align--bottom-right & {
      margin-left: auto;
    }
  }

  input::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin-top: -1px;
    margin-bottom: -1px;
  }

  .input-group__item {
    flex: 1 1 auto;
    padding: 0;
  }
  .input-group__item--btn {
    flex-grow: 0;
    flex-basis: 54px;
    max-width: 54px;
  }
  .input-group__field {
    width: 100%;
    border-right: 0;
    border-radius: var(--RADIUS) 0 0 var(--RADIUS);
  }
  .input-group__btn--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 0;
    border-radius: 0 var(--RADIUS) var(--RADIUS) 0;
  }

  .input-group__field,
  .input-group__btn--icon { height: var(--input-height); }
  .input-group__field--text { margin: 10px 0; }
}

.input-group__item {
  position: relative;
  padding: calc(var(--form-margin) / 2);
  flex-basis: 100%;
  flex-grow: 2;

  @include media-query ($large-up) {
    max-width: 280px;
  }

  @include media-query ($medium-up) {
    flex-basis: 50%;
  }

  @include media-query ($widescreen) {
    flex-basis: 25%;

    .align--middle-split & { flex-basis: 50%; }
  }
}
.input-group__item--btn { flex-grow: 0; }
.input-group__item--text { flex-basis: 100%; }

.input-group__field {
  color: var(--text);
  background: var(--input-bg);
}
.input-group__btn {
  width: 100%;
  height: var(--input-height);
  min-width: 54px;
}

.input-group__error {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: var(--inner);
  padding: 0 calc(0.5 * var(--inner) + 20px);
  color: var(--error);
  font-size: calc(0.75rem * var(--adjust-body));
  line-height: 1.05;
  transform: translateY(50%);

  .has-error & { display: block; }
}

// Removes Chrome's hideous yellow background on autofill
input:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px white inset; }
input { -webkit-appearance: none; }

.product__form,
#collection-sorting {
  input,
  textarea,
  select { border: var(--BORDER-WIDTH) solid var(--border); }
}

/*============================================================================
	#Notes and Form Feedback
==============================================================================*/
.note,
.errors {
  border-radius: var(--RADIUS);
  padding: 8px 12px;
  margin-bottom: var(--inner);
  border: var(--BORDER-WIDTH) solid transparent;
  font-size: calc(0.75rem * var(--adjust-body));
  text-align: center;

  ul,
  ol {
    margin: 0;
    list-style: none outside;
  }

  li:last-child { margin-bottom: 0; }
  p {
    margin-bottom: 0;
    font-size: inherit;
  }
}

.errors {
  background-color: var(--error-bg);

  .input-group__field {
    color: var(--error);
    border-color: var(--error);
  }
}

.form-success {
  color: var(--success);
  border-color: var(--success);

  a {
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: var(--BORDER-WIDTH);

    &:hover { text-decoration: none; }
  }
}

.form-error,
.errors {
  color: var(--error);
  border-color: var(--error);
  clear: both;

  a {
    color: var(--error);
    text-decoration: underline;
    text-decoration-thickness: var(--BORDER-WIDTH);

    &:hover { text-decoration: none; }
  }
}

/*============================================================================
  #Checkbox
==============================================================================*/

.checkbox > input {
  @include visually-hidden;
}

.checkbox > label {
  position: relative;
  display: block;
  padding-left: 22px;
  font-size: calc(0.875rem * var(--adjust-body));
  line-height: 1.43;
  text-align: left;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    margin-top: 2px;
    color: var(--white);
    border-radius: var(--RADIUS-CHECKBOX);
    border: 1px solid var(--text);
  }
}

.checkbox > input:checked ~ label:before {
  background: var(--text) var(--icon-check) no-repeat center center;
  background-size: 14px auto;
}
