/* ================ Heights ================ */

:root {
  --full-height: 100vh;
  --three-quarters: 75vh;
  --two-thirds: 66vh;
  --one-half: 50vh;
  --one-third: 33vh;
  --one-fifth: 20vh;

  /* stylelint-disable-next-line length-zero-no-unit */
  --announcement-height: 0px;
  --content-full: calc(100vh - var(--header-height, 0px) - var(--announcement-height, 0px));
}

.original-height { --min-h: 240px; }
.full-height { --min-h: var(--full-height); }
.three-quarters-height { --min-h: var(--three-quarters); }
.two-thirds-height { --min-h: var(--two-thirds); }
.one-half-height { --min-h: var(--one-half); }
.one-third-height { --min-h: var(--one-third); }
.one-fifth-height { --min-h: var(--one-fifth); }
.seven-fifty-height { --min-h: 750px; }
.six-fifty-height { --min-h: 650px; }
.five-fifty-height { --min-h: 550px; }
.four-fifty-height { --min-h: 450px; }
.three-fifty-height { --min-h: 350px; }
.three-hundred-height { --min-h: 300px; }
.two-fifty-height { --min-h: 250px; }
.two-hundred-height { --min-h: 200px; }
.one-fifty-height { --min-h: 150px; }
.one-hundred-height { --min-h: 100px; }

.original-height,
.full-height,
.three-quarters-height,
.two-thirds-height,
.one-half-height,
.one-third-height,
.one-fifth-height,
.seven-fifty-height,
.six-fifty-height,
.five-fifty-height,
.four-fifty-height,
.three-fifty-height,
.three-hundred-height,
.two-fifty-height,
.two-hundred-height,
.one-fifty-height,
.one-hundred-height { min-height: var(--min-h); }

/* Mobile height */
@include media-query ($small) {
  .original-height-mobile { --min-h: auto; }
  .full-height-mobile { --min-h: var(--full-height); }
  .three-quarters-height-mobile { --min-h: var(--three-quarters); }
  .two-thirds-height-mobile { --min-h: var(--two-thirds); }
  .one-half-height-mobile { --min-h: var(--one-half); }
  .one-third-height-mobile { --min-h: var(--one-third); }
  .one-fifth-height-mobile { --min-h: var(--one-fifth); }
  .seven-fifty-height-mobile { --min-h: 750px; }
  .six-fifty-height-mobile { --min-h: 650px; }
  .five-fifty-height-mobile { --min-h: 550px; }
  .four-fifty-height-mobile { --min-h: 450px; }

  .original-height-mobile,
  .full-height-mobile,
  .three-quarters-height-mobile,
  .two-thirds-height-mobile,
  .one-half-height-mobile,
  .one-third-height-mobile,
  .one-fifth-height-mobile,
  .seven-fifty-height-mobile,
  .six-fifty-height-mobile,
  .five-fifty-height-mobile,
  .four-fifty-height-mobile { min-height: var(--min-h); }
}
