@use "@/css/settings/variables" as *;
@use "@/css/tools/mixins" as *;

.icon {
  display: inline-block;
  width: var(--icon-size, 20px);
  height: var(--icon-size, 20px);
  vertical-align: middle;
  fill: none;
  stroke: var(--icons, currentColor);
  stroke-width: 1px;

  path { stroke-width: inherit; }

  circle,
  ellipse,
  g,
  line,
  path,
  polygon,
  polyline,
  rect {
    fill: inherit;
    stroke: inherit;
  }
}

.icon-arrow-right { transition: transform 0.25s ease-out; }

.icon-media-video path,
.icon-media-model path {
  fill: none;
  stroke: none;
}

.icon-media-video .icon-media-video-outline,
.icon-media-model .icon-media-model-outline { fill: var(--COLOR-BG); opacity: 0.6; }

.icon-media-video .icon-media-video-element,
.icon-media-model .icon-media-model-element { fill: currentcolor; }

.icon-cancel { pointer-events: none; }

.icon-fallback-text {
  @include visually-hidden();
}

.payment-icons {
  @include prefix('user-select', none, moz ms webkit spec);

  cursor: default;
}
