.icon {
  fill: none;
  stroke: currentColor;
  stroke-width: var(--STROKE-WIDTH);
  display: inline-block;
  width: 100%;
  height: 100%;
}

.icon-stroke .icon {
  stroke-width: 3px;

  @supports (-webkit-hyphens: none) { // used to fix icons on the Safari desktop
    transform: translateZ(0);
  }
}

.icon-select,
.icon-toggle-plus,
.icon-toggle-minus {
  width: 15px;
  height: 15px;
}

.icon-close {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.icon-shopping-bag {
  vertical-align: middle;
  pointer-events: none;
}

.icon-filter {
  fill: currentColor;
  width: 20px;
  height: 13px;
  stroke: none;
}

.icon-hamburger {
  display: block;
  width: 28px;
  height: 28px;
  pointer-events: none;
}

.icon-css-arrow { pointer-events: none; }

.icon-play {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 var(--BORDER-WIDTH) currentColor;
  fill: currentColor;
  stroke: none;
  -webkit-transform: translateY(0); // Safari fix
}

.icon-share {
  width: 20px;
  height: calc(19px * var(--adjust-body));
  margin-right: 10px;
}

.icon-check {
  stroke: none;
}

/* Product media icons */
.icon-media-model,
.icon-media-video {
  fill: var(--bg);
  stroke: none;
}
.icon-media-model-outline,
.icon-media-video-outline { stroke: var(--text-alpha-5); }

.icon-media-model-element,
.icon-media-video-element { fill: var(--text); }

/* Icon check */
.icon-check { background: var(--icon-check-swatch) no-repeat center center/contain; }
