@use '../globals' as *;

.icon {
  display: inline-block;
  width: var(--icon-size, 24px);
  height: var(--icon-size, 24px);
  vertical-align: middle;

  circle,
  ellipse,
  g,
  line,
  path,
  polygon,
  polyline,
  rect {
    fill: var(--icons, currentColor);
    stroke: var(--icons, currentColor);
    stroke-width: 0.5px;
  }
}

.icon-arrow-right { transition: transform 0.25s ease-out; }

.icon-x { pointer-events: none; }

.icon-fallback-text {
  @include visually-hidden();
}

.payment-icons {
  @include prefix('user-select', none, moz ms webkit spec);

  cursor: default;
}
