/**
 * Links & Buttons
 */
@use '../globals' as *;

:root {
  --radius: var(--RADIUS);
  --btn-radius: var(--RADIUS);
  --btn-top: var(--BTN-MEDIUM-SIZE);
  --btn-left: calc(var(--BTN-MEDIUM-SIZE) * 1.8);

  @include media-query($small) {
    --btn-top: calc(var(--BTN-MEDIUM-SIZE) * 0.8);
    --btn-left: calc(var(--BTN-MEDIUM-SIZE) * 1.6);
  }
}

button {
  width: auto;
  overflow: visible;
}

/*** Button ***/
.btn {
  @include prefix('user-select', none, moz ms webkit spec);
  @include prefix(appearance, none, webkit moz spec);
  @include btn;

  --icons: var(--btn-text);

  span {
    position: relative;
    vertical-align: middle;
  }

  span.btn__added,
  span.btn__bag,
  span.btn__loader,
  span.btn__error {
    top: 50%;
    left: 50%;
    position: absolute;
  }

  &[disabled] {
    cursor: default;
    opacity: 0.5;

    &::after { content: none; }
  }
}

@media (hover: hover) {
  .btn:hover {
    border-color: var(--btn-border-hover);
    color: var(--btn-text-hover);
  }
}

// Safari text shifting on hover fix
.btn:not(.btn--text) {
  span:not([class]),
  span.btn__text {
    display: block;
    height: 100%;
    transform: translateZ(0);
  }
}

/*** Button with arrow icon ***/
.btn .icon-nav-arrow-left,
.btn .icon-nav-arrow-right {
  --icon-size: 12px;

  display: inline-block;
  margin: -2px 0 -2px 4px; // Prevent icon increasing buttons height
  flex-basis: 0 0 var(--icon-size, 20px);
}

.btn .icon-nav-arrow-left {
  margin-right: 4px;
  margin-left: 0;
}

.btn--text {
  span:not([class]),
  span.btn__text,
  .icon-nav-arrow-left,
  .icon-nav-arrow-right { height: calc(var(--BTN-FONT-SIZE) * 2 + 10px); }

  .icon-nav-arrow-left,
  .icon-nav-arrow-right {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (hover: hover) {
  .btn .icon-nav-arrow-left,
  .btn .icon-nav-arrow-right {
    transition: transform 0.5s ease;
    transform: translateZ(0);
  }
  .btn:hover .icon-nav-arrow-right { transform: translate3d(5px, 0, 0); }
  .btn:hover .icon-nav-arrow-left { transform: translate3d(-5px, 0, 0); }
}

/*** Button with bag icon ***/
.btn .icon-bag {
  flex: 0 0 auto;
  margin: 0 10px 0 0;

  --icon-size: 1.25rem;
}

/*** Button Primary ***/
.btn--primary {
  --btn-border: var(--BTN-PRIMARY-BORDER);
  --btn-bg: var(--BTN-PRIMARY-BG);
  --btn-text: var(--BTN-PRIMARY-TEXT);
}

.btn--primary.btn--text {
  --btn-text: var(--BTN-PRIMARY-BORDER);
  --btn-text-hover: var(--BTN-PRIMARY-BORDER);
}

/*** Button Secondary ***/
.btn--secondary {
  --btn-border: var(--BTN-SECONDARY-BORDER);
  --btn-bg: var(--BTN-SECONDARY-BG);
  --btn-text: var(--BTN-SECONDARY-TEXT);
}


.btn--secondary.btn--text {
  --btn-text: var(--BTN-SECONDARY-BORDER);
  --btn-text-hover: var(--BTN-SECONDARY-BORDER);
}

/*** Button White ***/
.btn--white {
  --btn-border: var(--COLOR-TEXT-BTN-BORDER-WHITE);
  --btn-bg: var(--COLOR-TEXT-BTN-BG-WHITE);
  --btn-text: var(--COLOR-TEXT-BTN-WHITE);
}


.btn--white.btn--text {
  --btn-text: #FFF;
  --btn-text-hover: #FFF;
}

/*** Button Black ***/
.btn--black {
  --btn-border: var(--COLOR-TEXT-BTN-BORDER-BLACK);
  --btn-bg: var(--COLOR-TEXT-BTN-BG-BLACK);
  --btn-text: var(--COLOR-TEXT-BTN-BLACK);
}

.btn--black.btn--text {
  --btn-text: #000;
  --btn-text-hover: #000;
}

.btn--solid.btn--primary { @include btn-solid-primary; }
.btn--solid.btn--secondary { @include btn-solid-secondary; }
.btn--solid.btn--white { @include btn-solid-white; }
.btn--solid.btn--black { @include btn-solid-black; }

.btn--outline.btn--primary { @include btn-outline-primary; }
.btn--outline.btn--secondary { @include btn-outline-secondary; }
.btn--outline.btn--white { @include btn-outline-white; }
.btn--outline.btn--black { @include btn-outline-black; }

/*** Button Sizes ***/
.btn--large {
  max-width: 100%;

  --btn-top: var(--BTN-LARGE-SIZE);
  --btn-left: calc(var(--BTN-LARGE-SIZE) * 1.4);

  @include media-query($small) {
    --btn-top: calc(var(--BTN-LARGE-SIZE) * 0.75);
    --btn-left: calc(var(--BTN-LARGE-SIZE) * 1.15);
  }
}

.btn--small {
  --btn-top: var(--BTN-SMALL-SIZE);
  --btn-left: calc(var(--BTN-SMALL-SIZE) * 1.7);

  .icon-nav-arrow-left,
  .icon-nav-arrow-right {
    --icon-size: 16px;
  }
}

/*** Button Text ***/
.btn--text {
  --btn-top: 0;
  --btn-left: 0;
  --btn-radius: 0;
  --btn-border: transparent;
  --btn-border-hover: transparent;
  --btn-bg: transparent;

  width: auto;
  max-width: none;
  display: inline-block;

  span {
    @include animate-underline-from-center;

    & {
      line-height: 2;
      padding: 5px 0;
    }
  }
}

.btn--text-no-underline span { background: none; }

/*** Button Outline and Button Solid ***/
.btn--outline,
.btn--solid {
  overflow: hidden;
  z-index: 1;
}

.btn--outline::after,
.btn--solid::after {
  content: '';
  position: absolute;
  top: 0;
  left: -60px;
  z-index: -1;
  width: calc(100% + 120px);
  height: 100%;
  background-color: currentcolor;
  opacity: 0.1;
  transform: translate3d(-100%,0,0) skew(30deg);
  transition: transform 0.5s cubic-bezier(0.33,0,0,1);
}

.btn--solid::after {
  background-color: var(--btn-bg-hover);
  opacity: 1;
}

@media (hover: hover) {
  .btn--outline:hover::after,
  .btn--solid:hover::after { transform: translateZ(0); }
}

.btn--full {
  width: 100%;
  min-width: 100%;
  max-width: 400px;
}

.btn__added { @include btn-added; }

.btn__added,
.btn__loader { opacity: 0; }

.btn__error {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: inherit;
  color: var(--COLOR-ERROR);
  background-color: var(--COLOR-ERROR-BG);
  opacity: 0;
  visibility: hidden;
}

.btn__bag {
  --icon-size: 24px;

  position: absolute;
  inset: 0;
  margin: auto;
  width: var(--icon-size);
  height: var(--icon-size);
}

.btn__bag,
.btn__text,
.btn__loader,
.btn__added,
.btn__error {
  transition: opacity 0.5s, visibility 0.5s;
}

.is-loading.btn {
  --btn-text: var(--accent);
  --btn-text-hover: var(--accent);
  --btn-border: var(--accent);
  --btn-border-hover: var(--accent);
  --btn-bg: transparent;
  --btn-bg-hover: transparent;
}

.is-loading > .btn__text,
.is-loading > .btn__bag,
.is-loading > .btn__added { opacity: 0; }
.is-loading > .btn__loader { opacity: 1; }
.is-loading > .btn__loader circle ~ circle { animation-play-state: running; }

.is-loading.btn,
.is-loading.btn[data-add-to-cart],
.is-loading.btn[data-cart-bar-add-to-cart] {
  background: transparent;
}

.is-added.btn,
.is-added.btn[data-add-to-cart],
.is-added.btn[data-cart-bar-add-to-cart] {
  --btn-text: var(--accent);
  --btn-text-hover: var(--accent);
  --btn-border: var(--accent);
  --btn-border-hover: var(--accent);
  --btn-bg: transparent;
  --btn-bg-hover: transparent;

  opacity: 1;
  background: transparent !important;
  &::after { content: none; }
}
.is-added > .btn__added { opacity: 1; }

.is-added > .btn__bag,
.is-added > .btn__text,
.is-added > .btn__loader { opacity: 0; }
.is-added.btn::after { content: none; }

.has-error .btn__loader,
.has-error .btn__text,
.has-error .btn__bag {
  opacity: 0;
  visibility: hidden;
}
.has-error.btn::after { content: none; }

.has-error .btn__error {
  opacity: 1;
  visibility: visible;
}

// Hotspot Buttons
.hotspots {
  position: absolute;
  inset: 10px;
  display: block;
}

.hotspot__button {
  --hotspot-top: 50%;
  --hotspot-left: 50%;
  --hotspot-size: 23px;

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--hotspot-size, 23px);
  height: var(--hotspot-size, 23px);
  padding: 0;
  margin-top: calc(var(--hotspot-size, 23px) / -2);
  margin-left: calc(var(--hotspot-size, 23px) / -2);
  top: var(--hotspot-top);
  left: var(--hotspot-left);
  cursor: pointer;
}

@include media-query($small) {
  .hotspot__button.is-selected .hotspot::before { animation: pulseDot 2.5s linear infinite; }
}

@media (hover: hover) {
  .hotspot__button:hover .hotspot::before { animation-iteration-count: 1; }
  .hotspot__button:hover .hotspot::after { animation: pulseDotHover 1.5s linear infinite; }
}

.hotspot {
  --bg: var(--COLOR-BG);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: var(--bg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after,
  &::before {
    content: "";
    width: 35px;
    height: 35px;
    background-color: inherit;
    border-radius: inherit;
    opacity: 0.3;
    position: absolute;
    top: -6px;
    left: -6px;
  }

  &::before { opacity: 0; }
}

.hotspot__icon {
  background-color: var(--accent);
  mask-image: var(--icon-bag);
  mask-size: contain;
  width: 100%;
  height: 100%;
  display: inline-block;
}


// SVG Loader
.svg-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  circle {
    stroke-width: 1;
    stroke: var(--accent-fade);
    fill: none;
  }

  circle ~ circle {
    stroke: var(--accent);
    stroke-dashoffset: 88;
    animation: animate-svg 1s linear infinite;
    animation-play-state: paused;
  }
}

@keyframes animate-svg {
  0% { stroke-dashoffset: 88; }
  100% { stroke-dashoffset: 0; }
}