/*
* Pagination
*/
.pagination {
  margin: var(--gutter) 0;
  text-align: center;

  .prev,
  .page,
  .next {
    display: inline-block;
    line-height: 1.2;
  }

  a:not(.btn) { display: block; }

  a:not(.btn),
  .page.current {
    padding: 8px;
  }

  .page.current { border-bottom: var(--BORDER-WIDTH) solid var(--text); }
}

.pagination__loading {
  padding-top: 40px;
  display: inline-block;
  background-image: var(--loader-image);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: var(--loader-image-size);
  width: 150px;
  height: 150px;
  animation: pulse-loading 2s infinite ease-in-out;
}

.pagination__button--previous { transform: rotate(180deg); }

.dots--animated {
  span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

    &:nth-child(2) { animation-delay: 0.2s; }
    &:nth-child(3) { animation-delay: 0.4s; }
  }
}