@use '../globals' as *;

/* Prices */
.price__regular {
  display: block;
}

.price__sale,
.price--on-sale .price__regular {
  display: none;
}

.price--on-sale .price__sale {
  display: initial;
  flex-direction: row;
  flex-wrap: wrap;
}

.price-item--sale {
  margin-right: 10px;
  color: var(--COLOR-SALE);
}

.price--on-sale .price-item--regular {
  text-decoration: line-through;
  color: var(--text-light);
}

.product__price  > .price {
  display: flex;
  justify-content: flex-start;
}

.price__container {
  margin: 0;
  line-height: var(--line-height-normal);
  align-items: flex-start;
  padding: 0.25rem 0;
}

.price--has-units { margin-bottom: calc(var(--font-body-small) * var(--line-height-normal)); }

.unit-price {
  display: block;
  position: absolute; // Prevent CLS on variant change
  color: var(--text-light);
  font-size: var(--font-body-small);
}

.product__price--off {
  --padding-vertical: 0.438rem;

  flex-shrink: 0;
  min-width: 0;
  background: var(--COLOR-SALE-BG);
  color: var(--COLOR-SALE-TEXT);
  padding: var(--padding-vertical) 12px;
  margin-left: 1rem;
  border-radius: var(--RADIUS-TAG);
  text-align: center;
  font-size: var(--font-body-x-small);

  @include caps;

  em {
    opacity: 0.5;
    padding: 0 6px;
  }

  @include media-query($small) {
    --padding-vertical: 6px;
  }
}
.product__sale { align-self: flex-start; }

.product__sale,
.product__final-sale-wrap {
  display: flex;
  align-items: center;
  color: var(--COLOR-SALE);
}

.product__final-sale-wrap { font-size: var(--font-body-x-small); }
.product__final-sale { margin-left: 1rem; }

.product__final-sale-question {
  margin-left: 0.5rem;

  &:hover { cursor: help; }
}
