/* Prices */
.price__regular {
  display: block;
}

.price__sale,
.price--on-sale .price__regular {
  display: none;
}

.price--on-sale .price__sale {
  display: initial;
  flex-direction: row;
  flex-wrap: wrap;
}

.price-item--sale {
  margin-right: 10px;
  color: var(--COLOR-SALE);
}

.price--on-sale .price-item--regular {
  text-decoration: line-through;
  color: var(--text-light);
}

