/*
* Rich Text Editor
*/
.rte {
  margin-bottom: calc(var(--gutter) / 2);
  font-size: calc(1rem * var(--adjust-body));

  a:not(.btn) {
    text-decoration: underline;
    text-decoration-thickness: var(--BORDER-WIDTH);
  }
  p { font-size: inherit; }
  // Add some top margin to headers from the rich text editor
  h1, h2, h3, h4, h5, h6 {
    margin: 1em 0;
  }

  li { margin-bottom: 0.4em; }

  *:last-child { margin-bottom: 0; }

  .text-center & {
    ul,
    ol {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.rte--header { margin-bottom: 0; }