@use '../globals' as *;

.accordion {
  display: block;
  border-bottom: 1px solid var(--border);
  border-top: 1px solid var(--border);
  // We need 1px negative margin for each accordion as if the first one is excluded, they won't be aligned with the second column
  margin-top: -1px;
  text-align: left;
}

.accordion__title {
  display: flex;
  align-items: center;
  padding: 1rem 30px 1rem 0;
  margin: 0;
}

.accordion__title .icon__animated {
  --icon-min-height: calc(var(--FONT-SIZE-BASE) * 1.2);

  margin: 0 var(--inner) 0 0;
  min-height: var(--icon-min-height);
  width: var(--icon-size, 100%);
}

.accordion__title .icon__animated--circle {
  overflow: hidden;
  height: var(--icon-size);
  border-radius: 50%;
}

.accordion__title .icon__animated .icon {
  position: static;
  transform: none;
}

.accordion__title__subheading,
.accordion__title__heading {
  display: block;
  margin: 0;

  &:not(:last-child) { margin-bottom: 4px; }
}

.accordion__content { padding-bottom: 1rem; }
