@use '../globals' as *;

.accordion {
  display: block;
  border-bottom: 1px solid var(--border);
  border-top: 1px solid var(--border);
  // We need 1px negative margin for each accordion as if the first one is excluded, they won't be aligned with the second column
  margin-top: -1px;
  text-align: left;
}

.accordion__title {
  display: flex;
  align-items: center;
  padding: 1.5rem 30px 1.5rem 0;
  margin: 0;
}

.accordion__title .icon__animated {
  --icon-min-height: calc(var(--FONT-SIZE-BASE) * 1.2);

  margin: 0 var(--inner) 0 0;
  align-self: start;
  min-height: var(--icon-min-height);
}

.accordion__title .icon__animated .icon {
  position: static;
  transform: none;
}

.accordion__content { padding-bottom: 1rem; }
