/*================ Breadcrumbs ================*/
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  font-size: calc( 0.875rem * var(--adjust-body));
}

.breadcrumbs__link,
.breadcrumbs__sep {
  margin-right: 7px;
}