@use '../globals' as *;

.cart {
  --inner: var(--SPACING-SMALL); // leave for backward compatibility for now (until we check whether none of the elements in cart and cart-drawer need this custom prop)
  --gap: var(--SPACING-SMALL);

  width: auto;
  padding-inline: var(--SPACING-MEDIUM);
  position: relative;
  margin: 0 auto;
  overflow: visible;
  display: block;
  text-align: left;
  max-width: 1380px;

  @include media-query($small) {
    padding-inline: 0;
  }
}

.cart__empty {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  justify-items: center;
  gap: var(--gap);
  text-align: center;
  width: 100%;
  max-width: var(--DRAWER-WIDTH-MOBILE);
  margin: 0 auto;
  opacity: 0;
  height: 0;
  visibility: hidden;

  @include media-query($small) {
    padding-inline: var(--SPACING-MEDIUM);
  }

  p { margin: 0; }

  .cart__message { justify-content: center; }

  .cart__message,
  .cart__empty__buttons,
  .cart__empty__product { width: 100%; }
}

.cart__empty,
.cart__form {
  transition: opacity 0.3s ease, visibility 0.3s;
}

.is-empty {
  .cart__empty {
    visibility: unset;
    opacity: unset;
    height: auto;
  }

  .cart__form {
    visibility: hidden;
    opacity: 0;
    height: 0;
  }
}

.cart__empty__buttons {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--gap);
  margin: var(--sp-block) 0;
}

.cart__empty__item .btn { display: block; }

.cart__empty__product:empty { display: none; }

.cart__inner {
  --aside-width: max(32%, 425px);

  position: relative;
  display: grid;
  grid-template-areas: "content pinned" "content aside";
  grid-template-columns: 1fr var(--aside-width);
  grid-template-rows: auto max-content;
  column-gap: calc(var(--gap) * 2);
  align-items: start;

  @include media-query($medium) {
    --aside-width: max(45%, 300px);

    column-gap: var(--gap);
  }

  @include media-query($small) {
    --aside-width: 100%;

    grid-template-areas: "pinned" "content" "aside";
    grid-template-columns: minmax(0, 1fr);
    gap: var(--SPACING-MEDIUM);
    overflow: hidden;
  }
}

.cart__content {
  position: sticky;
  top: var(--SPACING-MEDIUM);
  grid-area: content;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden; // Item removal animation is visible outside the container
  min-width: 0;

  @include media-query($small) {
    padding-inline: var(--SPACING-MEDIUM);
  }
}

.cart__title {
  margin: 0;
  display: flex;
  line-height: 1.5;
}

.cart__items {
  width: 100%;
  border-top: 1px solid var(--border);
  margin-top: var(--sp-block);

  .cart__item {
    &:last-child {
      border-bottom: 1px solid var(--border);

      @include media-query($small) {
        border-bottom: none;
      }
    }
  }
}

.cart__aside {
  grid-area: aside;
  flex-shrink: 0;
  contain: paint;

  @include media-query($small) {
    position: static;
    padding: 0;

    .cart-block:has(.free-shipping) {
      padding-inline: var(--sp-inline);
    }
  }
}

.cart__aside--pinned {
  grid-area: pinned;

  @include media-query($small) {
    padding: 0;

    .cart-block:has(.free-shipping) {
      padding-inline: var(--sp-inline);
    }
  }
}

.cart__field { color: var(--text); }

.cart__widget {
  --sp-inline: var(--SPACING-MEDIUM);
  --sp-inline-icon: calc(var(--SPACING-MEDIUM) + 16px);
  --sp-block: calc(var(--SPACING-SMALL) - 1px);

  position: relative;
  display: block;
  margin-bottom: -1px;
  font-size: var(--font-body-x-small);
  line-height: 1.16;
  font-weight: var(--FONT-WEIGHT-BODY-BOLD);
  transition: color 0.3s ease;
}

.cart__widget__title {
  position: relative;
  padding: var(--sp-block) var(--sp-inline-icon) var(--sp-block) var(--sp-inline);
  margin: 0;
  display: block;

  .icon {
    --icon-size: 27px;

    right: var(--sp-inline);
  }
}

.cart__widget label {
  font-size: var(--font-body-x-small);
  line-height: 1.3125;
  color: inherit;
  font-weight: var(--FONT-WEIGHT-BODY-BOLD);
}

.cart__widget .cart__field {
  display: block;
  width: 100%;
  font-size: var(--font-body-medium);
  line-height: 1.3125;

  // Make font size at least 16px on mobile devices to prevent page auto zoom in
  @supports (-webkit-touch-callout: none) {
    font-size: max(var(--font-body-medium), 16px);
  }
}

.cart__widget .cart__field--textarea {
  height: 90px;
  resize: none;
}

.cart__widget select.cart__field {
  appearance: none;
  background-image: var(--ICON-SELECT);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-color: transparent;
  background-size: 16px auto;
  padding-right: 28px;
  text-indent: 0.01px;
  text-overflow: unset;
  cursor: pointer;
}

// Show border bottom on cart page only
.cart__widget--products p.cart__widget__title {
  border-bottom: 1px solid var(--border);
  margin-bottom: var(--sp-block);
}

// Hide "Pair with" if no products available
.cart__widget--products:has(.cart__widget__products:empty) { display: none; }

.cart__widget__products {
  position: relative;
  display: grid;
}

.cart__widget__content__inner {
  padding: 0 var(--sp-inline) var(--sp-block);
}

// Upsell widgets styles
.cart__widget--upsell {
  border-bottom: 1px solid var(--border);
  padding: var(--sp-block) var(--sp-inline);

  .cart__widget__title {
    padding: 0 0 var(--SPACING-TINY);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--SPACING-TINY);
  }

  .cart__widget__content__inner {
    padding: 0;
  }

  // Swiper slides
  swiper-slide {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    quick-add-product,
    .product-upsell__holder {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    .product-upsell {
      flex: 1;
    }
  }

  &:has(swiper-slide:only-child) .swiper-navigation-static {
    display: none;
  }

  .cart__aside & {
    position: relative;

    .cart__widget__content {
      position: relative;
    }

    .cart__widget__content::before,
    .cart__widget__content::after {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: var(--bg);
      z-index: 2;
      pointer-events: none;

      @include media-query($medium-down) {
        display: none;
      }
    }

    .cart__widget__content::before {
      right: 100%;
    }

    .cart__widget__content::after {
      left: 100%;
    }

    swiper-slide {
      width: 100% !important;
    }
  }
}

// Horizontal upsell widget
.cart__widget--upsell-horizontal {
  .swiper,
  swiper-container::part(container) {
    overflow: unset;
  }
}

// Vertical upsell widget
.cart__widget--upsell-vertical {
  .cart__widget__content__inner {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: var(--SPACING-TINY);
    align-items: start;

    @include media-query($medium-down) {
      @include hide-scrollbar;

      margin-inline: calc(var(--sp-inline) * -1);
      padding-inline: var(--sp-inline);
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      overflow-x: scroll;
      overflow-y: hidden;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;
      scroll-padding: var(--sp-inline);

      quick-add-product {
        width: calc(50% - var(--SPACING-TINY) / 2);
        flex: 0 0 auto;
        scroll-snap-align: start;
      }

      &:has(quick-add-product:nth-child(3)) {
        quick-add-product {
          width: 45%;
        }
      }
    }
  }

  .product-upsell__holder {
    margin: 0;
  }
}

.cart__foot__inner {
  --sp-block: 10px;

  padding: var(--sp-block) var(--sp-inline);
  border-top: 1px solid var(--border);
}

.cart__note {
  display: block;
  font-size: max(0.6875rem, var(--font-body-x-small));
  line-height: 1.36;
  margin-top: var(--SPACING-SMALL);
  text-align: center;
}

.cart__total {
  @include heading;

  --font-size: var(--font-heading-small);

  position: relative;
  margin: 0 0 var(--SPACING-MICRO);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size);
  line-height: 1.33;

  .cart-block:has(.cart__acceptance__input) & {
    margin-bottom: var(--SPACING-TINY);
  }
}
.cart__total.is-hidden { margin: 0; }

.cart__price__loader {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 50%;
  margin: 0.875rem 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s;
}

.cart__price__loader:not(.is-loading) {
  .loader-indeterminate::before,
  .loader-indeterminate::after { animation: none; }
}

.cart__total__label {
  @include subheading;

  padding-inline-end: var(--SPACING-TINY);
}

.cart__total__price {
  transition: opacity 0.5s ease-in-out;
}

// Cart loading state
.is-loading {
  .cart__total__price--animated {
    opacity: 0;
    transition-duration: 0.25s;
  }

  .cart__price__loader {
    opacity: 1;
    visibility: visible;
  }

  input:disabled,
  button:disabled,
  [disabled] {
    opacity: 0.7;
    pointer-events: none;
  }
}

.cart__checkout { margin: var(--SPACING-TINY) 0 0; }

.cart__checkout .icon {
  flex: 0 0 auto;
  margin-right: 5px;
  fill: none;
  stroke: currentcolor;
}

.cart__buttons-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.cart__buttons { width: 100%; }
.cart__buttons--disabled { position: relative; }

.cart__buttons--disabled::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: default;
  background: var(--COLOR-BG-ALPHA-25);
  z-index: 1;
  transition: opacity 0.3s ease, visibility 0s linear 0s;
}

input.cart__acceptance__input {
  --sp-block: 3px;
  --label-height: calc(var(--font-body-medium) * var(--line-height-normal) + 2 * var(--sp-block));
  --input-offset: calc(var(--label-height) / 2 - var(--font-body-medium) / 2);

  width: var(--font-body-medium);
  height: var(--font-body-medium);
  margin: var(--input-offset) 4px var(--input-offset) 0;
}

.cart__acceptance__label {
  --sp-block: 3px;

  cursor: pointer;
  flex: 1;
  line-height: var(--line-height-normal);
  font-size: var(--font-body-medium);

  p {
    margin: var(--sp-block) 0;
  }
}

.cart__acceptance__input:checked ~ .cart__buttons--disabled::after {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.cart__terms {
  width: 100%;
  margin: 0;
  color: var(--COLOR-ERROR);
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, margin 0.5s ease, max-height 0.5s cubic-bezier(0, 1, 0.5, 1), visibility 0.5s;

  &.is-expanded {
    opacity: 1;
    visibility: visible;
    max-height: 300px;
    margin: var(--SPACING-MICRO) 0;
    transition: opacity 0.5s ease, margin 0.5s ease, max-height 0.5s cubic-bezier(0, 0, 1, 0), visibility 0.5s;
  }
}

.additional-checkout-buttons {
  display: flex;
  justify-content: center;
  margin-top: var(--SPACING-TINY);
  padding-top: var(--SPACING-TINY);
  border-top: 1px solid var(--border);

  ul { justify-content: center; }

  li {
    list-style: none outside none;
    border-radius: var(--RADIUS);
  }

  .dynamic-checkout__content {
    width: 100%;

    &:empty { display: none; }
  }
}

.additional-checkout-buttons:has(.dynamic-checkout__content:empty) { display: none; }

.cart__quantity {
  position: relative;
  width: var(--min-w, 76px);
  transition: opacity 0.4s;

  &.read-only {
    opacity: 0.5;
    pointer-events: none;
  }

  button {
    --icon-size: 12px;

    position: absolute;
    top: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--icon-size) + 6px);
    height: 100%;
    font-size: 0;
    line-height: 1;
    transform: translateY(-50%);
    transition: opacity 0.3s;

    .is-disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    &:hover { opacity: 0.75; }
  }

  input[type='number'] { appearance: textfield; }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button { appearance: none; }
}
.cart__quantity-minus { left: 3px; }
.cart__quantity-plus { right: 3px; }

.cart__quantity-field {
  padding: min(var(--SPACING-MICRO), 3px) 22px;
  border-color: var(--bg-accent);
  margin: 0;
  min-height: var(--min-h, 26px);
  background: var(--bg-accent);
  font-size: max(14px, var(--font-body-small));
  line-height: 1.33;
  color: inherit;
  text-align: center;

  @supports (-webkit-touch-callout: none) {
    font-size: max(16px, var(--font-body-small));
  }
}

.cart__total--savings {
  .cart__total__price {
    color: var(--accent);
  }

  .cart__price__holder:has(.cart__total__discount) & {
    margin-block-end: 0;
  }
}

.cart__total__discount {
  margin-block-end: var(--SPACING-MICRO);
  display: flex;
  flex-flow: column wrap;
  align-items: end;
  color: var(--accent);

  .cart__total {
    --font-size: max(var(--font-heading-mini), 14px);

    margin: 0;
  }

  .icon-sale-tag {
    transform: translateY(-5%);
  }
}

.remove-discount {
  margin-inline-start: var(--SPACING-MICRO);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-accent);
  cursor: pointer;

  .icon {
    --icon-size: calc(var(--font-size) * 1.2);
  }
}

.cart__total__discount-title {
  color: var(--text);
}

.cart__price {
  margin: 0;
  text-align: right;
  font-size: var(--font-body-small);

  ins {
    display: inline-block;
    background: none;
    color: var(--text);
    vertical-align: top;
    text-decoration: none;
  }

  del {
    display: inline-block;
    color: var(--text);
    opacity: 0.6;
    vertical-align: top;
  }

  .line__price {
    display: block;
    margin: 0;
    text-align: right;
  }

  .unit-price {
    opacity: 0.6;
  }
}

.cart__price--has-units {
  position: relative;
  margin-bottom: calc(var(--font-body-small) * var(--line-height-normal));

  .unit-price {
    right: 0;
  }
}

.cart__price__inner {
  min-width: 0;
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: min(var(--SPACING-MICRO), 4px);
  flex-wrap: wrap;
  justify-content: flex-end;
}

.cart__price__row {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  gap: 2px;
  min-width: 0;
  max-width: 100%;

  &:not(:last-child) { margin-bottom: 2px; }
}

.cart__price__save {
  flex: 0 0 auto;
  text-align: right;
  word-break: break-word;
  overflow-wrap: break-word;
  color: var(--accent);
}

.shipping-calculator {
  ul {
    list-style: none;
    margin-left: 0;
    font-size: inherit;
  }

  li {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}
.shipping-calculator__province[data-aria-hidden="true"] { display: none; }

.cart__errors {
  position: relative;
  width: 100%;
  flex: 0 0 auto;
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.5s cubic-bezier(0, 0.75, 0.25, 1), visibility 0.5s;

  @media (hover: hover) {
    a:hover { opacity: 0.75; }
  }
}

.cart__errors.is-expanded {
  opacity: 1;
  visibility: visible;
  max-height: 300px;
  transition-timing-function: cubic-bezier(0.5, 0.25, 0.75, 1);
}

.cart__errors__close {
  --icon-size: 16px;

  position: absolute;
  top: 0;
  right: 4px;
  width: 32px;
  height: 32px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart__errors__inner {
  position: relative;
  padding: var(--SPACING-TINY) var(--sp-inline);
  border: 1px solid var(--COLOR-ERROR-BORDER);
  background-color: var(--COLOR-ERROR-BG);
  color: var(--COLOR-ERROR);
  border-radius: var(--RADIUS-SELECT);
  margin: var(--sp-block) auto;
}

.cart__errors__heading {
  @include body-bold;

  margin: 0;
  font-size: var(--font-body-small);
}

.cart__errors__content {
  flex: 1 0 auto;
  margin: 0;
  font-size: var(--font-body-x-small);
}

.is-loading:not(.is-removed) > .loader {
  visibility: visible;
  opacity: 1;
}

.is-loading .cart__quantity,
.is-disabled .cart__quantity {
  pointer-events: none;
  opacity: 0.6;
}

.cart__message {
  margin: 0;
  line-height: 1.3;

  .btn--text { text-align: inherit; }
}

.cart__message--custom {
  --sp-block: 13px;

  padding: var(--sp-block) var(--sp-inline);

  p { margin: 0 auto; }
}

.cart__message--link.text-left {
  display: flex;
  align-items: center;
  gap: var(--SPACING-TINY);

  p {
    margin-inline-start: 0;
  }

  .btn--text:not(:only-child) {
    position: relative;
    top: -2px;
    flex: 0 0 auto;
    margin-inline-start: auto;
    max-width: 50%;
    text-align: right;
  }
}

.cart__items-count {
  &::before { content: '\00a0\0028'; }
  &::after { content: '\0029'; }
}

.cart__form .block__icon__container { padding: var(--sp-block) 0; }

.cart__payment-icons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--SPACING-TINY);
  list-style: none;
  margin: 0;
  padding: var(--sp-block) 0;

  li {
    display: flex;
    margin: 0;
  }
}

.cart__custom-code { padding: var(--sp-block) var(--sp-inline); }

// Cart discount block styles
.cart-discount {
  position: relative;
  border-bottom: 1px solid var(--border);
  padding: var(--sp-block) var(--sp-inline);

  .cart__field {
    --border: var(--text);

    margin: 0;
    flex: 1;
  }

  .cart__field[disabled] {
    background: var(--COLOR-BORDER);
  }

  .cart-block:last-child & {
    border-bottom: none;
  }

  .cart__errors__content--discount {
    margin-block-start: var(--SPACING-MICRO);
  }
}

.cart-discount__inner {
  gap: var(--SPACING-TINY);
}

// Cart reviews block styles
.cart-reviews {
  padding: var(--sp-block) var(--sp-inline);
  gap: var(--SPACING-MICRO);
}

.cart-reviews--inline {
  flex-direction: row;
}

.cart-reviews--stacked {
  flex-direction: column;

  &.align--middle-left {
    --alignment-align-items: start;
  }
}

.cart-reviews__stars {
  --icons: var(--accent);
  --icon-size: 16px;

  flex: 0 0 auto;

  .icon {
    transform: scale(1.3);
    transform-origin: bottom;
    vertical-align: bottom;
  }

  .icon-rating-full { fill: var(--icons); }
}

.cart-reviews__text {
  margin: 0;
  text-align: left;

  .align--middle-center & {
    text-align: center;
  }
}