/*================ Featured Product ================*/
.featured-product {
  background-color: var(--bg);

  .share-button__holder { margin-bottom: 0; }

  @include media-query ($large-up) {
    .featured-product__onboarding {
      display: grid;
      grid-template-columns: 50% 50%;
    }
  }
}

.featured-product__gallery { position: relative; }
