/**
 * Features
 */
@use "@/css/settings/variables" as *;
@use "@/css/tools/mixins" as *;

.product__features {
  position: relative;
}

.product__feature {
  --dots-height: 16px;
  --icons: var(--text);

  width: 100%;
  color: var(--text);
  background: var(--bg-accent);
  padding: calc(var(--inner) - 0.5em) var(--inner);

  .block__icon {
    margin: 0.5em 10px 0.5em 0;
  }
}

.swiper-initialized .product__feature {
  padding-bottom: calc(var(--inner) * 2 - 0.5em + var(--dots-height));
}

.product__feature__heading {
  font-size: var(--font-body-medium);
  font-weight: var(--FONT-WEIGHT-BODY-BOLD);
}