/**
 * Footer
 */
@use '../globals' as *;

.footer-group {
  position: relative;

  a:not(.btn) { transition: color 0.25s ease, background 0.25s ease; }

  padding-bottom: var(--cart-bar-height, 0);
}

.site-footer,
.site-footer-wrapper,
.footer__bar,
.footer__newsletter__wrapper {
  border-radius: var(--RADIUS);
}

.site-footer-wrapper {
  position: relative;
  overflow: hidden;
  background: var(--bg-custom, var(--bg));
}

.footer__image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.site-footer-wrapper--floating .site-footer,
.site-footer-wrapper--floating .footer__bar {
  padding: var(--inner) var(--outer);
  background: var(--bg-accent);
}

.site-footer-wrapper--bg .site-footer,
.site-footer-wrapper--bg .footer__bar {
  position: relative;
  background: var(--bg);
}

.footer__logo__wrapper { padding: var(--inner) 0; }

.footer__logo {
  display: inline-block;
  max-width: 100%;
}

.footer__blocks {
  display: flex;
  flex-flow: column;
  position: relative;
  margin: 0 calc(var(--gap) / -2) var(--gap-offset);

  ul:not(.socials) { margin: 0; }

  @include media-query ($medium-up) {
    flex-flow: row wrap;
  }

  @include media-query ($small) {
    padding: 0 calc(var(--gap) / 2);
  }

  .accordion {
    @include media-query ($medium-up) {
      margin-top: 0;
      border: none;
    }

    @include media-query ($small) {
      margin-bottom: 0;
    }
  }

  .accordion__title {
    @include media-query ($medium-up) {
      padding: 0;
      margin: 0.5em 0 1em;
    }
  }
}

.footer__block {
  flex: 1 0 100%;
  margin-bottom: var(--gap);

  @include media-query ($large-up) {
    flex: 0 0 var(--desktop-width);
  }

  @include media-query ($medium) {
    flex-basis: 50%;
  }

  @include media-query ($medium-up) {
    padding: 0 calc(var(--gap) / 2);
  }
}

.accordion + .footer__block:not(.accordion) .footer__block__title {
  @include media-query ($small) {
    margin-top: 1.5rem;
  }
}

.footer__block--divider {
  @include media-query ($medium-up) {
    position: relative;
    display: flex;
    padding: 0;
    pointer-events: none;

    .divider-holder {
      display: flex;
      justify-content: center;
      flex: 0 1 100%;
      margin: 0;
    }

    .divider {
      height: 100%;
      border-width: 0 0 0 1px;
      border-style: solid;
    }
  }

  @include media-query ($medium) {
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
  }
}


.footer__block--divider--inline {
  @include media-query ($medium-up) {
    margin-bottom: calc((var(--padding-bottom) * -1) + var(--grid-gap));
  }
}

.footer__block .social-link { color: var(--link); }
.footer__block .social-link:hover { color: var(--link-hover); }

.footer__block__title {
  font-weight: var(--FONT-WEIGHT-HEADING);

  @include media-query ($medium-up) {
    margin-bottom: 1em;
  }
}

.footer__block__image {
  max-width: 100%;
  margin-bottom: var(--inner);
}

.footer__newsletter__wrapper { max-width: 440px; }

.footer__quicklinks { font-size: var(--font-body-medium); }

.footer__quicklinks li {
  margin: 0 0 1.25em;
  &:last-child { margin-bottom: 0; }
}
.footer__quicklinks a { transition: color 0.25s ease; }

.footer__social__text,
.footer__newsletter__text { margin-bottom: 15px; }

.footer__newsletter__container:not(:only-child) { margin-top: var(--gap); }

.footer__newsletter__container .footer__newsletter__wrapper {
  max-width: none;
  padding: var(--inner) var(--outer);
  gap: var(--gap);

  @include media-query ($medium-up) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer__newsletter__container .footer__newsletter__content:not(:only-child) {
  @include media-query ($medium-up) {
    flex: 1 0 auto;
    max-width: calc(50% - (var(--gap) / 2));
  }
}

.footer__newsletter__container .footer__newsletter__aside {
  &:not(:only-child) { margin-top: var(--gap); }

  @include media-query ($medium-up) {
    min-width: 0;
    &:not(:only-child) { margin-top: 0; }
    &:only-child { margin: 0 auto; }
  }
}

.footer__newsletter__container .footer__newsletter__heading {
  margin: 0;
  text-transform: uppercase;
}

.footer__newsletter__container .newsletter-form {
  max-width: none;
  width: auto;

  @include media-query ($medium-up) {
    max-width: 100%;
    width: 500px;
  }
}

.footer__newsletter__container .newsletter-form .input-group { border-bottom: none; }

.footer__newsletter__container .newsletter-form .input-group__field {
  min-width: 100px;
  padding-left: var(--inner);
  padding-right: var(--inner);
  background: var(--bg-accent);
}

.footer__newsletter__container .newsletter-form .newsletter__submit {
  @include media-query ($small-up) {
    flex-shrink: 0;
  }
}

.footer__newsletter__container .newsletter-form .newsletter__submit:not(:first-child) { margin-left: 8px; }

.footer__newsletter__container .newsletter-form .newsletter__submit:not(.btn--text) span:not([class]) {
  display: flex;
  align-items: center;
}

.footer__bar {
  margin-top: var(--LAYOUT-GAP-SMALL);
  text-align: center;
}

.supporting-menu {
  --margin: calc(var(--gap) / 2);

  margin: calc(var(--margin) * -1);
}

.supporting-menu li {
  display: inline-block;
  margin: var(--margin);
  vertical-align: top;
}
