@import "../tools/mixins.scss";
@import "../settings/variables.scss";

.sliderule__panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;

  @include hide-scrollbar;
}


[data-sliderule].is-hiding,
[data-sliderule-pane="2"] [data-sliderule].is-visible,
[data-sliderule-pane="1"] [data-sliderule="1"].is-visible {
  z-index: 10;
  visibility: visible;
  opacity: 1;
}

[data-sliderule-pane] [data-animates].is-visible { opacity: 1; }

.sliderule__wrapper { width: 100%; }

.sliderow__links {
  padding-top: var(--item-height);
  overflow: hidden;
}

.sliderow--back {
  --bg: var(--COLOR-BG);

  top: 0;
  position: absolute;
  z-index: 40;
  background: var(--bg);
}

.sliderow--back .sliderow__title { justify-content: center; }

.sliderule__wrapper--secondary {
  padding-top: 24px;
  margin-top: auto;

  &:last-child { margin-bottom: 10px; }

  .sliderow,
  .sliderow__title { height: calc(var(--item-height) - 21px); }

  & + .sliderule__wrapper--secondary {
    padding-top: 0;
    margin-top: 0;
  }
}

.sliderow {
  width: 100%;
  min-height: var(--item-height);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: var(--bg);
  padding: 0;
  font-size: calc(var(--font-nav-large) * var(--FONT-SIZE-NAV));
  text-transform: inherit;
}

.sliderow__title {
  min-height: var(--item-height);
  width: 100%;
  padding: 0 var(--inner);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  transition: color 0.4s $ease-out-fast;
}

.sliderow__title--highlight {
  --link: var(--highlight);
  --link-hover: var(--highlight);

  color: var(--link);
}

.drawer__menu > .sliderule__wrapper > .sliderow > .sliderow__title { font-weight: var(--FONT-WEIGHT-NAV-BOLD); }

.drawer__menu > .sliderule__wrapper > .sliderow > .sliderow__title--secondary {
  font-size: calc(var(--font-nav-medium) * var(--FONT-SIZE-NAV));
  font-weight: var(--FONT-WEIGHT-NAV);
}

.sliderow:not(.sliderow__back) .sliderow__title::after { bottom: 0; }

.drawer__menu::after {
  top: 0;
  left: var(--outer);
  z-index: 1;
}

.sliderule__chevron {
  --icon-size: 24px;

  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;

  .icon {
    fill: none;
    transition: transform 0.3s;
  }
}

.sliderule__chevron--right {
  width: 40px;
  justify-content: flex-end;
}

@media (hover: hover) {
  .sliderow:hover .sliderule__chevron--right .icon { transform: translateX(5px); }
}

.sliderule__chevron--left {
  height: 100%;
  width: calc(var(--outer) * 1.5);
  min-width: 60px;
}
.sliderule__chevron--left .icon { margin-left: -4px; } // Horizontally align with the close icon

.sliderule__panel .sliderow { padding-left: 0; }

.sliderow__back-button + .sliderow__title {
  cursor: pointer;

  @include nav-bold;

  padding: 0 calc(var(--inner) + 30px);
}

@media (hover: hover) {
  .sliderow__back-button + .sliderow__title:hover { color: var(--link-hover); }
}

.sliderow__back-button {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: var(--inner);
  height: 100%;
  z-index: 5;
}

@media (hover: hover) {
  .sliderow__back-button:hover .icon { transform: translateX(-5px); }
}

@include media-query($mobile) {
  .js-grid[data-grid-small="1"] { grid-template-columns: repeat(1, 1fr); }

  .js-grid[data-grid-small="2"] { grid-template-columns: repeat(2, 1fr); }

  [data-toggle-grid="3"],
  [data-toggle-grid="4"],
  [data-toggle-grid="5"],
  [data-toggle-grid="6"] { display: none; }
}

.sliderule-grid .hero__content {
  max-width: 100%;
  padding: 30px;
  margin: 0;

  @include media-query($mobile) { padding: 5px; }
}

.sliderule-grid .menu__block { padding: var(--inner); }

.sliderule-grid .menu__block:not(:first-child) { padding-top: 0; }
