/**
 * Product grid
 */
@use '../globals' as *;

.grid .no-results:first-child { grid-column: 1/-1; }

.product-card {
  position: relative;
  scroll-snap-align: start;

  .tabs-collections & .grid__heading-holder { overflow: hidden; }

  .video__poster { height: 100%; }

  .radio__fieldset--swatches .swatch__button { margin: 0 10px 0 0; }
  .radio__fieldset--swatches .swatch__button:last-child { margin-right: 0; }

  .radio__fieldset--pgi,
  .product-card__swatches__holder,
  .product-card__swatches__holder--grid,
  .product-card__swatches__holder--limited {
    .selector-wrapper__scrollbar { justify-content: var(--PRODUCT-CARD-ALIGNMENT, flex-start); }
  }
}

.product-card:has(product-card-siblings, .product-card__swatches__holder) {
  .product-card__content { padding-bottom: calc((var(--inner) / 2) - 8px); }
}

@include media-query ($medium-up) {
  .product-card--featured {
    min-height: 100%;
    align-self: stretch;
  }

  .product-card--featured .grid__heading-holder {
    width: 100%;
    min-height: 100%;
  }
}

@include media-query($small) {
  .product-card--featured .grid__heading-holder { min-height: 100%; }
}

@include media-query($mobile) {
  .product-card--featured .grid__heading-holder {
    padding-top: var(--PRODUCT-GRID-ASPECT-RATIO);
  }
}

.product-card--featured .grid__heading-holder {
  flex: 1 1 auto;
  margin-bottom: 0;
  color: var(--text);
}

.product-card--featured .grid__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--inner);
}

.product-card--featured .grid__heading-text {
  flex: 1;
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.product-card--featured .grid__heading-actions { margin-top: auto; }

.product-card--featured .grid__heading-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.product-card--aligned {
  height: auto;
  align-self: flex-start;
}

.product-card--aligned .grid__heading-holder {
  padding: var(--PRODUCT-GRID-ASPECT-RATIO) 0 0;
  height: 0;
  min-height: 1px;
}

.product-card__swatches__holder {
  display: flex;
  min-height: calc(var(--font-body-small) * 1.4 + 16px);
  position: relative;
  padding: 0;
  font-size: 0;
}

.product-card__swatches__count {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  padding: 8px calc(var(--inner) / 2);
  font-size: var(--font-body-small);
  color: var(--text-light);
  font-style: italic;
  transition: opacity 0.3s ease, visibility 0.3s;

  .product-card__swatches__holder--slider &,
  .product-card__swatches__holder--text-slider & { cursor: pointer; }
}

.product-card__swatches__holder--grid .selector-wrapper__scrollbar {
  display: flex;
  flex-wrap: wrap;
}

.product-card__swatches__holder--limited .selector-wrapper__scrollbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .swatch-limited { padding-left: 5px; }
}

.product-card__content { text-align: var(--PRODUCT-CARD-ALIGNMENT, left); }
.product-card__price__holder { justify-content: var(--PRODUCT-CARD-ALIGNMENT, flex-start); }

.product-card__swatches__holder--onboarding {
  &.product-card__swatches__holder--text {
    .radio__fieldset--pgi {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
    }
  }

  &.product-card__swatches__holder--text-slider {
    .product-card__swatches__count {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      display: block;
      transition: opacity 0.3s;
    }

    @media (hover: hover) {
      native-scrollbar {
        opacity: 0;
        transition: opacity 0.3s;
      }

      &:focus-within,
      &:hover {
        .product-card__swatches__count {
          opacity: 0;
        }

        native-scrollbar {
          opacity: 1;
        }
      }
    }
  }
}

.swatch-limited { font-size: var(--font-body-small); }

.product-card__link {
  --link: var(--text-dark);
  --link-hover: var(--text-a80);

  display: block;
  height: 100%;
}

.product-card__image {
  display: block;
  padding-top: var(--PRODUCT-GRID-ASPECT-RATIO);
  height: 0;
  position: relative;
  overflow: hidden;

  &:not(.image--empty) { background: var(--bg); }

  .predictive-search & {
    @include media-query($small) {
      height: 100%;
    }
  }

  &:only-child { border-bottom: none; }

  .is-focused & { overflow: visible; }

  &.is-visible {
    overflow: visible;
    z-index: 12;
  }

  .product-card__link {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .product-card--featured-image & { height: 100%; }

  .svg-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.double__image:hover .product-card__bg__under { opacity: 1; }

.product-card--featured-image { color: var(--text); }

.product-card__image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: var(--overlay-opacity);
    background: var(--OVERLAY-BG);
  }
}

.product-card__image-content {
  position: relative;
  width: 100%;
  text-align: center;
}

.product-card__image-content .btn {
  margin-top: 1em;
}

.product-card__image-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product-card__bg__inner,
.product-card__bg {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.product-card__bg,
.product-card__bg__under {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  width: auto;
  height: auto;
}

.product-card__bg__under {
  background: var(--bg);
  line-height: 0;
  overflow: hidden;
  height: calc(100% + 2px);
  opacity: 0;
  transition: opacity 0.25s ease-in-out;

  iframe { pointer-events: none; }

  @include media-query($small) {
    display: none;
    content-visibility: hidden;
  }
}

.product-card__bg.is-fade {
  animation: fakeFade 0.25s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fakeFade {
  0% { opacity: 1; }
  50% { opacity: 0.8; }
  100% { opacity: 1; }
}

.product-card__bg__inner {
  opacity: 0;
  visibility: hidden;
  background: var(--bg);
  transition: opacity 0.3s ease, visibility 0.3s;
}

.product-card__bg__inner.is-visible {
  opacity: 1;
  visibility: unset;
}

// Fade out the featured image on hover on color swatch
.product-card__bg:has(.product-card__bg__inner.is-visible) > figure {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product-card__price__holder {
  color: var(--text-light);
  overflow: hidden;
}

.product-card__title {
  position: relative;
  font-weight: var(--FONT-WEIGHT-BODY);
  color: inherit;
  margin: 0;
  transition: color 0.3s;

  @include media-query($small) {
    margin: 0;
  }
}

.product-card__cutline,
.product-card__price { overflow-wrap: break-word; }

.product-card__cutline {
  display: block;
  margin-bottom: 4px;
  color: var(--text-light);
  font-size: 85%;
}
.product-card__cutline:empty::before { content: "\00a0"; }
.product-card__price { flex: 0 1 auto; }
.product-card__price .unit-price { width: 100%; }
.product-card__price .unit { font-size: var(--font-body-x-small); }

.product-card.is-active .image--empty { transition: opacity 0.25s; }
.product-card.is-active:hover .image--empty { opacity: 0; }

.product-card__content {
  padding-top: calc(var(--inner) / 2);
  padding-bottom: calc(var(--inner) / 2);
  line-height: 1.4;

  @include media-query($small) {
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 1.2;
  }

  .price {
    font-size: inherit;
    color: var(--text-light);

    @include media-query($small) {
      margin-top: 5px;
    }
  }

  .price.sale { opacity: 1; }
  .price small { font-size: inherit; }

  .unit {
    color: var(--text-light);
    font-size: var(--font-body-x-small);
  }

  .sold-out { color: var(--text-light); }
}

.product-card__content.no-events {
  pointer-events: none;

  @media (hover: none) and (pointer: coarse) {
    pointer-events: initial;
  }
}

.sale .new-price { color: var(--COLOR-SALE); }

.new-price { margin-right: 6px; }
.new-price:last-child { margin-right: 0; }

.old-price {
  --text: var(--text-dark);

  text-decoration: line-through;
}

.no-results {
  //Prevent slider adding an inline position: absolute;
  position: static !important;
  padding: var(--gap) 30px;
  text-align: center;
  width: 100%;
}

.badge-box-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  padding: 5px;
  pointer-events: none;

  .badge-box {
    max-width: 100%;
    font-size: inherit;
  }
}

.badge-box {
  --left-spacing: 5px;
  --padding-vertical: 0.438rem;
  --text: var(--COLOR-BADGE-TEXT);
  --bg: var(--COLOR-BADGE-BG);

  @include caps;

  font-size: var(--font-body-x-small);
  position: relative;
  text-align: center;
  padding: var(--padding-vertical) 15px;
  width: auto;
  max-width: calc(100% - (var(--left-spacing) * 2));
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: var(--btn-radius);
  color: var(--text);
  background: var(--bg);

  @include media-query($small) {
    --padding-vertical: 6px;
  }
}

.badge-box--sale {
  --text: var(--COLOR-SALE-TEXT);
  --bg: var(--COLOR-SALE-BG);
}

.badge-box--preorder {
  --text: var(--COLOR-PREORDER-TEXT);
  --bg: var(--COLOR-PREORDER-BG);
}

.badge-box--new {
  --text: var(--COLOR-NEW-BADGE-TEXT);
  --bg: var(--COLOR-NEW-BADGE-BG);
}

.badge-box--sold {
  --text: var(--COLOR-SOLD-TEXT);
  --bg: var(--COLOR-SOLD-BG);
}

// App Bundle styles
.car-product-card__title {
  @include body;

  text-transform: none;
  color: inherit;
}