@use '../globals' as *;

.product-upsell__holder { text-align: left; }

.product-upsell {
  --sp-inline: calc(var(--SPACING-SMALL) / 2);
  --sp-block: calc(var(--SPACING-SMALL) / 2);
  --bg: var(--bg-accent);
  --text: var(--text-dark);

  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  background-color: var(--bg);
  color: var(--text);

  .select-popout {
    --border: var(--BTN-SECONDARY-BORDER);

    background: var(--bg-accent);
  }
}

.product-upsell__image {
  padding: var(--sp-block) var(--sp-inline);
  width: 120px;

  .placeholder-svg {
    background: var(--COLOR-BG);
  }
}

.product-upsell__image__link {
  display: block;
  height: 100%;
}

.product-upsell__image__thumb {
  overflow: hidden;
  position: relative;
  padding-top: var(--PRODUCT-GRID-ASPECT-RATIO);
  min-height: 100%;
}

.product-upsell__image__thumb .image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

.product-upsell__content {
  padding: var(--sp-block) var(--sp-inline) var(--sp-block) 0;
  width: calc(100% - 120px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.product-upsell__link {
  --link: var(--bg-accent-opposite);
  --link-hover: var(--bg-accent-opposite-a50);
}

.product-upsell__title {
  @include body;

  font-size: var(--font-body-medium);
  margin: 0 0 2px;
}

.product-upsell__variant-title {
  @include body;

  margin: 0 0 2px;
  font-size: var(--font-body-small);
  font-style: italic;
}

.product-upsell__variant-title span {
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  margin: 0 4px;
  background-color: currentcolor;
  vertical-align: middle;
  opacity: 0.8;
}

.product-upsell__price {
  font-size: var(--font-body-x-small);
  font-weight: var(--FONT-WEIGHT-BODY);

  .price__container {
    padding: 0;
  }

  .price-item--sale {
    margin-right: min(var(--SPACING-MICRO), 4px);
    color: inherit;
  }

  .unit-price {
    font-size: var(--font-body-small);
    color: var(--text);
    opacity: 0.6;
  }
}

.product-upsell__actions {
  padding-block-start: var(--SPACING-SMALL);
}

.product-upsell__btn {
  display: flex;
  min-width: 52px;
  min-height: 30px;
  padding: 7px 12px;

  .btn__text {
    transition: opacity 0.3s ease;
  }

  .icon-plus-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    fill: currentcolor;
    transform: translate(-50%, -50%);
  }

  &.is-loading,
  &.is-added {
    .btn__text { opacity: 0; }
  }
}

.product-upsell__out-of-stock { font-size: var(--font-body-small); }

.product-upsell__errors {
  --icon-size: 20px;

  overflow: hidden;
  position: relative;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, max-height 0.5s cubic-bezier(0, 0.75, 0.25, 1), visibility 0.5s;
  font-size: var(--font-body-small);

  &.is-visible {
    visibility: visible;
    max-height: 300px;
    opacity: 1;
    transition-timing-function: cubic-bezier(0.5, 0.25, 0.75, 1);
  }

  .errors {
    position: relative;
    padding: 10px 30px 10px 10px;
    margin: 10px 0;
    border: 1px solid var(--COLOR-ERROR-BORDER);
    border-radius: var(--RADIUS);
    background-color: var(--COLOR-ERROR-BG);
    color: var(--COLOR-ERROR);
  }

  .errors__close {
    top: 50%;
    transform: translateY(-50%);
  }

  .icon-x path {
    stroke: currentcolor;
    fill: none;
  }
}

quick-add-product + quick-add-product .product-upsell__holder { margin-top: calc(var(--SPACING-SMALL) / 2); }

.product-upsell__holder--compact {
  .product-upsell,
  .product-upsell__errors.is-visible { margin-bottom: 0; }

  .product-upsell__image__link,
  .product-upsell__image__thumb { height: 100%; }
  .product-upsell__image__thumb { background: var(--COLOR-BG); }

  .product-upsell__btn:not(.btn) { justify-self: flex-start; }
}

// Mini upsell product styles
.product-upsell__holder--mini {
  .product-upsell {
    --image-width: calc(30px + 2 * var(--sp-inline));
  }

  .product-upsell__image__link,
  .product-upsell__image__thumb {
    min-height: 40px;
  }

  .product-upsell__image {
    width: var(--image-width);
  }

  .product-upsell__content {
    width: calc(100% - var(--image-width));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--SPACING-TINY);
  }

  .product-upsell__actions {
    align-self: center;
    padding-block: 0;
  }
}

@include media-query($small) {
  .product-upsell__holder--mini-mobile {
    .product-upsell {
      --image-width: calc(30px + 2 * var(--sp-inline));
    }

    .product-upsell__image__link,
    .product-upsell__image__thumb {
      min-height: 40px;
    }

    .product-upsell__image {
      width: var(--image-width);
    }

    .product-upsell__content {
      width: calc(100% - var(--image-width));
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: var(--SPACING-TINY);
    }

    .product-upsell__actions {
      align-self: center;
      padding-block: 0;
    }
  }
}

// Vertical upsell product styles
.product-upsell__holder--vertical {
  .product-upsell {
    --bg: var(--COLOR-BG);
    --text: var(--COLOR-TEXT);
  }

  .select-popout {
    --border: var(--bg-accent);
  }

  .placeholder-svg {
    background: var(--bg-accent);
  }

  .product-upsell__image {
    padding: 0;
    width: 100%;
  }

  .product-upsell__content {
    padding: var(--SPACING-MICRO) 0 var(--SPACING-TINY);
    width: 100%;
  }

  .product-upsell__form--instant-add {
    gap: 0;
  }

  .product-upsell__variant-selector--text-slider,
  .product-upsell__variant-selector--slider {
    --bg-arrow: var(--COLOR-BG);
  }
}

// Instant add
.product-upsell__form--instant-add {
  padding-block-start: calc(var(--SPACING-MICRO) / 2);
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;

  &:has(.select-popout) {
    padding-block-start: var(--SPACING-MICRO);
  }
}

.product-upsell__variant-selector {
  --swatch-size: var(--swatch-size-upsell);
  --offset: var(--swatch-outline-offset, 3px);
  --negative-offset: calc(var(--offset) * -1);

  position: relative;
  width: 100%;
  max-width: var(--selector-width, 100%);

  .radio__buttons {
    display: flex;
    align-items: center;
    gap: var(--SPACING-MICRO);
    flex-wrap: wrap;
    margin: 0;
    padding: var(--offset);
  }

  .swatch__button {
    flex: 0 0 var(--swatch-size);
    margin: 0;
    padding: 0;
  }

  .swatch-limited {
    position: relative;
    padding-inline: calc(var(--SPACING-MICRO) / 2);
    line-height: 1;
  }
}

.product-upsell__variant-selector--text-slider,
.product-upsell__variant-selector--slider {
  --selector-width: max(70%, 186px);
  --bg-arrow: var(--bg-accent);

  native-scrollbar {
    padding: var(--offset);
  }

  .selector-wrapper__scrollbar {
    min-width: 0; // important to allow flexbox shrinking if needed
  }

  .radio__buttons {
    margin: var(--negative-offset);
    width: calc(100% + var(--offset) * 2);
    flex-wrap: nowrap;
  }

  .radio__fieldset__arrow--next { right: var(--negative-offset); }
  .radio__fieldset__arrow--prev::before { left: 0; }
}

.product-upsell__variant-selector--text-slider {
  .product-upsell__swatches-count {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: block;
    font-size: var(--font-body-x-small);
    font-style: italic;
    transition: opacity 0.3s;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: calc(2 * var(--SPACING-MICRO) * -1);
      display: block;
      height: 100%;
    }
  }

  @media (hover: hover) {
    native-scrollbar {
      opacity: 0;
      transition: opacity 0.3s;
    }

    &:focus-within,
    &:hover {
      .product-upsell__swatches-count {
        opacity: 0;
      }

      native-scrollbar {
        opacity: 1;
      }
    }
  }
}

.product-upsell__variant-selector--grid {
  --selector-width: max(80%, 200px);
}

.product-upsell__variant-selector--text {
  .product-upsell__swatches-count {
    padding-block: var(--offset);
    display: block;
  }
}

quick-add-product:has(native-scrollbar) .product-upsell__content {
  overflow: hidden;
}

quick-add-product:has(.popout-list--visible),
.cart-block:has(.popout-list--visible) {
  position: relative;
  z-index: 2;
}
