/*================ Related and Recent products ================*/
.related-products,
.recent-products {
  text-align: center;
  overflow: hidden;
}

.related-products {
  .tabs--stacked .tab { padding: 0; }

  .tab.current + .tab.current {
    margin-top: var(--gutter);

    @include media-query ($small) {
      margin-top: calc(var(--gutter) / 2);
    }
  }

  .flickity-slider {
    position: relative;
    display: flex;
    left: 0 !important;
    width: auto;
  }
}
