/*================ Rich text ================*/
.rich-text {
  width: 100%;
  position: relative;
}

.rich-text__top-image {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 10px;
}

.rich-text__top-image-img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.rich-text__heading { margin-bottom: 12px; }
.rich-text__heading p { margin: 0; }
.rich-text__text p:last-child { margin-bottom: 0; }
