@use '../globals' as *;

.select-popout {
  --border: var(--BTN-PRIMARY-BORDER);

  position: relative;
  text-align: left;
  align-self: flex-start;

  & + .quantity,
  & + .cart__quantity-counter .cart__quantity { display: none; }

  &.is-hidden {
    display: none;

    & + .quantity,
    & + .cart__quantity-counter .cart__quantity { display: block; }
  }
}

.select-popout--small {
  min-width: var(--min-w, 76px);
  max-width: var(--max-w, 120px);

  .select-popout__toggle {
    @include body;

    min-height: var(--min-h, 26px);
    padding: min(var(--SPACING-MICRO), 3px) calc(var(--SPACING-SMALL) * 2) min(var(--SPACING-MICRO), 3px) var(--SPACING-TINY);
    font-size: var(--font-body-small);
  }

  .select-popout__option {
    padding: var(--SPACING-MICRO) var(--SPACING-TINY);
  }

  .select-popout__list {
    min-height: calc(var(--SPACING-MICRO) * 2 + var(--font-body-small) * var(--line-height-normal));
  }

  .popout-list--visible {
    padding-block: var(--SPACING-MICRO);
  }
}

.select-popout__toggle {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  padding: var(--form-top) calc(var(--form-left) * 2) var(--form-top) var(--form-left);
  border: 1px solid var(--border);
  border-radius: var(--RADIUS-SELECT);
  line-height: var(--line-height-normal);
  text-align: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: border-radius 0.15s ease;
}
.sold-out .select-popout__toggle::after { content: attr(data-select-soldout); }
.unavailable .select-popout__toggle::after { content: attr(data-select-unavailable); }

.select-popout__toggle .icon-nav-arrow-down {
  --icon-size: 24px;

  position: absolute;
  top: 0;
  right: 10px;
  height: 100%;
  transition: transform 0.3s ease;
}
.select-popout__toggle[aria-expanded="true"] { border-radius: var(--RADIUS-SELECT) var(--RADIUS-SELECT) 0 0; }
.select-popout__toggle[aria-expanded="true"] .icon-nav-arrow-down { transform: rotateX(180deg); }
.select-popout:has(.popout-list--top) .select-popout__toggle[aria-expanded="true"] { border-radius: 0 0 var(--RADIUS-SELECT) var(--RADIUS-SELECT); }

.select-popout__list {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 300px;
  min-height: calc(var(--form-top) * 2 + var(--font-body-small) * 1.2); // Padding top/bottom + font size x font-adjust x line-height
  width: 100%;
  border: 1px solid var(--border);
  border-top-width: 0;
  margin: -1px 0 0;
  background: var(--COLOR-BG);
  list-style: none outside none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.2s ease, visibility 0.2s;

  &.popout-list--visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 0.4s, visibility 0.4s;
  }

  &.popout-list--top {
    border-width: 1px 1px 0;
    bottom: 100%;
    top: auto;
    margin: 0 0 -1px;
  }
}

.select-popout__item {
  display: block;
  margin-bottom: 0;
}

.select-popout__item.is-active .select-popout__option { background: var(--bg-accent); }

.select-popout__option {
  display: block;
  padding: var(--form-top) var(--form-left);
  color: inherit;
  transition: background 0.3s;

  &:hover {
    color: var(--text);
    background: var(--bg-accent);
  }

  &.sold-out::after { content: attr(data-select-soldout); }

  &.unavailable::after { content: attr(data-select-unavailable); }
}

.popout-list--top .select-popout__list {
  border-width: 1px 1px 0;
  bottom: 100%;
  top: auto;
  margin: 0 0 -1px;
}
